[2021-02-18 17:15] pixelzoom commented on #258
If we change the label to (e.g.) "Generation 2" we will need to add a new string to the translated-strings file.  PhET convention says that we should not grab an existing "Generation" string translation and use it here because of:

(a) Ordering:  the translator should be able to change the order of the label and number to fit their locale
(b) Context: the translator may choose to use a different l

[2021-02-18 17:50] pixelzoom commented on #258
Perhaps we can avoid having to add a new string.

I see that we have this translated string, used in the Proportions graph:

[code]

Even though it's a slightly different context, I think it would be safe and appropriate to use this string for labeling the Generation Clock.

[2021-02-18 17:56] pixelzoom commented on #258
I've prepared this patch, which we can use as a starting point for our design meeting. It reuses the `generationValue` string, keeps the font size the same, and moves the entire clock up 5 pixels.

<details>
<summary>Patch</summary>

[code]

[2021-02-18 19:37] amanda-phet commented on #258
[code]

I actually think it's ideal to use the same string here because they are referring to the exact same thing, not a different context at all. I'm glad you found that string!

[2021-02-18 20:51] pixelzoom commented on #258
2/18/21 design meeting: @amanda-phet @kathy-phet @arouinfar @pixelzoom

We decided to add the "Generation X" label.  We tweaked my patch until everyone was happy with the font size and spacing, and I commited the change in c331115.   No one felt the need for a review step, so I've marked this as "fixed-awaiting-deploy".

[2021-02-19 02:41] pixelzoom commented on #251
2/18/21 design meeting: @amanda-phet @kathy-phet @arouinfar @pixelzoom

We checked in on status of this release.  All sim-specific issues are addressed. We're a bit behind where we wanted to be.  But the date for this sim is flexible, and additional QA resources are coming. So @kathy-phet would like to wait before revising the milestone date.

[2021-02-25 16:29] pixelzoom opened #259 "Improve public-facing documentation of mutation and population query parameters"
Natural selection has 4 query parameters used to describe initial mutations and population on a per-screen basis. Relative to typical query parameters, they are quite complicated and tightly related.  Those query parameters are:

`introMutations`
`introPopulation`
`labMutations`
`labPopulation`

A PhET-iO client had this feedback about these query parameters:

@amanda-phet @kathy-phet and I discus

[2021-03-06 21:08] samreid opened #260 "String internationalization should not appear in the PhET-iO API"
In https://github.com/phetsims/phet-io-wrappers/issues/400 it was discovered that this code in Natural Selection:

[code]
is adding internationalized strings into the PhET-iO API.  This can be demonstrated by adding this line of code:

[code]

and running in PhET-iO Standalone with `?locale=hu`.  It prints:

I'll open up another issue to develop tooling to help us detect when i18n strings end up i

[2021-03-07 07:57] pixelzoom commented on #260
Fixed in the above commit. PhET-iO documentation is unchanged. Closing.

[2021-03-07 07:57] #260 closed

[2021-03-18 17:45] pixelzoom opened #261 "Review inputEnabledProperty"
https://github.com/phetsims/scenery/issues/1158 changed pickableProperty to inputEnabledProperty.   Review this sim's use of inputEnbledProperty.  Locate candidates by searching for `addInputListener`.

[2021-03-18 18:24] pixelzoom commented on #251
@zepumph in Slack for the dev test:

Michael Kauzmann:spiral_calendar_pad:  12:09 PM
When you create the NS dev test, I think it will be the first full QA test (I don't cound rc-research as "full") of master with inputEnabled changes. Could you add to that test a link to https://github.com/phetsims/scenery/issues/1116#issuecomment-802173012 which is extra testing that QA should do to test those ch

[2021-03-18 19:33] pixelzoom opened #262 "Pass visibleProperty option to Node where possible"
The ability to pass `visibleProperty` directly to a Node (via options) is a relatively new scenery feature. It typical eliminates the need to set `visibleProperty` to `phetioReadOnly: true`, because the Node is directly connected to the model Property.  This feature did not exist when Natural Selection was instrumented, and I only discovered this pattern in the past couple of days (it's not docume

[2021-03-19 15:00] pixelzoom commented on #261
These sim-specific candidates are candidates for `inputEnabledProperty`:

* `naturalSelection.introScreen.view.environmentNode` - This is the top panel that should the environment and bunnies hopping around. Pressing anywhere other than on a bunny clears the Pedigree graph.
* `naturalSelection.introScreen.view.environmentNode.sprites` - This is the scenery Sprites for the bunnies shown in the envi

[2021-03-19 15:45] kathy-phet commented on #261
I would favor adding it to this node:
naturalSelection.introScreen.view.environmentNode.sprites - so that if you decide to remove the pedigree chart option, you can also turn off the bunny selection entirely.

The other two I would not add it to at this point as I cannot think of a condition you would want this behavior. If a client has a reason to want it that we cannot think of right now, then w

[2021-03-19 16:46] pixelzoom commented on #261
Sounds good to me. @amanda-phet do you agree?

[2021-03-19 16:53] amanda-phet commented on #261
Yes that sounds good.

I was starting to write a case for instrumenting `naturalSelection.introScreen.view.environmentNode` but I changed my mind in the process. I also don't think it's useful to make the data probe not pickable.

[2021-03-19 16:54] pixelzoom commented on #261
`*.view.environmentNode.sprites.inputEnabledProperty` has been instrumented. If there is a selected bunny, the selection is cleared when `inputEnabledProperty` is set to false.

@amanda-phet please review in master.

[2021-03-19 16:56] pixelzoom opened #263 "Should environmentNode.visibleProperty be read-only?"
I noticed that `*.environmentNode.visibleProperty` is not currently read-only.  When it's set to false, it looks odd, see screenshot below.  Should it be read-only?

![screenshot_210](https://user-images.githubusercontent.com/3046552/111815781-adaf6f80-88a1-11eb-978c-56844cd09747.png)

[2021-03-19 17:02] pixelzoom commented on #263
If for some reason we need to support hiding the environmentNode and everything that's on top of it (clock, radio buttons, push buttons) then we will need to add an additional parent for all of those things.

Studio tree is currently:

![screenshot_211](https://user-images.githubusercontent.com/3046552/111816258-3cbc8780-88a2-11eb-9d92-94efc9660c6f.png)

That would change to:

[code]

[2021-03-19 17:07] pixelzoom commented on #251
Milestone was changed to 4/30/21 the Project Overview, adjusting in this issue.

[2021-03-19 18:37] pixelzoom commented on #262
The data probe was the only place where this was applicable.  `dataProbeNode.visibleProperty` (view) is now linked to `dataProbe.visibleProperty` (model).   Here's what that looks like in Studio:

![screenshot_212](https://user-images.githubusercontent.com/3046552/111827518-99726f00-88af-11eb-9d6d-5e73bfb00038.png)

Internally, the Nodes for each of the "flags" on the data probe are also passed a

[2021-03-19 22:41] amanda-phet commented on #261
Looks like it is working just fine.

[2021-03-19 22:47] #261 closed

[2021-03-19 23:07] amanda-phet commented on #262
Thanks. This looks fine to me. I was trying to wrap my head around what was different- oftentimes making something visible is done in the view, but when visibility is controlled by a checkbox it seems to be done in the model. So it seems totally fine to me!

[2021-03-19 23:07] #262 closed

[2021-03-19 23:09] amanda-phet commented on #263
Yikes! I don't know how we didn't notice this before when we reviewed studio. Let's definitely make this read-only. I can't think of a reason to want to set `environmentNode.visibleProperty` to false.

[2021-03-19 23:44] pixelzoom commented on #263
@amanda-phet what do you think about the restructuring of the Studio tree that I proposed in https://github.com/phetsims/natural-selection/issues/263#issuecomment-802978938?

[2021-03-22 18:58] pixelzoom commented on #251
On 3/19/21, @kathy-phet wrote to @amanda-phet and me on Slack:

First, I want to clarify -- it's not a matter of me wanting a specific turnaround time.  PhET process requires a relatively quick turnaround on dev tests, because there is no point in doing a dev test if it takes so long that master diverges significantly.  That said...

@KatieWoe and I checked in via Zoom today, to make sure we are a

[2021-03-22 20:29] amanda-phet commented on #263
I prefer to not restructure the tree that way. I also think it would be incredibly strange for someone to want to hide the entire environment (or `environmentPanel`) in this sim. Without it, the sim is not very useful.

[2021-03-22 20:32] pixelzoom commented on #263
OK, no `environmentPanel`, and n changes to the tree structure.

I have made `environmentNode.visibleProperty` read-only. @amanda-phet please review in master, then please close.

[2021-03-22 20:37] pixelzoom commented on #259
@amanda-phet my understanding is that we're shooting for the week of March 29 to get this sim into dev testing.  Then hopefully create the next RC branch immediately after that.   Ideally, this issue would be addresssed before creating the RC branch.  Otherwise we'll have to patch the RC branch.

[2021-03-22 22:11] pixelzoom commented on #263
Re the tree structure... @amanda-phet and I discussed this more on Slack.   We discussed how this part of the UI might be interpretted by the instructional designer:

<img width="797" alt="screenshot_923" src="https://user-images.githubusercontent.com/3046552/112064633-e90f9f80-8b28-11eb-8b3d-b2e560945386.png">

Is it a panel, with the clock, radio buttons, and push buttons inside of it - children

[2021-03-22 22:16] pixelzoom commented on #263
@amanda-phet ready for review.  The revised tree structure is shown below.  And these 2 elements are now read-only:

`environmentPanel.visibleProperty`
`environmentPanel.environmentNode.visibleProperty`

<img width="278" alt="screenshot_924" src="https://user-images.githubusercontent.com/3046552/112065232-ebbec480-8b29-11eb-855c-b5aea4965322.png">

[2021-03-22 23:09] amanda-phet commented on #263
Looks great! Glad we made the change.

[2021-03-22 23:09] #263 closed

[2021-03-27 02:16] pixelzoom commented on #251
In Slack on 3/19, @kathy-phet said:

I had other higher-priority work this past week. And it was unclear whether any of the "blocks publication" issues (6 currently) should block NS.  So I was not able to prepare NS for QA before my vacation.  Let's adjust the date, preferrably April 5 or later.

[2021-04-05 21:48] pixelzoom commented on #251
Dev testing started on 4/5/21 with 1.3.0-dev.3.  The QA issue is https://github.com/phetsims/QA/issues/636.

[2021-04-05 22:19] KatieWoe commented on #258
Looks good in dev.1. Will reopen if any problems are found.

[2021-04-05 22:19] #258 closed

[2021-04-05 22:42] KatieWoe opened #264 "Mirror input thrown off if mouse leaves upper iframe."
For https://github.com/phetsims/QA/issues/636. May be related to recent iframe changes. I think I may have also seen something like this in the record wrapper where events didn't match what I did for a while, but I'm not sure if this could cause that. I'll keep trying to reproduce that one.
For this issue, if you zoom in and use the mouse to start panning around, and your mouse leaves the upper if

[2021-04-05 22:42] KatieWoe commented on #264
@pixelzoom let me know if you want me to move this to a different repo.

[2021-04-05 22:49] KatieWoe commented on #264
I did some more testing and it seems like this does happen in the recording wrapper as well.

[2021-04-05 22:53] pixelzoom commented on #264
This doesn't seem at all specific to the sim.  Assigning to the PhET-iO team to investigate.  If this is indeed a general problem, please create a general GitHub issue in the appropriate repo.

[2021-04-05 22:57] KatieWoe commented on #256
Things look good in dev.1. Will reopen if something comes up

[2021-04-05 22:57] #256 closed

[2021-04-05 22:58] KatieWoe commented on #226
Noting this in https://github.com/phetsims/QA/issues/636 but not reoppening since this was marked as wont-fix

[2021-04-06 01:22] zepumph commented on #264
@jonathanolson what action/event from input is not being properly captured by the downstream system? Presumably it is something that is interrupting the pointer in the upstream. Is there anything more that lostPointerCaptureAction or gotPointerCaptureAction? If not perhaps it is that the event doesn't look as we suspect. I'll investigate.

[2021-04-06 18:17] jonathanolson commented on #264
I'm reproducing in master. With `?sceneryLog=Input`, I am seeing lost pointer capture:

[code]

Investigating

[2021-04-06 18:31] jonathanolson commented on #264
I've identified the cause. The code that sets the pointer ID on the mouse (`this.mouse.id = id;`) is in `pointerDown`, which is outside of the actions, and isn't run on playback.

It seems the playback system is based on higher-level abstractions than are probably desired longer-term for playback (we'd really want to record things at the event level for accurate playback, e.g. there are three diff

[2021-04-06 18:36] jonathanolson commented on #264
The best change from my perspective would be adding an optional `id` parameter (number or null) to `mouseDownAction` (and `mouseDown()`), which would be used in the code to set the mouse's ID. `mouseUp` would also need to be modified to clear this ID.

This sounds like it would break backward compatibility to event recording. @zepumph thoughts?

@pixelzoom, do you know the priority for this work?

[2021-04-06 18:43] pixelzoom commented on #264
Priority is high.  The goal is complete dev test phetsims/QA#636 as quickly as possible (in the next day or two), and then immeditely create a release branch before changes sneak into master.

[2021-04-06 18:45] pixelzoom commented on #264
Priority is high.  The goal is to complete dev test phetsims/QA#636 as quickly as possible (in the next day or two), and then immediately create a release branch before changes sneak into master.

Since this is a dev test, there is no release branch that needs to be patched.  But if this is deemed a blocking issue, the problem will need to be resolved in master before the release branch can be cre

[2021-04-06 19:10] jonathanolson commented on #264
Hopped on a call with @zepumph and we determined that the ideal long-term solution was adding the optional ID to mouseDown/mouseDownAction. There is a whole host of low level code that should NOT run in playback, so I believe the actions ARE at the correct abstraction level.

Fixes are above. @KatieWoe can you verify in master?

[2021-04-06 19:47] KatieWoe commented on #264
It looks like this is solved on master

[2021-04-06 20:34] KatieWoe commented on #219
Pan and zoom is implemented, but some issues may be present such as https://github.com/phetsims/natural-selection/issues/264. Leaving open due to this. @pixelzoom feel free to close if you think these aren't connected.

[2021-04-06 20:57] jonathanolson commented on #264
Perfect! Closing.

[2021-04-06 20:57] #264 closed

[2021-04-06 21:26] KatieWoe commented on #240
Tested on 1.3.0-dev.1 on ChromeOS. When I was testing the colorized sim, it performed reasonably well, but after awhile I stopped seeing new events. @pixelzoom if you want to pair on this or want me to try and gather further info, let me know.

[2021-04-06 21:31] samreid commented on #240
How did you see the messages on ChromeOS?  Is there a way to open the dev tools?  If that problem only occurs on one platform, it may be due to a buffer problem in that console (and not something we would address).

[2021-04-06 21:32] pixelzoom commented on #240
Thanks for the offer to pair @KatieWoe.  But I have no familiarity with the data-stream wrappers.  So it would probably be more productive if you investigated with someone from the PhET-iO team.  I'll assign them.

[2021-04-06 21:33] KatieWoe commented on #240
Yes, if you open the dev tools and look in the console you see the events. I've only seen on the ChromeOS device so far. I didn't see it (at least yet) on Win 10 Chrome so I think it might be some kind of performance issue.

[2021-04-06 21:36] pixelzoom commented on #219
I don't know if they are connected, and I'm not sure how to proceed.  I'll start by assigning to @jessegreenberg (pan and zoom) and the PhET-iO team (@zepumph and @samreid).   Please recommend whether this issue can be closed, or whether there is more to do here in order to be certain that pan and zoom is working correctly.

[2021-04-06 22:23] KatieWoe commented on #240
I did some more exploration, and it might be a significant delay until the console updates, rather than it not being sent at all. I'm not sure why that would happen though.

[2021-04-06 22:44] KatieWoe commented on #246
This doesn't seem to happen anymore in dev.1. I did see https://github.com/phetsims/gravity-and-orbits/issues/376. @pixelzoom up to you if you want to close.

[2021-04-06 23:06] pixelzoom commented on #246
Is phetsims/gravity-and-orbits#376 significant here? Something that needs to be addressed? I have no idea.

I'm not at all familiar with this feature, so don't feel qualified to decide whether this is ready to close.   Assigning to the PhET-iO team to decide.

[2021-04-07 01:16] jessegreenberg commented on #219
It looks like #264 was resolved today, so it should be fixed when you are ready to take SHAs for the RC.

@KatieWoe did you notice other problems besides #264 or was that the only one?

[2021-04-07 16:20] zepumph commented on #240
If you are able to have good performance with the console closed, then I don't think this is a problem. The most-likely cause of the lag is the expensive nature of printing to the console. @KatieWoe can you notice any performance trouble without the dev tools open?

[2021-04-07 21:18] liam-mulhall opened #265 "Dominant and recessive traits are the same"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 11.2.3

<b>Browser</b>

Safari 14.0.3

<b>Problem Description</b>

~On the Lab screen, it looks like both options for the teeth are long teeth. See screenshot below and images pulled from this repo's images directory for comparison.~ It looks like the dominant and recessive traits are the same. Is this how it's supposed to be?

<b>Vis

[2021-04-07 21:22] pixelzoom commented on #265
@liam-mulhall I think you're confused about what's going on here.  Notice that the button have identical icons for all 3 traits.  Those are the icons for the mutant allele (form of the gene). What this control is doing is choosing whether the mutant allele is dominant or recessive.

If I haven't understood the problem you're reporting, try again.

[2021-04-07 21:24] liam-mulhall commented on #265
Ah, I see now. Thanks, @pixelzoom. My brain is a bit fried.

[2021-04-07 21:24] #265 closed

[2021-04-07 21:24] pixelzoom commented on #265
No problem!

[2021-04-08 17:57] pixelzoom commented on #251
At 4/8/21 Q2 planning meeting, dates were reviewed. We're still optimistic that we can publish by 4/30/21.

[2021-04-09 21:38] liam-mulhall opened #266 "Second sim not present in multi wrapper"
### Test Device

iPad Pro / MacBook Air

### Operating System

iPadOS 14.4.2 / macOS 11.2.3

### Browser

Safari 14.0.3 / Chrome 89.0.4389.114

### Problem Description

For https://github.com/phetsims/QA/issues/636. The second sim in the multi wrapper doesn't appear. See screenshot.

### Visuals

![issue](https://user-images.githubusercontent.com/60749003/114243159-586af900-9949-11eb-8489-13514440

[2021-04-09 21:47] phet-steele commented on #266
The errors I get on Win 10 Chrome:

![image](https://user-images.githubusercontent.com/5863899/114243953-cebc2b00-994a-11eb-9f61-3c47fc2c601f.png)

[2021-04-09 21:57] liam-mulhall commented on #266
I'm seeing the same errors on macOS Chrome.

[2021-04-09 22:07] pixelzoom commented on #266
This looks like a job for the PhET-iO team! 🦸🏻‍♂️

[2021-04-09 22:43] phet-steele commented on #131
I believe this is still happening in 1.3.0-dev.1.

![image](https://user-images.githubusercontent.com/5863899/114247125-9a983880-9951-11eb-9af4-48385ad1f2f1.png)

I tested with `?initialScreen=2&labPopulation=2000&speed=8` to get the above. Some attempts it happened quite quickly, some attempts it didn't. Not really sure the best way to reproduce other than just waiting.

[2021-04-09 23:59] pixelzoom commented on #131
Good one. In addition to the bunny way over to the left, I see the bottom part of a bunny just below the "Add Mutations" panel.

[2021-04-12 15:43] KatieWoe commented on #240
Even with them open, the sim itself wasn't much delayed, just getting the events.

[2021-04-12 15:45] KatieWoe commented on #219
#264 also impacted the recording wrapper. I also didn't get much of a chance to explore other wrappers, such as state, but that was the only one I'd seen so far

[2021-04-12 17:28] kathy-phet commented on #226
Yes, still wontfix.

[2021-04-12 17:36] pixelzoom commented on #266
On Slack, I asked @kathy-phet about which issues are blocking. Related to this issue, she replied:

[2021-04-12 17:39] pixelzoom commented on #246
For phetsims/QA/issues/636.

[2021-04-12 17:57] zepumph commented on #266
In https://github.com/phetsims/phet-io/issues/1733 we updated the way in which we compare apis, and added it as part of the built phet-io library/preload for our wrappers.

@samreid,
In the above commit I made it so that it could gracefully support being overwritten, like in the multiwrapper when we import the library file two times. There is already a precedent for this in files like WrapperTypes

[2021-04-12 17:59] zepumph commented on #240
This feels like a non issue to me, and expected. When we use a tool that logs thousands of lines per second to the console, this will be delayed by as much time as it takes to print all of that.

One of the original comments in this issue is:

I would say performance here is not important at all. I'm going to close, please reopen if there is more to discuss.

[2021-04-12 17:59] #240 closed

[2021-04-12 18:21] pixelzoom commented on #246
@KatieWoe said:

To clarify, based on Slack discussion with @KatieWoe ...   She no longer sees the problem reported here (Playback wrapper slow or fails).  But she may see phetsims/gravity-and-orbits#376 occurring in NS now, but isn't certain.   I'm not clear on the differences between this issue (#246) and phetsims/gravity-and-orbits#376, so I'd like the PhET-iO team's recommendation on how to pr

[2021-04-12 18:38] samreid commented on #266
I reviewed the change sets and tested in a built version of natural selection, and it all looks correct, thanks!  Since NS was a dev version, I don't think we need cherry-picking.  So perhaps this issue can be closed.

[2021-04-12 19:26] pixelzoom commented on #131
I believe that you're seeing this, but I haven't been able to reproduce it. I'm trying to evaluate the severity, whether it needs to be addressed for #251 (1.3 release).

@phet-steele when you see this occur, does the bunny that is outside the "environment" panel move back into that panel, or does it continue to wander around outside that panel?

[2021-04-12 19:44] phet-steele commented on #131
Not sure if this will help, but a hunch says aspect ratio could influence it? Try to go wider and give the bunnies plenty of empty space on either side of the environment. I don't think this actually matters, but it is worth a shot if you are seeing nothing! I can do some more rigorous time trials to see how long it takes for me to see this, if you would like @pixelzoom.

It wanders around aimless

[2021-04-12 19:44] pixelzoom commented on #131
By running with `?speed=8`, you're running the sim with a time step (dt) that is larger than a bunny's typical hop cycle.   In Bunny.js, this constant defined the range for the time of the hop cycle, and a value is chosen randomly from this range for each hop:

[code]

On my MacBook Pro for example, `?speed=8` results in `dt` values of ~0.4 seconds, which is greater than some hop cycles. This will

[2021-04-12 19:51] phet-steele commented on #131
Yes, I first saw it in the Studio wrapper at normal speed, which is what prompted me to attempt to reproduce. I used your fancy query params to speed that up! 😁

[2021-04-12 19:59] pixelzoom commented on #131
Thanks for the suggestion. But there's nothing in sim-specific code that cares about the dimensions of the browser window.   All of the bunny and wolf motion is based on a trapezoid that defines the 3D space inside the environment panel.  And that doesn't change dimensions when the browser window is resized.

But resizing the browser does make it more likely to see bunnies that have escaped.

That

[2021-04-12 21:09] kathy-phet commented on #246
Playback wrapper needs general attention at some point when it becomes a priority for clients or researchers, but phetsims/gravity-and-orbits#376 is not a high priority and is not blocking for publication of NS.

[2021-04-12 21:09] kathy-phet commented on #246
I'll make a central comment for playback wrapper.

[2021-04-12 21:12] pixelzoom commented on #266
I'm going to keep this open for verification by QA in RC testing.

[2021-04-12 21:15] pixelzoom commented on #246
Since @kathy-phet says that nothing here is blocking, I'm guessing that it's OK to close this issue.  If someone disagrees, please reopen ASAP.

[2021-04-12 21:15] #246 closed

[2021-04-12 21:19] pixelzoom commented on #219
I guess it's still in my court to make a decision, even though I know almost nothing about pan and zoom, or what was tested.  So based on comments by @jessegreenberg and @KatieWoe above, I'm going to infer that there's nothing else to do here, and this issue can be closed.   If that's not the case, please reopen ASAP.

[2021-04-12 21:19] #219 closed

[2021-04-12 21:24] pixelzoom commented on #131
I said:

@kathy-phet @amanda-phet is this issue blocking for #251 (1.3 release)?  I've spent 4 hours on it so far, and it's proving to be very difficult.

[2021-04-12 21:32] kathy-phet commented on #131
4 hours is a lot of time. It seems like a rare occurrence and since it doesn't break anything or cause a crash, I would vote for "wontfix".

[2021-04-12 22:50] KatieWoe opened #267 "No second multi sim"
For https://github.com/phetsims/QA/issues/636. Seen on both iPad and on Win 10 Chrome.
In the multi wrapper, only the first sim shows up.
<img width="806" alt="nosecondmulti" src="https://user-images.githubusercontent.com/41024075/114472274-29ee5780-9baf-11eb-9910-a7f65329b855.png">

[2021-04-12 22:54] pixelzoom commented on #131
@kathy-phet said:

Sorry, I didn't get your reply until late in the game, and I've fixed it.

Summary of the changes:
* Major changes to the `initializeMotion` and `hop` methods in Bunny.js.
* Detect when a bunny is unreasonably far from the trapezoid that defines the environment bounds. A little bit outside the trapezoid along the x axis is OK, and the bunny will still appear to be inside the env

[2021-04-12 22:57] pixelzoom commented on #267
@KatieWoe is this different than https://github.com/phetsims/natural-selection/issues/266?

[2021-04-12 23:05] kathy-phet commented on #131
Well glad its fixed!

[2021-04-13 00:02] phet-steele commented on #131
This has seemed to be working well on master, so we will verify in rc!

[2021-04-13 15:04] KatieWoe commented on #267
I don't think so. I just didn't see that. Sorry. Closing as duplicate

[2021-04-13 15:04] #267 closed

[2021-04-13 15:47] KatieWoe opened #268 "Missing updates in Client Guides"
For https://github.com/phetsims/QA/issues/636. In client requests there is a request to hide the generation clock. But the instructions provided do not match anything in studio.
<img width="560" alt="notinstudio" src="https://user-images.githubusercontent.com/41024075/114581794-4042f480-9c3d-11eb-8a04-daa18ff2200a.png">

[2021-04-13 16:21] KatieWoe commented on #268
This also seems to happen for hiding the environmental buttons
<img width="628" alt="visiblenotinstudio" src="https://user-images.githubusercontent.com/41024075/114586550-07f1e500-9c42-11eb-9a8b-c54ea51052c7.png">

[2021-04-13 17:13] pixelzoom commented on #268
Good catch.

It looks like files in phet-io-client-guides/natural-selection were not updated after adding `environmentPanel` to the tandem hierachy for for https://github.com/phetsims/natural-selection/issues/263.

I've fixed client-requests.md in the above commits (@amanda-phet please review), and the revised tandems are:

[code]

It also looks like linked-property-example.png and studio-overview

[2021-04-13 17:14] jessegreenberg commented on #219
Sounds good. If that was the only issue there is nothing else we are aware of and this can be closed.

[2021-04-13 19:11] amanda-phet commented on #268
I created these updated assets. If it's ok for me to commit them to master I can do that, but I wasn't sure so just putting them here for @pixelzoom.

![linked-property-example](https://user-images.githubusercontent.com/7852916/114607368-b2293700-9c59-11eb-9a00-86d08f396d11.png)
<img width="936" alt="studio-overview" src="https://user-images.githubusercontent.com/7852916/114607379-b48b9100-9c59-11

[2021-04-13 19:15] amanda-phet commented on #268
I see the revised tandems as well.

[2021-04-13 19:27] pixelzoom commented on #268
@amanda-phet The files that you've included in https://github.com/phetsims/natural-selection/issues/268#issuecomment-818987577 have totally different than the dimensions of the files in GitHub.  Their resolution is significantly lower. Does that matter?

linked-property-example.png is 2880 x 1578, yours is 1531 x 840.
studio-overview.png is in the ballpark of 2720 x 1084 yours is 1872 x 752.

[2021-04-13 20:26] pixelzoom commented on #268
@amanda-phet sent me another set of PNG files via Slack. The resolution is higher, but the dimensions are still off.  She checked with @arouinfar, and "there is no scientific process for creating the screenshots".  So we decided to go with these files, and I've commited them above.

I tested by doing a local build, then inspecting the "PhET-iO Guide" and "Client Requests" links in the Wrapper Inde

[2021-04-13 20:55] pixelzoom commented on #268
To verify this issue:

* In "Client Requests", check the modified tandem names shown in https://github.com/phetsims/natural-selection/issues/268#issuecomment-818903797.
* In "PhET-iO Guide", check the modified image files shown in https://github.com/phetsims/natural-selection/issues/268#issuecomment-818987577.

[2021-04-13 20:56] pixelzoom commented on #266
To verify this issue:

* Run the "Multi" wrapper, and verify that you see 2 instances of the sim, labeled "natural-selection 1" and "natural-selection 2".

[2021-04-13 20:58] pixelzoom commented on #131
To verify this issue:

* Run the sim with `?initialScreen=2&labPopulation=100` and verify that the bunnies look like they are hopping around as expected.
* Run the sim with `?initialScreen=2&labPopulation=2000&speed=8` and verify that the bunnies stay in the environment panel.

[2021-04-13 21:42] pixelzoom commented on #251
4/13/21:

Dev testing completed with 1.3.0-dev.1 in QA issue is phetsims/QA#636.

RC testing started with 1.3.0-rc.1. The QA issue is https://github.com/phetsims/QA/issues/641.

[2021-04-14 23:59] phet-steele commented on #131
This has looked fixed in 1.3.0-rc.1! 👍

[2021-04-14 23:59] #131 closed

[2021-04-19 22:42] pixelzoom commented on #160
Reopening.

For https://github.com/phetsims/QA/issues/641, @brooklynlash reported via Slack:

I replied:

@amanda-phet and @zepumph  - any reason to investigate this further, or should this issue just be re-closed?

[2021-04-19 22:44] pixelzoom commented on #259
@amanda-phet is there any interest in doing this for the 1.3 release, which is currently in RC testing?  If so, this work needs to be done asap, and patched into the 1.3 branch.

[2021-04-20 16:29] DevonQui opened #269 "Population panel shows incorrect checkboxes with ?stringTest"
**Test device**
MacBook Pro

**Operating System**
11.2.3

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/641. I was doing the "rtl" stringTest and noticed that the allele column for the Lab section (6 alleles) was being displayed in the Intro section (normally 2 alleles) of the simulation. I'm not sure if it'll affect the published version, I just wan

[2021-04-20 17:27] pixelzoom commented on #269
Good catch @DevonQui.

I see this problem with ANY value for `stringTest`.   And it appear to be specific to the control panel for the Population graph - I don't see the ear and teeth alleles shown anywhere else on the Intro screen.  So I'm going to adjust the title of this issue accordingly.

[2021-04-20 17:31] pixelzoom commented on #269
Good catch @DevonQui.

I see this problem with ANY value for `stringTest`.

More details:

* It occurs in the Intro screen.
* It's specific to the control panel for the Population graph.
* The "Total" checkbox is missing
* The checkboxes for ear and teeth alleles are shown (those alleles are not part of Intro screen).

So I'm going to adjust the title of this issue accordingly.

This is a weird on

[2021-04-20 17:34] pixelzoom commented on #269
Example...

Here's what the Population control panel show look like in the Intro screen:

<img width="216" alt="screenshot_950" src="https://user-images.githubusercontent.com/3046552/115439727-23259d00-a1cc-11eb-82dc-805ab5a785c6.png">

Here's what it looks like with `stringTest=X`:

<img width="215" alt="screenshot_952" src="https://user-images.githubusercontent.com/3046552/115439816-3a648a80-a1c

[2021-04-20 17:36] pixelzoom opened #270 "Update credits for 1.3 release"
@KatieWoe please let me know who should be added to the credits for the 1.3 release.  Please provide the exact spelling of names. Current credits are shown below:

<img width="653" alt="screenshot_953" src="https://user-images.githubusercontent.com/3046552/115440108-9cbd8b00-a1cc-11eb-8d23-8e623a54b493.png">

[2021-04-20 17:40] pixelzoom commented on #269
This problem does not occur in the published version, 1.1.1.

https://phet-dev.colorado.edu/html/natural-selection/1.1.1/phet/natural-selection_en_phet.html?stringTest=X

<img width="1201" alt="screenshot_954" src="https://user-images.githubusercontent.com/3046552/115440655-3b49ec00-a1cd-11eb-81a1-780cdd57c17d.png">

[2021-04-20 17:44] pixelzoom commented on #269
This problem DOES occur in the published brand=phet-io version, [1.2.0](https://phet-dev.colorado.edu/html/natural-selection/1.2.0/phet-io/natural-selection_all_phet-io.html?postMessageOnError&phetioStandalone&stringTest=X):

<img width="1130" alt="screenshot_955" src="https://user-images.githubusercontent.com/3046552/115441102-b7443400-a1cd-11eb-9971-e796f2921e67.png">

[2021-04-20 17:52] pixelzoom commented on #269
This problem was introduced sometime between 1.2.0-dev.3 (9/2/2020) and 1.2.0-dev.4 (9/15/2020).  It's present in all 1.2 RC versions, starting with 1.2.0-rc.1 (9/17/2020).

Compare:
https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.3/phet/natural-selection_en_phet.html?stringTest=X
https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.4/phet/natural-selection_en_phet.html?st

[2021-04-20 18:00] pixelzoom commented on #269
I suspect the problem was introduced in https://github.com/phetsims/natural-selection/commit/bd5d258f8bc07cc4aabcdecd87eca8b71d907977, and maybe https://github.com/phetsims/natural-selection/commit/6eff202ced8a9ae38842fdfca1e1bf6bb2d3dadb.

Here's my hypothesis on what's happening... Some string related to alleles is being changed by `stringTest`, then compared to some string that's NOT being chan

[2021-04-20 18:05] pixelzoom commented on #178
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 18:05] pixelzoom commented on #252
Due to https://github.com/phetsims/special-ops/issues/196#issuecomment-823486502, this branch was restored.  It will need to be deleted again.  Reopening and self assigning.

[2021-04-20 21:48] KatieWoe commented on #270
Please add Devon Quispe

[2021-04-20 21:49] KatieWoe commented on #270
Please also add Brooklyn Lash

[2021-04-20 23:19] KatieWoe commented on #268
Looks good in rc.1

[2021-04-20 23:19] #268 closed

[2021-04-21 16:57] pixelzoom commented on #269
PopulationPanel `setGeneVisible` is where the visibility of the checkboxes is set.

[code]

Adding this to the beginning of `setGeneVisible`:

[code]

With `stringTest=X`, I see:

[code]

So all checkboxes match the allele name because all strings are "X", therefore all checkboxes are visible.  Though I'm not sure why the "Total" checkbox is not visible - probably because it doesn't have an associ

[2021-04-21 19:56] KatieWoe commented on #266
Looks good in rc.1

[2021-04-21 19:56] #266 closed

[2021-04-21 20:52] pixelzoom commented on #269
Fixed in the master and 1.3 branches in the above commits.

The fix for this was relatively straightforward,  but time consuming.  Instead of comparing allele names, we are now comparing Allele instances -- which is what is none in other panels.

Labeling for verification in the next RC.   Steps to verify:

(1) Run the sim with no query parameters. Verify that the Population control panel looks co

[2021-04-21 21:11] pixelzoom opened #271 "Diff wrapper is broken."
For https://github.com/phetsims/QA/issues/641#issuecomment-824327481

In https://github.com/phetsims/QA/issues/641#issuecomment-824327481, @KatieWoe asked:

No, that is definitely not correct.

Here's what was specified in https://github.com/phetsims/QA/issues/641:

There have most definitely been API changes since 1.2. For example, in https://github.com/phetsims/natural-selection/issues/263 the S

[2021-04-22 17:15] pixelzoom commented on #259
No, today is not too late.  I anticipate publishing the next RC early next week.  But that depends on whether all of the issues are addressed.

In Slack, @amanda-phet asked:

[2021-04-22 17:30] amanda-phet commented on #259
Made a slight change that I think makes the population parameters a little clearer.

[2021-04-22 18:19] pixelzoom opened #272 "Studio tree highlighting clears when toggling Featured/All elements"
https://github.com/phetsims/studio/issues/214 has reappeared. At 4/22/21 phet-io meeting, @kathy-phet said that she would like that evaluated for inclusion in the 1.3 release.

Assigning to @zepumph @samreid to inform me when it has been fixed, and how to patch the 1.3 branch.

UPDATE from @zepumph: changed the link.

[2021-04-22 18:20] pixelzoom commented on #271
Discussed at 4/22/21 phet-io meeting. @kathy-phet would @zepumph to identify a fix, then evaluate whether to include in the 1.3 release.

[2021-04-22 18:22] #160 closed

[2021-04-22 18:29] zepumph commented on #271
Looks like a potential CORS problem trying to access phet-io.colorado.edu from phet-dev, I will take a look after meetings.

[2021-04-22 21:17] pixelzoom commented on #178
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:17] #178 closed

[2021-04-22 21:17] pixelzoom commented on #252
Re-deleted using GitHub UI.  Closing.

[2021-04-22 21:17] #252 closed

[2021-04-22 21:20] zepumph commented on #271
@mattpen helped me discover that this was in fact a 401 authentication problem under the thinly veiled guise of a CORS issue. When our phet-io server doesn't authenticate, it also doesn't include the needed CORS header that it normally does.

For example, when MP was pinged the phet-io json api with credentials:

[code]

But when we did so without credentials:

[code]

no CORS header because we ne

[2021-04-22 21:44] pixelzoom commented on #271
It sounds like there's also some room for improvement of error handling in the Diff wrapper.  A problem like that should definitely not result in something that looks like success and "no API changes".

[2021-04-23 15:44] pixelzoom commented on #259
@amanda-phet Reviewing https://github.com/phetsims/phet-io-client-guides/commit/0905067b2009e9497645250cf4537ef19d28edb1 …. I see that you changed “query-parameter value” to “query parameter value” in one place, but not in the other.  I’m also not convinced this is a good change - “query-parameter value” is grammatically correct, it’s functioning as a compound adjective.

[2021-04-23 15:48] pixelzoom commented on #259
@amanda-phet Reviewing https://github.com/phetsims/phet-io-client-guides/commit/0905067b2009e9497645250cf4537ef19d28edb1 …. I see that you changed “query-parameter value” (hyphenated) to “query parameter value” (unhyphenated) in one place, but not in the other.  So now we're a bit inconsistent.  I’m also not convinced this is a good change - “query-parameter value” (hyphenated) is grammatically co

[2021-04-23 15:50] amanda-phet commented on #259
I only noticed it in the one place, but I see now there is one other use of "query-parameter value." I'm happy to change that back.

[2021-04-23 16:12] pixelzoom commented on #259
In the above commits, I created the new branch for phet-io-clients-guides ("natural-selection-1.3") and cherry-picked the changes from master.   This was a relatively expensive, considering it only changed "The value" to "This query parameter" in 2 places.

I did a build of the 1.3 branch (`grunt --brands=phet`), and verified that the changes appear in the "PhET-iO Guide" that is accessed from the

[2021-04-23 16:17] pixelzoom commented on #270
@KatieWoe I've made the requested changes, so labeling this as "fixed", to be testing in the next RC. If you have any more additions before 1.3 is published, please note here and assign back to me.

[2021-04-23 16:55] amanda-phet commented on #259
When I checked the commit I noticed it only mentions those changes, but I actually added a sentence in two places as well. I'm not sure why the commit didn't show those additions.

I am happy to just close this issue.

[2021-04-23 17:16] pixelzoom commented on #259
@amanda-phet said:

Slack:

Chris Malley  11:15 AM
About https://github.com/phetsims/natural-selection/issues/259#issuecomment-825788184 … Did you want to add the missing sentences? Or discuss?

Amanda McGarry  11:15 AM
The sentences are there! They just aren’t highlighted as additions. I don’t know why.

Chris Malley  11:16 AM
Oh, weird.  OK, all good then. I’ll note in the issue.

[2021-04-23 17:17] zepumph commented on #271
Aha! @mattpen we were missing an "always" in the Header line:

https://stackoverflow.com/questions/7375739/how-do-you-set-the-access-control-allow-origin-header-for-the-http-basic-authent

After adding this `Header always set Access-Control-Allow-Origin "*"` to an .htaccess, I now get that header when I don't authenticate correctly:

[code]

Leaving assigned to @mattpen to confirm that I can add t

[2021-04-23 17:21] pixelzoom commented on #259
Reopening.  The additional sentences added are incorrect.

Slack:

Amanda McGarry  11:17 AM
It was just this explicit sentence: introMutations must be specified in order to set introPopulation.

Chris Malley  11:19 AM
Uh oh… That’s not correct. introPopulation=2000 is valid without introMutations. (edited)

Amanda McGarry  11:20 AM
That’s true…

[2021-04-23 17:40] pixelzoom commented on #259
Discussed with @amanda-phet on Zoom.  She's going to:

* Correct the incorrect sentences.
* Work on the language that describes how allele abbreviations must appear in both introMutations and introPopulation
* Change the labMutations and labPopulation descriptions to refer to the introMutations and introPopulation descriptions respectivity.  This will make this section look less intimidating, make

[2021-04-23 21:12] amanda-phet opened #273 "Update screenshot in PhET-iO Guide."
I came across https://github.com/phetsims/phet-io-client-guides/issues/11 and figured I would update the screenshot for this sim.

[2021-04-23 21:14] amanda-phet commented on #273
Over to you @pixelzoom to review the change and flag for the next RC.

[2021-04-24 03:04] arouinfar commented on #272
@pixelzoom I verified the fix in https://github.com/phetsims/studio/issues/214, here's the commit to cherry-pick:

https://github.com/phetsims/studio/commit/c6f4728e6a5ef6b69640c9152090a910788a0fd9

[2021-04-24 18:01] pixelzoom commented on #273
Patched into the natural-selection-1.3 branch of phet-io-client-guides in the above commits. Labeling for verification in QA.

To verify:
1. Go to the Wrapper Index
2. Choose "PhET-iO Guide"
3. Scroll down to the "PhET-iO Studio Overview" section.
4. Verfiy that the screenshot shows label "Customize within Studio" with a capital "S" on "Studio".

[2021-04-24 18:06] pixelzoom commented on #251
1.3.0-rc.1 testing was completed on 4/23/21.

We'll need another spot-check RC.

[2021-04-24 18:50] pixelzoom commented on #272
No one has summarized what the final behavior is, and I'm not going to spend the time trying to figure that out by reading through https://github.com/phetsims/studio/issues/214.   I'm going to assume that what @samreid described in #issuecomment-825906062 is what you ended up doing.  So I'm just going to patch Natural Selection 1.3, and assume that all is well.

[2021-04-24 18:59] pixelzoom opened #274 "Diff wrapper `getPhetioAPI` assumes a relative path for API file"
This issue is to track https://github.com/phetsims/phet-io-wrappers/issues/405 for Natural Selection 1.3.

In https://github.com/phetsims/phet-io-wrappers/issues/405#issuecomment-826008418, @zepumph described that issue as blocking:

In 4/23/21 Slack, @zepumph didn't say whether that issue is blocking:

@zepumph @kathy-phet please clarify: Is this blocking for NS 1.3 ?

[2021-04-24 19:05] pixelzoom commented on #271
This issue is dependent on resolution of https://github.com/phetsims/phet-io-wrappers/issues/405.

In https://github.com/phetsims/phet-io-wrappers/issues/405#issuecomment-826008418, @zepumph described that issue as blocking:

In 4/23/21 Slack, @zepumph described that issue as NOT blocking:

@zepumph @kathy-phet please clarify: Is this blocking for NS 1.3 ?

[2021-04-26 02:54] pixelzoom commented on #259
@amanda-phet FYI... After reviewing, I made 2 changes in the above commit:
* Fixed a typo: changed "labMutation" to `labMutations` (with markdown)
* Specified that the "lab*" query parameters are specific to the Lab screen.

I'll proceed with patching into the "natural-selection-1.3" branch of phet-io-client-guides.

[2021-04-26 03:05] pixelzoom commented on #259
After cherry-picking the above commits to the branch, I discovered a formatting problem.  See screenshot below - the double quotes around "Values" are messed up.  I don't know why this is happening, and I don't think it's worth spending time to investigate.  So I'm going to to change "Values" to **Values**.

<img width="233" alt="screenshot_958" src="https://user-images.githubusercontent.com/30465

[2021-04-26 03:18] pixelzoom commented on #259
Still broken after changing to **Values**.  And there are 2 places where I used `<br><br>` that are not formatted properly - there is no blank line.   I suspec that whatever is converting .md to .html is broken.

[2021-04-26 03:22] pixelzoom commented on #259
Fixed in the above commit, see below.  Still needed to patch the branch.

<img width="202" alt="screenshot_959" src="https://user-images.githubusercontent.com/3046552/116024795-3a212080-a60c-11eb-8fc3-dbe517da8622.png">

[2021-04-26 03:27] pixelzoom commented on #259
Branch was patched in the above commits.

This is ready for QA.   I don't know how we're going to instruct QA to verify this.  So I think it would be best if @amanda-phet verifies this in the next RC.   One platform should be sufficient.

[2021-04-26 16:48] pixelzoom commented on #272
I create a new studio branch (natural-selection-1.3) and patched in phetsims/studio@c6f4728.

I still have some questions about how this is supposed to behave, see https://github.com/phetsims/studio/issues/214#issuecomment-826984877.   On hold until those questions are answered.

[2021-04-26 17:20] pixelzoom commented on #273
Since @amanda-phet will need to verify https://github.com/phetsims/natural-selection/issues/259 in the RC, she should probably verify this issue too.  Both issues are related to the same document, phet-io-guide.md.

[2021-04-26 17:28] pixelzoom commented on #272
My questions were answered in phetsims/studio#214, and this seems to be behaving as designed.   So ready for QA.

To verify:

1. Start Natural Selection in Studio.
2. Set "PhET-iO Elements" to "All".
3. Select `naturalSelection.introScreen.model.simulationModeProperty` in the Studio Tree.
4. Set "PhET-iO Elements" to "Featured".
5. Verify that `naturalSelection.introScreen.model` becomes selected

[2021-04-26 18:01] zepumph commented on #271
Yes, the central point of this issue, in which the diff wrapper didn't identify changes, comes from https://github.com/phetsims/phet-io-wrappers/issues/406, not authentication issues in https://github.com/phetsims/phet-io-wrappers/issues/405. So however you want to set up NS specific issues is fine (I see https://github.com/phetsims/natural-selection/issues/274), but https://github.com/phetsims/ph

[2021-04-26 18:10] pixelzoom commented on #271
Over in https://github.com/phetsims/phet-io-wrappers/issues/405#issuecomment-827037164, @zepumph said regarding phetsims/phet-io-wrappers#405:

So I'm going assume that this issue can be closed, and that #274 is sufficient for tracking the "broken diff wrapper" problem.   @zepumph If that's incorrect, please reopening this issue.

Closing.

[2021-04-26 18:13] pixelzoom commented on #271
Oh wait... Since this was the original report by QA, I think it's probably better to keep this issue open, and close #274.

So to summarize:
* https://github.com/phetsims/phet-io-wrappers/issues/405 and https://github.com/phetsims/phet-io-wrappers/issues/406 are related
* https://github.com/phetsims/phet-io-wrappers/issues/405 has been temporarily fixed so that it's not blocking for NS 1.3, see ht

[2021-04-26 18:15] pixelzoom commented on #274
Closing, this can be tracked in #271. See https://github.com/phetsims/natural-selection/issues/271#issuecomment-827045685.

[2021-04-26 18:15] #274 closed

[2021-04-27 16:20] pixelzoom commented on #2
Looks like I forgot to close this after publishing 1.2.  Closing.

[2021-04-27 16:20] #2 closed

[2021-04-27 16:32] amanda-phet commented on #270
@pixelzoom can you please move Noah Podolefsky to Lead Design. So, the changes are as follows:

Lead Design: Amanda McGarry, Noah Podolefsky
Team: Wendy Adams, Megan Hoffman, Oliver Nix, Jonathan Olson, Ariel Paul, Kathy Perkins, Carl Wieman

@kathy-phet and I reviewed a bunch of recent HTML5 ports, and we'd like to keep up the convention of listing the original designer when we do a port. The sim

[2021-04-27 16:36] pixelzoom commented on #270
OK, will do.  Removing "ready-for-qa" label.

[2021-04-27 16:45] pixelzoom opened #275 "Review PhET-iO API changes between 1.2 and 1.3"
When the Diff wrapper is fixed (see https://github.com/phetsims/natural-selection/issues/271),  we'll presumably want to use the Diff wrapper to determine if there were unintended changes between 1.2 and 1.3.   This issue is to review and verify those changes.

[2021-04-27 16:59] pixelzoom opened #276 "Diff wrapper is rendering parametric types as badly formed HTML"
https://github.com/phetsims/phet-io-wrappers/issues/407 needs to be patched into the next RC.

In https://github.com/phetsims/phet-io-wrappers/issues/407#issue-869051499, @samreid identified this issues as blocking.

[2021-04-27 17:05] pixelzoom commented on #270
NP is now listed as a lead designer, in master and 1.3 branches.  Ready for QA.

[2021-04-27 17:34] pixelzoom commented on #276
From https://github.com/phetsims/phet-io-wrappers/issues/407#issuecomment-827774876, ready for cherry-picking.   The commit is https://github.com/phetsims/phet-io-wrappers/commit/94dcc1aac0381127fa3028aac59a7842f6c5df2e.

[2021-04-27 18:11] pixelzoom commented on #271
From https://github.com/phetsims/phet-io-wrappers/issues/406, a fix is ready.  The commits to cherry-pick are:

https://github.com/phetsims/chipper/commit/22fede37cc4e3ec48059bf1756200a80b307fb01
https://github.com/phetsims/phet-io/commit/2dfc6f54f83c6d40f414a186a261c1b23f4b8dd1
https://github.com/phetsims/phet-io-wrappers/commit/09add96755594cfa474ba5ce3cad4a50df336f8f

This will require a new ch

[2021-04-27 18:25] pixelzoom commented on #271
Merge confliics shen attemoting to cherry-pick https://github.com/phetsims/chipper/commit/22fede37cc4e3ec48059bf1756200a80b307fb01:

[code]

In Slack, @zepumph said:

... which presumably means https://github.com/phetsims/phet-io-wrappers/issues/406 and:

https://github.com/phetsims/phet-io-wrappers/commit/2c2bc9ec6d5f423bf4b70e28e810557f49d31e9d

[2021-04-27 18:42] pixelzoom commented on #275
While I'm waiting to be able to patch the 1.3 branch, I did a diff between 1.2 and master (which should be the same as 1.3).  Below is the set of breaking changes.  It's going to take me hours to go through this.

@kathy-phet @amanda-phet please advise: Do you want the API changes reviewed and verified, to identify any unintended changes that may have been introduced?

<details>
<summary>diff: 1.2

[2021-04-27 19:40] pixelzoom opened #277 "Diff wrapper is comparing versions in the wrong order."
Another major problem with Diff wrapper, https://github.com/phetsims/phet-io-wrappers/issues/408.  Blocks publication of this sim.

[2021-04-27 20:30] pixelzoom commented on #275
Please DO NOT review the diff above.  We just discovered that Diff wrapper has its comparison inverted, see https://github.com/phetsims/phet-io-wrappers/issues/408.  So the above diff results are meaningless.

[2021-04-27 20:39] KatieWoe commented on #270
No new QA that haven't been mentioned.

[2021-04-27 20:56] pixelzoom commented on #271
I'm going to consolidate the various natural-selection GitHub issues related to the Diff Wrapper into this one issue.

The general issues are:

* phetsims/phet-io-wrappers#405
* phetsims/phet-io-wrappers#406
* phetsims/phet-io-wrappers#407
* phetsims/phet-io-wrappers#408

[2021-04-27 20:56] pixelzoom commented on #277
Consolidating this issue into https://github.com/phetsims/natural-selection/issues/271.

[2021-04-27 20:56] #277 closed

[2021-04-27 20:57] pixelzoom commented on #276
Consolidating this issue into https://github.com/phetsims/natural-selection/issues/271

[2021-04-27 20:57] #276 closed

[2021-04-27 21:13] pixelzoom commented on #271
Zoom meeting: @samreid @zepumph @kathy-phet @pixelzoom

@kathy-phet would like to deliver a working Diff wrapper with NS 1.3

@zepumph advised against trying to move forward to the new PhET-iO API format. It's cosmetic and hasn't been sufficiently vetted by QA.

@zepumph and @samreid will handle patching NS 1.3 to meet the Diff Wrapper requirements.

I'm going to consolidate the various natural-se

[2021-04-27 21:15] pixelzoom commented on #275
This issue is on hold until #271 (Diff wrapper is broken) is resolved.

[2021-04-27 22:20] samreid commented on #275
@zepumph and I used the diff wrapper and our knowledge of recent changes to write this condensed migration guide.  This guide or something like it would be useful to supply to clients that we know are using 1.2.  In the future, we may wish to include migration guides like this into builds, as part of or adjacent to the diff wrapper.

[code]

[2021-04-27 22:32] pixelzoom commented on #275
Feedback on "condensed migration guide"....

PhET-iO Element missing: naturalSelection.introScreen.view.environmentNode
PhET-iO Element missing: naturalSelection.introScreen.view.environmentRadioButtonGroup
PhET-iO Element missing: naturalSelection.introScreen.view.generationClockNode
PhET-iO Element missing: naturalSelection.introScreen.view.playButtonGroup
PhET-iO Element missing: naturalSelecti

[2021-04-27 22:49] samreid commented on #275
I agree it needs to be more instructive and informative, and knowing the sim specific details will help in that regard.

It changed from having a parameter type of `ObjectIO` to not having a parameter type at all.  I'm sure we can phrase that better.

Great idea!

All of @pixelzoom comments are good ideas, but it unclear how much time we should spend refining this document, or producing similar do

[2021-04-27 22:54] zepumph commented on #275
@pixelzoom, sorry we weren't clear, we did not try to understand any of the natural-selection specific changes, but were thinking that you would instead apply the same strategy-esque writing that we did for common code.

[2021-04-27 23:03] zepumph commented on #271
Minor update on the above. @samreid and I completed the diff wrapper requirements on master in https://github.com/phetsims/phet-io-wrappers/issues/410. This issue, that we made before we saw phetsims/phet-io-wrappers#408 or phetsims/phet-io-wrappers#409, encompasses both of those issues.

Thus, the issues that will require cherry picking are:

https://github.com/phetsims/phet-io-wrappers/issues/40

[2021-04-27 23:53] pixelzoom commented on #275
Got it, thanks for clarifying.

[2021-04-28 03:54] samreid commented on #271
I cherry-picked the commits for the issues mentioned in the preceding comment.  Here are my notes for which commits were applied and which were skipped:

405
https://github.com/phetsims/phet-io-wrappers/commit/2c2bc9ec6d5f423bf4b70e28e810557f49d31e9d (applied)

406
https://github.com/phetsims/chipper/commit/22fede37cc4e3ec48059bf1756200a80b307fb01 (skip)
https://github.com/phetsims/phet-io/commit/

[2021-04-28 04:14] samreid opened #278 "Create a PhET-iO migration guide."
While working on https://github.com/phetsims/natural-selection/issues/275, the output from the diff wrapper is too verbose, redundant and technical to be useful to a client hoping to update from 1.2 to 1.3.  The diff wrapper has no way of knowing things like "we now use inputEnabledProperty instead of pickableProperty".  Yet there are 263 lines like this in the breaking API diff:

[code]

We have

[2021-04-28 16:14] zepumph commented on #275
GeneIO parameter types changed from ObjectIO to . This may or may not be a breaking change, but we are reporting it just in case.

After the above commit, these now look like:

AlleleIO parameter types changed from [ObjectIO] to []. This may or may not be a breaking change, but we are reporting it just in case.
GeneIO parameter types changed from [ObjectIO] to []. This may or may not be a breaking

[2021-04-28 16:53] pixelzoom commented on #271
@zepumph @samreid When this issue is ready for QA, please provide the follow.  I will use the info you provide here to verify the RC before passing it on to QA.

* Enumerate what needs to be verified (cosmetic changes, diff output, etc.) and specific steps to follow for verification.

* Run the Diff wrapper for 1.2 vs 1.3 (a local build),  verify that the output is correct, and put the output in t

[2021-04-28 16:58] pixelzoom commented on #271
@zepumph @samreid note that as soon as the Diff wrapper is fixed, and before the RC is published, I'll be using the Diff wrapper to identify changes, so that we can proceed with reviewing those changes for https://github.com/phetsims/natural-selection/issues/275.

[2021-04-28 17:03] zepumph commented on #271
Here are our instructions for how QA should test this:

* When comparing to 1.2 from phet-io, you will need to add the username and password (same as if you were accessing the phet-io wrapper index)
* When comparing to 1.2, you should see changes like 1.3 adds (green) phetioDesigned: false everywhere, and adds got/lostPointerCaptureAction, among many other changes. Like this picture: ![image](http

[2021-04-28 17:24] zepumph commented on #275
@pixelzoom, @samreid and I took the above in https://github.com/phetsims/natural-selection/issues/275#issuecomment-827973296 and annotated the rest of it. Here is the updated guide:

[code]

[2021-04-28 17:46] pixelzoom commented on #271
I built a local version of NS 1.3:

[code]

... and verified using the instructions in https://github.com/phetsims/natural-selection/issues/271#issuecomment-828622111.  This is ready for QA.

[2021-04-28 17:53] KatieWoe commented on #271
Do you mind making a QA issue for this @pixelzoom?

[2021-04-28 17:55] KatieWoe commented on #271
Or is this going to be part of the next rc?

[2021-04-28 18:37] pixelzoom commented on #275
I added some misisng issue numbers to the migration guide in the previous commit, so that all changes are documented with a GitHub issue.

All of the diffs reported appear to be intended and accounted for, so I don't see any reason to have @amanda-phet and @kathy-phet review this.  I'll close this issue and proceed with the next RC.

[2021-04-28 18:37] #275 closed

[2021-04-28 18:41] pixelzoom commented on #271
This is part of the next RC.  I'm going to delete above comments for cleanup.

[2021-04-28 19:00] pixelzoom commented on #278
From https://github.com/phetsims/natural-selection/issues/275#issuecomment-828636620, below is the latest migration guide that @zepumph @samreid and I came up with for NS 1.3.

Notes:
* We grouped related changes.
* We documented each group with a comment that summarizes the change.
* We documented each group with a GitHub issue number, for confirmation about when/why the change was made.

Questio

[2021-04-28 19:31] pixelzoom commented on #259
@amanda-phet This issue is ready for you to verify in [1.3.0-rc.2](https://phet-dev.colorado.edu/html/natural-selection/1.3.0-rc.2/phet-io/).   If everything looks OK, please check this issue off in https://github.com/phetsims/QA/issues/643.

High priority please, since the publication milestone is 4/30/21.

[2021-04-28 19:31] pixelzoom commented on #273
@amanda-phet This issue is ready for you to verify in [1.3.0-rc.2](https://phet-dev.colorado.edu/html/natural-selection/1.3.0-rc.2/phet-io/).   If everything looks OK, please check this issue off in https://github.com/phetsims/QA/issues/643.

High priority please, since the publication milestone is 4/30/21.

[2021-04-28 19:34] pixelzoom commented on #251
4/28/21: Published 1.3.0-rc.2, with QA issue https://github.com/phetsims/QA/issues/643

[2021-04-28 19:47] amanda-phet commented on #259
Looks good to me!

[2021-04-28 19:47] #259 closed

[2021-04-28 19:48] amanda-phet commented on #273
Screenshots look good to me.

[2021-04-28 19:48] #273 closed

[2021-04-28 19:54] pixelzoom commented on #271
Deploy of the Diff wrapper is still broken, see https://github.com/phetsims/phet-io-wrappers/issues/405.

This is no longer ready for QA.  @KatieWoe please skip this issue for phetsims/QA#643 until further notice.

[2021-04-28 20:35] KatieWoe commented on #269
Looks good in rc.2 on Win 10 Chrome. For both PhET and PhET-iO brands

[2021-04-28 20:35] #269 closed

[2021-04-28 20:42] zepumph commented on #251
Yes, another error about using the diff wrapper from a server, tracking in https://github.com/phetsims/phet-io-wrappers/issues/414

[2021-04-28 21:00] KatieWoe commented on #270
Looks good in RC.2

[2021-04-28 21:16] KatieWoe commented on #272
Verified on Win 10 Chrome in rc.2

[2021-04-28 21:18] liam-mulhall commented on #272
Also seems to be working on macOS 11 + Chrome.

[2021-04-28 21:37] zepumph commented on #251
I tried publishing an RC.3 and RC.4, but failed both times because of https://github.com/phetsims/chipper/issues/1022. I reverted back to rc.2 to keep the version numbers the same. No RC.3 yet though. I'll ask slack if someone can kick off an RC for me from a mac.

[2021-04-28 21:43] liam-mulhall commented on #272
Also seems to be working on macOS 11 + Safari.

[2021-04-28 21:49] KatieWoe commented on #272
And Win 10 Firefox, closing

[2021-04-28 21:49] #272 closed

[2021-04-28 22:06] pixelzoom commented on #270
Thanks, closing.

[2021-04-28 22:06] #270 closed

[2021-04-28 22:11] pixelzoom commented on #271
@KatieWoe Instructions for QA verification are in https://github.com/phetsims/natural-selection/issues/271#issuecomment-828622111.  Let me or @zepumph know if you have questions.

[2021-04-28 22:58] KatieWoe commented on #271
Looks good in rc.3

[2021-04-28 22:58] #271 closed

[2021-04-28 23:14] pixelzoom commented on #251
4/28/21:

1.3.0-rc.3 testing completed.

1.3.0 production deployed:
https://phet.colorado.edu/sims/html/natural-selection/latest/natural-selection_en.html
https://phet-io.colorado.edu/sims/natural-selection/1.3/

[2021-04-28 23:15] pixelzoom commented on #251
@kathy-phet This is ready for delivery to the client.  Please note the delivery date and assign back to me, so I can update phet-io/doc/partners.md.

[2021-04-29 18:22] zepumph commented on #278
From PhET-iO meeting today,

KP: I can publish the above to a google doc and deliver it as needed with our clients.

If things stabilize more, then we will potentially be able to give the diff wrapper to clients, especially with the new tree-like format, but for now, these migration guides don't take too long to create from the list of breaking changes, and are much easier to read than the JSON di

[2021-04-29 22:56] samreid commented on #278
If we do this more in the future, we will want to establish better patterns about:

(a) how the file is maintained in git
(b) how the file can be published with a deployment

But for now, sharing with the client via a google doc seems appropriate.

[2021-04-30 19:23] kathy-phet commented on #278
Leaving this open until I deliver this to the client.

[2021-05-01 14:04] kathy-phet commented on #278
Made a google doc for now.

[2021-05-30 23:32] samreid opened #279 "Are doubly-nested NullableIO types like `NullableIO<NullableIO<AlleleIO>>` to be expected?"
Discovered in https://github.com/phetsims/phet-io/issues/1774, there are some doubly-nested NullableIO types in the API file https://github.com/phetsims/phet-io/blob/master/api/natural-selection.json like:

[code]

I checked that those existed before the commits in https://github.com/phetsims/phet-io/issues/1774.  Are there to be expected, or is something unusual happening?

[2021-06-01 15:26] pixelzoom commented on #279
I have no idea why that appears in the API file.  I don't see any element in the API file that has that type.  And there are no nested occurrences of NullableIO in the souce code -- search for "NullableIO( NullableIO".

This is not unique to natural-selection; I also see "Nullable<Nullable" in the API files for EFAC, graphic-quadratics, GAO, GFL, SOM, sun.   So if it's indeed a problem, it's like

[2021-06-01 22:02] samreid opened #280 "Studio "Preview Sim" fails with "Cannot read property 'restTime' of undefined""
From https://github.com/phetsims/energy-forms-and-changes/issues/410#issuecomment-852406524, I noticed that Studio "Preview Sim" is failing for Natural Selection.

[code]

[2021-06-01 22:16] pixelzoom commented on #280
`restTime` is the first field that is read from Bunny's `privateState`.  In Bunny.js line 431:

[code]

In Slack dev-public this morning, @samreid said:

Related?

[2021-06-01 22:17] samreid commented on #280
Yes, I have a proposed fix and am testing currently.

[2021-06-01 22:22] samreid commented on #280
Fixed and tested in Natural Selection, closing.

[2021-06-01 22:32] pixelzoom commented on #280
Reopening.

First, I'm also not convinced that this is a good change. Typically, fields with underscores are private, and should be used ONLY inside the implementation of an object.  That's not what's going on here.  It's the collection of private data that must (necesssarily) be packed/unpacked in the IO Type implementation.   So I think this is an improper use of the underscore prefix.

Second,

[2021-06-01 22:36] pixelzoom commented on #280
Inspecting the sites where `_.private` is now used (exposed) in the commits above, I like this rename even less.  If we don't like `private`, how about `privateState`?

[2021-06-01 22:51] samreid commented on #280
@pixelzoom and I reviewed some cases, and determined that:

* Yes, it's not too nice that we have to access `stateObject._private` in code, since it looks like a private access.
* Still, this matches convention in the API files, and makes the API files easier to read and understand
* While `private` may be a keyword in some languages, `_private` is probably safer.
* We could one day go to `_privat

[2021-06-01 22:51] #280 closed

[2021-06-03 16:20] KatieWoe opened #281 "Short strings misalign Add Mutation panel buttons"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
Found in https://github.com/phetsims/QA/issues/644. Found in published Sim.
With short string, the buttons in the Add Mutation Panel are pushed to the left and close together.
**Steps to reproduce**
1. Use `stringTest=X` parameter

**Visuals**
<img width="163" alt="stringtest_short" src="https://user-images

[2021-06-03 16:48] pixelzoom commented on #281
@KatieWoe I don't folllow, please clarify. What exactly do you think is misaligned?

The title of this issue indicates that the buttons are misaligned, and I don't see a problem with the buttons.  The column headings need to be centered over the buttons, and that looks fine with stringTest.

Or maybe you're referring to the horizontal alignment of the Mutation icon (yellow circle)? There is no req

[2021-06-03 16:52] KatieWoe commented on #281
I mean that the buttons are further to the left and it leaves a large amount of white space on the right, which looked misaligned to me.

[2021-06-03 23:18] pixelzoom commented on #281
The control panels in this sim are designed to be fixed-width, and are supposed to fill the negative space to the right of the charts.  And elements in the panels are supposesd to be left aligned.  So... it's behaving as requested, whitespace has to be put somewhere, it's not affecting usability, and having something as short as "X" never occurs in reality.  Arabic (see screenshot above) is about

[2021-06-03 23:18] #281 closed

[2021-06-10 17:39] pixelzoom commented on #251
6/10/2021 phet-io meeting:

When PhET-iO publications were put on hold to address "migration issues",  @kathy-phet decided not to deliver the 1.3 version to the client.  It's noted in the PhET-iO spreadsheet, but we'll wait for the next version (1.4) to deliver to the client.

Closing.

[2021-06-10 17:39] #251 closed

[2021-06-10 17:47] pixelzoom opened #282 "Natural Selection 1.4 release"
6/10/2021 phet-io meeting:

gravity-and-orbits is currently in QA, to unblock PhET-iO issues. When that is completed, @kathy-phet would like to put Natural Selection into the QA pipeline for a new major release.

The plan for this release is:

- [x] dev-lite test
- [ ] full RC test
- [ ] publish
- [ ] deliver to the client

Assigning to @samreid.  When gravity-and-orbits QA is completed and there

[2021-06-17 17:31] pixelzoom commented on #282
6/17/21 phet-io meeting:

@kathy-phet would like me to publish a dev-lite test asap. I'll proceed.

[2021-06-17 17:42] pixelzoom commented on #282
Dev-lite testing of 1.4.0-dev.1 started on 6/17/21, issue https://github.com/phetsims/QA/issues/659

[2021-06-18 23:57] loganbraywork opened #283 "Playback fails to load"
### Test Device

Windows 10 Laptop

### Operating System

Widows 10

### Browser

Chrome

### Problem Description
For https://github.com/phetsims/QA/issues/659

Currently, the playback wrapper fails to load in the exact same manner as in https://github.com/phetsims/gravity-and-orbits/issues/387

### Visuals

![2021-06-18NoplaybackIssue](https://user-images.githubusercontent.com/54685448/122624667-

[2021-06-21 22:18] pixelzoom commented on #282
Dev-lite testing of 1.4.0-dev.1 completed on 6/21/21, see https://github.com/phetsims/QA/issues/659.  There were 0 sim-specific issues, 1 PhET-iO issue.

[2021-06-21 22:38] KatieWoe commented on #283
This issue is fixed on master. Though https://github.com/phetsims/phet-io-wrappers/issues/420 may still be an issue, as it is seperate.

[2021-06-21 23:23] samreid commented on #283
Closing since this issue is fixed on master, and we don't need any cherry-picks.

[2021-06-21 23:23] #283 closed

[2021-06-21 23:33] pixelzoom commented on #282
@kathy-phet's instructions in Slack are to publish 1.4.0-rc.1, and put it into the QA pipeline in parallel with GAO 1.5 release, see https://github.com/phetsims/QA/issues/657.

[2021-06-21 23:35] pixelzoom commented on #283
@samreid Please confirm that is fixed and can be closed.  It looks like it was addressed in the context of https://github.com/phetsims/gravity-and-orbits/issues/387, but I’m unclear if there is anything sim-specific that still needs to be addressed.

[2021-06-22 00:12] pixelzoom commented on #282
1.4 branch was created and 1.4.0-rc.1 was published by running `grunt rc --branch=1.4 --brands=phet,phet-io`.  The QA issue is https://github.com/phetsims/QA/issues/662.

[2021-06-28 19:16] KatieWoe opened #284 "Minor pointer area inconsistency"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/662. In published. Very minor and can probably be closed.
The pointer areas around the sunny/snowy scene buttons are slightly different sizes, with sunny being a bit larger. This is the case no matter which one is selected.

**Visuals**
<img width="158" alt="sizeofa

[2021-06-28 21:15] KatieWoe opened #285 "Pedigree alleles have inconsistent string lengths"
**Test device**
Dell and Lovelace
**Operating System**
Win 10 and ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/662. In published. May not be worth fixing.
The alleles for recessive fur and teeth are larger than the others when strings are doubled.
**Steps to reproduce**
1. Go to the second screen with `?stringTest=double`
2. Add mutations to all of

[2021-06-29 18:16] KatieWoe opened #286 "iPadOS 13 crashes and reloads"
For https://github.com/phetsims/QA/issues/662
iPadOS 13.7 Safari, the sim crashed and reloaded fairly quickly (phet-brand). The device hadn't been used in a while and restarting it seems to have improved the issue, but a crash did happen again. First was with `?stringTest=double` and second was with `stringTest=rtl`. Nothing in particular seemed to precede the crashes, just normal usage.
Not sure

[2021-06-30 17:41] KatieWoe opened #287 "Mutation Coming disabled if Add Mutation button is hidden"
**Device**
Dell
**OS**
Win
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/662. Feel free to close if this is intended behavior, but it seemed odd to me.
In Studio, if you add a mutation, but it hasn't appeared, and then you hide that mutation button (such as with `naturalSelection.labScreen.view.addMutationsPanel.teethRow.visibleProperty`) the mutation is canc

[2021-06-30 18:08] KatieWoe commented on #287
Not sure if it is a bug, feel free to remove if not. I did also notice that hiding the gene didn't seem to remove the line from the graph. You would have to disable that line first, then hide the gene.
<img width="959" alt="stillingraph" src="https://user-images.githubusercontent.com/41024075/124010268-da444e80-d99b-11eb-9578-2dbb2985a157.png">

[2021-06-30 18:19] KatieWoe commented on #287
If you hide the whole panel, this visual oddity happens.
<img width="698" alt="maybemoreodd" src="https://user-images.githubusercontent.com/41024075/124011444-41163780-d99d-11eb-8b71-640b7ea8c0a4.png">

[2021-06-30 20:18] pixelzoom opened #288 "Example HTML on Safari is all on one line"
Related to https://github.com/phetsims/QA/issues/662.

https://github.com/phetsims/gravity-and-orbits/issues/398 is also a problem in the Natural Selection 1.4, and will need to be patched there.   Natural Selection will also require another RC test after https://github.com/phetsims/QA/issues/662.

@samreid @KatieWoe FYI.

[2021-06-30 20:22] pixelzoom commented on #284
That's very odd, and a bit concerning since this is handled by common-code RadioButtonGroup.  I'll investigate when I return from vacation.  In the meantime...  @KatieWoe do you see this problem with rectangular radio buttons in any other sims?

[2021-06-30 20:23] KatieWoe commented on #284
Not that I've noticed, but I also missed this one for a while since the difference was so slight. So I can't make a guarantee. Do what sims I could check to be sure?

[2021-06-30 20:25] pixelzoom commented on #285
Allele abbreviations are single characters, so this is not a problem that will occur in practice.  Unfortunately we currently have no way to enforce "single character"  via Rosetta, so it's possible (though unlikely) that someone could use more than 1 character.   If that happens, then this is behaving correctly, as this stringTest demonstrates.

So... Closing at "won't fix".

[2021-06-30 20:25] #285 closed

[2021-06-30 20:33] pixelzoom commented on #286
@KatieWoe please identify the device, and attempt to reproduce.  If unable to reproduce, then you can close this issue.

[2021-06-30 20:35] KatieWoe commented on #286
It was an iPadAir 2 running iPadOS 13.7. It did occur twice (reproduced from https://github.com/phetsims/QA/issues/662#issuecomment-870789959) which is when I added it here. Do you want me to try for another reproduction?

[2021-06-30 20:40] pixelzoom opened #289 "?phetioCompareAPI is not supported for built versions"
For https://github.com/phetsims/QA/issues/662.

https://github.com/phetsims/phet-io/issues/1793 is a problem in Natural Selection 1.4.0-rc.1.

[2021-06-30 20:43] pixelzoom commented on #286
Yes please. If you can tether the iPadAir to a Mac, and get console output, that would be very useful. Otherwise I have no idea how I'd proceed with investigating this.

[2021-06-30 20:45] KatieWoe commented on #286
Alright. May be a bit before I get the chance to try. I'll let you know if I manage to reproduce with a console.

[2021-06-30 20:47] pixelzoom commented on #288
Fixing this also apparently involves https://github.com/phetsims/studio/issues/234 (Migrate from highlight.js to prism.js ).

[2021-07-01 14:05] samreid commented on #288
https://github.com/phetsims/studio/issues/234 is fixed and ready for cherry picking.  I'll work out the necessary SHAs in https://github.com/phetsims/gravity-and-orbits/issues/398 and report them here once ready.

[2021-07-01 17:12] pixelzoom commented on #289
In https://github.com/phetsims/phet-io/issues/1793#issuecomment-872413682, the consensus was not to address this for the 1.5 branch.   Closing.

[2021-07-01 17:12] #289 closed

[2021-07-01 17:30] samreid commented on #284
@arouinfar indicated this is not a blocking problem for this release.

[2021-07-01 17:51] pixelzoom commented on #284
This is a general problem with RectangularRadioButtonGroup, as described in https://github.com/phetsims/sun/issues/708.    The problem is very minor in Natural Selection, and does not affect usability, so we're NOT going to fix it in the 1.4 release.  It will be fixed in master, and picked up in a future release branch (probably 1.5).

Closing as "won't fix".

[2021-07-01 17:51] #284 closed

[2021-07-01 18:03] pixelzoom commented on #287
As @amanda-phet said, this is a strange use of Studio.  It's also not a supported use of this feature - you can't schedule a mutation to occur, hide the mutation, and expect what you scheduled to be cancelled.   Showing/hiding a mutation (or the Add Mutation panel) is something that is configured for the screen, and there's no pedagogical reason to change it after configuration.   So...  Closing a

[2021-07-01 18:03] #287 closed

[2021-07-01 18:37] stemilymill opened #290 "Long strings cause next/previous generation buttons to shrink"
**Test device**
Chromebook, Dell laptop

**Operating System**
Chrome OS, Win10

**Browser**
Chrome, Firefox
Chromebook : 90.0.4430.218
windows chrome: 91.0.4472.124
firefox: 89.0.2

**Problem description**
For https://github.com/phetsims/QA/issues/662

Minor issue which likely would not occur in real-life use
Using query parameter stringTest=long causes scroll buttons for next/previous generation

[2021-07-01 19:46] KatieWoe commented on #286
Tried for about half an hour and wasn't able to reproduce with the console. @pixelzoom let me know if you want me to keep trying.

[2021-07-01 20:08] pixelzoom commented on #286
Let's assume that this was something specific to this device, and close this issue.  If it reoccurs, we can reopen.

[2021-07-01 20:08] #286 closed

[2021-07-01 20:12] pixelzoom commented on #290
Thanks for reporting @stemilymill.

PhET convention is to size the radio buttons to match the height of the text.  So this is behaving as expected.   And this presents no usability problem, because in reality the strings will never be this long.

So closing as "won't fix".

[2021-07-01 20:12] #290 closed

[2021-07-01 20:13] pixelzoom opened #291 "Update QA credits for 1.4 release"
@KatieWoe please provide any QA credit updates for the 1.4 release.

[2021-07-01 22:20] stemilymill opened #292 "Small lines appear at points of population graph"
**Test device**
Dell laptop & Surface

**Operating System**
Win10

**Browser**
Chrome 91.0.4472.124
(not able to reproduce on chrome os)

**Problem description**
For https://github.com/phetsims/QA/issues/662
Occurs in published version and phet-io version.

As the population graph moves along, small lines briefly appear at the points of the graph, disappearing when the next stage of the generation

[2021-07-01 22:51] KatieWoe opened #293 "Long screen names push icon to the right when sim is launched"
For https://github.com/phetsims/QA/issues/662. Seen on MacOS 11 in FIrefox. Also went back to check recent GaO issue and saw it there, so assigning @samreid as well.

When renaming one of the screens, the behavior in studio itself looks fine. However, when the sim is launched the icon above the longer name has moved and can overlap the neighboring icons.

<img width="1425" alt="Screen Shot 2021-07

[2021-07-01 22:54] pixelzoom opened #294 "Add phetioDesigned:true"
In https://github.com/phetsims/gravity-and-orbits/issues/386#issuecomment-870994068, I asked:

@samreid replied:

[2021-07-01 22:54] pixelzoom commented on #294
@samreid can you refresh my memory on what `phetioDesigned` is, and how to set it?

@amanda-phet is this something that we want to do for Natural Selection?

[2021-07-01 22:55] pixelzoom commented on #294
And do we want to do this in master, the 1.4 branch, both?  @samreid what do you recommend?

[2021-07-01 22:57] pixelzoom commented on #293
This is not specific to Natural Selection. Transferring this issue to joist.

[2021-07-01 23:05] pixelzoom opened #295 "Long screen names push navigation bar icon to the right when sim is launched"
For https://github.com/phetsims/QA/issues/662. https://github.com/phetsims/joist/issues/725 is a problem in the natural-selection 1.4 branch.  Blocking because it impacts usability of the navigation bar.

[2021-07-01 23:06] KatieWoe opened #296 "Environment radio buttons are re-enabled when you start sim and don't carry over when loaded"
**Device**
Mac and Dell
**OS**
MacOS 11 and Win 10
**Browser**
Firefox and Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/662. Seen with this element, but may happen with other elements as well. Seems similar to https://github.com/phetsims/gravity-and-orbits/issues/394. `naturalSelection.introScreen.view.environmentPanel.environmentRadioButtonGroup.enabledProperty`
When y

[2021-07-01 23:09] pixelzoom commented on #288
@samreid is going to handle patching this in natural-selection, since the patch should be the same as GAO.

[2021-07-01 23:36] pixelzoom commented on #292
This is undoubtedly a platform-specific graphics artifact, because there's nothing in the sim that is drawing these "small lines".   @jonathanolson any suggestions?

[2021-07-02 01:10] jonathanolson commented on #292
Initial hypothesis is that it's due to a browser not handling awkward cases correctly (perhaps there's a short almost-degenerate line? perhaps things are almost aligned but not?)

I'd either:

1. Try rounding things to every 1e-5 units (or jittering by random small amounts), changing line cap/joins, etc., if it's a stroked path that's causing this.
2. Try to inspect/reproduce a very specific path.

[2021-07-02 14:00] pixelzoom commented on #278
PhET-iO team @samreid @zepumph:

* Where does this Google doc live?
* Does it need to be updated for the 1.4 release?
* Is this something that we're going to be doing for all sims going forward?

[2021-07-02 14:21] pixelzoom commented on #296
The relevant code is in EnvironmentPanel.js:

[code]

The problem is that the sim controls `environmentRadioButtonGroup.enabledProperty`.  When a simulation has "completed" (bunnies have taken over the world, or all bunnies have died), the `environmentRadioButtonGroup.enabledProperty` is set to false, so that the user can review results, but not change the environment.

There is no way to know whe

[2021-07-02 14:34] zepumph commented on #278
I have no idea where the google doc for the migration guide is.

It is not clear to me, and I think we should discuss the importance of having a manual migration guide with each version, or if this isn't needed until some point in the future (more clients, clients have more code, clients move to production, etc).

I ran the same comparison between 1.4.0-rc.1 (on phet-dev), and the published 1.3 on

[2021-07-02 14:47] pixelzoom commented on #292
I am unable to reproduce this Win10 and Chrome 91.0.4472.124 (the reported configuration). Here's my info from the "Report a Problem" menu item:

<details>
<summary>Troubleshooting information</summary>

Troubleshooting information:
!!!!! DO NOT EDIT !!!!!
Name: ‪Natural Selection‬
URL: https://phet-dev.colorado.edu/html/natural-selection/1.4.0-rc.1/phet/natural-selection_all_phet.html
Version: 1.

[2021-07-02 14:56] stemilymill commented on #292
@pixelzoom this still occurs when I resize the browser window, and I just replicated it in Edge 91.0.864.59 but have not replicated in any other config

[2021-07-02 18:16] KatieWoe opened #297 "Playback wrapper lag"
For https://github.com/phetsims/qa/issues/662. Same issue as https://github.com/phetsims/molecule-shapes/issues/177 and https://github.com/phetsims/gravity-and-orbits/issues/376. Seems to be to a larger degree.

When you play back a recording the playback wrapper will pause and speed up at certain places. All events are still recorded and this does not seem to be impacted by either the platform th

[2021-07-02 18:21] pixelzoom commented on #297
As I said in https://github.com/phetsims/qa/issues/662#issuecomment-873165491:

[2021-07-02 19:17] zepumph commented on #297
This is a known problem, and playback performance has never been a blocking issue up to this point.

[2021-07-02 19:20] KatieWoe commented on #297
Yup. I only made an issue this time since it seemed to impact this sim more than others.

[2021-07-02 19:29] pixelzoom commented on #297
We realize that performance has not been a blocking issue up to this point.  But @KatieWoe has reported a _change_ in performance, we may or may not be related to recent PhET-iO changes.  So perhaps the PhET-iO team should take a look, compare 1.4 to 1.5, and decide whether the performance is still non-blocking.

[2021-07-02 19:37] KatieWoe opened #298 "Unable to Preview Sim, Preview HTML, or Save if enough generations are made"
**Device**
MacBook Pro
**OS**
MacOS 11.4
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/662. If enough generations go by in Studio before you try to launch, the launch will fail with a console error that reads "Maximum Call Stack Size Exceeded." It seems to happen around generation 8. Resetting the sim with the orange reset button lets you launch the sim again

[2021-07-02 19:40] pixelzoom commented on #298
@KatieWoe could you please check to see whether this was a problem that was overlooked in the 1.3 release?  That will help determine whether it might be sim-specific, or a PhET-iO regression. Thanks.

[2021-07-02 19:49] KatieWoe commented on #298
Just tested 1.3.1 and the sim still launches at Generation 11 with no console error.

[2021-07-02 19:59] pixelzoom commented on #298
Since there have been no sim-specific changes between 1.3 and 1.4, I therefore suspect a regression that is specific to PhET-iO.  If @samreid or @zepumph wants to have a look, please do so.  Otherwise I'll investigate next Tuesday 7/6.

[2021-07-02 21:42] stemilymill opened #299 "Problem with generation spinner in Proportions chart"
**Test device**
Chromebook

**Operating System**
Chrome OS 90.0.4430.218

**Browser**
Chrome 90.0.4430.218

**Problem description**
For https://github.com/phetsims/qa/issues/662
During a double string test, when the generation number reaches triple digits the beginning and end of the string get cut off by the generation scroll buttons in the proportions graph panel

**Steps to reproduce**
Select I

[2021-07-02 21:49] KatieWoe commented on #291
Emily Miller should be added.

[2021-07-03 02:07] samreid commented on #294
I updated the documentation in https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md#post-publication-steps to clarify some of the questions you raised.  Please review that, and refer to gravity-and-orbits-main.js as an example if necessary.  Please let me know if there are more questions or problems.

[2021-07-04 13:30] samreid commented on #298
I saw the same at generation 5 on the RC.  Trying to reproduce it locally unbuilt, it launched fine at gen 6 and 7, but gen 8 gave Aw Snap:

![image](https://user-images.githubusercontent.com/679486/124386781-3b6c6a80-dc99-11eb-9694-b6003bf114a2.png)

The line that is failing appears to be:

[code]

[2021-07-04 13:35] samreid commented on #298
Based on https://stackoverflow.com/questions/29676635/convert-uint8array-to-array-in-javascript/29676964, I tried:

[code]

The times were 2ms and 3ms respectively, so let's go with Array.from.

[2021-07-04 13:39] samreid commented on #298
I committed a proposed fix, @KatieWoe can you please test in master?  If it seems good, let's cherry-pick it to the release branches.

[2021-07-05 16:13] pixelzoom commented on #291
Emily Miller was added to QA credits in master and 1.4 branches.

[2021-07-05 16:46] pixelzoom commented on #299
This is a general problem with NumberSpinner -- it doesn't account for a dynamic range --  so I've reported it in https://github.com/phetsims/sun/issues/709.

In Natural Selection, you can see how we gradually lose horizontal space as the generation number gains digits.  With 1 digit:

<img width="416" alt="screenshot_1045" src="https://user-images.githubusercontent.com/3046552/124500794-9f685f00-

[2021-07-05 17:08] pixelzoom commented on #299
I went with this option, because I thought of an easier way to address it.  By the time I finished patching the 1.4 release branch, it will probably have taken me 45 minutes.

[2021-07-05 17:16] pixelzoom commented on #299
Patch in sun 'natural-selection-1.4' and natural-selection '1.4' branches.

Ready for testing in next RC.

[2021-07-05 17:19] pixelzoom commented on #282
1.4.0-rc.1 testing was completed on 7/3/2021.

[2021-07-05 22:15] samreid commented on #288
I followed this procedure to apply the cherry-pick commits for https://github.com/phetsims/studio/issues/234

[code]

Cherry-picks complete and this should be ready for testing in the next RC.  Back to @pixelzoom for review or to label/plan accordingly.

[2021-07-05 22:28] samreid commented on #288
I'm having some problems here:

1. Somehow the later chipper sha got into dependencies.json (from the workaround above).  I manually corrected it and committed and pushed.
2. I accidentally put the wrong commit message, so it didn't show up in this issue thread.  The commit was https://github.com/phetsims/natural-selection/commit/2b9411eeeb3069db6612939d77d5e2916d6b8c81

My apologies for the probl

[2021-07-06 13:34] zepumph commented on #298
Thanks @samreid, over to @KatieWoe then

[2021-07-06 15:38] pixelzoom commented on #295
Assigning to @jonathanolson, because he's responsbile for the blocking issue https://github.com/phetsims/joist/issues/725.

[2021-07-06 15:45] pixelzoom commented on #288
@samreid:

I don't know how I can confirm the chipper sha, so I'll take your word for it.

You can always go to the commit in GitHub, and add a comment there with the correct issue number.

Looking at the procedure in https://github.com/phetsims/natural-selection/issues/288#issuecomment-874349961...  Why was `--set-upstream` needed?  That's not part of the maintence protocol described in [Manual m

[2021-07-06 15:46] pixelzoom commented on #288
Did you also build and test that the problem is indeed fixed in the branch?

[2021-07-06 15:51] KatieWoe commented on #298
Build off of master launched at Generation 11.

[2021-07-06 15:52] pixelzoom commented on #288
I did:

[code]

I navigated to the built wrapper index, and the example HTML (in the "Wrapper Development" section) now appears to be formatted, not all on one line.  Screenshot below.

<img width="1063" alt="screenshot_1047" src="https://user-images.githubusercontent.com/3046552/124630596-d30bbd80-de3f-11eb-8513-95a10bf0b669.png">

[2021-07-06 15:54] pixelzoom commented on #298
Sounds like fix is working, so back to @samreid to cherry-pick.

[2021-07-06 16:03] pixelzoom commented on #294
From https://github.com/phetsims/natural-selection/issues/294#issuecomment-872597103:

[2021-07-06 16:20] samreid commented on #288
I confirmed the chipper branch had the correct commits, then I took the SHA from the latest commit.

Good idea, I'll try to remember that next time.

Yes, I tested built and unbuilt in the branch, and the behavior was as desired.

I don't have my console log any more, but I believe what happened is that the manual says to use `git push origin chains-1.2`, but I probably incorrectly ran `git push`

[2021-07-06 18:52] samreid commented on #298
@pixelzoom can you please cherry pick this one?  I'm struggling with the problems due to https://github.com/phetsims/chipper/issues/1056.  When I followed the process, I get this error:

[code]

There is one commit to cherry-pick, and there is already a "natural-selection-1.4" branch in the repo.  The commit to cherry-pick is https://github.com/phetsims/studio/commit/df19ef28db71a07dcf44d6752f2e35

[2021-07-06 20:07] pixelzoom commented on #298
I'm testing the cherry-pick https://github.com/phetsims/studio/commit/df19ef28db71a07dcf44d6752f2e35167654d27e before patching:

[code]

I ran the sim in Studio, and let it get to > 15 generations. "Preview Sim" and "Preview HTML" seem to work.  But I'm not sure what's supposed to happen when the "Save" button is pressed.    I see this message in the console for the Studio browser window:

... and

[2021-07-06 21:18] samreid commented on #298
Thanks, I opened https://github.com/phetsims/studio/issues/223 to discuss the "state could not be computed as initialState + changedState" problem.

When pressing the "Save" button, it should trigger a download of a file called natural-selection-custom-wrapper.html.  For me, this happens in the new, blank "Untitled" tab.  Does it download for you?

Once you get it to download, you can test the sav

[2021-07-06 21:50] samreid commented on #294
I recommend changing this in master.

[2021-07-06 22:00] amanda-phet commented on #292
I don't think this should be blocking, since it is not necessarily specific to this simulation. I have noticed some other artifact issues (in other sims) that I've been meaning to report, and wonder if they are related, and/or if there's anything to be done about them. I do think it's annoying, but shouldn't block this release.

[2021-07-06 22:08] amanda-phet commented on #296
I agree with @pixelzoom . Option (1) is my preference.

[2021-07-06 22:16] pixelzoom commented on #294
@samreid Thanks for the updated "post-publication" documentation, that will help as a reminder to set it up.  But @amanda-phet and I are still unclear on what `phetioDesigned` is.  Can you please summarize?

[2021-07-06 22:32] pixelzoom commented on #288
This seems ready for testing in the next 1.4 RC.

[2021-07-06 22:37] pixelzoom commented on #296
Option (1) has been implemented, patched in master and 1.4 branches.

Ready for testing in the next 1.4 RC.

[2021-07-06 22:44] pixelzoom commented on #294
For Natural Selection, I added `phetioDesigned:true` to Sim options, verified that package.json contains `"compareDesignedAPIChanges": true`, and ran `grunt generate-phet-io-api`.

In natural-selection/package.json:

[code]

In phet-io/api/natural-selection.json:

[code]

I see nothing about having to manually update version in https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrument

[2021-07-06 22:49] pixelzoom commented on #294
@samreid I believe that the order is wrong for the steps that you added to https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md#post-publication-steps.   You need to add `phetioDesigned: true` BEFORE generating the API json file.  Please confirm that steps look correct after the above commits.

[2021-07-06 23:04] pixelzoom commented on #294
Looking at the API files in phet-io/api/, none of them appear to have "version" that matches package.json.  There was discussion about this in https://github.com/phetsims/gravity-and-orbits/issues/386#issuecomment-872321694, but I don't understand what's going on here.

[2021-07-07 00:37] pixelzoom commented on #294
I went ahead and pushed my changes for the 2 commits above. I have no idea how to test this, or whether the version mismatch will be a problem, so I'll keep an eye on CT.

@samreid please review, and:
- [ ] Verify that I did this correctly.
- [ ] Answer the above questions about version in API file vs package.json
- [ ] Describe `phetioDesigned` for designers, so that they know what it does, and w

[2021-07-07 00:39] pixelzoom commented on #294
My understanding is that this does not impact the 1.4 release, because it's only related to CT testing of master.  If that's not correct, then someone please add a "block-sim-publication" label asap.

[2021-07-07 00:45] pixelzoom opened #300 "Support items marked as DELETED in the Studio save file"
For https://github.com/phetsims/qa/issues/662

This is issue https://github.com/phetsims/studio/issues/223, related to the Studio console message that I reported in https://github.com/phetsims/natural-selection/issues/298#issuecomment-875047308.

It's unclear whether this is blocking for NS 1.4.  From https://github.com/phetsims/studio/issues/223#issuecomment-875086340:

So I'll err on the side of

[2021-07-07 00:55] pixelzoom commented on #298
It's not at all obvious what Save does, but now that you've given me some hints, I see that it saves an html file to the default downloads directory for the browser. Load is really slow, but seems to be working.

This is (hopefully) ready for testing in the next 1.4 RC.

[2021-07-07 00:57] pixelzoom commented on #298
Oh wait... This is not ready for testing yet.  In https://github.com/phetsims/natural-selection/issues/298#issuecomment-875047308, I tested the cherry-pick. But I didn't push it to studio's 'natural-selection-1.4' branch.

[2021-07-07 01:06] pixelzoom commented on #298
OK, now this is cherry-picked and patched.  Ready for the next 1.4 RC.

[2021-07-07 01:51] samreid commented on #294
The data type of `simVersion` is now `NullableIO(StringIO)`  It is output as null in the API file, and string when running a live sim.  We nulled it out because we didn't want the version number to be part of the API and require API file regeneration when changed.

Looks good, thanks!

Marking a subtree as `phetioDesigned: true` means its design has been fully designed and implemented, and it trig

[2021-07-07 02:37] pixelzoom commented on #294
What is `simVersion`?  I don't see that in the API files. We're talking about `version`, which I understood from https://github.com/phetsims/gravity-and-orbits/issues/386 to be the same as what's in package.json.

[2021-07-07 04:11] samreid commented on #294
I thought this was clarified in https://github.com/phetsims/gravity-and-orbits/issues/386#issuecomment-870994068.  To recap, using master and natural selection as an example:

[code]

[code]

[code]

We resolved the mismatch by nulling out the `simVersion`.  There was never a mismatch problem with the 1.0 "version".

[2021-07-07 15:02] zepumph commented on #297
I did some investigation here, testing performance of NS on master with localFile recording and playback

My testing in general created a recording that loosely followed the steps to reproduce over in https://github.com/phetsims/studio/issues/223#issuecomment-875086340. That is a great way to get a stable population with quite a few bunnies churning through.

* My first test recorded with assertio

[2021-07-07 15:27] pixelzoom commented on #297
NS has been using Sprites since 7/20/20, so this is not a recent change. @jonathanolson and I spent a lot of time performance optimizing, and sim performance has been excellent.  Since there seems to be a general opinion that performance of the State wrapper isn't really important, I'm not inclined to put more work into optimizing Sprites, or NS's use of Sprites.

[2021-07-07 15:29] pixelzoom commented on #294
@samreid said:

@amanda-phet if this answers your question, feel free to close. If you need more explanation, please ask @samreid directly.

[2021-07-07 15:40] pixelzoom commented on #294
https://github.com/phetsims/natural-selection/issues/294#issuecomment-875132933:

I don't see any indication that @samreid reviewed this, so assigning to him.

[2021-07-07 16:03] samreid commented on #294
I reviewed the changes to the phet-io-instrumentation-guide and they look good.  Anything else for this issue?

[2021-07-07 16:06] pixelzoom commented on #294
@samreid asked:

That's all of the questions I had for you, thanks.   @amanda-phet will contact you if she needs more clarification about `phetioDesigned`.

[2021-07-07 16:07] pixelzoom commented on #294
Oh, I see the @amanda-phet gave a 👍🏻 .

Closing.

[2021-07-07 16:17] pixelzoom commented on #294
Reopening.

I've followed all of the steps in https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md#post-publication-steps for setting up `phetioDesigned: true`.  Everything is commited and pushed.  When I run NS in Studio with `phetioCompareAPI`, it's failing with:

... folllowed by long json output.

I've tried re-running `grunt generate-phet-io-api`, and

[2021-07-07 16:22] pixelzoom opened #301 "phetioCompareAPI is failing."
For phetsims/qa#662

In https://github.com/phetsims/natural-selection/issues/294, I followed all of the steps in https://github.com/phetsims/phet-io/blob/master/doc/phet-io-instrumentation-technical-guide.md#post-publication-steps for setting up `phetioDesigned: true`.  Everything is commited and pushed.

When I run NS (master) in Studio with `phetioCompareAPI`, it's failing with:

The json part o

[2021-07-07 16:22] pixelzoom commented on #294
Moving the phetioCompareAPI to a new issue, https://github.com/phetsims/natural-selection/issues/301.  Re-closing.

[2021-07-07 16:22] #294 closed

[2021-07-07 16:26] pixelzoom commented on #301
I'm also wondering why this error is not showing up in CT.  I added `phetioDesigned: true` on 7/6/21 @ 6:32pm, and CT has run 6 test cycles since then.  Is this test actually being run by CT?

[2021-07-07 16:48] zepumph commented on #301
I'll take a look!

[2021-07-07 17:02] zepumph commented on #301
I pulled all, and then ran:

http://localhost:8080/natural-selection/natural-selection_en.html?brand=phet-io&phetioStandalone&phetioCompareAPI&ea&debugger

Then I parsed the horrible json-ish output by replacing `Expected: ` and `, actual: ` with newlines, and I got this:

[code]

[2021-07-07 17:03] pixelzoom commented on #300
In https://github.com/phetsims/studio/issues/223#issuecomment-875766700, @zepumph said:

[2021-07-07 17:10] pixelzoom commented on #301
Any idea why this is not showing up as an error in CT?

[2021-07-07 17:16] zepumph commented on #301
Hmm, not totally sure. Looks like it isn't run very often, but I guess it should have failed when it ran that one time:

![image](https://user-images.githubusercontent.com/6856943/124801999-f730d280-df03-11eb-8cc4-5bfe22a5a436.png)

[2021-07-07 17:29] zepumph commented on #301
After the above formatting commits, this is what the assertion message now looks like off the bat:

[code]

[2021-07-07 17:39] zepumph commented on #301
I found https://github.com/phetsims/phet-io/issues/1765, noting that the generated API file is consistent as it pertains to randomness. From this I don't feel like this needs to block publication. The issue is in our ability to maintain master and prevent changes from occurring that change the API on master.

[2021-07-07 17:50] pixelzoom commented on #301
OK, I think I understand why this doesn't need to be blocking -- it's relevant to master, not a release branch.

But if these types of errors persist, how will we identify real errors?  And will these types of errors occur in CT?

[2021-07-07 18:01] zepumph commented on #301
This is certainly something to fix, and to not let linger.

I poked around and tried to see if CT was seeding anything, purposefully or accidentally. I couldn't find anything. More investigation to be done in https://github.com/phetsims/phet-io/issues/1799

[2021-07-07 18:56] pixelzoom commented on #300
From https://github.com/phetsims/studio/issues/223#issuecomment-875818527:

* Press the "Add a Mate" button
* Check the "Limited Food" checkbox
* Run until generation 20
* Pause the sim
* Press  the "Preview Sim" button.
* Go back to the Studio tab and open Dev Tools. Verify that you don't see this message in the console: `state could not be computed as initialState + changedState, storing.`

[2021-07-07 19:00] pixelzoom commented on #300
Cherry-picked and patched:

[code]

Ready for testing in the next 1.4 RC.

[2021-07-07 19:10] pixelzoom commented on #278
This looks like it's probably "the Google doc", @kathy-phet please confirm.

https://docs.google.com/document/d/1LM6g029X3dydA4LX8Auie1GxOfkb2Yqt8u9w9l2g-bc/edit

[2021-07-07 19:13] pixelzoom commented on #278
If this is going to be a part of the general process, then highly recommended to put these in GitHub, perhaps in phet-io/migration-guides/{{repo}}/.

[2021-07-08 16:59] zepumph commented on #297
@kathy-phet and the gang determined this to not be blocking today.

Next steps for testing:
* Does this lag occur in mirror inputs. @samreid mentioned that this wasn't laggy in his testing.
* Is handlePlaybackEvent looking through many more messages than it needs to? Maybe we can prefilter non-playback messages eagerly so that during playback we don't look through unneeded events.
* @jonathanolson

[2021-07-08 17:33] samreid commented on #297
@zepumph can you please try this patch?  It's working great over here:

<details>

[code]

</details.

[2021-07-08 19:42] samreid commented on #297
I tested more and checked the usages sites of `scheduledPlaybackIntervals` and this seems good enough to push.

[2021-07-08 19:57] samreid commented on #297
I committed the change and added a guard to prevent stack overflows.  @zepumph can you please review?  @KatieWoe can you please test on master?

[2021-07-08 20:36] KatieWoe commented on #297
Looks much smoother on master

[2021-07-09 18:23] pixelzoom commented on #278
On hold until https://github.com/phetsims/phet-io/issues/1800 is completed.

[2021-07-11 18:15] zepumph commented on #278
I still think this issue should be on hold until @arouinfar is able to create a template that NS can follow. But from a slack conversation, it didn't seem like this needed to hold up publication.

[2021-07-11 18:21] zepumph commented on #301
My guess is that something is broken with this test for NS, and it is breaking something in CT, because this feels unlikely to be probabilistically possible:

![image](https://user-images.githubusercontent.com/6856943/125206092-cddcb300-e231-11eb-9b80-0aff7b8bed06.png)

[2021-07-11 18:41] zepumph commented on #301
I recommend closing this issue after @pixelzoom notes that locally this link will not fail:

http://localhost:8080/natural-selection/natural-selection_en.html?brand=phet-io&phetioStandalone&phetioCompareAPI&randomSeed=12345&ea&debugger

And changing the randomSeed to anything else will cause an assertion error.

We will continue the CT trouble over in https://github.com/phetsims/phet-io/issues/179

[2021-07-11 18:43] zepumph commented on #297
Looks really great to me, over to @pixelzoom to cherry pick. @samreid will you want to do the same for GAO?

[2021-07-11 18:44] samreid commented on #297
Yes, I'll update gravity and orbits in https://github.com/phetsims/gravity-and-orbits/issues/404, thanks!

[2021-07-12 15:14] pixelzoom commented on #297
Please summarize what needs to be cherry-picked.  I'm guessing https://github.com/phetsims/phet-io-wrappers/commit/46731109c30c64c32ca7676c8146bd91fa88db32 and https://github.com/phetsims/phet-io-wrappers/commit/ee6afb8256d7fffd74ff50da28d54ca50c1995e2.

[2021-07-12 15:16] samreid commented on #297
Yes, but please cherry-pick them in chronological order:

https://github.com/phetsims/phet-io-wrappers/commit/ee6afb8256d7fffd74ff50da28d54ca50c1995e2
https://github.com/phetsims/phet-io-wrappers/commit/46731109c30c64c32ca7676c8146bd91fa88db32

[2021-07-12 21:16] KatieWoe commented on #297
Steps to Reproduce a Recording:
1. From the index, open the recording wrapper
2. Open the console
3. In the url, replace `?console` with `?localFile` and press enter/reload
4. In the sim, do actions you want to record (In this case let a few generations pass and/or let bunnies take over world)
5. In console, follow instructions to save file (`window.saveLogToFile("name");`)
6. From the index, open

[2021-07-12 21:30] pixelzoom commented on #297
Thanks @KatieWoe.  I tested the fix by recording a stable population up to Generation 9. It's running smoothly.  Patched in the 1.4 branch in the above commits.  Ready for testing in the next RC.

[2021-07-12 21:37] pixelzoom commented on #301
I can use any number for `randomSeed` and it does not cause an error.  For example http://localhost/~cmalley/GitHub/natural-selection/natural-selection_en.html?brand=phet-io&phetioStandalone&phetioCompareAPI&randomSeed=789&ea&debugger

You've also duplicated the API-generation seed in two places: generatePhetioMacroAPI.js, listContinuousTests.js.  This should be factored out, not duplicated in str

[2021-07-13 14:04] zepumph commented on #301
With that link I get
![image](https://user-images.githubusercontent.com/6856943/125465677-a1bd63ed-8cf8-4e9b-808d-e5f94a8e7c19.png)

I see that I am pushed, pulled, and entirely on master.

Yes, it is duplicated in more than just those two spots. I cannot think of a place to factor it out to, see https://github.com/phetsims/phet-io/issues/1798#issuecomment-877845936 for discussion. Conclusion stil

[2021-07-13 14:18] pixelzoom commented on #301
Hmm.... It seems to be working as expected now.  Maybe I didn't have something pulled, or had a cacheing problem.   Sorry for the reassignment.

Closing.

[2021-07-13 14:18] #301 closed

[2021-07-13 14:28] pixelzoom commented on #278
From https://github.com/phetsims/phet-io/issues/1800#issuecomment-878422025

[2021-07-13 14:51] zepumph commented on #278
This is not true. The primary purpose was to make sure that the sim is well set up to provide migration support in NS 1.5.

What about the argument that this seems to be the only issue holding up the next RC, and our goal for the quarter is to publish as many PhET-iO sims as possible? It has been weeks since the last RC. Wouldn't it be more efficient for the RC to go out without this supporting do

[2021-07-13 18:25] pixelzoom commented on #295
From https://github.com/phetsims/joist/issues/725#issuecomment-879274934, the commits to cherry-pick (in this order) are:

https://github.com/phetsims/joist/commit/321e7888eb9feb56133d98f6d35db079678fc7bb
https://github.com/phetsims/joist/commit/58fd74142ca8144982ecc13df4abeab6fa946280
https://github.com/phetsims/joist/commit/6299e69d256f1d997832f5b8d4f88ac50ae5ad08
https://github.com/phetsims/joi

[2021-07-13 19:05] jonathanolson commented on #292
I'm not able to reproduce this on my Win10 + Chome 91.

[2021-07-13 19:07] pixelzoom commented on #292
@amanda-phet says this issue is not blocking.  And @jonathanolson and I cannot reproduce it, so don't have an easy path to investigating.  So I'm going to unassign and label this issue as deferred.   Hopefully it will be addressed by future browser releases.

[2021-07-13 19:24] pixelzoom commented on #295
Cherry-picked the above shas, in order, without any problems.  Tested a local build by:

1. Lauch the sim in Studio
2. Change the value of `naturalSelection.introScreen.nameProperty` to "Into The Spiderverse"
3. Press the "Preview Sim" button. Verify that the screen name looks correct in the navbar and home screen.

Ready for testing in the next RC.

[2021-07-15 02:27] pixelzoom opened #302 "Support random initial state values in the API file"
https://github.com/phetsims/phet-io/issues/1798 needs to be patched into the 1.4 branch.

There are many commits in https://github.com/phetsims/phet-io/issues/1798. @zepumph please provide an ordered list of shas to cherry-pick.

[2021-07-15 18:32] zepumph commented on #278
During todays' PhET-iO Meeting we decided that on master, natural selection's migration guide will include a section on migrating from 1.2->1.3 and also 1.3->1.4. This doesn't need a fancy template or anything, it just needs the content from https://github.com/phetsims/natural-selection/issues/278#issuecomment-828703884 (in the google doc) and this part for 1.3->1.4:

[code]

But improved.

[2021-07-15 18:35] zepumph commented on #302
From PhET-iO meeting, all that is needed to cherry-pick is this:

https://github.com/phetsims/chipper/commit/1b8852e3d76dd34280187c26eff1e02618906a49

All that is needed is to change the randomSeed to 332211.

Cherry pick likely won't work because it was put on top of other documentation changes from https://github.com/phetsims/phet-io/issues/1798

[2021-07-15 19:29] pixelzoom commented on #302
I manually patch chipper "natural-selection-1.4" branch in https://github.com/phetsims/chipper/commit/38fcffc234ef4ee576b1ef47157632caee55a287.

Ready for testing in the next RC.

[2021-07-15 19:31] pixelzoom commented on #302
@zepumph I'm not clear on how QA will verify this issue. Can you please add a comment with steps for verification?  Or if no verification is needed, please close this issue.

[2021-07-15 20:09] zepumph commented on #302
I just spot checked this with the following steps:

[code]

Every change in the diff comparison was explainable, and there were no variations in the random initialState values. Closing

[2021-07-15 20:09] #302 closed

[2021-07-15 20:22] zepumph commented on #278
Basic migration guide added for NS above. Please cherry-pick

https://github.com/phetsims/phet-io-client-guides/commit/55b1ddc477814c66843e01d1a63eff668138476e
https://github.com/phetsims/phet-io-wrappers/commit/67eebb2fe2a7bcecfaab049b8517c27e9da002f5
https://github.com/phetsims/chipper/commit/d6184393ffb952f6e1e221a65993b6a9336fa4a6

To test:
checkout shas, build the sim, and make sure that the

[2021-07-15 20:24] zepumph commented on #278
This is what it looks like on build in master:

![image](https://user-images.githubusercontent.com/6856943/125852680-4507a410-2937-4298-ac91-8c562d745b3f.png)

[2021-07-15 20:33] samreid commented on #278
Looks great!  I added a 👍 to the prior comment, but wanted to add a 👍 here for visibility!

[2021-07-15 20:34] pixelzoom commented on #278
I'm getting merge conflicts with https://github.com/phetsims/phet-io-wrappers/commit/67eebb2fe2a7bcecfaab049b8517c27e9da002f5.   And I thought we decided in today's meeting that @zepumph was going to patch the 1.4 branch.

[2021-07-15 20:41] pixelzoom commented on #278
Oh wait, let me try again.  I might have forgotten to `git checkout natural-selection-1.4`.

[2021-07-15 20:46] pixelzoom commented on #278
Adding one more commit to the cherry-pick: https://github.com/phetsims/phet-io-client-guides/commit/fcb38dcb81e2658f61323d61ee5981465a04dcae

This fixed several grammar/punctuation errors, distracting and inappropriate in a public-facing document.  And it uses a consistent '//' token for comment.

[2021-07-15 22:06] pixelzoom commented on #278
I'm still unable to cherry-pick https://github.com/phetsims/phet-io-wrappers/commit/67eebb2fe2a7bcecfaab049b8517c27e9da002f5:

[code]

[2021-07-15 22:17] pixelzoom commented on #278
Continuing to investigate the conflict:

[code]

Opening index/index.js with vi, the conflict is identified by "<<<<<<< HEAD":

[code]

Please advise.

[2021-07-15 23:05] pixelzoom commented on #278
I got on a Zoom call with @samreid.  He was familiar with https://github.com/phetsims/phet-io-wrappers/commit/361a103ffac5d317d28bd9077fe8019cad72ffc1, and we added it to the list of shas to cherry-pick.

Tested and patched in NS 1.4, ready for next RC test.

To verify this issue:
1. Navigate to the Wapper index.
2. Click on the "Migration Guide" link (bottom of the **Link** column)
3. Verify that

[2021-07-15 23:10] pixelzoom commented on #300
To verify in RC testing, see the steps in https://github.com/phetsims/natural-selection/issues/300#issuecomment-875851038.

[2021-07-15 23:14] pixelzoom commented on #299
To verify in RC testing:
1. Run the sim
2. Select Intro screen
3. Establish a stable population (for instance, brown fur dominant, wolves, limited food)
4. Select Proportions graph panel
5. Each time the Generation number gains a digit (e.g. 9 > 10, 99 > 100, 999 > 1000 ) you'll see that the space between the arrow buttons and "Generation {number}" remains constant, the arrow buttons move out a bi

[2021-07-15 23:38] pixelzoom commented on #282
1.4.0-rc.2 was published for RC spot-check on 7/15/21, see https://github.com/phetsims/qa/issues/672.

[2021-07-16 17:01] zepumph commented on #278
Yes I remember now! I'm terribly sorry for the short term amnesia yesterday after meetings, and thanks for taking care of it to get the next RC out.

[2021-07-16 20:27] KatieWoe commented on #299
Things look ok in rc.2

[2021-07-16 20:27] #299 closed

[2021-07-16 20:30] KatieWoe commented on #291
Looks good in rc.2. If anyone else needs to be added after this round I'll let you know.

[2021-07-16 20:37] KatieWoe commented on #278
The wrapper index for rc.2 now has a link to Migration Guide. It works, is password protected and looks good.

[2021-07-16 20:37] #278 closed

[2021-07-16 21:14] KatieWoe commented on #288
Looks good in RC.2 on both iPad and MacOS 11

[2021-07-16 21:14] #288 closed

[2021-07-16 21:27] KatieWoe commented on #295
Looks good in rc.2

[2021-07-16 21:27] #295 closed

[2021-07-16 21:40] KatieWoe commented on #296
Looks ok in rc.2

[2021-07-16 21:40] #296 closed

[2021-07-16 22:22] KatieWoe commented on #297
I think this can be closed for rc.2. Will reopen if something else comes up

[2021-07-16 22:22] #297 closed

[2021-07-16 22:40] KatieWoe commented on #298
There still seems to be something wrong here. I had several generations on both screens. And while the sim would launch, it did not go to the correct state and an error occurred. The sim was unusable. I also noticed that, even when this did not occur, launching could be slower than before.
![bad](https://user-images.githubusercontent.com/41024075/126014888-2e56111e-e967-4ef5-9f89-7e0c7a88b16e.gif)

[2021-07-16 22:42] pixelzoom commented on #298
@KatieWoe please describe the exact steps to reproduce the problem you're reporting in https://github.com/phetsims/natural-selection/issues/298#issuecomment-881755341.

[2021-07-16 22:46] KatieWoe commented on #298
1. In Studio on the first screen: Set food to limited and let the clock run until the generation clock is in the midteens
2. Pause this screen and go to the second screen
3. Repeat on second screen
4. Try to Preview sim

[2021-07-16 22:58] pixelzoom commented on #298
I cannot reproduce. Here's what I did, on macOS 11.3.1 with Chrome 91.0.4472.114, Dev Tools open, showing console.

1. Run https://phet-dev.colorado.edu/html/natural-selection/1.4.0-rc.2/phet-io/wrappers/studio/
2. Go to the Intro screen
3. Check the "Limited Food" checkbox
4. Press the "Add a Mate" button
5. Press and hold the Fast-Forward button until you get to Generation 15
6. Press the Pause

[2021-07-16 23:04] pixelzoom commented on #298
In https://github.com/phetsims/natural-selection/issues/298#issuecomment-875003109, @samreid identified one sha that needed to be cherry-picked for NS 1.4, and it was https://github.com/phetsims/studio/commit/df19ef28db71a07dcf44d6752f2e35167654d27e.  I did:

[code]

... and manually inspected customizeWrapperTemplateForAction.js, to verify that the cherry-pick does indeed appear in studio's 'natu

[2021-07-19 16:35] KatieWoe commented on #298
Ok, I went back and tried to recreate the issue and I discovered what I think is the trigger. Specifically, the issue is in the step that say the generation should be in the midteens. The issue seems to occur in generation 16 or above specifically. It can be either screen. I also sometimes noticed an odd shift occur in studio when the generation clock reached generation 16, but it was hard to be s

[2021-07-19 16:44] zepumph commented on #298
Can you please reproduce with the debug version to see if we get a more upstream error (add ?phetioDebug to the studio URL)

[2021-07-19 16:49] pixelzoom commented on #298
Reproduced in [1.4.0-rc.2](https://phet-dev.colorado.edu/html/natural-selection/1.4.0-rc.2/phet-io/wrappers/studio/) and master with the following steps:

1. Run the sim in Studio
2. Go to the Intro screen
3. Check the "Limited Food" checkbox
4. Press the "Add a Mate" button
5. Press and hold the Fast-Forward button until you get to Generation 16
6. Press the Pause button
7. Press the "Preview Sim

[2021-07-19 16:50] pixelzoom commented on #298
I'll need to send this back to the PhET-iO team, since I'm unfamiliar with phetioEngine, and unfamiliar with the first fix that was done here.

[2021-07-19 17:47] samreid commented on #298
Testing in master, I can see the state object is the string `DELETED`:

![image](https://user-images.githubusercontent.com/679486/126203884-5ba889aa-24c7-488d-9796-fe055aaf44cf.png)

[2021-07-19 18:15] samreid commented on #298
I attempted this patch, which assumes the dynamic element's parent is the container.  But it didn't go so well in the browser--hanging/crashing:

<details>

[code]

</details>

[2021-07-19 18:17] KatieWoe commented on #300
This is impacted by https://github.com/phetsims/natural-selection/issues/298#issuecomment-881757317 as well. What @samreid said in https://github.com/phetsims/natural-selection/issues/298#issuecomment-882738797 makes me think this might be related. Assigning him for that. I didn't see `state could not be computed as initialState + changedState, storing.` but this may be due to this bug, so I won't

[2021-07-19 18:28] pixelzoom commented on #298
Yes, that's correct.  We decided long ago not to use separate lists/arrays, and use PhetioGroup as the list of elements. Is there anything wrong with this approach?

I have no idea what this is, whether this is potentially a sim problem, or whether it's a PhET-iO problem.  So I can't investigate further on my own.  Let me know when you're available to collaborate.

[2021-07-19 19:21] samreid opened #303 "During setState, the PhetioStateEngine needs to delete items marked as DELETED"
Discovered in https://github.com/phetsims/natural-selection/issues/298 but it's a separate problem and will have a separate solution.  The problem is if bunny_0 is deleted, then it is marked as DELETED in the state file.  However, the state engine doesn't know to delete existing items which are marked for deletion.

[2021-07-19 19:21] samreid commented on #298
Let's track this new problem in https://github.com/phetsims/natural-selection/issues/303

[2021-07-19 19:29] zepumph commented on #303
I don't think that this is how we designed PhET-iO dynamic elements. The container should clear every element before state setting, and then only add back in those that are in the state. I'm unsure how `DELETED` items fit into the actual state setting at all. I thought it was just an implementation detail about the initial/changed state storing for studio customization.

[2021-07-19 19:37] samreid commented on #303
Here's a simpler test harness to reproduce the problem:

<details>

[code]

</details>

[2021-07-19 20:08] samreid commented on #303
@zepumph identified the problem that the `DELETED` items which appear in the initial state are not subtracted from the computed state.  We made a patch which corrects the problem nicely, and can be cherry-picked into NS

[2021-07-19 20:09] samreid commented on #303
The commit https://github.com/phetsims/studio/commit/452fa2179eccec8ed01fef2ff5d167242126f19e is the one and only commit required to address this problem.  @pixelzoom can you please test and cherry-pick?

[2021-07-19 21:19] samreid commented on #300
@zepumph and I addressed the new problem in https://github.com/phetsims/natural-selection/issues/303, it should also be cherry picked and tested.

[2021-07-19 21:53] samreid commented on #298
The new problem has been addressed in #303 and is ready for testing and cherry-picking.

[2021-07-19 22:02] pixelzoom commented on #298
Even though it sounds like https://github.com/phetsims/natural-selection/issues/303 is a new issue, I'll keep this issue open for verification in the next RC.

[2021-07-19 22:04] pixelzoom commented on #300
Even though it sounds like https://github.com/phetsims/natural-selection/issues/303 is a new issue, this issue has technically not been signed off by QA.  So I'll keep this issue open for verification in the next RC.

[2021-07-19 22:20] pixelzoom commented on #303
Cherry-picked and tested:

[code]

Ready fro verification in the next RC.

[2021-07-19 22:26] pixelzoom commented on #282
1.4.0-rc.2 testing was completed on 7/19/20.  2 PhET-iO issues failed verification. 1 new PhET-iO issue was opened, see #303.

We will need another RC.

[2021-07-19 22:40] pixelzoom commented on #282
1.4.0-rc.3 was published for RC spot-check on 7/19/21, see https://github.com/phetsims/qa/issues/674.

[2021-07-22 17:45] Nancy-Salpepi commented on #298
I was able to successfully launch the sim after pausing in generation 17. However, the home screen briefly flashes on the screen before taking me to the intro screen with generation 17 paused. (Mac 11 M1 chip + chrome)

[2021-07-22 18:09] Nancy-Salpepi commented on #300
Could not reproduce using "Steps to Reproduce" in https://github.com/phetsims/natural-selection/issues/300#issuecomment-875851038.  (Mac 11 w/M1 chip + chrome)

[2021-07-22 18:09] #300 closed

[2021-07-22 18:18] zepumph commented on #298
This is a known constraint of the way that PhET-iO is set up. Short answer: don't worry about it. Long answer: It is because there is an asynchronous clock tick between the time the sim starts and sends a message to the PhET-iO "wrapper" and the time that the wrapper receives it. Then another one when the wrapper sends back the customizations to the sim. Within that time, the sim has enough time t

[2021-07-22 18:23] Nancy-Salpepi commented on #303
Using the steps provided, there were no console errors for Studio or the Preview. (Mac 11 w/M1 chip + chrome)

[2021-07-22 18:23] #303 closed

[2021-07-22 18:28] Nancy-Salpepi commented on #298
Thank you Michael. I will close the issue then.

[2021-07-22 18:28] #298 closed

[2021-07-23 16:52] KatieWoe commented on #291
Nancy Salpepi should be added after the third RC

[2021-07-23 19:39] pixelzoom commented on #291
Since another RC is not needed, and we're ready to publish, changing the credits creates a bit of a dilemma.  After patching the credits in the 1.4 branch, should I (a) test myself, then publish, or (b) create another RC spot-check, have the credits verified by QA, then publish?   I consulted with @KatieWoe, and we decided on (a).

<details>
<summary>Slack discussion</summary>

Chris Malley  1:32

[2021-07-23 19:54] pixelzoom commented on #291
Credits have been updated in master and the 1.4 branch, see below.   I will now close this issue, and publish 1.4.0.

<img width="669" alt="screenshot_1083" src="https://user-images.githubusercontent.com/3046552/126834447-242875fa-0ef0-464e-b91f-d4687abbf975.png">

[2021-07-23 19:54] #291 closed

[2021-07-23 19:55] pixelzoom commented on #282
1.4.0-rc.3 testing was completed on 7/23/21.  All issues passed verification, no new issues found. Ready for production deploy.

[2021-07-23 20:08] pixelzoom opened #304 "Should Natural Selection 1.4 be listed in partners.md ?"
When I published NS 1.4.0, the build process had some reminders related to PhET-iO:

[code]

Natural Selection does not appear in partners.md.  Does it need to be added?

[2021-07-23 20:08] pixelzoom commented on #304
Transfering this issue from natural-selection to phet-io, since that's where patners.md lives.

[2021-07-23 20:16] pixelzoom commented on #282
1.4.0 was published on 7/23/21.  Spot-checked at https://phet.colorado.edu/en/simulation/natural-selection and https://phet-io.colorado.edu/sims/natural-selection/1.4.

When I published Natural Selection 1.4.0, `grunt production` had some reminders related to PhET-iO:

https://docs.google.com/spreadsheets/d/18_QNGuVtYtxOEKG9xRBs_PSQpyvzySF1Gk5puR-5Fv4/edit#gid=1881767354

I updated the entry for t

[2021-07-23 20:16] pixelzoom commented on #282
Natural Selection 1.4 release completed, closing.

[2021-07-23 20:16] #282 closed

[2021-09-08 22:42] zepumph opened #305 "Use STATE_SCHEMA to limit IOType boilerplate"
Over in https://github.com/phetsims/phet-io/issues/1782, I finally got to cleaning up how stateSchema duplicates much of how applyState and toStateObject are most likely implemented.

In this sim specifically, I found 2 potential problems with just blowing away the toStateObject and the applyState methods on Bunny.js

* There was documentation associated with each, specific to parts of the impleme

[2021-09-08 22:44] zepumph commented on #305
@pixelzoom, would you please review the above commit. If you feel like the `validateInstance` isn't actually needed, then you can delete the entire applyState function and the IOType will automatically grab it from `StateSchema.defaultApplyState`.

[2021-09-09 14:23] pixelzoom commented on #305
I'm going to leave the call to `validateInstance` in Bunny `applyState`.  It's a useful additional layer of protection again PhET-iO regressions, and it's a pattern that I've used throughout Natural Selection.  But thanks for bringing this to my attention.  Closing.

[2021-09-09 14:23] #305 closed

[2021-10-22 14:41] schuyler1d opened #307 "genetic drift seems never to succeed"
I am using this wonderful PHET natural selection simulation.

I am trying to simulate genetic drift by using the neutral floppy ear phenotype, setting the interactive to limited food, and setting up a bottleneck to significantly reduce the bunny population.

So far, I've been unable to get a floppy eared bunny takeover. Is such an event possible within this simulation for some reasonable number of

[2021-10-25 16:48] #307 closed, assigned to nobody

[2022-02-04 17:02] KatieWoe opened #308 "CT designed api changes"
[code]

[2022-02-07 01:03] pixelzoom commented on #308
According to @zepumph, this was caused by https://github.com/phetsims/phet-io/commit/2f55312540f657d5c893a0dc6d163d50907d4e8c#diff-32eb810879d5cf8fc29cbccd53bc20fa8713eea8ef401dd531554850b93b5f6cR179 for https://github.com/phetsims/studio/issues/243, and a failure to regenerate the API file for this sim.  CT currently shows the problem has been corrected. If it comes up again, please report in htt

[2022-02-07 01:03] #308 closed

[2022-07-06 23:43] pixelzoom opened #309 "Natural Selection - Publish 1.5 with PhET-iO upgrades and dynamic locale"
As part of the "batch release" milestone https://github.com/orgs/phetsims/projects/44, publish Natural Selection 1.5, for brands=phet,phet-io.

[2022-07-06 23:54] pixelzoom commented on #309
Published on 7/6/2022 at @kathy-phet's request:

* https://github.com/phetsims/qa/issues/818

[2022-07-07 17:56] Nancy-Salpepi opened #310 "Error message when loading older version into Studio"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/818, when loading a saved state from the older version (1.4) into Studio version 1.5, an error appears in the console. I didn't see this error when testing Gravity and Orbits https://github.com/phetsims/qa/issues/816.
After a quick check thin

[2022-07-07 18:18] Nancy-Salpepi opened #311 "Console errors when pressing Reset All after loading saved state"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/818, after loading a saved state (from version 1.5 or version 1.4), pressing the Reset All button results in console errors. After a quick check, the sim seems to be working correctly after the errors appear.

**Steps to reproduce**
1. In Stu

[2022-07-07 18:33] pixelzoom commented on #310
This is outside of my wheelhouse, and (presumably) related to migration from older versions. Assigning to @zepumph and @samreid.

[2022-07-07 18:44] pixelzoom commented on #311
As with #310... This is presumably related to migration, so assigning to @zepumph and @samreid.

[2022-07-07 20:32] zepumph commented on #311
This is not specific to migration, you can also reproduce this by loading in a saved file from the same version. It is most likely a regression from https://github.com/phetsims/tandem/issues/264. I'll take a look.

[2022-07-07 21:14] Nancy-Salpepi commented on #311
Looks fixed @zepumph!
Closing

[2022-07-07 22:23] KatieWoe opened #312 "Inconsistency when setting state while fast forwarding"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/818.
In the state wrapper, if you hold down the fast forward button in the top sim while the sim is paused, one of the states set in the bottom sim will be un paused. While holding down the button, the bottom sim will behave like the top one. Once you let go, the ne

[2022-07-07 23:01] pixelzoom commented on #311
@Nancy-Salpepi Sounds like you meant to close this issue, so I'll do so.

[2022-07-07 23:01] #311 closed

[2022-07-08 15:43] Nancy-Salpepi opened #313 "Scenery layout fails when removing gene option"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/818, when removing a gene from the Add Mutations panel on the Lab screen, an error message pops up in the console. It may also take 30-40 seconds for the checkbox to uncheck. The sim still works.

I didn't see this error when remov

[2022-07-09 19:04] pixelzoom commented on #313
This was not a problem in [1.4.3](https://phet-dev.colorado.edu/html/natural-selection/1.4.3/phet-io/wrappers/studio/).  It's new in 1.5, and it's caused by the new scenery layout code.   As I said in https://github.com/phetsims/scenery/issues/1430#issue-1286479187 12 days ago:

Assigned to @jonathanolson with top priority.

[2022-07-09 19:07] pixelzoom commented on #313
Here's the stack trace from master:

[code]

[2022-07-11 19:52] Nancy-Salpepi commented on #313
I am also seeing that error message when I remove a row from the Alleles panel--For example: `naturalSelection.labScreen.view.graphs.pedigreeNode.allelesPanel.earsRow.visibleProperty`
<img width="521" alt="Screen Shot 2022-07-11 at 3 49 57 PM" src="https://user-images.githubusercontent.com/87318828/178346668-6d2630e0-7d4b-4902-a7e2-7ce801d90f15.png">

[2022-07-11 21:02] Nancy-Salpepi opened #314 "Population panel checkboxes do not remain unchecked in launched sim"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/818, after selecting mutations, any checkboxes I then uncheck in the Population panel will be checked in the launched sim. The only exceptions are the Total checkbox and Data Probe checkbox. This happens on both screens and can be seen in both

[2022-07-11 21:07] Nancy-Salpepi commented on #314
This also happens with the Alleles panel.
<img width="607" alt="Screen Shot 2022-07-11 at 5 06 37 PM" src="https://user-images.githubusercontent.com/87318828/178358479-2ea15b15-209e-4c41-98b0-e180874f9582.png">
<img width="778" alt="Screen Shot 2022-07-11 at 5 05 55 PM" src="https://user-images.githubusercontent.com/87318828/178358508-91160e47-6901-49ba-85db-906bfbc2568a.png">

[2022-07-11 21:27] Nancy-Salpepi commented on #314
When in the State wrapper, if I press the Set State Now button a second time, the checkboxes will become unchecked.

https://user-images.githubusercontent.com/87318828/178361135-a2941c07-05fc-4193-88cd-ff3435fc5e5b.mp4

[2022-07-12 13:29] pixelzoom commented on #314
A little confusing because the steps describe the Intro screen,  but checkboxes2.mp4 shows the Lab screen, and does not show all of the steps.   But reproduced in https://phet-dev.colorado.edu/html/natural-selection/1.5.0-dev.1/phet-io/wrappers/studio/ and master.

This problem is also present in the previous version, https://phet-dev.colorado.edu/html/natural-selection/1.4.3/phet-io/wrappers/stud

[2022-07-12 13:34] pixelzoom commented on #314
Btw... When pressing the Set State Now button as second time, the allele is already in the correct state, so it's listener does not fire, and does not change the state of the Properties associated with the checkboxes.  The checkboxes therefore end up in the correct state.

[2022-07-12 15:37] pixelzoom commented on #314
Fixed in the above commit. @Nancy-Salpepi please verify in master. If it looks OK, change the label to `status:fixed-awaiting-deploy` and unassigned.

[2022-07-12 15:59] Nancy-Salpepi commented on #314
Looks good on master.
Sorry for the confusion with the original video.

[2022-07-12 16:22] pixelzoom opened #315 "Range of the Population graph's x-axis is incorrect in Preview Sim."
Similar to #314, for https://github.com/phetsims/qa/issues/818 ...  I inspected occurrences of `link` and `lazyLink`, looking for cases where restored state might be overwritten.  I found this case, which was also present in the previous (1.4) release.

The range of the Population graph's x-axis is overwritten when restoring state.   To reproduce:

1. Go to the Lab screen
2. Press the "Add a Mate"

[2022-07-12 16:26] pixelzoom commented on #315
Fixed in the above commit.  @Nancy-Salpepi since you verified #314, would you mind verifying this one in master?

[2022-07-12 16:48] pixelzoom commented on #313
`naturalSelection.labScreen.view.genes.furVisibleProperty` is one of the global Properties found in GenesVisibilityManager.  It's used to globally show/hide all UI components that are related to a specific gene (in this case, fur).

In GeneVisibilityManager.js, the general listener for each Property is found in `createGeneVisibleProperty` on line 59:

[code]

By commenting out the first 3 lines of

[2022-07-12 17:18] Nancy-Salpepi commented on #315
Looks good on master!

[2022-07-13 05:50] jonathanolson commented on #313
That was quite a tricky interaction. It needed the 3-node-deep layout + a maxWidth/maxHeight. Because maxWidth is handled synchronously, it resulted in the scale being reduced on something that had a preferred width. Because the preferred width was larger than the maxWidth, it synchronously sized the content up slightly (violating the maxWidth). This would normally be fine, but this listener trigg

[2022-07-13 12:44] pixelzoom commented on #313
Removing the dev:phet-io label, since this was not techincal a PhET-iO problem.  It just manifested in a PhET-iO content.

[2022-07-13 14:22] Nancy-Salpepi commented on #292
I was able to reproduce this problem in the PhET brand and PhET-iO standalone dev version 1.5 with Win10 + chrome. It doesn't happen with every generation. Many generations can pass (10-20) without me noticing any lines.
I'm going to try and reproduce with mac + chrome.

[2022-07-13 14:45] pixelzoom commented on #292
Thanks @Nancy-Salpepi.  Moving this issue back to "deferred", hoping it will resolve itself in a future browser release, or some other scenery fix.

[2022-07-13 20:22] zepumph commented on #310
This is an expected new part of migration and credentials. We always try to request without credentials, and if we get back a 401 (credentials needed), then we request again with the credentials. Please update QA doc appropriately with this pattern. Feel free to close.

[2022-07-13 20:43] pixelzoom opened #316 "Update QA credits for 1.5 release."
Update QA credits for 1.5 release.
[code]

[2022-07-13 20:50] pixelzoom commented on #312
Dev test https://github.com/phetsims/qa/issues/818 is completed, and this is the only issue that has not been addressed.  I'm not clear on whether we're in a hurry (or even ready) to create a release branch.

[2022-07-13 20:53] #310 closed, assigned to Nancy-Salpepi

[2022-07-14 00:01] pixelzoom commented on #309
Dev test completed today, 7/13/2022.

In Slack#phet-io, I asked:

@zepumph reported that we're "not ready for an RC yet". And @kathy-phet reported that Density is up next for a dev test. So I'll assume that creation of a release branch and RC is still a ways off, and do nothing for now.

[2022-08-02 04:57] samreid commented on #312
I committed a proposed fix, @KatieWoe can you please review on phettest?

[2022-08-02 19:43] samreid commented on #312
Thanks, since this was reported in a dev test, it seems ready for the next version.  Closing.

[2022-08-02 19:43] #312 closed

[2022-08-04 13:26] pixelzoom commented on #312
Thanks for handling this. Looks good.

[2022-08-22 21:09] pixelzoom opened #317 "Should `allelesVisible` be settable via a Property?"
In https://github.com/phetsims/studio/issues/268, it was determined that using query parameters with wrappers is problematic, and that setting a Property (or calling an API function) should be preferred.

The `allelesVisible` query parameter determines whether the Alleles panel is added to the Pedigree graph. It does not have an associated Property or API function.

With `allelesVisible=true` (the

[2022-08-22 21:13] pixelzoom commented on #317
I invetigated this a bit.  Being able to dynamically show/hide the Alleles panel is going to be a big project, because the Pedigree graph is not implemented to have dynamic size.  Everything about the layout of the Pedigree graph is static, and making it dynamic is going to be a big project.  An alternative would be to make the Pedigree the same size, regardless of whether the Alleles panel is vis

[2022-08-22 21:23] pixelzoom opened #318 "Query parameters cannot be used to set the initial population for a wrapper."
In https://github.com/phetsims/studio/issues/268, it was determined that using query parameters with wrappers is problematic, and that setting a Property (or calling an API function) should be preferred.

There are 4 query parameters related to setting the initial population: `introMutations`, `introPopulation`, `labMutations`, `labPopulation`.  They are documented in [NaturalSelectionQueryParamet

[2022-08-22 21:59] pixelzoom opened #319 "Add support for dynamic locale"
@jonathanolson @samreid and I had a discussion about dynamic locale and dynamic strings, and what needs to be done to support them.  They suggested that I start with one sim, and Natural Selection seems to make the most sense, since it's next on the list in https://github.com/orgs/phetsims/projects/44.

To add support:

- [ ] Convert from `string` to `TReadonlyProperty<string>` instances from stri

[2022-08-23 22:26] pixelzoom commented on #317
@kathy-phet and I discussed this a bit.  Her feeling was that this is OK as is, and I agree.  If the client wants to hide the Alleles panel and maximize the space used for the Pedigree graph, then they should use the `allelesVisible` query parameter.  If they want to dynamically show/hide the AllelesPanel for some reason (and we had a difficult time thinking of a reason) then they can use the `ped

[2022-08-23 22:30] pixelzoom commented on #318
@kathy-phet and I discussed this.  This could be addressed by creating a PhET-iO API function to set the population, and call that function after state has been restored by the wrapper.  The query parameters and the API function should use the same underlying code.  This would be a non-trivial development task, and we don't have time for it now.  So our conclusion is that not being able to use the

[2022-08-24 18:26] pixelzoom commented on #319
I made an initial pass at this.  What I discovered so far:

* The globe button (`?locale=*`) has been removed from the navbar. The recommend way to test is to change `localeProperty` in Studio using arrow keys to quicky switch between radio buttons.
* overrides.js file will frequently need to be changed manually.
* In addition to changing from string to Property values, extensive changes to sim-sp

[2022-08-24 21:07] pixelzoom opened #320 "Convert to TypeScript"
As a prerequisite to https://github.com/phetsims/natural-selection/issues/319 (Add support for dynamic locale), this sim will be converted to TypeScript.  As noted in https://github.com/phetsims/natural-selection/issues/319#issuecomment-1226082140:

[2022-08-25 21:49] pixelzoom opened #321 "Duplication of buttons"
Noted while investigating #320 ...

AddAMateButton, PlayButton, and StartOverButton are 99% identical.  Their only difference is in the string label.  Factor out duplication, and possibly delete these classes.

[2022-08-26 15:14] pixelzoom commented on #321
Done in the above commits.

In preparation for #319 (dynamic locale), this instruments the labels on these buttons.  So these PhET-iO elements are new:

[code]

By default these are `phetioFeatured: false`.  Over to @arouinfar to approve that, or make changes to overrides.js if she wants them to be featured.

[2022-08-26 15:37] amanda-phet commented on #321
I don't think these need to be featured, so this looks good to me.

[2022-08-26 15:43] amanda-phet commented on #318
@kathy-phet didn't our original client request this? I thought that was a primary request. But I might not understand fully, because maybe they weren't using it in a wrapper? I see that these can still be used with studio, so as log as @kathy-phet says that is ok then it's fine by me!

[2022-08-26 15:43] #318 closed

[2022-08-26 15:44] amanda-phet commented on #317
Sounds good to me.

[2022-08-26 15:44] #317 closed

[2022-08-26 15:49] pixelzoom commented on #321
👍🏻 closing.

[2022-08-26 15:49] #321 closed

[2022-08-27 21:03] pixelzoom commented on #320
@kathy-phet change of plans...  I'm not going to convert to this sim to TypeScript.  As I got into it, it because a much larger task that anticipated -- not a couple of days (as I had estimated), but a week or more.   I proceeded with #319 (Add support for dynamic locale) and made good progress.

Given that I have 7 sims for https://github.com/orgs/phetsims/projects/44 (PhET-iO batch release), I d

[2022-08-27 21:03] #320 closed

[2022-08-27 21:15] pixelzoom commented on #319
I punted on TypeScript conversion (#320) due to the effort required, and proceeded with adding support for dynamic locale.

I had to undo a significant amount of work because of https://github.com/phetsims/chipper/issues/1314, and I've added TODO comment in the code to revisit.

I still need to figure out how to make `GenePair.getGenotypeAbbreviation` dynamic -- that's going to be complicated.

On

[2022-08-27 22:00] pixelzoom commented on #319
TODO:

- [ ] Address TODO in ProportionBarNode.js
- [ ] Address TODO in GenePair.js
- [ ] Inspect all occurrences of "naturalSelectionStrings."
- [ ] Inspect all occurrences of ".text ="

[2022-08-28 02:36] kathy-phet commented on #320
👍🏼

[2022-08-29 17:58] pixelzoom opened #322 "Instrument all Text and RichText instances"
Related to dynamic local in #319 ...

Instrument all Text and RichText instances so that we have linked elements for dynamic strings.  (We currently have some Text/RichText instances that were not instrumented.)

[2022-08-29 18:01] pixelzoom commented on #322
This will be handled in https://github.com/phetsims/natural-selection/issues/319, where I've added a checklist item. Closing.

[2022-08-29 18:01] #322 closed

[2022-08-29 23:21] pixelzoom opened #323 "PhET-iO design review for 1.5 release"
#319 (add support for dynamic locale) is requiring a large number of API changes.  And there are many API changes and additions that have been added to common code (e.g. Preferences dialog).  It's impossible for me to enumerate the changes.  So this sim will need a full PhET-iO design review by @amanda-phet and @kathy-phet.

Hold off on this until #319 and other PhET-iO development work has been c

[2022-08-29 23:22] pixelzoom opened #324 "Migration rules for 1.5 release"
#319 (add support for dynamic locale) is requiring a large number of API changes.   According to the PhET-iO spreadsheet, this sim needs to provide migration support from 1.4 to 1.5.  So migration rules will be needed.

[2022-08-30 01:26] pixelzoom commented on #319
Adding links from all Text nodes to their associated string Properties was a _huge_ task.  And I'm wondering about the value of doing this - it feels very over-engineered to me.  In any case, it's done.

I also replace `visiblePropertyOptions: { phetioReadOnly: true }` with the newer `phetioVisibilePropertyInstrumented: false` for cases where the `visibileProperty` does not need to be instrumented

[2022-08-30 01:28] pixelzoom commented on #323
@amanda-phet @kathy-phet the portion of the design related to support for dynamic local (https://github.com/phetsims/natural-selection/issues/319) is ready for review.

[2022-08-30 02:13] pixelzoom commented on #324
We need to discuss when this happens, who is doing the work, etc.  Should it be before/done after PhET-iO design review, or iteratively? Am I doing this with support from the PhET-iO team?

[2022-08-30 02:14] pixelzoom commented on #324
#319 (add support for dynamic locale) is completed. Design review #323 has not been done yet.

Ready to discuss with @samreid and @zepumph.

[2022-08-30 21:55] zepumph commented on #324
@samreid and I ran out of time for this today, but will look into it soon. We will likely need to add a couple more migration rules due to recent changes (removing the options dialog, etc).

[2022-09-01 20:23] pixelzoom commented on #323
In 9/1/2022 design meeting, @kathy-phet said that design review should preceed migration rules #324.  So this is ready for review.

[2022-09-01 20:25] pixelzoom commented on #324
At 9/1/2022 design meeting, @kathy-phet said that @samreid and @zepumph will be responsible for a first pass at migration rules.  This is to happen after design review #323.   But in the meantime, they might want to scope this issue by loading a 1.4 state file into master, and seeing how many API changes are reported.

[2022-09-01 21:42] samreid commented on #324
I tried this with a copy/paste of the Gravity and Orbits rules but was blocked by a "schema expected something that it didn't receive".

[2022-09-02 15:29] pixelzoom commented on #323
Related to https://github.com/phetsims/tandem/issues/267 ... Tandem names for all `Text` nodes now have a "Text" suffix, for example "labelText", "titleText".   This is an API change. See above commits.

[2022-09-03 01:11] samreid commented on #324
I added a rough draft of rules in the commit.  I attempted to factor out the shared rules between it and gravity and orbits, but ran into 2 problems:

* Should those be in phet-io-wrapper-sim-specific or phet-io-wrappers?  I wanted to add it to the latter since that is where the rules are defined, and there is no "repos/" folder for these.  However, having the rules cross repos would make it harde

[2022-09-03 01:30] samreid commented on #324
I wrote up notes on the rules that are deleted.  It's at a good point to discuss with @zepumph, possibly on Tuesday.

[2022-09-03 19:10] kathy-phet commented on #324
I don't think its a bad idea to get a handle on what is involved here, but as Chris mentioned, please do not put too much effort into Natural Selection specific rules until after the design review is complete. @arouinfar and I need to take a good look at the changes that happened since the last published version and where the simulation is now. We may decide its worth uninstrumenting some things,

[2022-09-06 17:49] zepumph commented on #324
Discussed with @samreid. On hold until we complete the natural selection design overhaul.

[2022-09-08 19:43] zepumph commented on #323
We looked here during PhET-iO meeting today to see where the progress currently was.

[2022-09-09 21:43] pixelzoom opened #325 "Horizontal separators in the control panel do not resize when locale is changed."
Related to #319 ...

Horizontal separators in the control panel do not resize when locale is changed. For example:

Population control panel:

<img width="208" alt="screenshot_1859" src="https://user-images.githubusercontent.com/3046552/189449940-b9c906ae-d7e9-41bb-83cd-f50b82a701b0.png">

Proportions control panel:

<img width="182" alt="screenshot_1858" src="https://user-images.githubusercontent

[2022-09-13 20:50] pixelzoom commented on #325
Done in the above commit. This was a little different than other sims, because the control panels are fixed width. So the `contentNode` VBox for each panel has a `preferredWidth`.

Closing.

[2022-09-13 20:50] #325 closed

[2022-09-13 20:59] pixelzoom commented on #309
Unassigning until this becomes a priority.

[2022-11-11 05:46] pixelzoom opened #326 "Complete conversion to TypeScript"
This sim is ~80% TypeScript, and it would be good to finish the conversion.

TODO:

- [x] Convert remaining .js files to .ts. All of the remaining .js files involve IOTypes, and I encountered problems when I attempted conversion. So I'll likely need some assistance from the PhET-iO sub team.
- [ ] Address `@ts-ignore` comments.
- [x] Address `eslint-disable` comments.

This does not block publicat

[2022-11-15 04:37] pixelzoom commented on #326
I received some assistance on IOTypes today from @samreid, thanks!

Created some new common-code issues:
* https://github.com/phetsims/tandem/issues/282
* https://github.com/phetsims/tandem/issues/283
* https://github.com/phetsims/tandem/issues/284

All files have been converted to TypeScript.  There are a handful of TODOs remaining.