[2020-08-14 00:14] pixelzoom opened #176 "add more shrubs"
At 8/13/2020 design meeting, I suggested adding more shrubs, to make food look more abundant when the "Limited Food" checkbox is not checked.   It's easy to do, so I'll take a shot at this, and we can adjust from there.

[2020-08-14 00:31] zepumph commented on #175
I have really no idea how, but after https://github.com/phetsims/axon/commit/b6e00c98864d4afef95252e9af0e5c2d49bf6846, I can't seem to reproduce this bug. It appears that NS is now fuzzing in phet-io brand. I'll wait to confirm with CT.

[2020-08-14 21:35] pixelzoom opened #177 "State wrapper indicates memory leaks"
Slack:

Michael Kauzmann  3:07 PM
I don't have time to investigate now, but it seems like the state wrapper is an awesome place to test for memory leaks for dynamic elements. In NS, I went to gen 5 with many bunnies, and then left the state wrapper running, continuing to set state every second, then I came back after an hour to the tab out of memory.

Chris Malley  3:32 PM
My memory tests in https

[2020-08-14 21:37] zepumph commented on #177
It isn't totally clear that this isn't an issue with the state wrapper itself, and not the sim. Unfortunately the dev tools crashed while I was trying to capture a heap snapshot.

[2020-08-14 21:38] pixelzoom commented on #177
@zepumph I'm not really clear on the test that you've described in https://github.com/phetsims/natural-selection/issues/177#issue-679413788.   I think I understand "went to gen 5 with many bunnies".  But unless you had something else set in the sim (environmental factors?) on generation 6, bunnies should have taken over the world 10 seconds later.  So I don't understand how coming back an hour lat

[2020-08-14 21:43] pixelzoom commented on #177
I should also note that:

* As reported in https://github.com/phetsims/natural-selection/issues/160, the State Wrapper has always performed poorly for this sim, mostly unusable.  @samreid basically said that we shouldn't worry about that, since State Wrapper is an internal PhET tool used to identify state save/restore problems.

* I have done memory testing with the standalone brand=phet-io versio

[2020-08-14 21:54] amanda-phet commented on #173
I like the new size, as well as the touch areas.

[2020-08-14 22:17] pixelzoom commented on #173
Excellent. Closing, since master will be used for the next prototype RC.

[2020-08-14 22:17] #173 closed

[2020-08-14 22:22] amanda-phet commented on #172
I am running https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.5/phet/natural-selection_en_phet.html?log. I have a recessive brown mutation that produced the first brown bunnies in generation 3. At generation 5, There are 17 white bunnies and 2 brown bunnies. It seems like the sim calculated (from the ranges specified) that it needed to kill 16 bunnies. Why did it kill 15 white and 1

[2020-08-14 22:24] amanda-phet commented on #172
`wolvesPercentToKill: [ 0.34, 0.4 ]`
`wolvesEnvironmentMultiplier: 2.3`

Did you copy-paste this? The code says [0.35, 0.4], as does the sim, so I want to confirm that this is a typo, not copy-pasted from somewhere.

[2020-08-14 22:31] pixelzoom commented on #172
Sorry, `wolvesPercentToKill: [ 0.34, 0.4 ]` is not correct, I typed it wrong when converting to `[min,max]` notation. I shouldn't just copy-pasted the code from NaturalSelectionQueryParameters.js:

[code]

[2020-08-14 22:36] pixelzoom commented on #172
I'll investigate https://github.com/phetsims/natural-selection/issues/172#issuecomment-674295662.  In the meantime, I've added the value of `wolvesPercentToKill` that is randomly selected to the log.  You'll now see a log message like:

`randomly selected 0.3627156637753883 from wolvesPercentToKill`

[2020-08-14 22:36] amanda-phet commented on #176
Thanks for taking a stab at it. I trust you will find a nice arrangement for the shrubs :)

[2020-08-14 22:39] pixelzoom commented on #169
As I did in https://github.com/phetsims/natural-selection/issues/172#issuecomment-674299093 for wolves, I've added logging to the `toughFoodPercentToKill` and `limitedFoodPercentToKill` values that are randomly chosen to the log. You'll see log messages like these:

`randomly selected 0.6919790166629384 from limitedFoodPercentToKill`

`randomly selected 0.5398062137886961 from toughFoodPercentToKi

[2020-08-14 22:40] amanda-phet commented on #114
This is looking a lot better on my color-blindness plug-in, in addition to illustrator. I think these colors are suitable now for color-blind individuals.

[2020-08-14 22:40] #114 closed

[2020-08-14 22:46] amanda-phet commented on #174
I agree, I think an additional range that goes to 700 would make sense, with tick marks at every 100. Thanks for noticing that and requesting a review.

[2020-08-14 22:53] pixelzoom commented on #172
Re https://github.com/phetsims/natural-selection/issues/172#issuecomment-674295662... There were indeed 2 problems, both corrected in the above commit.

(1) The same "total bunnies" was not being used for both phenotype.  The total used for brown bunnies was the total after eating white bunnies.  I neglected to keep the total before any bunnies were eaten.

(2) If the population whose fur color ma

[2020-08-14 22:55] pixelzoom commented on #175
@zepumph is this an error that's possible to hit in brand=phet?  If not, then this issue isn't blocking, because the prototype is brand=phet only.

[2020-08-14 22:58] pixelzoom commented on #174
Done in master, screenshot below.  @amanda-phet please review, close if this looks OK.

<img width="567" alt="screenshot_487" src="https://user-images.githubusercontent.com/3046552/90298384-59e23100-de4f-11ea-908b-3d158490597e.png">

[2020-08-14 23:00] pixelzoom commented on #174
Whoops, closed accidentally.

[2020-08-14 23:34] zepumph commented on #175
I think it would have only been possible in phet-io brand. Anywho, this is fixed, and CT is clear since yesterday. Closing

[2020-08-14 23:34] #175 closed

[2020-08-17 13:21] samreid opened #178 "branch: axon-array"
For https://github.com/phetsims/axon/issues/314, I converted Natural Selection to use AxonArray instead of ObservableArray, including phetioState.  It appears to be working properly in the state wrapper.

[2020-08-17 13:38] samreid commented on #178
I committed the branch and it is ready for review.  To explain context: I tried to use Charges and Fields as a test case for AxonArray state, but it wasn't a good use case, so I switched to Natural Selection instead.  I added 4 methods to AxonArray for compatibility with ObservableArray, so most of the usage in Natural Selection was straightforward.  Next step for this issue is to review the chang

[2020-08-17 22:49] pixelzoom commented on #176
Ready for review by @amanda-phet.

Rather than attempting to guess at people's opinions (or even mine!) about number of shrubs, and come up with lots more fixed positions for shrubs, here's what I did:

* I added query parameter `shrubsRange=min,max` to specify the number of shrubs, where min is for limited food and max is for abundant food.  The default is `shrubsRange=10,75`.   I like this defau

[2020-08-17 22:56] pixelzoom commented on #116
In https://github.com/phetsims/natural-selection/issues/116#issuecomment-655713562 @ariel-phet said

Acknowledgement that we have missed that milestone.  @amanda-phet @ariel-phet @kathy-phet Do we want to set a new milestone?

[2020-08-17 23:19] pixelzoom commented on #178
I review these changes. Everything appears to work, and I like this direction.

Observations related to upcoming publication of this sim:

* This changes the PhET-iO API.   Instead of arrays of type `ObservableArrayIO` they are of type `AxonArrayStateIO`.  That needs to be approved by the NS design team.

* `AxonArrayStateIO` is a new pattern (delegate) for instrumenting a class that can't use inh

[2020-08-18 01:00] samreid commented on #178
I'll discuss with the PhET-iO subteam on Wednesday about `AxonArrayStateIO`.  I trust your judgment about timing for this simulation.

One possibility would be to wait until we have steady SHAs for the NS RC or a version 1.0, then to work on NS while it is fresh in our minds (instead of having another sim be the first use case).

[2020-08-18 01:09] pixelzoom commented on #178
OK.  But like I said, NS performance is much more important.  If you have limited time, I'd rather see progress on PhET-iO optimizations related to https://github.com/phetsims/natural-selection/issues/140  and https://github.com/phetsims/natural-selection/issues/60.

[2020-08-18 01:12] samreid commented on #178
Thanks, I'll make sure those are on the agenda at a higher priority.

[2020-08-18 17:24] pixelzoom opened #179 "press and hold the fast-forward button was not discovered"
In interviews, students did not discover that they could press and hold the fast-forward button.  Perhaps we should switch to Fast/Normal radio buttons? Let's discuss.

[2020-08-18 17:32] pixelzoom commented on #179
8/18/2020 design meeting:

I'll create a dev version that uses TimeControlNode with "Fast" and "Normal" radio buttons.  So that team can play around with it.

[2020-08-18 18:22] amanda-phet opened #180 "Feature PhET-iO elements"
When completing #5  we identified elements that should be featured (and some that should not be featured).

[2020-08-18 18:26] amanda-phet opened #181 "PhET-iO elements that should be read-only"
Found when completing #5

- [x] `naturalSelection.labScreen.view.graphs.proportionsNode.visibleProperty`

- [x] `naturalSelection.labScreen.view.graphs.proportionsNode.proportionsGraphNode.earsColumn.endBarNode.mutantPercentageNode.textProperty`
- [x] `naturalSelection.labScreen.view.graphs.proportionsNode.proportionsGraphNode.earsColumn.endBarNode.normalPercentageNode.textProperty`
- [x] `natural

[2020-08-18 18:27] amanda-phet opened #182 "Dynamic layout bug in Proportions graph"
Found when completing #5

When I toggle `naturalSelection.labScreen.view.graphs.proportionsNode.proportionsGraphNode.generationSpinner.visibleProperty` in studio, the layout of the proportions graph gets really funky.

[2020-08-18 18:36] amanda-phet commented on #180
Questions to discuss with @arouinfar :

1. Should we feature xRangeProperty and yRangeProperty? Not sure it is useful for someone to know what the domain and range of the graph are that a student is viewing.
2. Featuring `naturalSelection.labScreen.model.graphs.proportionsModel.previousCounts` seems like a similar question. Are we anting to feature things that demonstrate how a student is navigati

[2020-08-18 18:57] pixelzoom commented on #182
Reproduced in master.

1. Start the sim in Studio
2. Go to Lab screen
3. Press "Add a Mate" button
4. Toggle `generationSpinner.visibleProperty` off then on.  See screenshot below.

<img width="968" alt="screenshot_491" src="https://user-images.githubusercontent.com/3046552/90553782-2c003380-e152-11ea-8720-db14a47c4ed8.png">

[2020-08-18 19:12] pixelzoom opened #183 "revise the Food model"
8/18/20 design meeting: @amanda-phet @kathy-phet @ariel-phet @oliver-phet MH @pixelzoom

Change requests for the food model:

* Swap wolves and food -- apply wolves at 4:00, food at 8:00
* When food is applied, do tough food first, then limited food
* No change to the tough food model (though @amanda-phet may revise parameter value).
* Limited food will reduce the population to the carrying capaci

[2020-08-18 20:15] pixelzoom commented on #183
@amanda-phet and I discussed the issue of recessive mutants via Zoom.  Recessive mutants are currently excluded from application of environmental factors. This can lead to incorrect conclusions, and odd behavior if recessive mutants are the sole remaining bunnies.  We decided that this behavior is incorrect.  Recessive mutants can be favored during mating, to make them appear in the phenotype more

[2020-08-18 20:18] pixelzoom opened #184 "recessive mutations should not be favored by environmental factors"
This came up in the context of https://github.com/phetsims/natural-selection/issues/183, revising the Food model.

Recessive mutants are currently excluded from application of environmental factors. This can lead to incorrect conclusions, and odd behavior if recessive mutants are the sole remaining bunnies.

@amanda-phet and I discussed on Zoom, and decided that this behavior is incorrect. Recessi

[2020-08-18 20:19] pixelzoom commented on #183
Moving the recessive mutant change to https://github.com/phetsims/natural-selection/issues/184.

[2020-08-18 20:20] pixelzoom commented on #169
In 8/18/2020 design meeting, we devised major changes for the food model.  So this issue will be closed because it is now irrelevant.  The new food model will be reviewed in https://github.com/phetsims/natural-selection/issues/183.

[2020-08-18 20:20] #169 closed

[2020-08-18 20:59] pixelzoom commented on #184
Addressed in the above commits by changing the implementation of BunnyCollection `getSelectionCandidates`. It now returns the complete set of live bunnies, in random order.

[2020-08-18 22:33] pixelzoom commented on #182
The standard way of keeping a Node centered is to listen to its layoutBoundProperty.  In this case in PopulationGraphNode.js, we keep the graph's content centered on its  background like this:

[code]

@jonathanolson and I investigated this together on Zoom, and discovered that there's a general problem with bounds computation in scenery's Node.js.  It wasn't obvious what the best way to address i

[2020-08-18 22:35] pixelzoom commented on #182
This issue is not blocking for the prototype, because it only manifests when changing `generationSpinner.visibleProperty` via PhET-iO or Studio.

[2020-08-18 22:38] pixelzoom commented on #172
@amanda-phet FYI over in #183, I changed the name of query parameter `wolvesPercentToKill` to `wolvesPercentToEatRange`.   Anything that is a range is supposed to end in a "Range" suffix, so this would have failed code review.  The value is unchanged:

[code]

[2020-08-18 22:44] pixelzoom commented on #184
@amanda-phet this is ready for review.  Unfortunately there's nothing specific to review -- just apply recessive mutations and environmental factors together, and be on the lookout for any undesirable behavior.  You can review in master or [1.1.0-dev.9](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.9/phet/natural-selection_en_phet.html).

[2020-08-18 22:53] pixelzoom commented on #183
@amanda-phet this is ready for review in master or [1.1.0-dev.9](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.9/phet/natural-selection_en_phet.html).  You'll likely want to tweak some parameters, then we can have the rest of the team take a look.

Here are the relevant query parameters. `limitedFoodPopulationRange` is new, with the default that was suggested by @kathy-phet during

[2020-08-18 22:56] pixelzoom commented on #182
On hold until phetsims/scenery#1071 is addressed.

[2020-08-18 23:09] pixelzoom commented on #181
Requests are addressed in the above commit.

Re `*.endBarNode.normalPercentageNode` and `*.endBarNode.mutantPercentageNode`...  Rather than just make their `textProperty` read-only, I made those elements read-only.  This makes all of their child elements (including `textProperty`) read-only, which seemed appropriate.  The other child elements are:

`pickableProperty` - irrelevant because there are

[2020-08-18 23:10] pixelzoom commented on #116
8/18/2020 design meeting: The new milestone for the prototype is "sometime next week if possible".

[2020-08-18 23:44] pixelzoom opened #185 "problems with fastForwardScaleProperty"
@amanda-phet brought the `fastForwardScaleProperty` element to my attention. It appears in the model of both screens:

`naturalSelection.introScreen.model.fastForwardScaleProperty`
`naturalSelection.labScreen.model.fastForwardScaleProperty`

There are a couple of problems with this:

(1) It should be named `timeScaleProperty`, because it's the value that's currently being used to scale time. When

[2020-08-18 23:49] pixelzoom commented on #185
In the above commits, I renamed to `timeScaleProperty`, update the doc, and made it read-only.  Screenshot below of what it looks like. When you press/release the fast-forward button, you can see the value change. @amanda-phet please review in master.

<img width="967" alt="screenshot_493" src="https://user-images.githubusercontent.com/3046552/90576282-f885cf00-e17a-11ea-8287-1b4e7e96827c.png">

[2020-08-19 00:41] pixelzoom commented on #179
While working on this, I realized that there's no reason why NS shouldn't be using the same model as sims that use TimeControlNode.  That is: `{EnumerationProperty.<TimeSpeed> timeSpeedProperty`.  So  I have converted the model to `timeSpeedProperty` in the above commit.   It looks like this in Studio, and makes it trivial to switch between TimeControlNode and other time controls.

<img width="969

[2020-08-19 00:42] pixelzoom commented on #185
This issue is now moot, since I've converted to using the same model that sims use for scenery-phet.TimeControlNode. See https://github.com/phetsims/natural-selection/issues/179#issuecomment-675787118. Closing.

[2020-08-19 00:42] #185 closed

[2020-08-19 01:11] pixelzoom commented on #179
TimeControlNode requires a step-forward button, and we don't have room for one.  So I had to add an option to TimeControlNode to make it optional, similar to the option for TimeControlNode's step-backward button.

[2020-08-19 01:16] pixelzoom commented on #179
This unfortunately turned into a lot of work that I couldn't foresee until I was way into it.  Model changes, PhET-iO changes, enhancements to TimeControlNode....

[1.1.0-dev.10](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.10/phet/natural-selection_en_phet.html) has the press-and-hold fast-forward button.

[1.1.0-dev.11](https://phet-dev.colorado.edu/html/natural-selection/1.1.0

[2020-08-19 01:18] pixelzoom commented on #179
I'm also wondering if the "Normal" and "Fast" buttons set up an expectation that _everytime_ (including motion of bunnies and wolves) will move faster.  We very deliberately made the fast-forward button apply to the generation clock, and not motion.

[2020-08-19 02:27] amanda-phet commented on #179
I vaguely remember having this discussion way back when we made the custom FF button. Sorry that ended up being extra common code work!

I can see benefits to both versions. I played with both for a while (so many other fun new things to play with!) and noticed that in 1.1.0-dev.11 I often left it in "Fast" mode, because why not. I'm not sure if that's a problem, but once I had it in fast I didn't

[2020-08-19 12:17] samreid opened #186 "Casing problem for bunnyImageMap.js"
CT reported this problem:

[code]

The build runs fine on my machine (Mac), but CT runs on a case-sensitive platform, and hence filename `BunnyImageMap.js` cannot be looked up by `bunnyImageMap.js`.  Based on usages, it seems like `BunnyImageMap.js` was intended, but I'm not 100% sure about that.

Assigning to @pixelzoom for now, but I'm happy to make this change if you wish.

[2020-08-19 15:03] pixelzoom commented on #186
Hmmm... Not sure how that happened. BunnySpriteMap.js was renamed to BunnyImageMap.js.  It looks like the left side of each `import` was renamed correctly (`BunnyImageMap`), but the right side was lowercased (`bunnyImageMap`).  Fixed in the above commit.  Thanks for reporting.

[2020-08-19 15:03] #186 closed

[2020-08-19 15:08] pixelzoom commented on #182
@jonathanolson added a workaround for this in https://github.com/phetsims/scenery/commit/414d42199d1e05b7d6d556462e908b006e623033.  So this specific problem is resolved and this issue can be closed.  The general problem is still unresolved, tracking in phetsims/scenery#1071.

@amanda-phet please verify in master.

[2020-08-19 15:11] pixelzoom commented on #180
The only one of the above questions that deals with something other than "featured" is:

There's no technical reason why these checkboxes need to be read-only.  The checkbox itself is currently `phetioReadOnly: true`, which makes all of its child elements read-only.

[2020-08-19 15:54] pixelzoom commented on #176
I'm going to mark this as blocking the prototype publication.  I think that our new model for limited food (#183) will feel much better with more shrubs.  And I'm not sure if the current default (`shrubsRange=10,75`) is acceptable for the prototype.

[2020-08-19 16:09] pixelzoom opened #187 "rename Properties related to time and generations"
Preparing for code review. This is an internal code issue, and has no implications for the UI.  It will affect the PhET-iO API.

There are a confusing number of Properties in the code that have "time" and "generation" in their names, including:

[code]

What's confusing is:
* whether the value is an integer or decimal
* whether the value pertains to the clock or something else

What needs to be co

[2020-08-19 16:21] samreid commented on #140
We recorded the "start over" time taking around 600ms on my Mac/Chrome in standalone, likely from the fixes in axon mentioned above.  There may be other performance improvements to be made in other issues, but for the "Start Over", is this acceptable?  What are we targeting and what is the slowest platform that needs to attain that speed?

[2020-08-19 16:23] samreid commented on #60
https://github.com/phetsims/tandem/issues/200 has been addressed and the time for `TinyEmitter.removeListener` is close to 0%.  @pixelzoom can you please see if this is fast enough or if we should look for the next big thing?

[2020-08-19 16:33] pixelzoom commented on #140
My most recent tests are shown in https://github.com/phetsims/natural-selection/issues/140#issuecomment-672168999.

Acceptable performance has been defined as < 1 second response for the "Start Over" button.

On iPad, brand=phet-io is ~10x slower than brand=phet, and it's barely acceptable.

In tests for performance of bunny creation in #60, @KatieWoe reported that "Start Over" button was a signif

[2020-08-19 16:36] pixelzoom commented on #140
In https://github.com/phetsims/natural-selection/issues/140#issuecomment-672186271, @samreid and @zepumph identified 2 issue that could improve performance here:

So to be clear...  This issue is on-hold because I'm waiting for an update on those issues, or any other performance improvements that you think might be relevant to this issue.

[2020-08-19 16:46] pixelzoom commented on #140
Zoom call with @samreid and @zepumph:

phetsims/axon#316 and phetsims/axon#317 are in review and ready to test.  So I should run performance tests.

[2020-08-19 18:21] pixelzoom commented on #187
I'm really glad that I did this.  The code is now much easier to understand.

Here are the changes to phetioIDs, with their documentation. Red is old value, green is new value.

[code]

Notes about the above:
* The names of "generation" Properties are now clearly qualified: i.e.`clockGenerationProperty`, `dataProbeGenerationProperty`, `proportionsModelGenerationProperty`.
* Documentation indicates

[2020-08-19 19:02] samreid commented on #140
I ran this on my iPad7 with a built version, running standalone in PhET-iO brand, and ?showTimes, and it reported:

time to mate: 348ms
time to Start Over: 184ms

[2020-08-19 19:52] zepumph commented on #140
On a build phet-io standalone off of master on an iPad7:

to go to the 6th gen: "time to mate = 547 ms"
startover: "time to Start Over = 210 ms".

[2020-08-19 20:00] pixelzoom commented on #60
@samreid reported performance tests for this issue in https://github.com/phetsims/natural-selection/issues/140#issuecomment-676604571:

time to Start Over: 184ms

time to Start over: 738ms

@zepumph reported performance tests for this issue in https://github.com/phetsims/natural-selection/issues/140#issuecomment-676604571:

startover: "time to Start Over = 210 ms".

383ms
140ms

296ms
137ms

[2020-08-19 20:01] samreid commented on #178
@zepumph @chrisklus and I discussed this today.  @zepumph thought it could just take 1/4 of a day to try porting PhetioObject to be a mixin.  I was skeptical that it could be done so quickly, but even if it could be done quickly, I'm hesitant to use mixins instead of standard inheritance because static analysis doesn't work for mixins (even with ES6 pattern).  For instance, autocomplete, navigatio

[2020-08-19 20:15] pixelzoom commented on #60
Following the testing steps in https://github.com/phetsims/natural-selection/issues/60#issuecomment-654325501...

For `brand=phet`, https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.12/phet/natural-selection_en_phet.html?showTimes&secondsPerGeneration=1:

| test device | OS | browser | times (ms) | average (ms) |
|:---|:---|:---| ---:|---:|
PixelZoom - iPad6 | iOS 13.6.1 | Safari 13 |

[2020-08-19 20:16] pixelzoom commented on #140
Following the testing steps in https://github.com/phetsims/natural-selection/issues/140#issuecomment-665288406...

For `brand=phet`, https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.12/phet/natural-selection_en_phet.html?showTimes&secondsPerGeneration=1:

| test device | OS | browser | times (ms) | average (ms) | previous average (ms) |
|:---|:---|:---| ---:|---:|---:|
PixelZoom - iP

[2020-08-19 20:40] pixelzoom commented on #60
So based on the tests from @samreid @zepumph and me above, it looks like mating performance is acceptable on these devices, with the possible exception of @samreid's Lenovo N23 Yoga Chromebook (1227 ms).

@amanda-phet @ariel-phet while we established that < 1 second was acceptable performance for the "Start Over" button in #140, we have never established what is "acceptable" for the pause that occ

[2020-08-19 20:40] pixelzoom commented on #140
So based on the tests from @samreid @zepumph and me above, it looks like "Start Over" is acceptable on these devices.

Next step is to test on Lovelace Chromebook and any other test devices known to be "performance challenged".  @ariel-phet what is the availability of test resources for this task?

[2020-08-19 21:14] pixelzoom commented on #178
Good points about the disadvantages of mixins.  I've copied that info to https://github.com/phetsims/axon/issues/314#issuecomment-676704021, so it's available in the issue where you're working on that aspect of AxonArray.

Re how to move forward with this branch...  I discussed with @ariel-phet and he agreed that it would be best to defer use of AxonArray in NS, for the reasons listed in https://g

[2020-08-19 21:29] ariel-phet commented on #140
@pixelzoom I think we can have @phet-steele do a chromebook test. Considering the vast improvements your are seeing, I think if that test is solid, we can call it good.

[2020-08-19 21:36] ariel-phet commented on #60
@phet-steele please perform this test as well

@pixelzoom I think we can live with a fairly long pause for mating. Certainly what I am seeing on my own device is not even noticeable. If an old chromebook has a pause of 1 second or so between generations, I don't think it really does any pedagogical damage.

[2020-08-19 22:04] phet-steele commented on #140
Following the testing steps in https://github.com/phetsims/natural-selection/issues/140#issuecomment-665288406 with 1.1.0-dev.12 ...

For `brand=phet`, https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.12/phet/natural-selection_en_phet.html?showTimes&secondsPerGeneration=1

| test device | OS | browser | times (ms) | average (ms) |
|:---|:---|:---| ---:|---:|
Feynman - Chromebook | 13

[2020-08-19 22:11] phet-steele commented on #60
Please see https://github.com/phetsims/natural-selection/issues/140#issuecomment-676747493 for results of this test, but also I will just copy the results here to save everyone from clicking a link:

Following the testing steps in https://github.com/phetsims/natural-selection/issues/140#issuecomment-665288406 with 1.1.0-dev.12 ...

For `brand=phet`, https://phet-dev.colorado.edu/html/natural-selec

[2020-08-19 23:10] samreid commented on #178
It has been a useful test harness as I make changes to AxonArray.  I recommend leaving it until we have another use case, then I agree it can be deleted.

[2020-08-20 00:06] pixelzoom opened #188 "instrument startCountsProperty and endCountsProperty ?"
In ProportionsModel, I'm wondering if these Properties should be instrumented?

[code]

[2020-08-20 02:48] pixelzoom commented on #151
Done, closing.

[2020-08-20 03:20] pixelzoom commented on #60
In the above commit, I made the "time to mate" display a permanent feature of the sim, enabled via `?showTimes`. I had been planning to remove it, but it seems like this could be useful in the future.

[2020-08-20 03:20] pixelzoom commented on #140
In the above commit, I made the "time to Start Over" display a permanent feature of the sim, enabled via `?showTimes`. I had been planning to remove it, but it seems like this could be useful in the future.

[2020-08-20 03:24] pixelzoom opened #189 "memory test for brand=phet"
This is one of the "standard GitHub issues" required by the code-review checklist.

[2020-08-20 03:24] pixelzoom opened #190 "memory test for brand=phet-io"
This is one of the "standard GitHub issues" required by the code-review checklist.

[2020-08-20 03:25] pixelzoom opened #191 "performance sign-off"
This is listed as a "standard GitHub issue" in the code-review checklist.  The lead designer must sign off on performance.

[2020-08-20 03:26] pixelzoom opened #192 "pointer areas sign-off"
This is listed as a "standard GitHub issue" in the code-review checklist. The lead designer must sign off on pointer areas.

[2020-08-20 03:27] pixelzoom opened #193 "self code review"
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️
* Mark items that are not applicable with "N/A"

## GitHub Issues

The following standard GitHub issues should exist. If any of these issues is missing, or have not been completed, pause code review until the issues have been created and addressed by the responsible dev.

GitHub issues should e

[2020-08-20 03:30] pixelzoom commented on #191
@amanda-phet this is ready for review. The screenshot below shows pointer areas for the _Lab_ screen, _Intro_ screen is identical.

Uniform width for checkbox pointer areas is not supported by common-code, and imo not desirable. I also don't think it's desirable to have uniform widths for radio buttons, but we're currently stuck with that in common-code.

<img width="1087" alt="screenshot_498" src

[2020-08-20 04:03] pixelzoom opened #194 "Proportions graph needs adjustment for ?stringTest=long"
Proportions graph needs adjustment for `?stringTest=long`:

<img width="832" alt="screenshot_499" src="https://user-images.githubusercontent.com/3046552/90715522-bab2a480-e267-11ea-815f-e78b14d647d1.png">

[2020-08-20 04:30] pixelzoom commented on #194
Fixed, closing.

[2020-08-20 04:30] #194 closed

[2020-08-20 16:03] pixelzoom commented on #190
Test configuration:

* local build of natural-selection dc5588efe70c5a3f1cb28000b81c6d57e6e6f264, built using `grunt --minify.mangle=false`
* macOS 10.15.6
* Chrome 84.0.4147.135

Test procedure:

1. Run the sim with `secondsPerGeneration=1`
2. Go to _Lab_ screen
3. In the "Add Mutations" panel, press the dominant buttons for Fur, Ears, Teeth
4. In the "Environmental Factors" panel, check the "Lim

[2020-08-20 16:05] pixelzoom commented on #189
Test configuration:

* local build of natural-selection dc5588efe70c5a3f1cb28000b81c6d57e6e6f264, built using `grunt --minify.mangle=false`
* macOS 10.15.6
* Chrome 84.0.4147.135

Test procedure:

1. Run the sim with `secondsPerGeneration=1`
2. Go to _Lab_ screen
3. In the "Add Mutations" panel, press the dominant buttons for Fur, Ears, Teeth
4. In the "Environmental Factors" panel, check the "Lim

[2020-08-20 17:14] pixelzoom commented on #189
Test results with [1.1.0-dev.13 brand=phet](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.13/phet/natural-selection_en_phet.html), built using `grunt dev --brands=phet,phet-io --minify.mangle=false`

| Generation | Heap Size (MB) |
| --- | --- |
| 0 |  |
| 100 |  |
| 200 |  |
| 300 |  |
| 400 |  |
| 500 |  |
| 600 | |
| 700 | |
| 800 | |
| 900 | |
| 1000 | |
| 0 | |

[2020-08-20 17:46] pixelzoom opened #195 "Teacher Tips"
This issue is for collecting things that could be in Teacher Tips.

[2020-08-20 17:54] pixelzoom commented on #178
8/20/2020 phet-io meeting:

We discussed whether AxonArray should be used in the first release of NS.  @kathy-phet confirmed "no".

[2020-08-20 18:09] pixelzoom opened #196 "initial y-axis range for Population graph"
The initial y-axis range for the Population graph is [0,70].  Is that the best initial range fo the HTML5 version? (The initial range in the Java version was [0,50].)

For example... If I start by checking "Limited Food" and press "Add a Mate", all of the data points after generation 4 are > y=70, so "Zoom out to see data" is displayed.  In that case, [0,350] would be the best range.

[2020-08-20 18:10] pixelzoom opened #197 "initial y-axis range for Population graph"
The initial y-axis range for the Population graph is [0,70].  Is that the best initial range fo the HTML5 version? (The initial range in the Java version was [0,50].)

For example... If I start by checking "Limited Food" and press "Add a Mate", all of the data points after generation 4 are > y=70, so "Zoom out to see data" is displayed.   In that case, [0,350] would be the best range.

[2020-08-20 18:11] pixelzoom commented on #197
Duplicate of #196 (not sure how that happened!)

[2020-08-20 18:11] #197 closed

[2020-08-20 18:15] pixelzoom commented on #195
Questions from the PhET-iO client, with @kathy-phet's responses, which might might be appropriate for Teacher Tips:

Q: For the pedigree, I've typically taught students to write the dominant allele first. Some of the bunnies had them listed first but others second. I was just wondering why that was.
A: This is always written as allele from the left bunny and then the right bunny - so you can track

[2020-08-20 18:24] amanda-phet commented on #195
From the design doc:

Model simplification: limited food does not select for a specific gene or genotype.
Query parameter: startup population (issue #9), must be less than 1000 bunnies!
Query parameter: hide alleles

[2020-08-20 18:31] pixelzoom commented on #195
We lowered this to 750.  See query parameter `maxPopulation`.

[2020-08-20 18:41] amanda-phet commented on #196
I don't see a problem with the data going off the scale in 4 generations. Especially since we have such helpful feedback about zooming out!

If anything, I'd start more zoomed in so it's easier to see the data to start, but I think [0,70] is working just fine.

[2020-08-20 18:41] #196 closed

[2020-08-20 18:45] amanda-phet commented on #174
Looks good. Thanks for the suggestions.

[2020-08-20 18:45] #174 closed

[2020-08-20 18:50] amanda-phet commented on #60
The absolute max time for mating should be capped at 3.3 seconds, right? That is the time that wolves come out, and we would need time to complete mating before that happens. To be safe, I think by 1.67 seconds the mating needs to be complete, and ideally I think 1s should be our target (for a worst-case scenario).

Can someone test Lovelace, or is Feynman "performance challenged" enough to sign o

[2020-08-20 18:56] pixelzoom commented on #60
@amanda-phet I don't follow on how the cap is relevant to when the wolves come out.  When the sim pauses to mate, time stops, it doesn't continue.  So what's relevant is how long  a pause we are willing to tolerate.

[2020-08-20 19:09] amanda-phet commented on #172
I think this is all looking good now.

If we change the percentages, we will also want to update model.md. But I think the current percentages are working well.

[2020-08-20 19:12] amanda-phet commented on #60
Thanks for clarifying. I wondered if that was the case, but couldn't really test it since the performance has improved so much since I last saw the lag. I just thought I remembered the pause happening, and then seeing a "jump" ahead in the clock to catch up. So I wouldn't want that jump ahead to be too far. It's a bit fuzzy since I haven't seen the lag in a while.

So, in the case when the sim pau

[2020-08-20 19:19] pixelzoom commented on #60
Ah, you know... @amanda-phet might be right about this.  If the sim pauses, we could get a really big `dt` from the browser that would cause the sim to jump ahead.  All environmental factors will still get applied correctly, but you might not see the wolves roaming around for their full length of time.

Perhaps we should limit dt so that it's never greater than `secondsPerGeneration/N` where we de

[2020-08-20 19:21] pixelzoom commented on #60
Never mind - we're already doing this, with N = 10.   See `GenerationClock.constrainDt`.

[2020-08-20 19:29] amanda-phet commented on #176
I think `shrubsRange=10,75` is the right range. I tried a few different ranges and that just seemed to work well!

`75 shrubs randomly placed using seed 0.3183031889262133` looks good to me.

![image](https://user-images.githubusercontent.com/7852916/90816050-e033c280-e2e8-11ea-8c28-1bf9d8bd7799.png)

![image](https://user-images.githubusercontent.com/7852916/90816242-2e48c600-e2e9-11ea-9737-7b3fa

[2020-08-20 19:34] amanda-phet commented on #176
Since I couldn't see tough food with the above seed (since it was used in the intro screen), I wanted to provide more options here. I also like this one.

`75 shrubs randomly placed using seed 0.5853265884696416`
![image](https://user-images.githubusercontent.com/7852916/90816563-b3cc7600-e2e9-11ea-96dc-5d3c564c777e.png)

![image](https://user-images.githubusercontent.com/7852916/90816583-bdee7480

[2020-08-20 19:35] amanda-phet commented on #176
@pixelzoom please go ahead and implement the seed in my most recent comment.

[2020-08-20 19:40] pixelzoom commented on #140
"Feynman - Chromebook" used in @phet-steele's tests is an Acer CB5-312T series, Model # N16Q10, aka Acer Chromebook 13. https://www.acer.com/ac/en/AE/content/model/NX.GL4EM.002, 2.1GHz Quad-core with 13.3" screen.

[2020-08-20 20:12] amanda-phet commented on #180
8/20/20 Discussion

1. No, we don't need to feature these.
2. Each element in that array is the counts for that generation. This seems like data someone might pull into a wrapper. Leaning towards featuring `naturalSelection.labScreen.model.graphs.proportionsModel.previousCounts`. Perhaps we should put some documentation about ObservableArray into the general PhET-iO guide, not the sim-specific one

[2020-08-20 20:16] pixelzoom opened #198 "Revise PhET-iO documentation for proportionsModel.previousCounts"
From https://github.com/phetsims/natural-selection/issues/180

[2020-08-20 20:21] amanda-phet opened #199 "Opt-out of default layout behavior for Proportions graph"
Dynamic layout issue with Proportions graph. Right now, if you hide the proportionsPanel, the proportionsGraphNode shifts over, but that doesn't seem to happen with populationGraphNode and pedigreeGraphNode.

Please override the default layout behavior.

[2020-08-20 20:24] amanda-phet commented on #5
Review is complete, and questions have been discussed in the referenced issues.

[2020-08-20 20:24] amanda-phet commented on #199
#5

[2020-08-20 20:27] #5 closed

[2020-08-20 20:27] pixelzoom opened #200 "Instrument Emitters that are related to dialogs"
From #180:

So what we really want to know is when bunnies have died, taken over the world, or memory limit has been reached. We don't particularly care if the dialogs are showing.  And the best way to do this is to listen to the same Emitter that causes the dialog to open.

[2020-08-20 20:29] pixelzoom opened #201 "Make column checkboxes readOnly: false in Proportions"
From #180:

[2020-08-20 20:33] pixelzoom commented on #180
I've created separate issues (see above) for all of the things that I need to do.  So @amanda-phet you can close this issue when your tasks are completed.

[2020-08-20 20:34] amanda-phet commented on #179
8/20/20 design meeting:

This work led to a better PhET-iO interface and model change, but we'd still like to keep the FF-button (not the radio buttons).  Over to @pixelzoom to finalize the code.

[2020-08-20 20:38] pixelzoom opened #202 "Add PhET-iO documentation for populationModel.dataPoints children"
The children of `naturalSelection.introScreen.model.graphs.populationModel.dataPoints.brownFurPoints` need `phetioDocumentation`:

<img width="187" alt="screenshot_503" src="https://user-images.githubusercontent.com/3046552/90823102-acf63100-e2f2-11ea-9dec-51616d0a26c0.png">

[2020-08-20 20:39] pixelzoom commented on #179
Cleanup is done. Closing.

[2020-08-20 20:39] #179 closed

[2020-08-20 20:41] pixelzoom commented on #195
Note the the fast-forward button is press-and-hold.

[2020-08-20 20:42] pixelzoom commented on #179
Just to document some reasons why we went with the FF button...

* If student don't find it, it doesn't compromise usability or learning goals.
* In a classroom, someone is likely to find it and spread the word.
* We can describe the FF button in Teacher Tips (noted in #195)
* Students are apt to leave the sim sim in "Fast" mode, which has more problems.

[2020-08-20 20:46] pixelzoom commented on #199
Done in the above commit.  @amanda-phet please verify in master.  In Studio, navigate to `naturalSelection.labScreen.view.graphs.proportionsNode.proportionsPanel.visibleProperty` and toggle it.

[2020-08-20 20:51] amanda-phet commented on #60
OK, so I think my concern is not really a concern.

How long of a pause are we willing to tolerate? How about 1s? Why not be consistent with the reset-all button.

[2020-08-20 20:57] pixelzoom commented on #60
In the case of the "Start Over" button, the user is directly interacting with the thing that is causing the delay.  So laggy responsiveness is less tolerable.  For mating, the user may actually be passively watching (or interacting with something else), so we can get away with a longer pause.   1s may be a little more difficult to hit for this feature, but we seem to be pretty close on @phet-steel

[2020-08-20 20:58] pixelzoom commented on #202
I made a first pass at this, for example:

<img width="741" alt="screenshot_504" src="https://user-images.githubusercontent.com/3046552/90825056-a0270c80-e2f5-11ea-8202-7ed68ff0e931.png">

@amanda-phet @kathy-phet let me know how you'd like to revise.

[2020-08-20 21:02] pixelzoom commented on #198
I made a minor improvement:

<img width="672" alt="screenshot_506" src="https://user-images.githubusercontent.com/3046552/90825358-09a71b00-e2f6-11ea-89f8-bb02bb1ff831.png">

@amanda-phet @kathy-phet let me know how you'd like to revise.  Reminder that `previousCounts` does not include counts for the current generation.  And let's try not to put too much general info about ObservableArray here, si

[2020-08-20 21:06] pixelzoom commented on #201
Done in the above commit. @amanda-phet please review in master.  In Studio, navigate to:

[code]

[2020-08-20 21:31] pixelzoom commented on #200
I confirmed that clients can listen to an Emitter.  In Slack phet-io channel:

The relevant Emitters are now instrumented. @amanda-phet please review in master. The phetioIDs are:

[code]

Note that `memoryLimitEmitter` is not a sibling of the other 2 Emitters because BunnyCollection is not responsible for memory management -- that's the responsible of the top-level model.

[2020-08-20 21:35] pixelzoom commented on #192
@amanda-phet this is ready for review. The screenshot below shows pointer areas for the _Lab_ screen, _Intro_ screen is identical.  Not shown are the Proportions and Pedigree graphs.

Note that the checkboxes in the Population panel do not have uniform width. I'll make them uniform if you want.  But unlike radio buttons, there's no support in common code. And imo, uniform width is not desirable fo

[2020-08-20 21:37] pixelzoom commented on #178
Labeling as deferred to review in 3 months or so.

[2020-08-20 21:42] amanda-phet commented on #183
I've been playing and I think the following percentages make the most sense for tough food:

`toughFoodPercentToStarveRange=.35,.5&shortTeethMultiplier=2`

I am pretty happy with the current limitedFoodPopulationRange, but @oliver-phet mentioned that he didn't think it seemed "limited" when where were a ton of bunnies hopping around. So I'd also be ok with `limitedFoodPopulationRange=60,80`, but I

[2020-08-20 21:52] kathy-phet commented on #183
I think keeping the statistics useful is pretty important, so I would keep limitedFoodPopulationRange centered around 100. I played with it, and it seemed like a good amount to me ... basically it doesn't let the bunnies take over the world which is both useful, and a sign that the food is limited.

I'll take a look at the sim with the food percenToStarve ranges you've chosen.

[2020-08-20 21:54] pixelzoom opened #203 "code review"
# PhET Code-Review Checklist (a.k.a "CRC")

* Mark failed items with ❌
* Call attention to items with ⚠️
* Mark items that are not applicable with **N/A**

## GitHub Issues

The following standard GitHub issues should exist. If any of these issues is missing, or have not been completed, pause code review until the issues have been created and addressed by the responsible dev.

- [ ] #189 results o

[2020-08-20 21:57] pixelzoom commented on #203
Briefly reviewed with @chrisklus via Slack.

A couple of query parameters that you might find useful:

* `log` prints log messages to the console, can be helpful to understanding what is happening
* `secondsPerGeneration` lets you run the generation clock faster, default is 10.

You can also fast-forward the sim by pressing and holding the fast-forward button.

Let me know if you have any question

[2020-08-20 22:01] pixelzoom commented on #193
Self code review is done. #203 created for actual code review. Closing.

[2020-08-20 22:01] #193 closed

[2020-08-20 22:07] pixelzoom commented on #176
Seed `0.5853265884696416` is used for both screens in the above commit.  PhET-iO instrumentation of shrubs is no longer necessary and has been removed.

@amanda-phet please review in master.

[2020-08-20 22:23] pixelzoom commented on #183
@amanda-phet would you like me to change the defaults to `toughFoodPercentToStarveRange=.35,.5&shortTeethMultiplier=2` ?

And just to check... This can result in 100% of short-toothed bunnies being starved (0.5 * 2 = 1).

[2020-08-20 22:26] oliver-phet commented on #183
The current limitedFoodPopulationRange=90,110 keeps the population around 270-330 for 2/3 of each generation and wolves then tough food are applied to that higher range before limited food is applied. @kathy-phet are you referring to the Proportions view?

I might tweak the upper bound of the percent to starve to something like .4 or .45 so that it isn't possible to kill off 100% of the short-teet

[2020-08-20 22:56] zepumph commented on #177
Those bullets make sense and sound good!

The test I'm talking about is mainly about clearing and recreating the bunnies. When you pause the sim on gen 5 or 6, you have a bunch of bunnies that are being completely cleared from their PhetioGroup, and then reconstituded each time state is set. Thus it makes sense that this may expose a separate memory leak that running for 1000 generations may not (

[2020-08-20 23:24] kathy-phet commented on #183
Oliver - I’m referring to the number of bunnies left at the end of the generation.

Sent from my iPhone

[2020-08-21 01:15] samreid commented on #60
In https://github.com/phetsims/phet-io/issues/1695 we added caching to `phetioEngine.getAllRelatedTypes` which speeds up the generation 6 start time by about 5.5%.

[2020-08-21 01:54] pixelzoom commented on #60
Excellent. I'll take my iPad6 for another performance test sometime early next week.

[2020-08-21 23:00] amanda-phet opened #204 "Should multiple selection pressures lead to all bunnies dying?"
While working on #183 I thought about the following:

I think MH said it was ok (or preferred) that with multiple selection pressures, the entire population would die. I notice that when I get some brown long-tooth bunnies, they maintain perfectly stable (although it's a small population) and I'm not sure this is what we want. I will check with MH.

[2020-08-24 19:40] pixelzoom commented on #60
For testing the 5.5% improvement mentioned by @samreid in https://github.com/phetsims/natural-selection/issues/60#issuecomment-677984085...

Following the testing steps in https://github.com/phetsims/natural-selection/issues/60#issuecomment-654325501 with 1.1.0-dev.12 ...

For `brand=phet`, https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.14/phet/natural-selection_en_phet.html?showTi

[2020-08-24 19:43] pixelzoom commented on #60
Oh rats (bunnies?) I was testing the wrong thing here.  I was testing performance of "Start Over", and this issue is about mating.  Starting over...

[2020-08-24 19:58] pixelzoom commented on #204
MH replied in email on 8/23/20 (Subject: Natural Selection prototype is available!)

[2020-08-24 20:23] pixelzoom commented on #140
Over in https://github.com/phetsims/natural-selection/issues/60#issuecomment-677984085, @samreid reported a 5.5% performance improvement in `phetioEngine.getAllRelatedTypes` for that issue.  I decided to see if it was relevant for "Start Over" performance.

Following the testing steps in https://github.com/phetsims/natural-selection/issues/60#issuecomment-654325501 with 1.1.0-dev.14 ...

For `bran

[2020-08-24 20:36] pixelzoom commented on #116
8/20/2020 design meeting:

The new plan for the prototype (brand=phet) is:

* dev test master
* create a new 1.1 release branch, publish RC 1.1.0-rc.1
* RC will have "light testing" - no QA, light testing by @amanda-phet @ariel-phet @oliver-phet
* prototype will be made visible on the PhET website

Then the sim will go through a full QA process for both brands, and will be republished.

[2020-08-24 21:04] pixelzoom commented on #188
These Properties do not need to be instrumented. They duplicate the information found in `previousCounts` and `currentCountsProperty`, and are provided to make it convenient to update the view.

Closing.

[2020-08-24 21:04] #188 closed

[2020-08-24 21:18] pixelzoom commented on #177
I followed the steps above with the unbuilt version in my local working copy (natural-selection sha e2e375aa0dddd5268924f929723c7dfc3f2f3784).  I took a heap snapshot immediately after pausing this sim.  Then I took 3 more heap snapshots, only waiting until Chrome was able to display the size of the previous snapshot (which took awhile).

The snapshot sizes in MB were: 140, 278, 391, 540.

So ther

[2020-08-24 21:30] pixelzoom commented on #177
Comparing heap snapshots, every comparison shows no Bunny instances being deleted.  For example, comparing snapshots 2 & 3:

<img width="868" alt="screenshot_510" src="https://user-images.githubusercontent.com/3046552/91098377-9582b500-e61e-11ea-87eb-908246527493.png">

If "all bunnies are cleared and recreated each state set" (as @zepumph said in https://github.com/phetsims/natural-selection/issu

[2020-08-24 22:22] samreid commented on #140
I think `getAllRelatedTypes` is called during object creation, so more likely related to #60 which is about bunny creation.

[2020-08-24 22:33] pixelzoom commented on #60
Over in https://github.com/phetsims/natural-selection/issues/140#issuecomment-679396378, @samreid said:

So a 5.5% performance increase is indeed expected for this issue.  I don't see that increase, and in fact see a huge _decrease_ in performance (2x slower) on iPad6.   Thoughts?

[2020-08-24 22:34] ariel-phet commented on #183
My only potential question/issue is with the short tooth bunnies being killed off completely.

If I change nothing else (using the parameters above `?toughFoodPercentToStarveRange=.35,.5&shortTeethMultiplier=2`) and start with a short toothed bunny population and add no mutations or such, pretty much no matter when I switch to tough food the bunnies all die out regardless of how many bunnies or su

[2020-08-24 22:35] pixelzoom commented on #140
Thanks for clarifying.  So I'm in fact seeing a big decrease in performance in #60, and a significant performance increase here.  Any idea why?

[2020-08-24 22:43] pixelzoom commented on #183
@ariel-phet said:

In reality, yes, a food shortage would affect reproduction.  It would also affect lifespan.  That is not the case in this sim. It's a simplification that we decided on from the beginning (and which is also present in the Java version).  And the model is not at all capable of accommodating a change of this magnitude. It's also explained clearly in model.md:

@ariel-phet said:

Do

[2020-08-24 23:12] samreid commented on #60
Some notes from recent runs:

Sam iPad 6
OS 13.3
Time to mate: 396ms, 391ms, 392ms, 372ms
Start over: 175ms, 141ms
Time to mate: 332ms, 331ms

Chris 13.6.1
590, 757, 757, 452, 348

[2020-08-24 23:14] pixelzoom commented on #60
Testing 1.1.0-dev.16 brand=phet-io again on my iPad6, ~15 runs were all in the 450-600 ms range.  I'm not sure what was going on with the iPad6 results in https://github.com/phetsims/natural-selection/issues/60#issuecomment-679326446,  but I guess I won't worry about it.

[2020-08-24 23:16] pixelzoom commented on #60
On a Lenovo 300e Chromebook, @samreid reports for 1.1.0-dev.16 brand=phet-io:

time to mate = 1131
time to Start Over = 621 ms

That seems reasonable to me.

[2020-08-24 23:39] pixelzoom commented on #60
@samreid says there are no additional PhET-iO performance improvements planned.

Performance now seems acceptable to me, including on lower end devices like Chromebooks.  So I think we're ready to move to the performance "sign-off" phase in #191.

[2020-08-24 23:40] pixelzoom commented on #140
@samreid says there are no additional PhET-iO performance improvements planned.

Performance now seems acceptable to me, including on lower end devices like Chromebooks.  So I think we're ready to move to the performance "sign-off" phase in #191.

[2020-08-24 23:43] pixelzoom commented on #191
#60 and #140 are the 2 cases that were performance concerns. A lot of work was done to improve PhET-iO performance, and it now feels acceptable to me.  So over to @amanda-phet for performance sign-off.  I'm not quite sure how sign-off is going to work without access to PhET's test devices.  Let me know if you want to discuss.

[2020-08-25 00:03] pixelzoom commented on #189
Unfortunately labeling this as "blocks-sim-publication" for the prototype.  This leak is bad enough that it's very likely to be encountered by the user -- especially on iPad -- and will crash the browser.

[2020-08-25 00:15] ariel-phet commented on #183
@pixelzoom yes, I think fewer bunnies starving due to tough food makes a bit more sense (to me). I feel like with abundant (but tough) food, some short tooth bunnies would make it, but be easily outpaced by long toothed bunnies better adapted.

But if the learning goal is that certain creatures just cannot survive in certain environment, the short toothed always dying out is fine. My instincts tel

[2020-08-25 00:19] oliver-phet commented on #183
I believe wolves are 0.35, 0.4 (2.3 multiplier for fur), so limited food could be .4, .45 (1.8 multiplier for teeth) and the factors would be different.

I'm not sure what other feedback is requested of me, here's the list @pixelzoom originally added:

Looks great to me and helps with the limited food issues

Looks great to me and helps with the limited food issues

I like ?toughFoodPercentToStarv

[2020-08-25 16:14] pixelzoom commented on #189
The commonality that I see between all heap snapshot comparisons is that Tandem and DynamicTandem show #Deleted=0.

[2020-08-25 17:46] pixelzoom commented on #189
@samreid identified a memory leak in Tandem, see https://github.com/phetsims/tandem/issues/203.  He created a patch (see the issue) which has not been committed yet.

Snapshots for the first 400 generations before the patch:

<img width="202" alt="screenshot_513" src="https://user-images.githubusercontent.com/3046552/91209041-5c068400-e6c8-11ea-91b4-c5c58c3e15aa.png">

Snapshots for the first 400

[2020-08-25 17:47] pixelzoom opened #205 "memory leak in Tandem.removePhetioObject"
See https://github.com/phetsims/tandem/issues/203.  Since this leaks memory in brand=phet, this blocks publication of the prototype.

Also a pre-requisite for resolving: #189, #190

[2020-08-25 18:02] pixelzoom commented on #189
Test results with local unbuilt, with the patch from phetsims/tandem#203 applied.

Test configuration: 2019 MacBook Pro (MacBookPro16,1), macOS 10.15.6, Chrome 84.0.4147.135

| Generation | Heap Size (MB) |
| --- | --- |
| 0 |  27.7 |
| 100 |  48.0  |
| 200 |  54.2 |
| 300 |  58.3 |
| 400 |  65.3 |
| 500 | 69.2  |
| 600 | 73.7 |
| 700 | 84.3 |
| 800 | 88.5 |
| 900 | 93.9 |
| 1000 | 98.1 |
| 0 | 83

[2020-08-25 18:08] pixelzoom commented on #189
Looking at the heap snapshot taken after ResetAll, I see hundreds of dynamic instances of Genotype still in memory. For example:

`naturalSelection.labScreen.model.bunnyCollection.bunnyGroup.bunny_62065.genotype.abbreviationProperty`

I would expect to see 1 instance, for the lone bunny.

[2020-08-25 18:11] KatieWoe commented on #60
@ariel-phet asked for the https://github.com/phetsims/natural-selection/issues/60#issuecomment-679326446 tests to be done on Lovelace since it is a slower system. Results:

| test device | OS | test | times (ms) | average (ms) |
|:---|:---|:---| ---:|---:|
Lovelace | ChromeOS 85.0.4183.59 | phet brand time to mate | 1073, 656, 545 | 758 |
Lovelace | ChromeOS 85.0.4183.59 | phet brand time to start

[2020-08-25 18:19] pixelzoom commented on #60
@KatieWoe said:

I brought this usability issue up in https://github.com/phetsims/natural-selection/issues/166.  @amanda-phet didn't see evidence of this in interviews, and she decided it's not a problem.  I'm going to re-open that issue, add @KatieWoe's comment there, and let @amanda-phet revisit.

[2020-08-25 18:25] pixelzoom commented on #166
Reopening.

In https://github.com/phetsims/natural-selection/issues/60#issuecomment-680187532, @KatieWoe encountered this usability issue:

This is not the first time she's experienced or reported this. She also reported in https://github.com/phetsims/natural-selection/issues/60#issuecomment-662625708:

Assigning to @amanda-phet to re-evaluate.

[2020-08-25 18:43] pixelzoom commented on #189
Inspecting the above arrays further (screenshot below), all of the strings in these arrays are phetioIDs for DerivedProperty instances.  I suspect that iO is not cleaning up phetioIDs for DerivedProperty.

<img width="1140" alt="screenshot_517" src="https://user-images.githubusercontent.com/3046552/91214593-88be9980-e6d0-11ea-94c3-6338be27927d.png">

[2020-08-25 19:44] pixelzoom opened #206 "PropertyStateHandler dependency registration leaks memory"
See https://github.com/phetsims/axon/issues/328.  Since this leaks memory in brand=phet, this blocks publication of the prototype.

Also a pre-requisite for resolving: #189, #190

[2020-08-25 20:04] pixelzoom commented on #189
@samreid and I worked on this via Zoom and identified another big iO leak, see https://github.com/phetsims/axon/issues/328.

Test results with local unbuilt, natural-selection sha e32a316eb44114f8754970a4042e9123ad70a844, with the patch from https://github.com/phetsims/axon/issues/328 applied.

Test configuration: 2019 MacBook Pro (MacBookPro16,1), macOS 10.15.6, Chrome 84.0.4147.135

| Generation

[2020-08-25 20:23] pixelzoom commented on #177
In https://github.com/phetsims/natural-selection/issues/189, we identified 2 major PhET-iO memory leaks, phetsims/tandem#203 and phetsims/axon#328.  They were definitely impacting brand=phet, but it wasn't clear how they affected brand=phet-io.  So after apply patches (identified in those issues) to my working copy, I tested again with my local unbuilt version.  I followed the same procedure as ht

[2020-08-25 20:30] pixelzoom commented on #190
Some big iO memory leaks were identified for brand=phet (see https://github.com/phetsims/natural-selection/issues/189#issuecomment-680241722). So it's time to see if what the state of `brand=phet-io` is.  I'll be using the same test procedure described in https://github.com/phetsims/natural-selection/issues/189#issuecomment-677755993.

[2020-08-25 20:54] pixelzoom commented on #190
Test results with local unbuilt, natural-selection sha e32a316eb44114f8754970a4042e9123ad70a844, with the patches from  phetsims/tandem#203 and https://github.com/phetsims/axon/issues/328 applied.

Test configuration: 2019 MacBook Pro (MacBookPro16,1), macOS 10.15.6, Chrome 84.0.4147.135

| Generation | Heap Size (MB) |
| --- | --- |
| 0 |  27.9 |
| 100 | 57.8   |
| 200 | 60.8 |
| 300 |  60.8 |
|

[2020-08-25 21:02] pixelzoom commented on #177
Over in #190, I confirmed that this leak does not occur in the standalone `brand=phet` version.  So there's probably some code path this is exercised only by the State Wrapper, and which I have yet to discover or understand. (Love those separate code paths!)  I'll bang on this some more, but will likely need assistance from someone on the iO team.

[2020-08-25 21:33] pixelzoom commented on #177
I have not been able to identify a sim-specific code path that could be causing this. And given the experience in #189, my confidence is low that iO memory management has been adequately tested.

So I decided to test another PhET-iO sim, to see if it has a similar leak in the State Wrapper.  I tested john-travoltage,  unbuild local copy with sha 4843cabe0ef918657630b164b2c30b6b1d539853, macOS 10.1

[2020-08-25 21:39] pixelzoom commented on #177
I waited another 10 minutes and took a 4th heap snapshot in the test above. 796MB !!!

[2020-08-25 21:42] pixelzoom commented on #177
I'm assigning this back to the iO team to investigate.  This does not block prototype publication, since it's brand=phet only. But it needs to be resolved well before the 10/1 deadline of delivering a "test dev version" to the client.  And I don't think this can be ignored just because the State Wrapper is an internal tool. Whatever is wrong here is likely to be more general.

[2020-08-25 22:21] pixelzoom commented on #192
@ariel-phet and I discussed the Population panel. I'll make all of the checkboxes the same width.  It'll probably work out better for focus traversal.

[2020-08-25 22:48] samreid commented on #177
There is a lot of work scheduled in `runOnNextFrame` which never executes in the downstream sim, since its animation frames are disabled.  I tried calling timer.step in Sim.js even when the sim is not active, and the memory leak disappeared.

[code]

I also tested that phet.axon.timer.listeners.size held steady instead of increasing linearly.

The reason I haven't committed this is: it doesn't fee

[2020-08-25 22:50] pixelzoom commented on #177
Thanks for looking at this @samreid.  It sounds promising.

[2020-08-25 22:53] pixelzoom commented on #182
@ariel-phet please review this one.  Steps to verify are in https://github.com/phetsims/natural-selection/issues/182#issuecomment-675655268.

[2020-08-25 23:12] pixelzoom commented on #192
Population checkbox touch areas have been expanded, see screenshot below.  Proportions checkbox has not - there's only one, so nothing to expand to match.   I'd have to do something evil, like add an invisible horizontal strut, to make that one fill the control panel.

@ariel-phet please review in master.

<img width="907" alt="screenshot_521" src="https://user-images.githubusercontent.com/3046552

[2020-08-26 01:41] amanda-phet commented on #60
@pixelzoom said

It looks like time to mate with PhET-iO is kind of huge (up to 1541 ms), but that seems like the worst case scenario. I am totally fine with the performance in all other areas, and since I can't really experience the 1.5s pause I'll just have to defer to you all if that seems acceptable.

I'll respond to #166 directly. Closing this issue.

[2020-08-26 01:43] amanda-phet commented on #166
@KatieWoe So, to be clear, you clicked Start Over, waited, clicked it again, and then it added a mate (without you seeing the "Add a Mate" button), is that right?

I suppose we should consider a different location for the "Start Over" and "Play" buttons. @pixelzoom didn't we have them more in the center of the play area at one time? Can we put them there, but leave the "Add a Mate" button toward t

[2020-08-26 01:45] amanda-phet commented on #191
@ariel-phet Can you also help sign off on this one? I've read the performance issues and commented, and if @pixelzoom thinks it's acceptable then I'm inclined to accept the current performance status. #140 is a little bit of a usability issue combined with performance, and #60 seems fine to me.

[2020-08-26 01:48] amanda-phet commented on #191
Oops, #166 is the usability issue. They are so similar I confused them.

[2020-08-26 01:49] amanda-phet commented on #140
I agree that this is acceptable for performance. Thanks for doing all of this to make it as zippy as possible!

[2020-08-26 01:49] #140 closed

[2020-08-26 02:52] amanda-phet commented on #166
Since this is a usability issue, assigning to @ariel-phet  as well.

[2020-08-26 03:11] amanda-phet commented on #183
Thanks for the suggestion @oliver-phet . I am really happy with the behavior using `toughFoodPercentToStarveRange=.4,.45&shortTeethMultiplier=2`. I like keeping the multiplier higher and just decreasing the max percent a bit.

I don't know how much longer we can wait on @kathy-phet 's feedback, so I am happy to make the decision here, especially given Megan's feedback in #204 . I think if she is h

[2020-08-26 03:15] amanda-phet commented on #204
Thanks @pixelzoom for including her response here.

Looks like all is fine here. Closing.

[2020-08-26 03:15] #204 closed

[2020-08-26 03:26] kathy-phet commented on #183
I am planning to look at it tonight.

Sent from my iPhone

[2020-08-26 03:47] pixelzoom commented on #166
I sort of hate to move the buttons at this point, since the seem to be generally working well.  So something else I'd like to investigate here...  See if the "Add a Mate" button can ignore events like the extra click that @KatieWoe is doing.  And I should see when the "Add a Mate" button is being made visible, whether changing it's pickability might help, etc.

[2020-08-26 05:17] kathy-phet commented on #183
I think overall its behaving well. I am wondering about one condition - when we have a batch of bunnies with both favored traits (long teeth and brown fur, say) and the fact that the death rate under the two conditions is so high that we don't really see them thriving after they dominate. They don't die out, but they don't really grow much either:
https://phet-dev.colorado.edu/html/natural-selecti

[2020-08-26 05:21] kathy-phet commented on #183
Never mind, I've now looked at https://github.com/phetsims/natural-selection/issues/204 and its discussion of exactly what I was a bit worried about above, and Megan gave the behavior a thumbs up! Excellent.

Unassigning @amanda-phet .

Go with what Amanda said:
So, to sum up, the food model should be
toughFoodPercentToStarveRange=.4,.45&shortTeethMultiplier=2 and
limitedFoodPopulationRange=90,110

[2020-08-26 14:40] KatieWoe commented on #166
@amanda-phet @pixelzoom, yes that is what I am doing. It can either happen if you try to click the button again when the start over is loading, or if you double click instead of single click it will also happen.

[2020-08-26 15:11] pixelzoom commented on #60
I've have a couple new ideas about this issue that I'd like to bounce off of @amanda-phet.  Reopening and assigning to me so that I remember.

[2020-08-26 16:30] pixelzoom commented on #183
Parameters for the food model have been updated.

@amanda-phet please verify in master or [1.1.0-dev.15](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.15/phet/natural-selection_en_phet.html).  Run with `?log` to verify the complete set of sim-specific query parameters in the console:

[code]

[2020-08-26 16:35] pixelzoom commented on #60
@amanda-phet and I discussed a couple of other idea that I had:

(1) Create bunnies in small batches, say 50 at a time. This would still cause the clock to pause at 12:00 (and maybe even longer), but you'd see something happening during that pause.  The downside is that this isn't a good match for the "single data point" that mating produces.

(2) Pool (reuse) bunny SpriteInstances. Unlikely to ha

[2020-08-26 16:35] #60 closed

[2020-08-26 17:05] amanda-phet commented on #150
I made two minor edits. @pixelzoom want to review them and close if they look ok to you?

[2020-08-26 17:21] amanda-phet commented on #176
Looks great to me.

This is a strange ask.. but would it be difficult to use a different seed for the first screen? I wonder if it might be nice to see different plants on the two screens to make them feel more distinctive (since they both use the same background color and have mostly the same controls).

[2020-08-26 17:41] amanda-phet commented on #181
Reviewed. All of these look good.

[2020-08-26 17:41] #181 closed

[2020-08-26 17:43] amanda-phet commented on #183
That all looks good. Thanks!

[2020-08-26 17:43] #183 closed

[2020-08-26 17:44] pixelzoom commented on #150
Edits look great, thanks @amanda-phet. Closing.

[2020-08-26 17:44] #150 closed

[2020-08-26 17:47] pixelzoom commented on #176
It's relatively easy to use a different seed for each screen.   Use [1.1.0-dev.8](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.8/phet/natural-selection_en_phet.html) to find another layout that you like, and let me know what the seed is.  Please include a screenshot too, so that I can verify that the seed matches the visual.

[2020-08-26 18:04] amanda-phet commented on #184
Played with this for a bit and I don't see any undesirable behaviors. It seems like recessive and dominant mutants are just as likely to be killed as other bunnies.

[2020-08-26 18:04] #184 closed

[2020-08-26 18:23] pixelzoom commented on #60
A few more notes about:

I investigate this approach briefly with @jonathanolson, and it was pretty easy to get pooling working.  But pooling turned out to be a wash (didn't change the performance) and was more complicated, so I opted to keep things as is.

But this exercise did result in improvements.  @jonathanolson identified some inefficiencies (use of `merge`, object allocations,...) in my Sp

[2020-08-26 18:27] amanda-phet commented on #187
These all look like great changes! I agree that sometimes it took a second to realize what you were looking at, although I did still figure it out. We were planning to feature `generationClock.timeInGenerationsProperty`(previously `generationsProperty`) and allow the user to derive the integer generation if they wanted. What do you mean it's a derived property? What is it derived from?

[2020-08-26 18:44] pixelzoom commented on #187
A DerivedProperty is a Property whose value is wholly derived from one or more other Properties. In this case,
`generationClock.timeInGenerationsProperty` is derived from `generationClock.timeInSecondsProperty`:

`timeInGenerations = timeInSeconds / secondsPerGeneration`

[2020-08-26 18:46] pixelzoom commented on #187
I'm not sure what you mean here. The user doesn't need to derive the integer generation, it's already derived (and instrumented) as `generationClock.clockGenerationProperty`.

[2020-08-26 18:47] amanda-phet commented on #198
That looks fine to me.

@kathy-phet is that documentation ok?

[2020-08-26 18:55] ariel-phet commented on #191
Looked over the issues, I think all is in a good place (certainly for PhET brand). It sounds like @pixelzoom has some thoughts for potential optimizations as this sim gets moved towards the iO dev release, but I think even without those we would be in pretty solid shape.

Signing off and closing.

[2020-08-26 18:55] #191 closed

[2020-08-26 19:01] amanda-phet commented on #176
OK now I want two different ones! Here are my picks:

For Intro screen, `75 shrubs randomly placed using seed 0.5286575215756223`
<img width="797" alt="image" src="https://user-images.githubusercontent.com/7852916/91344816-b886a380-e79b-11ea-8bed-5937b5316d5a.png">

Limited food:
<img width="795" alt="image" src="https://user-images.githubusercontent.com/7852916/91344877-c9371980-e79b-11ea-8ae8-8e

[2020-08-26 19:05] amanda-phet commented on #187
We were thinking of only featuring the decimal version (`timeInGenerationsProprty`) and if the user wants the integer version, they can figure it out. It wouldn't be a big deal to just feature both, but it seemed redundant to feature both. I still think both should be instrumented!

And thanks for clarifying. I do understand what a derived property is, but didn't realize it was simply derived from

[2020-08-26 19:05] #187 closed

[2020-08-26 19:30] samreid commented on #177
In today's discussion, @zepumph recommended running the full animation frame in the downstream simulation.  I reported that when we had done that previously, it seemed buggy.  But @zepumph points out we could remove several workarounds, and it would address this problem.

Perhaps if there was a checkbox that lets you choose whether to run model steps in the downstream sim?

@zepumph adds:

* Allow

[2020-08-26 19:31] pixelzoom commented on #199
You can also verify using https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.15/phet-io/, which was published this morning.

[2020-08-26 19:31] amanda-phet commented on #199
Confirmed using https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.15/phet-io/wrappers/studio/. The toggle works and the layout looks good. Thanks!

[2020-08-26 19:31] #199 closed

[2020-08-26 19:42] pixelzoom commented on #176
New seeds in the above commit. @amanda-phet please verify on phettest.

[2020-08-26 19:45] zepumph commented on #177
I will create a checkbox to toggles the downstream activeProperty for tomorrows meeting.

[2020-08-26 19:56] amanda-phet commented on #200
I confirmed the Emitters are instrumented.

Can you share how the instructional designer would use these? I see that I can click "emit" but where is the listener? Is this something I need to document for clients? It's not obvious to me how to listen to these.

[2020-08-26 19:58] amanda-phet commented on #201
Confirmed. Thanks.

[2020-08-26 19:58] #201 closed

[2020-08-26 20:01] amanda-phet commented on #176
I like them both! Thank you! Do you want to wait to close this since it's not in a dev version yet?

[2020-08-26 20:04] amanda-phet opened #207 "Intro screen - population panel isn't appropriately resizing"
I can confirm that this is new in https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.15/phet/natural-selection_en_phet.html. The panel is too large (tall).

![image](https://user-images.githubusercontent.com/7852916/91351081-e91f0b00-e7a4-11ea-9aaa-dc7bbb514c6f.png)

Previously:
![image](https://user-images.githubusercontent.com/7852916/91351154-0b188d80-e7a5-11ea-81b5-776a3ee97e38.png

[2020-08-26 20:22] pixelzoom commented on #176
I'm fine with closing it now.  For posterity, it will appear in dev versions >= 1.1.0-dev.16.

[2020-08-26 20:22] #176 closed

[2020-08-26 20:27] pixelzoom commented on #207
Ah rats. This is cause by yesterday's change to pointer areas, see https://github.com/phetsims/natural-selection/issues/192#issuecomment-680313828.   We made all checkboxes in the panel have the same effective width. But that also means that even the invisible ones still have the same effective width, and the panel doesn't resize.  I'll have to change how #192 is implemented.

[2020-08-26 20:28] pixelzoom commented on #192
Hold off on reviewing. Making the Population checkboxes all have the same size created a new problem, https://github.com/phetsims/natural-selection/issues/207.  So I'm going to have to come up with a different way of doing this.

[2020-08-26 20:37] pixelzoom commented on #192
Fixed in the above commit. You may resume reviewing.

[2020-08-26 20:38] pixelzoom commented on #207
Fixed in the above commit. @amanda-phet please verify on phettest.

[2020-08-26 20:45] pixelzoom commented on #200
The listener is not available in Studio.  A listener is  client-specific function, and it's added by the client, in client-specific code.  The client uses the `addListener` method for Emitter, as described in the API documentation for EmitterIO.  For example, here's the doc for `allBunniesHaveDiedEmitter`:

<img width="685" alt="screenshot_522" src="https://user-images.githubusercontent.com/304655

[2020-08-26 20:48] pixelzoom commented on #200
This does bring up a good point though. We don't want the instructional designer pressing those "Emit" buttons in Studio, because it opens those dialogs in circumstances when they should most definitely not be visible.  I had not previously noticed these Emit buttons, and I'm wondering if we've been making sure that they are enabled/visible only when appropriate.

[2020-08-26 21:40] pixelzoom commented on #200
In Slack phet-io channel:

For Emitter elements, Studio shows an "Emit" push button.  How do I disable/remove that button for Emitters where it's not appropriate? `phetioReadOnly: true` ?

In the above commit, I made the 3 Emitters for this issue `phetioReadOnly: true`, and confirmed that their "Emit" push buttons are now disabled in Studio.

Back to @amanda-phet.

[2020-08-27 03:37] pixelzoom commented on #166
I consulted with @jonathanolson on this, since it involves scenery input processing. Using timer to make the 'Add a Mate' (or 'Play') button visible _in the next frame_ sounded like a reasonable solution.  It prevents unwanted presses from getting to the button, and the delay in making the button visible is imperceptible.

To verify, compare the behavior of these dev versions.

Before the change,

[2020-08-27 03:44] pixelzoom commented on #116
We did not meet the milestone of "sometime the week of 8/24, if possible".

Assigning to @amanda-phet @kathy-phet @ariel-phet to revise the milestone.

[2020-08-27 03:46] pixelzoom commented on #207
This block prototype publication. It's fixed, but needs to be reviewed.

[2020-08-27 15:27] pixelzoom commented on #205
phetsims/tandem#203 is fixed and ready for testing in natural-selection, see https://github.com/phetsims/tandem/issues/203#issuecomment-681366283.

[2020-08-27 15:34] pixelzoom commented on #206
phetsims/axon#328 has been addressed and is ready for testing.

@samreid https://github.com/phetsims/axon/issues/328#issuecomment-680486898:

@zepumph https://github.com/phetsims/axon/issues/328#issuecomment-681020469

[2020-08-27 15:46] pixelzoom commented on #189
After fixes for phetsims/tandem#203 and phetsims/axon#328 were pushed...

Testing results on 2019 MacBook Pro, macOS 10.15.6, Chrome 85.0.4183.83 (Incognito), with https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.17/phet/natural-selection_en_phet.html?secondsPerGeneration=0.25

| Generation | Heap Size (MB) |
| --- | --- |
| 0 |  24.8 |
| 100 |  41.3  |
| 200 |  41.7 |
| 300 |  41.7

[2020-08-27 15:46] #189 closed

[2020-08-27 15:59] pixelzoom commented on #190
After fixes for phetsims/tandem#203 and phetsims/axon#328 were pushed...

Testing results on 2019 MacBook Pro, macOS 10.15.6, Chrome 85.0.4183.83 (Incognito), with https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.17/phet-io/natural-selection_all_phet-io.html?postMessageOnError&phetioStandalone&secondsPerGeneration=0.25

| Generation | Heap Size (MB) |
| --- | --- |
| 0 |  26.0 |
| 10

[2020-08-27 15:59] #190 closed

[2020-08-27 16:00] pixelzoom commented on #206
Memory tests look good for both brands, see https://github.com/phetsims/natural-selection/issues/189 and https://github.com/phetsims/natural-selection/issues/190. Closing.

[2020-08-27 16:00] #206 closed

[2020-08-27 16:03] pixelzoom commented on #205
Memory tests look good for both NS brands, see https://github.com/phetsims/natural-selection/issues/189 and https://github.com/phetsims/natural-selection/issues/190.  Closing.

[2020-08-27 16:03] #205 closed

[2020-08-27 16:18] amanda-phet commented on #207
Looks fixed to me!

[2020-08-27 16:18] #207 closed

[2020-08-27 16:18] pixelzoom commented on #192
@amanda-phet it looks like @ariel-phet has gotten busy, so assigning to you too.  Whichever one of you gets to this first...

[2020-08-27 16:19] pixelzoom commented on #182
@amanda-phet it looks like @ariel-phet has gotten busy, so assigning to you too.  Whichever one of you gets to this first...

[2020-08-27 16:21] pixelzoom commented on #203
@chrisklus isn't going to be able to do this, so assigning to @ariel-phet for reassignment.

[2020-08-27 16:50] amanda-phet commented on #192
I think it all looks fine.

I can't see the pointer areas for the Fur, Ears, and Teeth checkboxes on the Proportions screen. When I try to discern them with my cursor, they don't seem as roomy as the other checkboxes. It seems like I need to be right on the text or box, and not in a roomy rectangle around the text and box.

@pixelzoom any way to confirm what those areas are, or expand them slightl

[2020-08-27 16:52] amanda-phet commented on #182
I think I reviewed this a while ago, but just checked again now and it look great.

[2020-08-27 16:52] #182 closed

[2020-08-27 17:05] pixelzoom commented on #192
Good catch, addressed in the above commit. I've used the same dilation that's used for other checkboxes. See screenshot below. Back to @amanda-phet for review.

<img width="948" alt="screenshot_527" src="https://user-images.githubusercontent.com/3046552/91472730-1f1bc800-e855-11ea-999f-15f0395b3d01.png">

[2020-08-27 17:08] amanda-phet commented on #192
Looks good. Thanks!

[2020-08-27 17:36] pixelzoom commented on #203
@jonathanolson volunteered in 8/27/2020 dev meeting (thanks!)   See the notes in https://github.com/phetsims/natural-selection/issues/203#issuecomment-677927522.  Definitely read model.md and implementation-notes.md first, they are rather extensive for this sim, and essential to understanding the implementation.

[2020-08-27 18:06] pixelzoom commented on #203
@jonathanolson I've added notes **in bold text** to the CRC, with info that is specific to the sim.

[2020-08-27 18:20] pixelzoom commented on #151
Reopening for @jonathanolson's feedback in #203 (code review).

[2020-08-27 19:15] KatieWoe commented on #166
Things look pretty good, even on ChromeOS. May actually work a bit better on the slower device actually.

[2020-08-27 19:28] KatieWoe commented on #166
With a slower device I was able to see the fix better. The double click seemed like it might still be happening on the fast devices, but that was because the new button was up by the time the second click came. Mostly I just mean it worked better for my testing. Sorry for the confusion.

[2020-08-27 19:30] pixelzoom commented on #166
Yeah! Very happy that this works.  Thanks for testing @KatieWoe.

@amanda-phet if this looks OK to you, feel free to close.

[2020-08-27 19:32] amanda-phet commented on #200
I can confirm that these emit buttons are disabled.

[2020-08-27 19:32] #200 closed

[2020-08-27 19:34] amanda-phet commented on #166
Thanks @KatieWoe that makes sense. Since I don't have a slow device this is tricky for me to reproduce, but it sounds like the original usability issue pertaining to slower devices is fixed! Thanks for testing, and thanks @pixelzoom for coming up with a good solution to this.

[2020-08-27 19:57] pixelzoom commented on #116
8/27/2020 design meeting:

All blocking issues are addressed, ready to publish a dev version for prototype.

The plan:

* Publish dev version today Thursday 8/27. Assign to @phet-steele @amanda-phet @ariel-phet @oliver-phet to test. @ariel-phet will do string tests. Testing of dev version to be completed by end of business Friday 8/28.
* Monday 8/31 I will publish RC version 1.1.0-rc.1 using dev v

[2020-08-27 19:59] pixelzoom commented on #106
8/27/2020 design meeting:

Ideally there should be a client guide to do with the dev version to be delivered 10/1/2020.

[2020-08-27 20:03] pixelzoom opened #208 "PhET-iO RC version for the client (1.2)"
Deliver a QA-tested dev version (both brands) to the client, 10/1 current milestone.

Do this before code review #203 is completed, since that's not likely to be done until 9/10-ish.

There will be another dev test before going to RC testing.

Client guide ideally to be included #106.

[2020-08-27 20:13] pixelzoom commented on #177
At 8/27/2020 design meeting:

The client would like a tested dev version (both brands) by 10/1/2020.  We'd like to publish that dev version (from master) and get it into QA as soon as possible.  There are a handful of PhET-iO related issues to be wrapped up in natural-selection, and this is one of them.

I'm unclear on whether this issue is blocking for that deliverable. If State Wrapper is truly

[2020-08-27 20:28] pixelzoom commented on #116
[1.1.0-dev.18](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.18/phet/natural-selection_all_phet.html) has been published. The QA issue is https://github.com/phetsims/QA/issues/539.

[2020-08-27 21:34] phet-steele opened #209 "Appearance of "Zoom out to see data." is inconsistent"
1. Intro screen
2. Zoom in the population graph as far as it can go
3. Add a mate
4. Let the bunnies take over the world, close the dialog

Note the "Zoom out to see data." message is displayed on the population graph.

5. Enable the "Brown Fur" checkbox. (note the message is now removed.)
6. Disable the "Brown Fur" checkbox. (not the message does not reappear.)

From this point, I have not figure

[2020-08-27 22:28] pixelzoom commented on #209
Thanks for the detailed steps @phet-steele.

I reproduced steps 1-6.

I could not reproduce steps 7-15.  At step 11, I did not get the message back.  Also tried repeating steps 1-6 before moving on to step 7.  But no matter... This should give me enough to work with.

[2020-08-27 22:32] zepumph commented on #177
We didn't get to this during today's phet-io meeting. Raising priority on it so that I implement a testing checkbox, and we discuss it next week.

[2020-08-27 22:39] phet-steele commented on #209
@pixelzoom I'm going to make an adjustment to the above steps.

In step 9, ensure the brown fur mutation is selected as dominant.

[2020-08-27 22:44] pixelzoom commented on #209
OK. With that change to step 9, I can now reproduce the whole enchilada. Thanks.

[2020-08-27 23:09] pixelzoom commented on #209
Note to self... Visibility of the message is the responsibility of PopulationGraphNode:

[code]

[2020-08-27 23:24] pixelzoom commented on #209
A similar case:

1. Run sim, go to Intro screen.
2. Select Brown Fur dominant in "Add Mutations"
3. Zoom all the way in on Population graph
4. Add a Mate, wait for bunnies to take over, close dialog.
5. Turn off "White Fur" checkbox in Population graph.
6. Turn off "Brown Fur" checkbox in Population graph. You should see the message since there is "Total" data above the graph, but no message is sh

[2020-08-28 00:01] ariel-phet opened #210 "Population graph layout issue with very long strings"
Discovered while performing string tests for https://github.com/phetsims/QA/issues/539

With very long strings the population graph (but not the pedigree or proportion graph) gets very messed up in layout

I suspect there is something going on with the "generations" string on the bottom of the graph.

The sim passed all string tests, but this was noticed during `?stringTest=xss` (but passes for `?

[2020-08-28 00:18] zepumph opened #211 ""Play" button displayed when resetting back to last PhET-iO state"
I'm pretty sure this is a bug, and likely easy to fix. It is discontinuity between when you set a phet-io state, and then when you reset back to that same state.

To reproduce:
1. studio
2. add a mate and wait at least 1 generation
3. pause the sim
4. launch the sim (in studio) to a new wrapper. This will set that state on a new sim instance.
5. Once fully loaded, press the reset all button.
6. No

[2020-08-28 00:20] pixelzoom commented on #209
To optimize performance, PopulationPlotNode (which draws one plot) is only updated when it's visible. So when it's made invisible, it then has stale points and line segments, which continue to contribute to the bounds.  The solution is to clear the plot when it becomes invisible.  That is the subject of the patch below.  I'm not going to apply this patch until we see what other issues come up for

[2020-08-28 00:46] pixelzoom commented on #211
Yep. Unfortunately this was introduced by https://github.com/phetsims/natural-selection/commit/645d60d0fc839399fef4916b608b6214307592f8 for #166, where I addressed the "double-click on Start Over button" problem.  Since it's specific to PhET-iO and the prototype is brand=phet only, we can definitely defer this until after the prototype.

[2020-08-28 00:52] pixelzoom commented on #210
I thought this might be a problem with the string that `stringTest=xss` uses, so I tried doubling up the `stringTest=long` string, i.e.:

`?stringTest=1234567890123456789012345678901234567890123456789012345678901234567890123456789012345678901234567890`

... and the result was:

<img width="947" alt="screenshot_528" src="https://user-images.githubusercontent.com/3046552/91509037-65dde200-e896-11ea-

[2020-08-28 00:53] pixelzoom commented on #210
Agree that this can be ignored for the prototype.

[2020-08-28 01:58] pixelzoom commented on #210
Note to self... Testing with `stringTest=xss` is part of the CRC, and I recently completed a self code review. I know that I tested with `xss`, but I don't recall seeing this problem -- maybe I was just looking for a redirect.  In any case, test with a dev version from around that time, to see if this is something that snuck in recently.

[2020-08-28 01:59] pixelzoom commented on #166
Reopening. This unfortunately introduced a PhET-iO state problem in https://github.com/phetsims/natural-selection/issues/211.  So I'll need to revert and find another way.

[2020-08-28 02:14] pixelzoom commented on #211
@zepumph How did you happen to notice this problem? I see a CT failure at 3:52PM today, but it doesn't seem related:

[2020-08-28 02:16] pixelzoom opened #212 "CT: Assertion failed: there should only be 1 live bunny"
This happened only once, and is not present at any other time in CT history that goes back to 8/25/2020 6:41PM.

[code]

[2020-08-28 02:27] pixelzoom commented on #210
This problem first appears in [1.1.0-dev.4](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.4/phet/natural-selection_en_phet.html).  1.1.0-dev.3 was published 2020-08-03 19:47.  1.1.0-dev.4 was published 2020-08-10 13:42.   I suspect that it's related to the "Zoom in to see data" string, which may not have a `maxWidth` set.

[2020-08-28 02:33] pixelzoom commented on #210
Making the "Zoom to see data" string visible at all times confirms the problem.  And looking at the code in PopulationGraphNode.js, I neglected to set a maxWidth:

[code]

[2020-08-28 02:36] pixelzoom commented on #210
Here's a 1-line patch that fixes the problem. I'm going to wait to commit this until we decide when this issue should be addressed.

[code]

[2020-08-28 02:52] pixelzoom commented on #212
This is almost certainly a regression introduced in 645d60d for #166. And it may even be a duplicate of #211.

[2020-08-28 06:45] zepumph commented on #211
I tested NS in the state wrapper (you can reproduce with the "launch" button there too, as part of the review in https://github.com/phetsims/phet-io/issues/1654#issuecomment-681118825.

[2020-08-28 18:59] pixelzoom commented on #210
There is almost zero risk in fixing this for the prototype RC.  I recommend we go for it.

[2020-08-28 19:10] pixelzoom commented on #209
This is low risk. I recommend that we roll this fix into the prototype RC, and @ariel-phet approves.

[2020-08-28 19:21] pixelzoom commented on #192
Reopening.

After testing on his phone, @ariel-phet has some requests.  Increase touchArea for these UI components:

Definitely:
* fast-forward button
* y-axis zoom buttons (asymmetric, common-code)

Bonus:
* Generation arrow buttons below Population graph
* Generation arrow buttons below Proportions graph

We're not going to do these for the prototype RC.

[2020-08-28 19:54] pixelzoom opened #213 "Population graph should not display "Zoom out..." message when all checkboxes are unchecked"
Noticed with working on #209.  If none of the Population checkboxes are checked, then the graph is displaying nothing. In this case, it's not appropriate to display "Zoom out to show data", but we are.

This will not be addressed in the prototype RC.

[2020-08-28 19:59] pixelzoom commented on #192
Here's a patch for the fast-forward button.  We thought that 6 looked like a good dilation.  But if we want the touchArea to be the same as the play button, the correct value is 4.  I'll discuss this with @ariel-phet later.

<details>
<summary>patch</summary>

[code]

</details>

[2020-08-28 20:38] pixelzoom commented on #210
To verify in 1.1.0-rc.1:

1. Run the sim with `?stringTest=xss`
2. Go to either screen
3. Verify that the layout looks correct, and in particular does not look like the screenshot in https://github.com/phetsims/natural-selection/issues/210#issue-687615693

[2020-08-28 20:49] pixelzoom commented on #209
To verify in 1.1.0-rc.1:

1. Run the sim
2. Go to ether screen
3. Zoom the Population graph in fully, so the y-axis range is [0,5]
4. Press the "Add a Mate" button.
5. Wait for bunnies to take over the world, close the dialog
6. Verify that "Zoom in to see data" appears in the graph
7. Check the "Brown Fur" checkbox to the left of the Population graph. Verify that "Zoom in to see data" disappears.

[2020-08-28 20:53] pixelzoom commented on #116
[1.1.0-rc.1](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-rc.1/phet/natural-selection_en_phet.html) has been published. The QA issues is https://github.com/phetsims/QA/issues/540.

[2020-08-28 21:07] amanda-phet commented on #210
Checked this out on the iPad and it looks good. I also made sure the "zoom in.." text showed up and it still looked good.

[2020-08-28 21:17] amanda-phet commented on #209
The message seems to be working just fine. I did some other sequences of showing/hiding the message and do find one thing that's a little strange/buggy.

If I have nothing checked at all, I see the message "Zoom out to see the data." So I zoom out, but nothing changes, because I have nothing checked. I can't take a screenshot because I am on the iPad, but here were my steps:

1. Add a mutation (pr

[2020-08-28 21:18] amanda-phet commented on #209
Well that's weird.. I clicked reset-all to do more testing and "Zoom out to see data" is showing on the graph, but there is one bunny hopping around. I'll try to keep investigating.

[2020-08-28 21:20] pixelzoom commented on #209
@amanda-phet In https://github.com/phetsims/natural-selection/issues/209#issuecomment-683150548, it sounds like you are describing this known issue: https://github.com/phetsims/natural-selection/issues/213.

[2020-08-28 21:21] amanda-phet commented on #209
Indeed.

Still wondering about the reset-all thing.. I'll try to reproduce it.

[2020-08-28 21:28] pixelzoom commented on #209
Re "the reset-all thing"... Steps to reproduce:
1. Go to ether screen
2. Press the "Add a Mate" button.
3. Wait for bunnies to take over the world, close the dialog
4. Uncheck "Total" checkbox
5. Press "Reset All"

Not sure what the issue is, but it's reproducible.  Now the decision is whether to fix it for the prototype RC.

[2020-08-28 21:30] amanda-phet commented on #209
Yup I got there too. I was thinking of putting these steps in #213 since it seems more related to that issue. Maybe when that one is fixed this won't happen?

[2020-08-28 21:31] pixelzoom commented on #209
This is apparently a new problem, introduced by 23f61b8. It's not reproducible in [1.1.0-dev.18](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.18/phet/natural-selection_en_phet.html).

[2020-08-28 21:32] pixelzoom commented on #209
It's possible that #213 might make this go away.  But "Zoom..." is not supposed to be displayed when the sim has started running yet, and whether checkboxes are checked is irrelevant.

[2020-08-28 21:36] pixelzoom commented on #209
Simpler steps to reproduce:

1. Go to either screen
2. Add a Mate
3. Immediate pause
4. Uncheck "Total"
5. Reset All

[2020-08-28 21:40] pixelzoom commented on #209
PopulationGraphNode.js is responsible for showing the "Zoom..." message.  I added a `console.log`:

[code]

When the Reset All button is pressed, it reports:

So what's going on here is that (on Reset All) the graphs are getting cleared before the clock is getting reset. So this code think the clock is still running and "Zoom..." should be visible.

[2020-08-28 21:46] pixelzoom commented on #209
A couple of other notes, and then I'm going to try to ignore this for the weekend :)

* The order that things are reset was change in https://github.com/phetsims/natural-selection/commit/cebb40161cbd31027e9363a3cc0242ed34e2297c for #166.

* The code in https://github.com/phetsims/natural-selection/issues/209#issuecomment-683158543 should probably be looking at `generationClock.isRunningProperty` i

[2020-08-28 22:06] pixelzoom opened #214 "address ordering dependencies in listeners"
https://github.com/phetsims/natural-selection/issues/209#issuecomment-683158543 leads me to believe that I should make another pass through the sim and inspect listeners for possible order dependences.  There could be an ordering problem in any case where a listener for a Property uses the value from some other Property that might not be updated yet.

Inspect all calls to:

- [x] lazyLink
- [x] li

[2020-08-28 22:08] pixelzoom commented on #214
This one in Food.js looks potentially problematic:

[code]

`timeInPercentProperty` and `clockGenerationProperty` are both derived from `timeInSecondsProperty`, and `clockGenerationProperty` may not have the correct value here.

[2020-08-28 22:10] pixelzoom commented on #214
- [ ] Similarly in Wolf.js

[code]

[2020-08-28 22:16] pixelzoom commented on #214
- [ ] PopulationGraphNode.js is definitely a problem, as identified in #209

[code]

On reset, `timeInGenerationsProperty` is reset after `plotsNode.localBoundsProperty` changes.

[2020-08-28 22:19] pixelzoom commented on #214
- [ ] ProportionModel.js is not a problem, but this should be fixed:

[code]

`currentStartCountsProperty.value` should be replaced with `currentStartCounts`.  They are the same value, but the listener arg should be used in the listener.

[2020-08-28 22:23] pixelzoom commented on #214
Review completed. The 4 items identified above should be addressed.

[2020-08-31 03:50] pixelzoom commented on #209
Here's a patch that should fix the latest problem (that manifests with Reset All), as well as #213 and #214.  I recommend that this fix first be tested in a master dev version.  Then it can be applied to the prototype release branch, which will require spot checking in another RC.

<details>
<summary>patch</summary>

[code]

</details>

[2020-08-31 03:58] pixelzoom commented on #209
I went ahead and patched to master in the above commit.

@amanda-phet please test in [1.2.0-dev.1](https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.1/phet/natural-selection_en_phet.html).   Please also confirm that it addresses #213.

[2020-08-31 04:03] pixelzoom commented on #213
I addressed this in the above commit, which can be test-driven in [1.2.0-dev.1](https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.1/phet/natural-selection_en_phet.html).  To test:

1. Run the sim
2. Go to ether screen
3. Zoom the Population graph in fully, so the y-axis range is [0,5]
4. Press the "Add a Mate" button.
5. Wait for bunnies to take over the world, close the dialog
6. Ver

[2020-08-31 04:07] pixelzoom commented on #213
Assuming this tests OK, this will be picked up by the 1.1 prototype. #209 blocks the prototype, and this fix also fixes that issue.

[2020-08-31 04:08] pixelzoom commented on #214
The issue in PopulationGraphNode.js is addressed by the above commit, which also fixes blocking issue #209.

[2020-08-31 18:06] ariel-phet commented on #210
Looks good, checked as https://github.com/phetsims/QA/issues/540

Closing

[2020-08-31 18:06] #210 closed

[2020-08-31 23:31] amanda-phet commented on #213
It seems to be working correctly!

One thing I want documented:

First, I have total and white fur checked (can just be one checkbox though). It looks like this:
<img width="1064" alt="image" src="https://user-images.githubusercontent.com/7852916/91777851-2b35bb80-ebae-11ea-957c-ca4f537960fb.png">

Then when I click brown fur, the "zoom out" text goes away, but it's hard to tell that there is visi

[2020-08-31 23:37] amanda-phet commented on #209
The original issue seems to be fixed, and since #213 is fixed it seems even more unlikely that I can reproduce the reset-all bug as well. All is looking good.

@phet-steele should probably look this over too since he originally identified this bug.

[2020-09-01 00:27] pixelzoom commented on #213
Yes indeed, a horizontal line at y=0 is easy to miss. The only way around this would be to make the line thicker _for all plotted data_, which I think would compromise the overall look of the graph.

[2020-09-01 02:25] pixelzoom commented on #209
@amanda-phet My understanding is that @phet-steele was not available the first part of this week.  Do you want to delay the next RC until he's available, or can @ariel-phet serve as the second set of eyes?

[2020-09-01 02:27] pixelzoom commented on #209
4affe22cb834760c3fff7d421bfca0e706c5cba3 has been cherry-picked into the 1.1 branch.

[2020-09-01 02:27] pixelzoom commented on #213
4affe22cb834760c3fff7d421bfca0e706c5cba3 has been cherry-picked into the 1.1 branch.

[2020-09-01 02:48] amanda-phet commented on #209
I forgot about that. Yes, @ariel-phet please feel free to review this too.

[2020-09-01 03:39] ariel-phet commented on #213
Fix verified 1.2.0-dev.1.

[2020-09-01 03:45] ariel-phet commented on #209
Looks good to me in latest dev.

[2020-09-01 15:46] pixelzoom commented on #212
This happened once on 8/30 and once on 8/31.  So it's intermittent but should be addressed.

[2020-09-01 16:11] pixelzoom commented on #213
Ready for RC testing in https://github.com/phetsims/QA/issues/542.

[2020-09-01 16:11] pixelzoom commented on #209
Ready for RC testing in https://github.com/phetsims/QA/issues/542.

[2020-09-01 16:54] pixelzoom commented on #116
[1.1.0-rc.2(https://phet-dev.colorado.edu/html/natural-selection/1.1.0-rc.2/phet/natural-selection_en_phet.html) has been published. The QA issue is https://github.com/phetsims/QA/issues/540.

[2020-09-01 17:48] KatieWoe opened #215 "LoL may put up dialogs after pause"
For https://github.com/phetsims/QA/issues/542. Very minor, easier to see on a slower device like Lovelace ChromeOS.
If you click pause on LoL during the pause before a dialog comes up, but before it has loaded, then the sim will pause, and the dialog will appear while paused.
Steps:
1. Go to either screen.
2. Add a mate
3. Be ready to pause using harness
4. As the 5th gen finishes, pause before th

[2020-09-01 17:56] pixelzoom commented on #215
No idea why someone would even want to do this.  But I don't know anything about how sims are used by LoL.

When the 5th generation completes, and the sim pauses, the dialog has already been schedule to be displayed.   And you can't stop work that's already been scheduled as part of the current frame.

My recommendation is to close this as "won't fix", but I'll let @ariel-phet decide.

[2020-09-01 19:18] ariel-phet commented on #213
Fix verified in 1.1.0-rc2

[2020-09-01 19:18] #213 closed

[2020-09-01 19:25] ariel-phet commented on #209
Verified fixed. Closing

[2020-09-01 19:25] #209 closed

[2020-09-01 19:30] ariel-phet commented on #215
@KatieWoe certainly appreciate the diligence in finding this situation, but I agree, this seems unlikely to be an issue. Marking as `wontfix` and closing

[2020-09-01 19:30] #215 closed

[2020-09-01 19:44] ariel-phet commented on #116
This is going to be considered a production version when put on the website, so we can close this issue (even though it got a more "prototype" QA process).

[2020-09-01 19:44] #116 closed

[2020-09-01 19:50] pixelzoom opened #216 "screenshots"
Create screenshots for the 1.1.0 prototype release.

[2020-09-01 20:03] pixelzoom commented on #216
When the screenshots have been checked into master, please assign this issue back to me, so that I can cherry-pick them into the 1.1 branch.

[2020-09-01 20:28] pixelzoom commented on #216
Cherry-picked screenshots to 1.1 branch.

Closing.

[2020-09-01 20:28] #216 closed

[2020-09-01 21:05] pixelzoom commented on #8
1.1.0 has been published, so you can notify this teacher.

[2020-09-01 21:06] pixelzoom commented on #10
1.1.0 has been published. I'll notify the Google Group as soon as it has been made visible on the PhET site.

[2020-09-01 21:40] pixelzoom commented on #192
For this one:

I discovered that `NumberSpinner` has no way to dilate the pointer areas for its arrow buttons.  Doing that properly involves adding nested options arrowButtonOptions to NumberSpinner, and fixing up every place where NumberSpinner is used.  It will take at least 2 hours. @ariel-phet Do you want me to tackle that?

[2020-09-01 21:49] pixelzoom commented on #192
I've noticed that for the sim-specific dialogs, the close button feels a little finicky for me on iPad.  Since there are no UI components in these dialogs, there's no reason that we can't make their close buttons have generous pointer areas.  So I've done that, they are all the same size, and they look like this:

<img width="553" alt="screenshot_537" src="https://user-images.githubusercontent.com

[2020-09-01 22:07] pixelzoom commented on #192
All requests have been completed.  Most of them are shown in the first screenshot below. Generations below the Proportions graph is shown in the second screenshot.   See also the screenshots in the previous comment related to Dialog close buttons.

@ariel-phet please verify in master, and feel free to close.

<img width="1127" alt="screenshot_538" src="https://user-images.githubusercontent.com/304

[2020-09-01 22:12] pixelzoom commented on #214
ProportionModel.js item is addressed by the above commit.

Food.js and Wolf.js remaining to address, they will use the same change (when I figure one out :)

[2020-09-01 22:14] pixelzoom commented on #116
[1.1.0](https://phet-dev.colorado.edu/html/natural-selection/1.1.0/phet/natural-selection_en_phet.html) was published today, 9/1/2020.

[2020-09-02 14:10] pixelzoom commented on #10
I posted to the Google Group:

And I sent an email to the person who started that thread.

Closing.

[2020-09-02 14:10] #10 closed

[2020-09-02 15:22] amanda-phet commented on #8
Email sent.

[2020-09-02 15:22] #8 closed

[2020-09-02 15:37] pixelzoom opened #217 "double-click on Start Over button is a problem"
This was originally reported and addressed in https://github.com/phetsims/natural-selection/issues/166.  But the "solution" caused some problems there, and it really deserves its own issue.

When bunnies have taken over the world, the "Start Over" button can take a second to complete on slower devices. @KatieWoe reported that it was easy to click twice on Start Over. Then the second click would be

[2020-09-02 15:39] pixelzoom commented on #166
I've moved the Start Over button problem to its own issue, https://github.com/phetsims/natural-selection/issues/217, where it will be easier to track, regression test, etc.

So re-closing this issue.

[2020-09-02 15:39] #166 closed

[2020-09-02 15:42] pixelzoom commented on #195
Info about the public query parameters might be relevant to Teach Tips.

[2020-09-02 15:43] pixelzoom commented on #195
Should Teacher Tips have a link to model.md, so they can find out how the model works, and what simplifications we've made?

[2020-09-02 15:56] pixelzoom commented on #106
In https://github.com/phetsims/natural-selection/issues/208, the Client Guide was identified as "ideally to be included" for 10/1 client deliverable.  So labeling this issue as "blocks-sim-publication".

[2020-09-02 16:01] pixelzoom commented on #203
In https://github.com/phetsims/natural-selection/issues/208#issue-687505513, we said that code review can be completed after 10/1 deadline of client dev version.   After code review is completed, then we'll do another dev test before starting RC testing.

[2020-09-02 16:03] pixelzoom commented on #203
In https://github.com/phetsims/natural-selection/issues/208#issue-687505513, we said that code review can be completed after the 10/1 deadline for client deliverable.   After code review is completed, then we'll do another dev test before starting RC testing.  Code review should still be done asap.  But if any major changes are recommended, they may be deferred until after the 10/1 deadline.

[2020-09-02 16:05] pixelzoom commented on #198
@amanda-phet assign to you again to followup with @kathy-phet in your meetings with her.

[2020-09-02 17:44] zepumph commented on #177
Next I will make this an `invokeSequence`

[2020-09-02 19:23] zepumph commented on #177
Summarizing https://github.com/phetsims/natural-selection/issues/177#issuecomment-681079879 for tomorrows PhET-iO meeting:

* Thus far the state wrapper (and perhaps the feature in general?!?) has been though by many as a "playback" feeling feature. Under the hood and in practice it very much isn't, so I would like our tools expressing that feature to be changed to make it clearer what the state i

[2020-09-02 19:32] pixelzoom opened #218 "address boilerplate in creating IO Types"
In https://github.com/phetsims/tandem/issues/188#issuecomment-685914398, @zepumph said:

On hold until that issue is green-lighted.

This is not required for 10/1 deadline publication, but highly desirable.

[2020-09-02 20:06] pixelzoom commented on #211
Reproduced in master following the steps in https://github.com/phetsims/natural-selection/issues/211#issue-687621572.

[2020-09-02 20:51] pixelzoom commented on #212
I tried reproducing the `phet-io-mirror-inputs-fuzz : unbuilt` test, but discovered that fuzz is broken for mirror-inputs. See https://github.com/phetsims/phet-io-wrappers/issues/371.   And every previous occurrence of this error was in that test.

@samreid pointed out that the latest occurrence of this error is in test `fuzz : unbuilt`, so I can ignore mirror-inputs for investigation of this issu

[2020-09-02 20:59] pixelzoom commented on #211
This was resolved by reverting the change to PlayButtonGroup.js for #217.  I'll find another way to address that issue that plays nice with PhET-iO state.

Closing.

[2020-09-02 20:59] #211 closed

[2020-09-02 21:00] pixelzoom commented on #212
I never successfully reproduced this in my local copy - it's too intermittent. I suspect that this may have been resolved by the above commit, which reverts the change to PlayButtonGroup.js for #217.   I'll leave this open for a couple of days to see what CT has to say.

[2020-09-02 21:08] pixelzoom commented on #217
In the above commit, I used the same approach that I had used in #166 (timer), but in a way that plays nice with PhET-iO.

Sorry to have to ask you to do this again, but...
* @KatieWoe please verify in phettest on a slow device.
* @amanda-phet please verify in phettest on any device.

[2020-09-02 21:14] pixelzoom commented on #218
This is not required for 10/1 deadline publication, but highly desirable.

[2020-09-02 21:37] pixelzoom commented on #218
In `createIOType`:

[code]

I'm wondering if this could be implemented in a way that makes it more obvious that we're stripping off "IO".

[2020-09-02 21:44] pixelzoom commented on #217
... or if you don't have VPN and would prefer to test in a dev version, use [1.2.0-dev.2](https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.2/phet/natural-selection_en_phet.html).

[2020-09-02 22:02] pixelzoom commented on #217
There's still a problem. Please pause testing while I fix it.  From Slack with @KatieWoe:

Kathryn Woessner:house_with_garden:  3:59 PM
There seems to be a new "play" button? It doesn't seem to do anything. Is it intended?

Chris Malley  4:00 PM
Ah rats, I see it too.  It's only supposed to show up when the initial population is > 1.  Please pause your testing while I fix it.

Kathryn Woessner:hou

[2020-09-02 22:24] pixelzoom commented on #217
OK, problem with "Play" button appearing when it shouldn't is fixed.  Please verify in [1.2.0-dev.3](https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.3/phet/natural-selection_en_phet.html) or phettest.

[2020-09-02 22:42] KatieWoe commented on #217
Dev.3 looks ok on the Lovelace ChromeOS device.

[2020-09-02 23:27] pixelzoom commented on #177
My sense is that this issue is not sim-specific, and potentially impacts all phet-io sims.  So after our 9/3/2020 discussion, let's consider transitioning this to a general issue in phet-io-wrappers, and potentially label it "blocks-publication".

[2020-09-03 05:13] pixelzoom commented on #218
Problems:

(1) I don't seem to be able to replace subclasses of `ReferenceIO`, see  https://github.com/phetsims/tandem/issues/188#issuecomment-686246212.

(2) Al of my Core Types are missing one or more required methods, and fail way down the line in State Wrapper, see https://github.com/phetsims/tandem/issues/188#issuecomment-686256266.

(3) I noticed that `BunnyCounts` does not extend `PhetioObj

[2020-09-03 05:15] pixelzoom commented on #218
This issue is on hold again until phetsims/tandem#188 issues are addressed.

[2020-09-03 06:09] ariel-phet commented on #192
Played on my phone and the few previous problem areas were much more usable. Closing.

[2020-09-03 06:11] ariel-phet opened #219 "Enable supportsPanAndZoom"
@pixelzoom on latest dev (1.2.0-dev3) pinch to zoom did not seem to be enabled. I thought it was now on by default in master, is there currently some override or?

[2020-09-03 06:16] #192 closed

[2020-09-03 14:40] pixelzoom commented on #219
There is no specific override in Natural Selection. @jessegreenberg?

[2020-09-03 18:08] pixelzoom commented on #218
I bailed on using ObjectIO.createIOType and wrote my own createIOType.js that handles the IO Type for all of this sims IO Types, including parameterized ReferenceIO subclasses.

I'll note in  phetsims/tandem#188, and the iO team is welcome to borrow from this for ObjectIO.createIOType. If ObjectIO.createIOType is cleaned up and addressed all of the needs of this sim, I'll be happy to revisit using

[2020-09-03 18:26] pixelzoom commented on #218
A few example uses of createIOType.js:

[code]

[code]

[code]

[2020-09-03 18:43] pixelzoom opened #220 "when do I need to handle PhET-iO serialization?"
I'm wondering if I'm handling serialization of some Core Types that is also being done automatically.

In Bunny.toStateObject:

[code]

In Genotype.toStateObject:

[code]

Are GenotypeIO, PhenotypeIO, and GenePairIO already handling the serialization of the above fields?

I'll need to discuss this with someone from the iO team.

[2020-09-03 18:49] pixelzoom commented on #218
Reopening to address this TODO:

[code]

[2020-09-03 19:20] pixelzoom commented on #177
9/3/2020 phet-io meeting decisions:

* In the near term, this is a PhET internal tool
* In the near term, the memory leak should be fixed, since it's hampering internal testing
* This is a general issue, and will be transferred to the phet-io-wrappers repo.
* @zepumph will create a new issue for State wrapper UI enhancements, like the "Toggle Downstream Active" checkbox.

[2020-09-03 19:35] pixelzoom commented on #218
Addressed, closing.

[2020-09-03 19:57] amanda-phet commented on #208
9/3/20 design meeting:

**Ideal milestones:**

9/15 client guide done
9/17 1st dev test starts
9/23 1st dev tests ends
*time for @pixelzoom to fix bugs
9/25-9/28 time for a 2nd dev test
9/29-9/30 review any changes
10/1 deliver dev version to client
10/7 or 10/15 client "slip it in" deadline

**What follows:**

code review completed
Full dev test
RC process
Publish again to website and deliver fin

[2020-09-03 19:59] amanda-phet commented on #219
9/3/20 design meeting: not necessary for 10/1 client version, but we'd like this in the RC version.

[2020-09-03 20:00] pixelzoom commented on #219
@ariel-phet said that we should opt-out for the 10/1 dev release.

[2020-09-03 20:03] amanda-phet commented on #106
note: the final PhET-iO client guide will need to include zoom query parameter for turning off zoom, since it will likely be included after the RC version (and thus in the final version).

[2020-09-03 21:19] pixelzoom commented on #219
The general issue for enabling zoom by default is https://github.com/phetsims/joist/issues/657.

[2020-09-03 21:21] pixelzoom commented on #212
CT indicates that this issue is fixed. Closing.

[2020-09-03 21:21] #212 closed

[2020-09-03 21:27] pixelzoom commented on #198
At 9/3/2020 design meeting, @kathy-phet said that if @amanda-phet is OK with the doc, she has the power to make the decision.  So since @amanda-phet said "That looks fine to me", I'll close this issue.

[2020-09-03 21:27] #198 closed

[2020-09-03 21:29] pixelzoom commented on #202
At 9/3/2020 design meeting, @kathy-phet said that if @amanda-phet is OK with the doc, she has the power to make the decision. So unassigning @kathy-phet.

[2020-09-03 23:59] pixelzoom commented on #219
To disable for the 10/1 deliverable, add to package.json:

[code]

[2020-09-04 00:04] jessegreenberg commented on #219
Correct, that is the way to opt out (followed by `grunt update` to apply the change to the sim). I played with the sim with zoom for a while and it seems to be behaving well. Let me know if there's anything else I can do here!

[2020-09-04 02:36] pixelzoom opened #221 "State wrapper indicates memory leaks"
See https://github.com/phetsims/phet-io/issues/1703#issuecomment-686832806.

In https://github.com/phetsims/phet-io/issues/1703#issuecomment-686832806, @zepumph said:

(his emphasis)

And in https://github.com/phetsims/phet-io/issues/1703#issuecomment-686833024:

So labeling as "blocks-sim-publication" for the 10/1 deliverable.

[2020-09-04 02:49] pixelzoom commented on #219
In Slack, @jessegreenberg mentioned that zoom was causing problems in a few sims, possibly related to WebGL.  Natural Selection uses WebGL (see `OrganismSprites`).

Relevant Slack messages in general channel:

Jesse Greenberg  5:35 PM
Hello all. The zoom feature is now enabled in all PhET sims on master with the exceptions of rutherford-scattering, density, and buoyancy. These were the only sims w

[2020-09-04 14:10] pixelzoom commented on #218
Reopening to explore a different approach that I outlined in https://github.com/phetsims/tandem/issues/188#issuecomment-687163984.

[2020-09-04 15:55] pixelzoom commented on #220
I tried commenting out the `applyState` calls in https://github.com/phetsims/natural-selection/issues/220#issue-692199695.  So I'm guessing that these are unnecessary because, like Property, Genotype, Phenotype, and GenePair are stateful. So save/restore of state is handled by PhET-iO.

[2020-09-04 16:08] pixelzoom commented on #220
Similar questions about these cases:

[code]

[2020-09-04 18:22] amanda-phet commented on #106
The primary client guide is finished: https://github.com/phetsims/phet-io-client-guides/blob/master/natural-selection/phet-io-guide.md

I still need to create client-requests.md, and also figure out where to include the information about the start over button.

[2020-09-04 22:08] arouinfar opened #222 "Unable to make "Environmental Factors" string longer in studio"
While looking into a broader issue related to long strings in studio, I think I stumbled across a different bug in Natural Selection on master. I tested both Win10/Chrome and macOS 10.15.5/Chrome and the issue appears in both platforms.

I tried editing `naturalSelection.introScreen.view.environmentalFactorsPanel.titleNode.textProperty` in studio. If the string has fewer characters than `Environme

[2020-09-04 23:20] samreid commented on #220
I asked in slack:

[2020-09-04 23:45] pixelzoom commented on #222
Wow, that's really odd. With longer strings, it should just scale down to fix.

There might be something else going on here. Just a hunch, I haven't investigated yet. For both the "Add Mutations" and "Environmental Factors" panels, the title is adjusted to be singular vs plural, depending on how many mutations or factors there are.  So something may be triggering the code that sets the title.

[2020-09-04 23:48] pixelzoom commented on #220
The type of serialization is docuemented for every IO Type created in NS.

Examples:

[code]

[code]

[code]

Is this what you're looking for?

[2020-09-05 00:14] samreid commented on #220
This seems important to store. Even though the `father` is stateful and stored, the `bunny` needs to record its reference to the `father`.

I don't have enough domain specific knowledge about the application to answer about the other parts. You could try removing them and see what happens or we could schedule an appointment.

[2020-09-05 00:18] pixelzoom commented on #220
OK, thanks for looking! I'll poke around some more next week.

[2020-09-05 17:30] pixelzoom commented on #150
@amanda-phet FYI, I added a **Bibliography** section to model.md, https://github.com/phetsims/natural-selection/blob/master/doc/model.md#bibliography

[2020-09-06 17:31] pixelzoom commented on #222
Hmmm... A conversation in the Slack phet-io channel (below) indicates that this is a general issue, and can be reproduced in several sims.  But I don't see a general GitHub issue referenced anywhere here.  @arouinfar can you please clarify?

<details>
<summary>Slack phet-io</summary>

Amy Rouinfar  3:14 PM
I've found a general phet-io issue related to long strings, and I'm not sure which repo woul

[2020-09-06 17:57] arouinfar commented on #222
@pixelzoom Natural Selection was the only sim I saw with a string that would revert back to its original.

As for the general issue, there's isn't one. Editing strings in studio can exhibit all sorts of bad behavior, but based on a conversation with @samreid the issues are all sim-specific. There is an agenda item in phet-io meeting to discuss next steps.

[2020-09-08 16:19] pixelzoom commented on #222
The titleNode for the "Add Mutations" panel behaves similarly.  (I instrumented it in the above commit, which seemed like an oversight.)

This is not related to the singular/plural feature of panel titles in this sim.

[2020-09-08 16:24] pixelzoom commented on #222
There's something weird going on here with maxWidth.  I temporarily instrumented the label on the "Add a Mate" button.  When I edit it's textProperty in Studio, maxWidth appears to be totally ignored. See below:

<img width="677" alt="screenshot_547" src="https://user-images.githubusercontent.com/3046552/92502614-642cec00-f1bd-11ea-9f9e-fe782922bac6.png">

[2020-09-08 16:37] pixelzoom opened #223 "should button labels be instrumented?"
The labels on the "Add a Mate", "Play", and "Start Over" buttons are not currently instrumented, and therefore not editable in Studio.   I don't recall if this was a deliberate decision or just the way it is.

If they will not be instrumented, then I should add `tandem: Tandem.OPT_OUT` in the code.

[2020-09-08 16:42] pixelzoom commented on #222
Sam Reid:house_with_garden:  10:37 AM
That is so crazy!  I’ll take a look

Here’s the trouble

[code]

Chris Malley  10:41 AM
Thanks! So `checkboxes.boundsProperty` is changing when the panel's title gets wider? That's odd, but I guess I can observe `checkboxes.localBoundsProperty` instead.

[2020-09-08 17:42] pixelzoom commented on #222
Fixed in the above commit.  I also implemented something that @samreid suggested.  If the panel title has been changed (via Studio) to something other than "Environmental Factors" or "Environmental Factor", then the singular/plural code is ignored.

@arouinfar do you want to have a look?

[2020-09-08 18:08] pixelzoom commented on #219
@jessegreenberg What is the timeframe for investigating the problem with WebGL sims? Do you want to do that in this issue, or create a new issue?

FYI, Natural Selection uses WebGL. On 9/17, we start QA on a dev version that will be delivered to the client. Zoom can be disabled for the 9/17 deliverable. But then we immediate begin QA for production versions, and I believe this needs to be resolved

[2020-09-08 18:12] pixelzoom commented on #219
In https://github.com/phetsims/joist/issues/657#issuecomment-689048282, @jessegreenberg noted that Zoom is causing problems with WebGL sims.  Natural Selection uses WebGL.   So Zoom may need to be disabled for the 10/1 deliverable, which begins dev testing on 9/17.  Unclear whether it would be blocking for production.

[2020-09-08 18:16] pixelzoom commented on #219
Labeling blocks-sim-publication to remind me that Zoom needs to be either disabled or addressed for 10/1 deliverable.

[2020-09-08 18:18] pixelzoom commented on #218
Now using an approach throughout that looks like this. `classic extends` is used to define the class, `setIOTypeFields` is used to set static constants in the IO Type.

[code]

[2020-09-08 18:20] pixelzoom commented on #218
On hold pending further work on  phetsims/tandem#188.  This doesn't block 10/1 deliverable.

[2020-09-08 18:45] pixelzoom commented on #214
Looking more closely at Food.js and Wolf.js, they are fine. `clockGenerationProperty` is the integer generation value, and it's value is correct when bunnies are starved or eaten.

Closing.

[2020-09-08 18:45] #214 closed

[2020-09-08 19:02] samreid commented on #222
The commit uses `localBoundsProperty` to decide when to update the strings.  But the code it uses to determine the visible count is

[code]

Therefore it seems more straightforward to `multilink` to the `rows.children`'s `visibleProperty` instances to decide when to update.

[2020-09-08 19:24] pixelzoom commented on #222
checkboxes is a VBox whose only children are the checkboxes.  If any the visibility of any child changes, the VBox gets bigger or smaller due to the `excludeInvisibleChildrenFromBounds` feature that was recently added to layoutBox.  Why do you think it's "more straightforward" to observe every child?

[2020-09-08 19:26] samreid commented on #222
Do you want this callback to run if the bounds of a child changes too?

[2020-09-08 19:56] pixelzoom commented on #222
What I'd really like is something like:

[code]

But that doesn't exist.

So I did what I think is the easiest, most straightforward way to implement a feature that has a 1:10000 chance of ever being used in the wild.  And if the bounds change for some reason other than the visibility of a child changing, the behavior is still correct.

[2020-09-08 20:13] pixelzoom commented on #222
Implemented in the above commit. This doesn't feel like a big win to me, especially this late in the game.

[2020-09-08 20:49] arouinfar commented on #222
@pixelzoom looks good in master. I am unable to reproduce the original issue, and I even tried changing the strings to have the incorrect singular/plural.

[2020-09-08 21:17] #222 closed

[2020-09-08 21:47] pixelzoom opened #224 "create tandem names via string concatenation"
When I started implementing this sim, we were trying to avoid creating tandem names via string concatenation, primarily because they are not searchable in code.   Consequently, I have more code than I'd like that looks like this example in AddMutationsPanel.js.

[code]

What I'd really like to have done is:

[code]

Changing this late in the game would be a big task, risky, and is probably not wis

[2020-09-08 21:48] pixelzoom commented on #224
I see this was added to the PhET-iO Instrumentation Guide on 8/14/2020 in https://github.com/phetsims/phet-io/commit/6f83cc6ed9b00d6264d5a5397afd40e86389f4c6:

[2020-09-09 04:11] samreid commented on #224
I leveraged the string concatenation in Gravity and Orbits, and it was very useful.  Up to you how you want to proceed for this sim.

[2020-09-09 18:14] pixelzoom commented on #220
9/9/2020 Zoom call with @samreid and @zepumph.

We walked through the examples in the comments above, and they all look correct. I now have a better understanding of when and why I need to explicitly serialize things that have a ReferenceIO type.

One small change is in this example:

[code]

In this case the `ReferenceIO` is redundant, so this can be changed to

[code]

[2020-09-09 20:02] pixelzoom commented on #218
This seems to be in a good place now, so I'm going to close this issue.

IO Types in general are likely to evolve as work on phetsims/tandem#188 continues. But we'll open a new issue if it requires NS changes.

[2020-09-09 20:02] #218 closed

[2020-09-09 20:06] pixelzoom commented on #220
All work here is done, closing.

[2020-09-09 20:06] #220 closed

[2020-09-09 20:24] pixelzoom commented on #219
Over in https://github.com/phetsims/joist/issues/657#issuecomment-689800331, @ariel-phet said:

@amanda-phet Note that this is a departure from the original plan, which was to publish the 10/1 dev version with Zoom disabled.  If you have anything related in the Client Guide, you may need to revise.

[2020-09-09 20:57] pixelzoom commented on #219
I discussed this more with @ariel-phet on Slack.  Summary:

* Zoom + PhET-iO has not been tested. E.g. how does Zoom work in Studio? @ariel-phet or @jessegreenberg will create an issue to test compatibility and resolve issues.

* We will disable Zoom for the 10/1 deliverable.

* @amanda-phet will need to update the Client Guide for the 10/1 deliverable to indicate that `supportsZoom` defaults to `

[2020-09-09 21:02] pixelzoom commented on #219
Zoom was disabled in the above commit.

[2020-09-09 21:09] pixelzoom commented on #224
OK, thanks.  I'm leaning towards leaving things "as is" at this late date.  We'll see how that fares in code review.

[2020-09-09 21:42] pixelzoom commented on #224
Here are the classes that feel "brute force" to me.  Again, I'm not sure if I will (or should) do anything about them at this point, but at least they are identified.

Model
- [ ] BunnyCounts (whiteFurCount, brownFurCount,…)
- [ ] BunnyVariety (fatherFurAllele, motherFurAllele,…)

View
- [ ] AddMutationsPanel (furRow, earsRow, teethRow)
- [ ] AllelesPanel (furRow, earsRow, teethRow)
- [ ] Populati

[2020-09-10 01:38] pixelzoom commented on #224
I did quite a bit of generalization in the above commits, stuff that didn't seem too risky.  GenesVisibilityManager in particular is much nicer.

Many of the remaining cases have to do with each gene or allele have a visibleProperty.  I experimented with generating these Properties by iterating over GenePool.genes, and using a Map to get the Property for a specific Gene.  But things always got ver

[2020-09-10 01:52] #224 closed

[2020-09-10 15:46] pixelzoom opened #225 "add "Allele" suffix to Allele tandem names"
An oversight that I noticed...  The set of Alleles looks like this:

<img width="186" alt="screenshot_557" src="https://user-images.githubusercontent.com/3046552/92756646-3e811d80-f34a-11ea-83e5-cbb2efadbb6f.png">

They tandem name really should have an "Allele" suffix, like this:

<img width="214" alt="screenshot_558" src="https://user-images.githubusercontent.com/3046552/92756759-5658a180-f34a-1

[2020-09-10 15:48] pixelzoom commented on #225
None of these elements are featured, so I doubt that this change is very significant.  But over to @amanda-phet so that's she's aware of the change, and in case there's anything related in the Client Guide that needs to change.

[2020-09-10 19:52] pixelzoom commented on #221
In https://github.com/phetsims/phet-io/issues/1703#issuecomment-690675434, @zepumph said:

So this issue can be closed.

[2020-09-10 19:52] #221 closed

[2020-09-10 19:57] pixelzoom commented on #223
the problem with sun buttons (phetsims/sun#623) is unlikely to be addressed there.  Instead, in today's PhET-iO meeting, there was a discussion about adding a Rosetta-like UI to Studio for changing strings, and eventually un-instrumenting most `textProperty` elements.  But that's going to be a ways off.    So in the meantime,  I recommend that we leave these button labels uninstrumented.

@arouinf

[2020-09-10 20:25] amanda-phet commented on #225
Thanks for the heads up. Nothing in the client guide needs to change.

[2020-09-10 20:25] amanda-phet commented on #225
Anything else to do here?

[2020-09-10 20:27] amanda-phet commented on #223
I'm fine leaving these labels uninstrumented for now.

Did you want @arouinfar 's feedback too, or just mine?

[2020-09-10 20:41] pixelzoom commented on #106
9/10/2020 design meeting: @amanda-phet will remove the `supportsZoom` row from the NS Client Guide.

[2020-09-10 20:43] pixelzoom commented on #223
9/10/2020 design meeting: Leave uninstrumented. Closing.

[2020-09-10 20:43] #223 closed

[2020-09-10 20:44] pixelzoom commented on #208
9/10/2020 status meeting:

We decided to make this an RC, since we may need to patch.

[2020-09-10 20:50] pixelzoom commented on #225
9/10/2020 design meeting: looks good, closing.

[2020-09-10 20:50] #225 closed

[2020-09-10 20:52] pixelzoom commented on #208
9/10/2020 design meeting:

When I created the QA issue for the RC:
* label as both "QA:rc" and "QA:rc-lite"
* prioritize PhET-iO testing

[2020-09-10 21:19] amanda-phet commented on #217
I don't see a "Play" button, and the double-clicking seems to be working just fine! If I try to double-click really fast, I still notice the "Add a mate" button is being clicked on the second one. So I think all is good here.

[2020-09-10 21:19] #217 closed

[2020-09-11 15:54] KatieWoe opened #226 "Flickering bushes (shrubs) on playback"
Found during testing for https://github.com/phetsims/phet-io/issues/1654. Win 10 Firefox. Both recording and playback on master.
While recording the sim behaved normally. However, during playback the bushes in the play area started flickering. The tough bushes showed this a bit better.
![flickerbush](https://user-images.githubusercontent.com/41024075/92947000-a865f980-f414-11ea-9243-e54916f1fa63.g

[2020-09-11 16:29] pixelzoom commented on #226
I'm not familiar with record & playback, and I have no idea why just the bushes might flicker on playback.  Maybe it's noticeable because there are a large number of them.

@KatieWoe could you please try a playback scenario that has a large number of bunnies (white and brown) to see if there's any noticeable flicker in the bunnies when there are more of them?

[2020-09-11 16:32] pixelzoom commented on #226
Assigning to @amanda-phet to make the call on where this blocks publication for the 10/1 deliverable. Labeling as "block-sim-publication" until we determine otherwise.

[2020-09-11 16:48] KatieWoe commented on #226
Still happens when there are a large number of bunnies. But I didn't see the bunnies flashing themselves.

[2020-09-11 22:39] amanda-phet commented on #180
Featured list is complete.

There are some questions though, for anyone interested in weighing in (unless I can discuss with @kathy-phet Tuesday morning).

1. There are some elements that exist in the Intro screen that I assume we don't want to feature, such as `naturalSelection.labScreen.model.food.isToughProperty` or anything related to `ears` or `teeth`. Is this correct? (@kathy-phet , @pixelzo

[2020-09-11 23:54] pixelzoom opened #227 "is PlayButtonGroup using the wrong Timer?"
Related to the fix for https://github.com/phetsims/natural-selection/issues/217 (double-click on Start Over button)...

The fix (arrived at with the help of @jonathanolson) was to make the "Add a Mate" or "Play" button visible in the next frame, using a Timer.  In PlayButtonGroup.js:

[code]

For https://github.com/phetsims/axon/issues/329, @samreid renamed timer.js to stepTimer.js, and added this

[2020-09-12 00:11] pixelzoom commented on #227
Maybe it doesn't matter which timer NS is using?  I'm not clear on what "Only runs when the sim is active" means, when the sim might be inactive, and whether it's an issue if for NS.

[2020-09-12 00:30] pixelzoom commented on #219
Note that in phetsims/chipper#980, `supportsZoom` was changed to `supportsPanAndZoom`.

[2020-09-12 01:51] samreid commented on #227
In order to have reproducible playbacks in the PhET-iO playback wrapper, Natural Selection should use the `stepTimer` so that the input event and step sequencing will be reproducible.

[2020-09-12 04:00] pixelzoom commented on #227
Great, thanks for the info.  No changes required, so closing.

[2020-09-12 04:00] #227 closed

[2020-09-12 17:55] samreid opened #228 "Check the mipmaps"
During https://github.com/phetsims/chipper/issues/978 the mipmaps were updated.  Can you please review them and make sure they are OK?

[2020-09-12 18:25] pixelzoom commented on #228
This sim doesn't have any mipmaps.  I'm wondering why 7 .js files for images/ were revised in https://github.com/phetsims/natural-selection/commit/927553bafdaa5f219d08d4330504e221a33cb6ed.  @jessegreenberg @samreid ?

[2020-09-12 18:32] pixelzoom commented on #228
Looking at 927553b, the only difference I see is the deleting of a blank line in each of the *_png.js files.  For example:

<img width="617" alt="screenshot_562" src="https://user-images.githubusercontent.com/3046552/93002390-f56ccd00-f4f3-11ea-978f-282f6ed4170c.png">

[2020-09-13 20:58] samreid commented on #228
I see, the formatter adds a blank line, but the file is generated without the blank line.  It seems like I should change the file generation so it outputs the blank line after the import, so that it is compatible with our formatter.  @pixelzoom does that sound good to you?

[2020-09-14 01:18] pixelzoom commented on #228
Yeah, that sounds correct.

[2020-09-14 16:26] samreid commented on #228
Thanks, I'll address that in https://github.com/phetsims/chipper/issues/982.  Up to you what you wish to do with this issue.

[2020-09-14 16:56] #228 closed

[2020-09-14 17:49] amanda-phet commented on #106
Regarding @pixelzoom 's [comment](https://github.com/phetsims/natural-selection/issues/106#issuecomment-646807665) above, I've added the following to client-requests.md.

However, we made this ID read-only, so the client can't actually hide the startOverButton. @pixelzoom any advice?

## Reset the sim to initial preset sim conditions

The "Start Over" buttons means the user will go back to the poi

[2020-09-14 18:02] pixelzoom commented on #106
Re:

I think we should omit that part. We don't want them touch this button, it's not something they asked for, and you've already clarified the difference between "Reset All" and "Start Over".

[2020-09-14 18:11] pixelzoom commented on #106
Re this section:

It depends on what this goal is.

If they want to add/remove a gene from this screen, they should use the Properties that show/hide all UI components related to a gene:

[code]

If they want to temporarily show and hide certain things in the UI after configuring the screen using the above elements, then they could use the elements that you have listed in the Client Guide.  But I

[2020-09-14 18:46] amanda-phet commented on #106
@pixelzoom and I discussed some tweaks over zoom, so these documents are now complete! Closing.

[2020-09-14 18:46] #106 closed

[2020-09-15 02:05] amanda-phet commented on #202
Looks fine to me.

[2020-09-15 02:05] #202 closed

[2020-09-15 02:18] amanda-phet commented on #208
Since #106 is complete, I think I can unassigned this issue.

#180 still needs review, but I will finish that with @kathy-phet 9/15/20 at our standing meeting.

[2020-09-15 02:34] amanda-phet commented on #226
@ariel-phet ?

I am wondering if something similar has happened with other sims. I have no idea how often playback is tested.

My inclination is to defer this until a client tells us they want it changed.

[2020-09-15 02:37] pixelzoom commented on #203
@jonathanolson Re documentation changes like this one in ProportionsModel.js:

[code]

I'm OK leaving these changes that you've added.  But my understanding of PhET convention is that if `valueType` or `phetioType` is included in options, that is considered to be documentation of the type. And we decided not to duplicate that some info with a type expression in the comment above the field definiti

[2020-09-15 02:59] pixelzoom commented on #203
Re this review comment in Phenotype.js (which I assume applies to all IO Type definitions :)

[code]

Unfortunately, yes -- what I'm doing in NS is currently the recommended pattern. And it used to be even worse. In https://github.com/phetsims/tandem/issues/188, the iO team considered some different approaches, and got us to where we currently are.  https://github.com/phetsims/tandem/issues/211 is

[2020-09-15 03:09] pixelzoom commented on #203
About this review comment related to Genotype `toAbbreviation`:

[code]

The doc for `toAbbreviation` says:

`This is intended for debugging only. Do not rely on the format!`

I've used this occasionally during development to inspect the Genotype for individual PhET-iO elements (bunnies), mainly via its use in Bunny `toString`.  I've don't recall ever using it to get the untranslated genotype stri

[2020-09-15 03:26] pixelzoom commented on #203
Re this review comment in SelectedBunnyProperty:

[code]

It was originally created to encapsulate PhET-iO ugliness like:

`  phetioType: PropertyIO( NullableIO( ReferenceIO( Bunny.BunnyIO ) ) ),`

Then yes, it started getting used in type checking. I could delete it and replace it's definition with:

[code]

But then I'd have to revise (or delete) the type checking. That feels like negative work

[2020-09-15 03:36] pixelzoom commented on #203
Re this comment in Shrub.js

[code]

We had a discussion in developer meeting awhile back about pass-through (default) constructors. We made all developers aware of how they work in Javacript.  And we left it up to developer discretion as to whether to include or omit them.  When there are params involved, my preference is to include them, so I don't have to navigate up the class hierarchy searchi

[2020-09-15 03:44] pixelzoom commented on #203
Re this REVIEW comment about the doc for parseInitialPopulation.js:

[code]

Unfortunately there is no "finalized spec".  I should probably not refer to issue #9 as "design specification", it's more like bits and pieces that might explain how we got here.  The ground truth is the documentation that can be found with `labMutations` and `labPopulation` query parameters.    So hopefully my revisions

[2020-09-15 04:06] pixelzoom commented on #203
Re these REVIEW comments about Gene's constructor:

[code]

Excellent suggestions, done in the above commit.  Gene is one of those classes that started out with a small number of fields, and eventually grew.

[2020-09-15 04:12] pixelzoom commented on #203
Re this REVIEW question in Wolf `dispose`:

[code]

I'm doing the same thing in Bunny for its 2 Emitters.  I guess I've gotten in the habit of disposing Emitters because of PhET-iO. If they're instrumented, you have to dispose them or they stay registered.  It's hard to know which Emitters need to be instrumented and which don't, so I just assume they all might be instrumented.

So... Yes, just fo

[2020-09-15 04:17] pixelzoom opened #229 "fix options handling in PopulationGridNode.VerticalLines"
Related to #203 (code review) @jonathanolson had this REVIEW comment about PopulationGridNode.VerticalLines:

[code]

Good catch, this is not what I intended here.  Passing all options to a subcomponent is (imo) an anti-pattern.  And clipArea makes it worse here.  I will address, probably via nested options for the Path.

[2020-09-15 04:28] pixelzoom commented on #203
Re this REVIEW comment in WolfCollection.js:

[code]

In the above commit, I (hopefully) improved the documentation for GenerationClock `constrainDt`.   If I understand the question in the context of WolfCollection, yes - it prevents the clock advancing so far in one step that we miss the transition where wolves eat.   If that doesn't answer the question, please open an issue and we can discuss fu

[2020-09-15 04:39] pixelzoom commented on #229
Fixed in above commit, using nested option `pathOptions` for the Path subcomponent of VerticalLines.

@jonathanolson please review.

[2020-09-15 04:47] pixelzoom opened #230 "Bunnies are not taking over the world at exactly 12:00"
Bunnies are not taking over the world at exactly 12:00.

Steps to reproduce:

1. Run the sim with `?secondsPerGeneration=1` to make this quick to reproduce.
2. Go to either screen.
3. Zoom out to y-axis range 0-2000
4. Press the "Add a Mate" button
5. Wait for bunnies to take over the world, close the dialog.
6. Press the Generation left arrow button below the Population graph.

Notice that the x-

[2020-09-15 04:57] pixelzoom commented on #230
Some screenshots that illustrate what's going on...

Here's a screenshot immediately after closing the "Bunnies have taken over the world" dialog. Note that the x-axis tick mark for "6" is slightly to the left of the right edge of the graph, and there is no "1" tick mark shown at the left edge of the graph.  This is because the current time is > x=6.

<img width="605" alt="screenshot_568" src="htt

[2020-09-15 05:03] pixelzoom commented on #230
This problem first appeared in [1.1.0-dev.6](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.6/phet/natural-selection_en_phet.html?secondsPerGeneration=1), published 2020-08-11 11:29.

It was not present in [1.1.0-dev.5](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.5/phet/natural-selection_en_phet.html?secondsPerGeneration=1), published 2020-08-10 17:00.

[2020-09-15 14:39] KatieWoe commented on #226
It's generally tested whenever phet-io is tested.

[2020-09-15 14:50] pixelzoom commented on #230
The fix in 01199fb for https://github.com/phetsims/natural-selection/issues/165 introduced a couple of new problems, addressed in the above commit.

(1) `stepTime` was executing as though it were 12:00 on every step.

(2) `secondsToGenerations` introduced error for integer generation values.

Confirmed that this working nicely now in master.  This fix will appear in all versions >= 1.2.0-dev.4.

[2020-09-15 14:50] #230 closed

[2020-09-15 16:25] amanda-phet commented on #180
9/15/20 discussion with @kathy-phet :

I will go ahead and feature elements relating to ears, teeth, and tough food on the Intro screen so it's parallel to the lab screen.

[2020-09-15 16:38] nagulvali555 opened #231 "getting black screen"
![image](https://user-images.githubusercontent.com/71317991/93239083-27ba3c80-f737-11ea-8315-5021cc75d143.png)

[2020-09-15 17:17] pixelzoom commented on #226
@KatieWoe can you please described the test procedure, or point me to where it's described? I'm not familiar with record/playback and I'd like to be able to reproduce this.

[2020-09-15 17:20] samreid commented on #226
Launch the "recording" wrapper with ?localFile, like

http://localhost/main/phet-io-wrappers/record/?sim=natural-selection&localFile&phetioDebug

Then play with the sim for a bit, then type `window.saveLogToFile('myfile.log');` in the console.

Then open the playback wrapper, then select myfile.log and press play.

[2020-09-15 17:32] pixelzoom commented on #231
@nagulvali555 This is not enough info for us to troubleshoot.

Questions:
* Have you followed the setup instructions in the [PhET Development Overview](https://github.com/phetsims/phet-info/blob/master/doc/phet-development-overview.md)?
* How are you running the sim?
* What is your browser version and OS version?
* Are there any error messages in the console?
* I see that you've forked natural-sel

[2020-09-15 17:40] pixelzoom opened #232 "memory test for brand=phet (1.2 branch)"
This is a memory test for brand=phet, prior to creating the 1.2 branch.  The previous test was in #190.

There are 2 test procedures:

(1) Standard fuzz test

1. Take a heap snapshot at startup.
2. Run with `?fuzz` for 10 minutes, taking snapshots at 1-minute intervals.
3. Take a heap snapshot at t=15 minutes.

(2) Heap snapshots every 100 generations

1. Run the sim with `secondsPerGeneration=0.2

[2020-09-15 17:41] pixelzoom opened #233 "memory test for brand=phet-io (1.2 branch)"
This is a memory test for brand=phet-io, prior to creating the 1.2 branch.  The previous test was in #189.

There are 2 test procedures:

(1) Standard fuzz test

1. Take a heap snapshot at startup.
2. Run with `?fuzz` for 10 minutes, taking snapshots at 1-minute intervals.
3. Take a heap snapshot at t=15 minutes.

(2) Heap snapshots every 100 generations

1. Run the sim with `secondsPerGeneration=

[2020-09-15 18:16] pixelzoom commented on #233
Test configuration:
* https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.4/phet/natural-selection_en_phet.html
* MacBookPro16,1
* Chrome 85.0.4183.102, Incognito

(1) Standard fuzz test:

| Time (minutes) | Heap Size (MB) |
| --: | --: |
| 0 | 24.8 |
| 1 | 28.6 |
| 2 | 29.9 |
| 3 | 30.2 |
| 4 | 30.3 |
| 5 | 30.7 |
| 6 | 30.9 |
| 7 | 30.8 |
| 8 | 31.1 |
| 9 | 31.2 |
| 10 | 31.2 |

[2020-09-15 18:32] pixelzoom commented on #232
Test configuration:
* https://phet-dev.colorado.edu/html/natural-selection/1.2.0-dev.4/phet/natural-selection_en_phet.html
* MacBookPro16,1
* Chrome 85.0.4183.102, Incognito

(1) Standard fuzz test:

| Time (minutes) | Heap Size (MB) |
| --: | --: |
| 0 | 24.8 |
| 1 | 28.6 |
| 2 | 29.9 |
| 3 | 30.2 |
| 4 | 30.3 |
| 5 | 30.7 |
| 6 | 30.9 |
| 7 | 30.8 |
| 8 | 31.1 |
| 9 | 31.2 |
| 10 | 31.2 |
| 15 |

[2020-09-15 19:05] ariel-phet commented on #226
Most definitely not blocking. In fact, I am going to mark deferred. This is a minor aesthetic issue  in my opinion and should not currently be addressed. It is unclear to me why a client would care if the focus is on understanding a student use.

[2020-09-15 19:48] pixelzoom commented on #229
I'll be taking shas for the 1.2 branch on 9/17, and this needs to be reviewed before then. So high priority please.

[2020-09-15 21:47] pixelzoom opened #234 "Checkbox input listener is not instrumented"
In https://github.com/phetsims/sun/issues/624, it was discovered that Checkbox's input listener was not instrumented, so events were not appearing in the data stream.   That was corrected but is awaiting review, since it changes the PhET-iO API.  Natural Selection has many checkboxes, so it's a blocking issue for the 10/1 deliverable.

[2020-09-15 21:59] jonathanolson commented on #229
Looks great to me, thanks!

[2020-09-15 21:59] #229 closed

[2020-09-15 22:01] pixelzoom commented on #234
phetsims/sun#624 was reviewed and closed, so this issue can be closed too.

[2020-09-15 22:01] #234 closed

[2020-09-15 22:07] pixelzoom commented on #180
Sorry, I didn't see the mention in https://github.com/phetsims/natural-selection/issues/180#issuecomment-691341669 (always best to assign to me if you want input).

Re 1:  Up to you whether you want to feature elements (genes, environmental factors) the same for Intro and Lab screen, or only feature the elements that are by default included in the Intro screen.

Re 2: I don't recommend featuring _

[2020-09-16 19:38] jonathanolson commented on #203
That sounds good to me, apologies!

Not a need, however having to trace down where a local variable is declared, or what its derived from to find its type added effort, so it seemed easier to doc those types at the field declaration at least for my read-through of the code later.

[2020-09-16 19:43] jonathanolson commented on #203
Above comments, commits and reasoning all sound great (read through and reviewed).

[2020-09-16 20:10] amanda-phet commented on #180
@pixelzoom said:

@kathy-phet what are your thoughts about this? Also assigning this to you in case you will be able to review this by tomorrow. If not we'll proceed as -is.

[2020-09-16 20:47] pixelzoom commented on #180
@amanda-phet can you clarify what "as is" means? Does that mean featuring `visibleProperty` for individual UI components related to genes?  If the 10/1 RC will be used by instructional designers, we should emphasize `view.genes` (by featuring those Properties), not emphasize `visibileProperty` individual UI components.   As noted in the Client Guide: set `view.genes` Properties first, then set `vi

[2020-09-16 21:25] jonathanolson commented on #203
Incredibly useful and perfect! Didn't see any changes to recommend. Thanks!

[2020-09-16 21:37] pixelzoom commented on #151
Over in https://github.com/phetsims/natural-selection/issues/203#issuecomment-693673941, @jonathanolson said:

I meant to link to this issue, not #203.   But I'm glad it was useful, and I'm going to close this issue.

[2020-09-16 21:37] #151 closed

[2020-09-16 21:50] amanda-phet commented on #180
That is correct. We put the note in the client guide, and my understanding of how we're featuring items in studio is that we want to be consistent with other sims and consistent with general UI components. Visibility of nodes is standard. I am 100% ok not featuring those if @kathy-phet wants to go that route, though.

[2020-09-16 21:56] pixelzoom commented on #180
I see that `view.gene.*` Properties are featured, so at least they are on equal footing with `visibleProperty`.

[2020-09-17 13:05] kathy-phet commented on #180
When Amanda and I discussed, we thought of scenarios where you would want to do micro-customizations and not just use the convient vew.gene.* .... and for consistency of how PhET-iO works across sims, it seemed like the right thing to do to make checkbox visibility and such still available as featured. And then direct clients with recommendations in the client guide.

[2020-09-17 15:05] pixelzoom commented on #180
OK. That sounds like "leave as is".   So closing  If I have that wrong, please reopen asap, because I'll be creating the 1.2 release branch this morning.

[2020-09-17 15:05] #180 closed

[2020-09-17 19:32] pixelzoom commented on #208
9/17/2020:  RC 1.2.0-rc.1 was published, QA issue https://github.com/phetsims/QA/issues/551.

https://phet-dev.colorado.edu/html/natural-selection/1.2.0-rc.1/phet-io/
https://phet-dev.colorado.edu/html/natural-selection/1.2.0-rc.1/phet/natural-selection_en_phet.html

[2020-09-17 19:34] pixelzoom commented on #232
Removing "ready-of-qa" label because PhET brand will not be tested in the 1.2 branch.

When we start the next phase of deployment, it will be for both brands in a new 1.3 branch, and another round of memory testing will be needed.

[2020-09-17 19:34] #232 closed

[2020-09-17 21:21] amanda-phet commented on #195
Teacher tips are complete and I will upload after https://github.com/phetsims/website/issues/1133 is resolved.

[2020-09-17 21:21] #195 closed

[2020-09-21 20:47] KatieWoe commented on #233
Win 10 Chrome 84.0.4147.89 Standard Test:
Start: 26.9
1 min: 30.4
2 min: 31.0
3 min: 31.3
4 min: 31.5
5 min: 31.7
6 min: 31.8
7 min: 32.0
8 min: 31.9
9 min: 32.1
10 min: 32.2
15 min:32.6

[2020-09-21 21:17] KatieWoe commented on #233
Win 10 Chrome 85.0.4183.121 Generation 100 Test:
0: 26.2
100: 55.2
200: 55.1
300: 56.1
400: 56.0
500: 56.2
600: 55.5
700: 56.3
800: 56.2
900: 56.3
1000: 57.1
0: 28.8

[2020-09-21 21:57] pixelzoom commented on #233
Excellent, thanks @KatieWoe.  Memory test for the 1.2 branch looks good, so this issue can be closed.

[2020-09-21 21:57] #233 closed

[2020-09-21 22:59] KatieWoe opened #235 "Reset All in launched sim creates "Add a Mate" button when it shouldn't"
**Device**
Personal Mac Air
**OS**
Mac OS 10.15.6
**Browser**
Chrome 85.0.4183.102
**Problem Description**
For https://github.com/phetsims/QA/issues/551.
If you launch a sim in a state different from default (specifically with more than one rabbit) and then hit the reset all button the "add a mate" button appears when it shouldn't. Pressing it doesn't seem to make it go away.
**Steps to Reproduce:

[2020-09-21 23:13] pixelzoom commented on #235
Reproduced in 1.2.0-rc.1 and master.

[2020-09-22 19:08] pixelzoom commented on #235
Between 1.1.0-dev.16 and 1.1.0-dev.17, a similar problem was introduced where the "Play" button would be visible after pressing the Reset All button.  That problem was fixed in 5b373bf9d8ee548a86194fcb846e6a8627d86e0c for #217 between 1.2.0-dev.1 and 1.2.0-dev.2.

Between 1.2.0-dev.2 and 1.2.0-dev.3, the problem described in this issue was introduced.

[2020-09-22 19:20] amanda-phet opened #236 "populationPanel.visibleProperty mistakenly not featured"
@KatieWoe noticed in https://github.com/phetsims/QA/issues/551 that an element that was supposed to be featured was not.

I'll feature `naturalSelection.labScreen.view.graphs.populationNode.populationPanel.visibleProperty` in master, then @pixelzoom will patch the 1.2 branch.

[2020-09-22 19:23] pixelzoom commented on #235
The problem is related to https://github.com/phetsims/natural-selection/issues/217 (double-click of Start Over button).  I'm really wishing we had just ignored that problem, because the solution keeps causing other problems.  The solution was to make the "Add a Mate" (or "Play") button visible in the next frame, by using a timer.  In this case in the State Wrapper, the value of simulationModePrope

[2020-09-22 19:29] pixelzoom commented on #235
Fixed in the master and 1.2 in the above commits and cherry-picks.  This required checking simulationModeProperty again in the callback, i.e.:

[code]

[2020-09-22 19:34] pixelzoom commented on #236
I discussed with @amanda-phet on Slack. Faster for me to do this in master and 1.2, and I'll have @amanda-phet review master.

[2020-09-22 19:50] pixelzoom commented on #236
Actually a good thing that I did this. Because I'm using WebStorm, I discovered that overrides.js formatting does not match PhET style, https://github.com/phetsims/studio/issues/196.

[2020-09-22 19:55] pixelzoom commented on #236
Addressed in master and 1.2 by the above commits.  @amanda-phet please review in master.   If it looks OK, assign back to me.

[2020-09-22 19:59] pixelzoom opened #237 "Launched Sim on iPadOS 14.0 takes up more than full screen"
See https://github.com/phetsims/phet-io-wrappers/issues/377. For phetsims/QA#551.

[2020-09-23 00:50] loganbraywork opened #238 "Playback wrapper has strange shaking"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 2004

<b>Browser</b>

Chrome  85.0.4183.102

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/551

Found in the playback of a recording made with the record wrapper. There seems to be a strange shaking while only seen in playback. Possibly a result of my device.

<b>Visuals</b>

![2020-09-22NSLogShakes]

[2020-09-23 00:54] loganbraywork opened #239 "Screenshots made with screenshot wrapper low quality"
<b>Test Device</b>

Windows 10 Laptop

<b>Operating System</b>

Windows 10 2004

<b>Browser</b>

Chrome 85.0.4183.102

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/551

Screenshots made in the screenshot wrapper show lower quality for the play area (seen best in the quality of the rabbits) than original sim.

<b>Visuals</b>

![2020-09-22NSScreenshotwrapper1](https://user-i

[2020-09-23 02:06] pixelzoom opened #240 "data stream wrappers are slow and/or not responding"
Originally reported by @KatieWoe in https://github.com/phetsims/QA/issues/551#issuecomment-697014587 for 1.2.0-rc.1 testing:

I said:

@KatieWoe replied:

[2020-09-23 02:07] pixelzoom commented on #240
@zepumph @samreid please comment on whether this slowdown is expected/unexpected, and whether this is blocking for the 10/1 deadline in https://github.com/phetsims/natural-selection/issues/208.

[2020-09-23 02:08] pixelzoom commented on #240
Labeling as blocking until I'm told otherwise.

[2020-09-23 02:14] pixelzoom commented on #238
@KatieWoe  You previously reported that the shrubs were flickering on playback in https://github.com/phetsims/natural-selection/issues/226.  (That issue was deferred by @ariel-phet.) Are the visuals similar here?

[2020-09-23 02:15] pixelzoom commented on #239
This doesn't sound like something that is specific to Natural Selection. @KatieWoe do you see the same issue with other sims?

[2020-09-23 02:21] pixelzoom commented on #239
Gross, that's really bad.  This appears to be a general problem -- I see the same thing in master on macOS 10.15.6 + Chrome 85.0.4183.102 + Safari 14.0.    I also see it with other sims -- pH Scale, EFAC,...  But it looks particularly bad with NS, probably because of the nature of the bunny images.

[2020-09-23 02:28] pixelzoom commented on #239
Oh wait... This issue says "the screenshot wrapper".   I was testing "Screenshot" from the PhET menu.  So I don't think has anything to do with the screenshot wrapper.

The screenshot is equally bad for PhET and PhET-iO brands.   And it's bad in the version currently published on the PhET website (1.1.1).   Not sure how that got released.  @KatieWoe Is the "Screenshot" menu item generally tested b

[2020-09-23 02:32] pixelzoom commented on #231
No response after 1 week, and we can't investigate without more information. So closing this issue.

[2020-09-23 02:32] #231 closed

[2020-09-23 02:38] pixelzoom commented on #239
Since NS uses WebGL, I tested with `?webgl=false` so that Sprites.js uses Canvas as the renderer. The screenshot looked just as bad.

[2020-09-23 02:41] pixelzoom commented on #239
Since NS uses WebGL, I tested with `?webgl=false` so that Sprites.js uses Canvas as the renderer. The screenshot looked just as bad.

I'm also a little confused because I expected a sim like Equality Explorer (which has little animal images) would look bad. But it doesn't look nearly as bad as Natural Selection, example below.  So perhaps there is some aspect of this that is specific to how Natura

[2020-09-23 02:44] pixelzoom commented on #239
The screenshots that @loganbraywork included above only show the "environment" panel (where the bunnies hop around). That part of the UI looks especially bad. But below is a screenshot of the full sim.  Text and icons outside of the "environment" panel also looks pretty rough.  So this doesn't appear to be isolated to one part of the sim.

![Natural Selection screenshot 8 37 10 PM](https://user-im

[2020-09-23 14:40] KatieWoe commented on #238
This is the same issue. It can probably be marked duplicate and closed.

[2020-09-23 14:41] KatieWoe commented on #240
Also worth noting that this is the slower ChromeOS device that this was seen on.

[2020-09-23 15:21] pixelzoom commented on #238
Closing as a duplicate of #226.  Thanks for reporting @loganbraywork!

[2020-09-23 15:21] #238 closed

[2020-09-23 15:21] pixelzoom commented on #240
@KatieWoe which devices is "the slower ChromeOS device"?

[2020-09-23 15:23] KatieWoe commented on #240
Lovelace

[2020-09-23 15:56] amanda-phet opened #241 "Typo in client-requests.md"
@loganbraywork found a typo in [client-requests.md](https://github.com/phetsims/phet-io-client-guides/blob/master/natural-selection/client-requests.md).

Where it says `naturalSelection.introScreen.view.addMutationsPanel.teethsRow.visibleProperty` it should say `naturalSelection.introScreen.view.addMutationsPanel.teethRow.visibleProperty`.

This will need to be branched and patched.

[2020-09-23 15:56] amanda-phet commented on #241
I made the update.

Over to you @pixelzoom

[2020-09-23 16:04] jonathanolson commented on #203
Review fully done! There are 4 `//REVIEW` comments still in the code to respond to, but otherwise I believe everything is handled.

[2020-09-23 17:14] pixelzoom commented on #203
Great - thanks for the review!

[2020-09-23 18:35] KatieWoe commented on #239
Screenshots made in sim through phet menu:
![Uploading Natural Selection screenshot.png…]()

[2020-09-23 18:44] zepumph commented on #239
@jonathanolson seems like the guy to discuss this. Please feel free to reassign to @samreid or I @jonathanolson if you don't have time to address this blocking issue. Unassigning.

[2020-09-23 19:09] KatieWoe opened #242 "Bunny says it is alive when it isn't"
For https://github.com/phetsims/QA/issues/551 in Studio. Mac 10.15 Safari.
If I am misunderstanding, please let me know and feel free to close. However, when looking at a bunny in the model, such as `naturalSelection.labScreen.model.bunnyCollection.bunnyGroup.bunny_0` you can things like its generation. It will also read `isAlive` and then True or False. However, it seems to always read true, even

[2020-09-23 19:21] pixelzoom commented on #242
When you say "looking at a bunny in the model", do you mean looking at it in the Studio metadata panel, like the screenshot below?  If so, note that the value shown is labeled  "Initial state".  It does not update dynamically.

@KatieWoe does that answer your question?

<img width="634" alt="screenshot_574" src="https://user-images.githubusercontent.com/3046552/94059442-a4849080-fd9f-11ea-8298-9f4

[2020-09-23 19:23] KatieWoe commented on #242
Yes it does, I missed the initial state part.

[2020-09-23 19:23] #242 closed

[2020-09-23 19:31] zepumph commented on #237
Ready for cherry-pick, see https://github.com/phetsims/phet-io-wrappers/issues/377#issuecomment-697926530

[2020-09-23 19:31] zepumph commented on #237
Make sure that this bug get's double checked by RC.

[2020-09-23 19:32] KatieWoe opened #243 "Sprites are not drawn when sim is launched while paused (Safari 14.0)"
For https://github.com/phetsims/QA/issues/551. Seen on Mac 10.15 Safari but not on Mac 10.15 Chrome.
If you launch the sim from Studio while it is paused, the rabbits do not seem to appear in the play area. If you hit the play button they come up. If the sim is not paused when launched this doesn't seem to happen.
![blankstart](https://user-images.githubusercontent.com/41024075/94060370-14474b00-f

[2020-09-23 19:35] KatieWoe commented on #243
Just narrowed it down a bit. It depends on what browser opens it, not what browser made it. If you download it as an html and open in Chrome it works as expected. The same file opened in Safari shows the bug.

[2020-09-23 19:42] pixelzoom commented on #243
It sounds like there may be some issue with the html file only being compatible with the browser that was used to create it.

@KatieWoe a couple of questions:

(1) If the file was created in Safari, then opened in Safari, is there a problem?

(2) If the files was created in Safari, then opened in Chrome, is there a problem?

[2020-09-23 19:43] KatieWoe commented on #243
If created in safari and opened in safari, there is the bug.
If created in safari and opened in chrome, there is no bug.

[2020-09-23 19:45] samreid commented on #240
This many console.log messages is expected to produce a slowdown, and does not block publication.  @zepumph and I tested the console.log wrapper (not a wrapper) with and without dev tools open, and we tested the data-stream wrapper and it looked like the behavior was acceptable.  We noticed the delayed response at Generation 5 or so, but that seems to be expected.

[2020-09-23 19:51] pixelzoom commented on #243
Thanks @KatieWoe.  So it sounds like the problem is specific to Safari, and present regardless of which browser was used to create the html file.

[2020-09-23 19:54] pixelzoom commented on #241
Note to self:  I need to create branch "natural-selection-1.2" of phet-io-client-guides, then cherry-pick 7323b2abc1dfd52a1b77aa020de7ec3c7e7ce414 to that branch.

[2020-09-23 19:57] pixelzoom opened #244 "add private fields to GeneVisibilityManager"
Originally a `REVIEW` comment for #203...

In GeneVisibilityManager:

[code]

I should assign the return value to private fields of GeneVisibilityManager.

I'm not going to do this until after #208 10/1 deliverable is done.

[2020-09-23 20:02] ariel-phet commented on #239
@pixelzoom and QA folks -- I am not seeing this issue on my machine (Win 10 Chrome and FF), screenshots look great. However, I have 4k monitors, which might make a difference.

Regardless, this issue should be investigated, but it is not blocking:
- there are many ways to take screenshots (besides from our menu)
- even this degraded quality would serve the goals usually requested of screenshots fo

[2020-09-23 20:03] pixelzoom opened #245 "address duplication in simulationModeProperty listener"
Originally a `REVIEW` comment in #203...

In NaturalSelectionScreenView.js:

[code]

This should definitely be refactored.  It's straightforward, probably this:

[code]

... but I'm not going to do this until after #208 10/1 deliverable is done.

[2020-09-23 20:07] pixelzoom commented on #203
All REVIEW comments have been addressed or broken out as separate issues.  The ones that are separate issues will be addressed after #208 (10/1 deliverable) is done.

[2020-09-23 20:07] #203 closed

[2020-09-23 20:11] pixelzoom commented on #240
There seems to be a bit of a disconnect between "acceptable" and "massive".   @KatieWoe was testing with a Chromebook. What test device did you use?

[2020-09-23 20:15] pixelzoom commented on #239
Since it's not blocking, I'm going to transfer this issue to joist for general investigation.

[2020-09-23 20:25] pixelzoom commented on #241
Patch completed.  To be tested in next RC.

[2020-09-23 20:30] pixelzoom commented on #237
Patch completed, using the shas identified in https://github.com/phetsims/phet-io-wrappers/issues/377#issuecomment-697926530:

[code]

[2020-09-23 20:42] pixelzoom commented on #241
Oops, forgot to update dependencies.json.  Done in the above commit.

[2020-09-23 20:44] pixelzoom commented on #237
Oops, forgot to update dependencies.json.  Done in the above commits (first commit was an oops).

[2020-09-23 20:48] pixelzoom commented on #237
Verified with a local build:

[code]

Then opened the wrapper index and pressed "Launch Template" button.

[2020-09-23 21:21] samreid commented on #240
The data stream is for a researcher to understand the nature of the data, it is not expected that a researcher should be able to run the colorized or data stream wrappers on Chromebook or iPad and have high performance.

[2020-09-23 21:35] pixelzoom commented on #240
Should QA even be testing data stream wrappers on Chromebook and iPad?

[2020-09-23 22:08] KatieWoe commented on #243
This looks like it might be seen for a split second in the State wrapper in Safari as well, but it is hard to tell.

[2020-09-23 22:24] loganbraywork commented on #243
Does not appear on Windows 10 Firefox

[2020-09-23 22:42] amanda-phet commented on #236
Looks good.

As for  phetsims/studio#196, do we need to do something with the formatting when we paste into overrides? Or can we keep doing what we are doing?

[2020-09-24 01:59] pixelzoom opened #246 "Playback wrapper slow or fails (macOS 10.15 + Chrome)"
In https://github.com/phetsims/QA/issues/551#issuecomment-696846871, @KatieWoe reported:

Blocks publication until someone decides otherwise.

[2020-09-24 02:06] pixelzoom commented on #236
Best to ask that in phetsims/studio#196.  I'll move your questions there.

[2020-09-24 02:08] pixelzoom commented on #236
Ready for testing in the next 1.2 RC.

[2020-09-24 02:09] pixelzoom commented on #237
Ready for testing in the next 1.2 RC.

[2020-09-24 02:10] pixelzoom commented on #235
Ready for testing in the next 1.2 RC.

[2020-09-24 16:42] zepumph commented on #246
Partial duplicate-ish of https://github.com/phetsims/phet-io-wrappers/issues/376. I'm not sure about blocking. It would be nice to ask @kathy-phet during the phet-io meeting about the priority of the playback wrapper for NS.

[2020-09-24 17:37] pixelzoom commented on #240
9/24/2020 phet-io meeting:

Does not need to be addressed for Natural Selection 1.2.

@zepumph will ask @KatieWoe to amend the QA Book section about testing data stream wrappers, then close this issue.

[2020-09-24 17:45] samreid commented on #243
I think the sprites are not getting triggered to draw when the sim launches.  @jonathanolson is there a way to trigger that draw?  I tried adding this to OrganismSprites constructor, but it didn't trigger a redraw:

[code]

[2020-09-24 17:56] pixelzoom commented on #243
If that's the problem... Any thoughts on why the sprites are not getting redrawn only on Safari?

[2020-09-24 18:08] pixelzoom commented on #243
I haven't tested this yet, but if it's an issue of updating sprite, this is probably the way to do so, in NatrualSelectionScreenView.js:

[code]

[2020-09-24 18:13] pixelzoom commented on #246
From 9/24/2020 phet-io meeting over in https://github.com/phetsims/phet-io-wrappers/issues/376#issuecomment-698480693:

[2020-09-24 18:18] pixelzoom commented on #243
The above fix did not fix the problem.

[2020-09-24 18:20] zepumph commented on #240
From today's PhET-iO meeting, we feel like some changes should be made to how QA is testing data stream wrappers:

* Please do not test iPad or Chromebook on the Data: colorized or Data: JSON wrappers.
* Please test Data: colorized and Data: JSON very lightly, only confirming that the data stream prints as expected to the console on a couple device/browser combos.
* Please test thoroughly the `dat

[2020-09-24 18:21] pixelzoom commented on #243
Steps to reproduce:

1. Run the sim in Studio
2. Pause the sim
3. Press the "Launch" button.
4. Note that no sprites are drawn in the launched sim.
5. Press the step button in the launched sim, and note that the sprites get drawn.

[2020-09-24 18:27] pixelzoom commented on #240
Since this has morphed to a QA issue, I've moved https://github.com/phetsims/natural-selection/issues/240 to a new issue, https://github.com/phetsims/QA/issues/553.

Nothing to do here for Natural Selection, so closing this issue.

[2020-09-24 18:46] pixelzoom commented on #243
Next attempt was to add `this.updateSprites();` to the end of EnvironmentNode's constructor. That did not fix the issue.

[2020-09-24 19:04] pixelzoom commented on #243
This change to NaturalSelectionScreenView `step` fixes the problem:

[code]

But then sprites are being continually updated when the sim is paused.

[2020-09-24 19:49] pixelzoom commented on #243
9/24/2020 design meeting:

If I run with `?webgl=false`, this problem goes away.  So this feels like something that is scenery specific (with either Sprites.js or WegGL), and @samreid agrees.

Assigning to @jonathanolson with high priority.  The next RC needs to be published by Monday 9/28 to stay on track.

[2020-09-24 21:18] pixelzoom commented on #243
In Slack, @jonathanolson discovered that this problem is specific to Safari 14:

I can't reproduce this on Safari 13.0.4 (slightly older)
Or I'm doing something horribly wrong
Sounds like I should OS update?

Reproducing on Safari 14

[2020-09-24 21:56] amanda-phet opened #247 "Finish Client Guides"

[2020-09-24 22:16] jonathanolson commented on #243
I'm a bit at a loss of what might be causing this. I've verified that the images have the correct dimensions and contents, the spritesheet is correctly filled with the data, the data in the WebGL-side texture is correct, all of the uniforms being passed into the draw call seem correct, the buffer is filled with what looks like correct data... but nothing is being drawn.

Committed a workaround abo

[2020-09-24 22:20] samreid commented on #243
Should we use the `animationFrameTimer` instead of the `stepTimer` so that it will repaint even if the simulation is set to `sim.activeProperty.value = false` or is otherwise not stepping?

[2020-09-24 22:34] jbphet commented on #243
During today's developer meeting, we thought it would be wise to double check that this problem does not afflict the energy chunks in Energy Forms and Changes, since it is in the process of being released.  I checked version 1.4.0-rc.2 on Mac OS 10.12.6, and created several scenarios where there were lots of energy chunks, and all launched fine when paused.

[2020-09-24 23:25] pixelzoom commented on #243
@jonathanolson Yes, the workaround does resolve the problem in Natural Selection.  Is the additional change that @samreid made OK?  Is this ready to cherry-pick for natural-selection 1.2?

[2020-09-24 23:31] pixelzoom commented on #247
This issue was apparently created accidentally, when @amanda-phet was playing with Zenhub.  @amanda-phet please delete the issue at your convenience, and delete the "Epic" label that was also added.

[2020-09-24 23:33] #247 closed

[2020-09-25 01:43] jonathanolson commented on #243
Yes and yes.

[2020-09-25 19:30] pixelzoom commented on #243
Patched in 1.2 branch, ready for verification in the next 1.2 RC.

Verify on macOS + Safari 14, using these steps:

1. Run the sim in Studio
2. Pause the sim
3. Press the "Launch" button.
4. Verify that the sprites (bunnies, etc.) are drawn correctly in the launched sim

[2020-09-25 20:16] pixelzoom commented on #208
9/25/2020:

RC 1.2.0-rc.2 was published, QA issue https://github.com/phetsims/QA/issues/557.

I published both brands, but RC testing will be for PhET-iO brand only.

https://phet-dev.colorado.edu/html/natural-selection/1.2.0-rc.2/phet-io/
https://phet-dev.colorado.edu/html/natural-selection/1.2.0-rc.2/phet/natural-selection_en_phet.html

[2020-09-25 21:35] phet-steele commented on #241
I found 0 instances of `naturalSelection.introScreen.view.addMutationsPanel.teethsRow.visibleProperty` in [client-requests.md](https://github.com/phetsims/phet-io-client-guides/blob/master/natural-selection/client-requests.md), and 1 instance of `naturalSelection.introScreen.view.addMutationsPanel.teethRow.visibleProperty`. Closing.

[2020-09-25 21:35] #241 closed

[2020-09-25 22:08] phet-steele commented on #235
Been testing 1.2.0-rc.2 with Win 10 Chrome, and I haven't been able to reproduce this issue.

[2020-09-25 22:08] #235 closed

[2020-09-25 22:27] amanda-phet opened #248 "Prototype"

[2020-09-25 22:27] amanda-phet opened #249 "Research"

[2020-09-25 22:28] amanda-phet opened #250 "Feature Complete"

[2020-09-25 22:35] pixelzoom commented on #247
@amanda-phet didn't intend to create this, so I'm going to delete it in addition to closing it.

[2020-09-25 22:47] pixelzoom commented on #250
Accidentally created by @amanda-phet using Zenhub, deleting.

[2020-09-25 22:47] pixelzoom commented on #249
Accidentally created by @amanda-phet using Zenhub, deleting.

[2020-09-25 22:47] pixelzoom commented on #248
Accidentally created by @amanda-phet using Zenhub, deleting.

[2020-09-26 15:44] KatieWoe commented on #236
This does look fixed in rc.2

[2020-09-26 15:44] #236 closed

[2020-09-26 16:07] KatieWoe commented on #237
This seems fixed in rc.2

[2020-09-26 16:07] #237 closed

[2020-09-26 16:23] KatieWoe commented on #243
Looks fixed in Studio in rc.2. However, in the State wrapper, I still see a second of a blank play area. @pixelzoom feel free to close if this isn't a concern.
![oddityinstate](https://user-images.githubusercontent.com/41024075/94345326-527f7d00-ffe2-11ea-981f-29b79fe5397c.gif)

[2020-09-26 17:07] KatieWoe commented on #240
In firefox on Win 10, I saw it slow down to the point where the window would say not responding and it wasn't really usable. In https://github.com/phetsims/QA/issues/557. Close again if this doesn't change anything

[2020-09-27 14:05] pixelzoom commented on #240
Thanks for reporting @KatieWoe.

@samreid said in https://github.com/phetsims/natural-selection/issues/240#issuecomment-697934011 that a slowdown was "expected" and "acceptable".  And in https://github.com/phetsims/natural-selection/issues/240#issuecomment-697979325, he said that "it is not expected that a researcher should be able to run the colorized or data stream wrappers on Chromebook or iPad

[2020-09-27 14:10] pixelzoom commented on #240
On second thought... I'm going to re-title this issue and leave it open, so that we can revisit for the 1.3 release.

[2020-09-27 14:14] pixelzoom commented on #243
The workaround for this problem in scenery was to force a redraw in the next animation frame.  That's why you're seeing the bunnies etc. draw 1 frame later in some cases.   This seems acceptable for the #208 1.2 release.  I'll keep this issue open so that we can revisit for the 1.3 release, and perhaps even find a solution instead of a workaround.

[2020-09-27 14:16] pixelzoom commented on #208
@kathy-phet 1.2 RC testing has been completed, and 1.2.0-rc.2 is acceptable for delivery to the customer.  The link is:

https://phet-dev.colorado.edu/html/natural-selection/1.2.0-rc.2/phet-io/

Please comment in this issue when this release has been delivered.

[2020-09-27 14:25] pixelzoom opened #251 "Natural Selection 1.3 release (4/30/2021)"
From https://github.com/phetsims/natural-selection/issues/208#issuecomment-686723281, the plan for the 1.3 release is:

- [x] code review completed
- [x] Full dev test
- [x] Create 1.3 release branch
- [x] Full RC test
- [x] Publish to phet.colorado.edu and phet-io.colorado.edu
- [ ] Deliver to client

Next step is to establish dates. Assigning to @amanda-phet to lead.

[2020-09-27 14:33] pixelzoom commented on #2
@KatieWoe I've added Logan Bray to the QA credits, for his role in 1.2 RC testing.  (Unfortunately he will not appear in the 1.2 credits, but it's not a public release, it's just a link that's going to a client for temporary use.). Anyone else that I should add?

[2020-09-27 14:49] pixelzoom commented on #244
Done in master, closing.

[2020-09-27 14:49] #244 closed

[2020-09-27 14:52] pixelzoom commented on #245
Done in master, closing.

[2020-09-27 14:52] #245 closed

[2020-09-27 14:56] pixelzoom commented on #226
@ariel-phet deferred this issue in https://github.com/phetsims/natural-selection/issues/226#issuecomment-692917761.   Please clarify whether this should be addressed for the 1.3 release, or is something that we don't intended to address.  If the latter, please close this issue.

[2020-09-28 15:00] KatieWoe commented on #2
I think Liam should be added as well.

[2020-09-28 16:48] pixelzoom commented on #2
I've added Liam.

[2020-09-28 18:24] pixelzoom opened #252 "branch: createArrayProxy"
This is a branch for experimenting with createArrayProxy.js, a potential replacement for ObservableArray. See https://github.com/phetsims/axon/issues/330.

[2020-09-28 22:18] pixelzoom commented on #252
In the above commits, I converted to createArrayProxy.

[2020-09-28 22:32] pixelzoom commented on #252
I did memory test -- brand=phet as in https://github.com/phetsims/natural-selection/issues/232, brand=phet-io as in https://github.com/phetsims/natural-selection/issues/233.  Heap sizes were similar, and no memory leaks were identified.

[2020-09-28 22:59] pixelzoom commented on #252
Hmm... We have a problem with "Start Over" and "Reset All" performance.

Testing on my MacBookPro16,1 + macOS 10.15.6 + Chrome 85.0.4183.121 :
* Before converting to createArrayProxy, "Start Over" took ~90 ms.
* After converting to createArrayProxy, "Start Over" is taking  > 1200ms, which is unacceptable according to https://github.com/phetsims/natural-selection/issues/140

Before I dive in... @sa

[2020-09-29 04:22] samreid commented on #252
On my Mac/Chrome, with this URL (no assertions):

http://localhost/vanilla/natural-selection/natural-selection_en.html?brand=phet&showTimes&secondsPerGeneration=1&screens=2

I see 80ms in master, and 1071ms in the branch.  After this patch:

[code]

I'm seeing 87ms in the branch.

[2020-09-29 04:33] samreid commented on #252
I committed the change in PhetioGroup.  @zepumph can you please review it?  It changes PhetioGroup removal from First In/Last Out to First In/First Out so that most `indexOf` calls won't have to search the whole array.

[2020-09-29 16:59] pixelzoom commented on #208
According to @kathy-phet, this release has now evolved to where it will be "student facing', and she requested to have it published on phet-io.colorado.edu.

@kathy, Natural Selection 1.2.0 (phet-io) has been published at https://phet-io.colorado.edu/sims/natural-selection/1.2.0/.  If you want a record of this release, please add it to https://github.com/phetsims/phet-io/blob/master/doc/partners.m

[2020-09-29 17:25] kathy-phet commented on #208
This version has been delivered to the client.
https://phet-io.colorado.edu/sims/natural-selection/1.2.0/
Thanks, Chris!

[2020-09-29 17:26] kathy-phet commented on #208
Looks like it has been recorded to partners.md.

[2020-09-29 17:28] pixelzoom commented on #208
Our work here is done! 🎉Closing.

[2020-09-29 17:28] #208 closed

[2020-09-30 05:06] ariel-phet commented on #226
@pixelzoom I think we should investigate a bit. I definitely do not think we need to address this this issue for 1.3, but it would be worthy of a couple hours of investigation just to understand the root cause (and if it is a general issue or quite sim specific). Once we understand the cause and if it would be easy or complex to fix we can make a further call.

[2020-09-30 17:07] zepumph commented on #240
While working on https://github.com/phetsims/phet-io-wrappers/issues/381 with @samreid, we found that it was really helpful to mark Organism.positionProperty as high frequency. That in combination with the commit in https://github.com/phetsims/phet-io-wrappers/issues/381 seemed to fix this problem for us.

[2020-09-30 19:21] zepumph commented on #246
@pixelzoom, if you are planning to take shas from master for 1.3, this issue can be closed.

[2020-09-30 19:23] zepumph commented on #252
That looks really nice. Good work!

[2020-09-30 21:56] zepumph commented on #246
If we need to cherry-pick, see https://github.com/phetsims/phet-io-wrappers/issues/378#issuecomment-701665340

[2020-10-01 16:03] pixelzoom commented on #246
The next milestones (#251) will be taking shas from master.   I'll label this as "fixed", and leave open for verification by QA.

[2020-10-01 16:07] pixelzoom commented on #240
The next milestones (#251) will be taking shas from master. I'll label this as "fixed", and leave open for verification by QA.

[2020-10-01 17:02] pixelzoom commented on #252
The improvement to BunnyCollection is a lot of boilerplate.  I investigated using arrayRemove.js, but it seems like that functionality should be rolled into createArrayProxy.js.

My recommendation is to plan on keeping `ArrayProxy.remove`, and change its implementation like this:

[code]

I'm not wild about the `required` parameter, and I think my preference would be for two variations of remove:

[2020-10-01 17:09] samreid commented on #252
It would probably be fine to have `remove` and `removeIfIncludes`.  I considered trying to match the Array API as much as possible (to make it easy to port ArrayProxy => Array), but maybe that's not too important.  But for the sake of discussion, how about:

[code]

[2020-10-01 17:29] pixelzoom commented on #252
@samreid which of these do you prefer?

(A) Client is responsible for getting and checking index, then doing splice. Lots of boilerplate.

[code]

(B) Above boilerplate factored out into standalone functions.

[code]

(C) Array extended to provide a better "remove" API:

[code]

[2020-10-01 17:32] samreid commented on #252
I recommend we start with (C) for now, but if we eventually need to move back and forth between ArrayProxy -> Array in the future, we could consider (B).

[2020-10-01 17:33] pixelzoom commented on #252
Great, because I have a strong preference for (C).  I'll modify createArrayProxy.js accordingly and proceed with NS changes.

[2020-10-01 18:20] pixelzoom commented on #252
Once I got further into this, I bailed on any changes to the "remove" API for ArrayProxyDef.  I unfortunately stuck with approach (A) (boilerplate) for now.

In the above commit, I replaced uses of ArrayProxyDef `remove` throughput BunnyCollection.   And for `bunnyGroup.elementDisposedEmitter` listener, I did a further optimization -- it's not necessary to look at all 3 arrays when a bunny is disp

[2020-10-01 18:24] pixelzoom commented on #252
Oh rats... I did d325a4047e8cb3066375addeaf7b48a874b9181a in master.  Stand by while I redo this.

[2020-10-01 19:28] pixelzoom commented on #252
This branch stopped working with master dependencies because of changes to IO Types.  So I manually merged what I could into master, and I'm giving up on this branch.    Everything seems to be working OK in master, so I'll close this issue and delete this branch.

[2020-10-01 19:30] pixelzoom commented on #178
AxonArray has been replaced by createArrayProxy, and NS has been converted to createArrayProxy - see #252.   So I believe that this branch can be deleted.  Is that OK with you @samreid?

[2020-10-01 19:32] samreid commented on #178
Yes, it is ready to be deleted.  Let me know if you or I should do that.

[2020-10-01 19:35] pixelzoom commented on #251
In 10/1/2020 status meeting, @kathy-phet and @ariel-phet said:

* The client doesn’t need another version in the near-term (before next summer). They will use 1.2 in their beta.  If they find any problems, a 1.2 maintenance release may be necessary.

* When QA has an opening, move NS 1.3 through the process. Ideally sooner rather than later (early November), so it’s fresh in our minds.

* Revisit

[2020-10-01 19:37] pixelzoom commented on #178
Deleted, closing.

[2020-10-01 23:13] pixelzoom commented on #226
I spend ~15 minutes on this, then hit a wall.  I reproduced the flickering with NS unbuilt + macOS 10.15.6 + Chrome) reproducing, following the steps in https://github.com/phetsims/natural-selection/issues/226#issuecomment-692856874.  Then I poked around a little in scenery and the wrappers, but they are outside of my knowledge base. I have no idea why this only occurs in the Playback wrapper, or

[2020-10-05 16:48] ariel-phet commented on #226
Not worth pursuing currently. Marking as `wontfix` -- we can reopen if there is a client need

[2020-10-05 16:48] #226 closed

[2020-10-05 16:52] ariel-phet commented on #243
Totally acceptable. closing

[2020-10-05 16:52] #243 closed

[2020-10-07 17:25] amanda-phet opened #253 "Create a sim primer"
https://github.com/phetsims/natural-selection/issues/1

[2020-10-07 17:26] amanda-phet commented on #1
@ariel-phet the remaining items are for you.

I can't remember if I presented the sim at status or not :/ Thinking I didn't, so I'll add it to the agenda for this week.

[2020-10-15 03:38] #1 closed

[2020-10-20 19:36] amanda-phet opened #254 "Test epic"

[2020-10-23 22:40] pixelzoom commented on #251
Self-assigning. @ariel-phet asked me to proceed with 1.3 release, and get an RC into the QA pipeline.

[2020-10-23 22:40] pixelzoom commented on #219
@ariel-phet asked me to enabled supportsPanAndZoom for the 1.3 release.

[2020-10-27 20:37] pixelzoom commented on #219
supportsPanAndZoom has been enabled.  Ready for testing in next RC.

[2020-10-29 20:28] pixelzoom commented on #251
@ariel-phet You asked me to get an RC in the QA pipeline.  But I just noticed that our plan (identified in https://github.com/phetsims/natural-selection/issues/251#issue-709749752) is to do a full dev test before RC testing.  Do you want to follow that plan and start with a dev test, or modify that plan and go immediately to RC testing?

[2020-10-30 02:47] ariel-phet commented on #251
@pixelzoom if that was the plan, lets follow it.

[2020-11-02 18:08] pixelzoom commented on #251
I created the QA issue for dev testing 1.3.0-dev.1, see https://github.com/phetsims/QA/issues/573.  Creating of the dev version is deferred until the issue pops to the top of "Active Tests" in the QA Pipeline.

[2020-11-10 00:35] pixelzoom opened #255 "use IOType.fromCoreType to create IO Types"
https://github.com/phetsims/tandem/issues/213 introduces `IOType.fromCoreType`, a new factory method for creating IO Types.  In https://github.com/phetsims/natural-selection/commit/6c49ba5005145fb4a530f6b5be96198d1d9d9c4f, @zepumph changed Wolf.js to use `IOType.fromCoreType`.  When that issue is resolved, we should probably change other IO Types, including:

- [x] Bunny
- [x] BunnyCounts
- [x] Ge

[2020-11-12 18:34] pixelzoom opened #256 "test Screenshot feature"
In phetsims/joist#664, the quality of the Screenshot feature was improved.  At 11/12/2020 phet-io meeting, @kathy-phet said that this issue is not blocking for Natural Selection, but she would like it to be testing in the next release.

[2020-11-12 18:48] pixelzoom commented on #256
At 11/12/2020 phet-io meeting, this was tested and it still seemed to have problems.  So removing "fixed-awaiting-deploy" label.

[2020-11-12 18:55] pixelzoom commented on #256
@KatieWoe could you please verify that this is working in master?

[2020-11-12 19:40] KatieWoe commented on #256
Looks better on master.
Old version:
![Screen Shot 2020-11-12 at 12 31 12 PM](https://user-images.githubusercontent.com/41024075/98987780-f0bc9900-24e3-11eb-89f1-5928d154f548.png)
Master:
![Screen Shot 2020-11-12 at 12 32 56 PM](https://user-images.githubusercontent.com/41024075/98987986-36796180-24e4-11eb-9430-a1b4f5398c80.png)

[2020-11-13 02:58] pixelzoom commented on #255
Looks like @zepumph changed these in f944f3e08322cd8a3afaa80a75d8a50279f30b57.  Reviewing...

[2020-11-13 03:00] pixelzoom commented on #255
Looks good and I don't see any problems in local testing. Closing.

[2020-11-13 03:00] #255 closed

[2021-01-14 18:41] pixelzoom commented on #251
1/14/2021 PhET-iO meeting:

The current milestone is to have 1.3 published by 3/31/2021.  I recommended getting the sim into the QA Pipeline by early February to meet this milestone.

[2021-02-02 22:10] pixelzoom commented on #251
From the previous comment:

It's now early February.  I'm unclear about who is managing the QA queue, and I'm waiting for someone to tell me when to start the QA process.  So assigning to @arouinfar and @kathy-phet to tell me when to begin.

[2021-02-03 16:56] pixelzoom opened #257 "Client change requests for 1.3 release?"
From https://github.com/phetsims/natural-selection/issues/251 (1.3 release):

Before we start QA for 1.3... Has the client reported any problems?  Or should someone explicitly ask if they have any change requests?

Assigning to @kathy-phet and @amanda-phet. Work on the 1.3 release needs to start in the next week or two in order to make the delivery milestone, so this is high priority.

[2021-02-16 17:48] amanda-phet commented on #257
@kathy-phet emailed the client today to confirm that they don't have any change requests.

[2021-02-16 20:28] kathy-phet commented on #257
Here is the reply:

[2021-02-16 20:28] kathy-phet commented on #257
Shall we discuss at design meeting?

[2021-02-16 20:36] pixelzoom commented on #257
I don't feel like I have enough info to proceed with a design meeting for this request.

@kathy-phet Can you please ask the client for label suggestions, or what they'd like it to communicate?  Does the label need to communicate just "Generation Clock", or does it need to somehow explain how/why the sections of the clock are colored?

This also seems like the type of request where we'd like to avo

[2021-02-16 20:49] kathy-phet commented on #257
I think this has come up some before -- that the generation clock is a bit of a challenge to interpret. Is there a title we could give it that would help generally?

[2021-02-16 20:56] amanda-phet commented on #257
I would just label it "Generation". A design meeting would be helpful to determine where to put the label, and if we want it as an option for just PhET-iO or for all users. Once we have the label, the client can always rename it, so I don't think we need to know what they'd want to call it.

[2021-02-16 20:58] pixelzoom commented on #257
Intepretation and complexity of the Generation Clock definitely came up before, more than once if I recall correctly.   And we did make a few changes from the original design.

During development, I added the generation number below the clock, because I didn't think it was reasonable to have to look elsewhere to see that the generation number.

In https://github.com/phetsims/natural-selection/issu

[2021-02-16 21:02] pixelzoom commented on #257
I'm not a fan of a new label. If it's "Generation", then I'd prefer to integrate it with the value, e.g. "Generation 2".

I'm not a fan of a PhET-iO only feature unless that's absolutely necessary.

Why not simply ask the client if "Generation 2" would address the issue for them?  Or ask them what they would suggest - they might have a good idea.

[2021-02-16 21:10] pixelzoom commented on #257
https://github.com/phetsims/natural-selection/issues/162#issuecomment-673726376:

So another possibility for addressing this issue would be to share these interview results with the client, and see if that would address their concern.

[2021-02-16 21:21] pixelzoom opened #258 "Add a label to the Generation Clock"
This was requested in https://github.com/phetsims/natural-selection/issues/257. But as a new feature request, it deserves its own issue.  So moving here.

@kathy-phet asked the client whether they had any change requests for the upcoming 1.3 release.

@kathy-phet said:

[2021-02-16 21:21] pixelzoom commented on #258
I don't feel like I have enough info to proceed with a design meeting for this request.

@kathy-phet Can you please ask the client for label suggestions, and what specifically they'd like the label to communicate? Does the label need to communicate just "Generation Clock", or does it need to somehow explain how/why the sections of the clock are colored? (dark pink, light pink, green, gray)

This a

[2021-02-16 21:21] pixelzoom commented on #258
@kathy-phet said:

[2021-02-16 21:21] pixelzoom commented on #258
@amanda-phet said:

[2021-02-16 21:22] pixelzoom commented on #258
Intepretation and complexity of the Generation Clock definitely came up before, more than once if I recall correctly.   And we did make a few changes from the original design.

During development, I added the generation number below the clock, because I didn't think it was reasonable to have to look elsewhere to see that the generation number was changing on each clock cycle.

In https://github.co

[2021-02-16 21:22] pixelzoom commented on #258
@amanda-phet said:

I'm not a fan of a new label. If it's "Generation", then I'd prefer to integrate it with the value, e.g. "Generation 2".  And that's problematic for the "let the client change it" approach.

I'm not a fan of a PhET-iO only feature unless that's absolutely necessary.  If it's PhET-iO only, the reality is that it will not receive the same level of testing as a regular feature.

W

[2021-02-16 21:22] pixelzoom commented on #258
https://github.com/phetsims/natural-selection/issues/162#issuecomment-673726376:

So another possibility for addressing this issue would be to share these interview results with the client, and see if that addresses their concern.

[2021-02-16 21:25] pixelzoom commented on #257
I've moved labeling of the generation clock to its own issue #258, let's please continue the discussion there.  This is it's own feature request, so deserves its own GitHub issue.  And it will make it easier to locate our decisions in the future.

[2021-02-16 21:27] kathy-phet commented on #258
I've pinged the client for their ideas, and passed the idea of a "Generation 1" label by them.

[2021-02-16 21:29] pixelzoom commented on #257
It sounds like #258 (Add a label to Generation Clock) was the sole request.  So I'll go ahead and close this issue.

[2021-02-16 21:29] #257 closed

[2021-02-16 22:12] pixelzoom commented on #258
Time estimate to label the clock with "Generation {{number}}" is < 1 hour. Here's how that would look in context:

<img width="968" alt="screenshot_869" src="https://user-images.githubusercontent.com/3046552/108128006-5f703c00-7069-11eb-9b3a-86641962a919.png">