[2020-06-09 22:15] #96 closed

[2020-06-10 06:32] ariel-phet commented on #9
I read over the issue from the beginning (appreciated the genetics crash course) and then played with the query parameters. Each time they behaved as expected and the simplifications made to the structure of values of the query parameters seem like nice and intuitive changes.

You certainly have to "know what you are doing" and it took me a moment to digest everything before trying the parameters,

[2020-06-10 06:58] ariel-phet commented on #98
I think @amanda-phet has done a nice job of focusing on the learning goal (getting users to see the change occur easily).

I would have a few pieces of input:
1. The Java sim is certainly quite popular and uses this homozygous mutation model. So if it is difficult to find a satisfactory tuning that accomplishes the goals sticking with this model (despite certain issues) might be reasonable.

2. If

[2020-06-10 21:53] pixelzoom opened #102 "Should a dead bunny look selected in the Pedigree view?"
When a bunny dies, it disappears from the environment view.  If the bunny was selected and appears in the Pedigree view, should the blue selection rectangle around the bunny persist in the Pedigree view?  Or should the selection rectangle disappear?

Here's an example. Should the blue rectangle go away when the selected bunny dies?

<img width="682" alt="screenshot_388" src="https://user-images.gi

[2020-06-10 22:44] amanda-phet commented on #102
I think the blue rectangle should stay, because it is indicating that you're viewing a selected bunny. If you don't see a blue rectangle in the environment view, and you see a big red x, then it's clear that bunny died. The blue rectangle is nice, to me, because it shows the focus of the pedigree and directs your attention to that bunny first. We want users reading it "bottom up" in a sense.

[2020-06-10 22:47] pixelzoom commented on #102
Sounds good. Nothing needs to be changed, so closing.

[2020-06-10 22:47] #102 closed

[2020-06-10 22:51] amanda-phet commented on #98
I like the mutation icon, but wouldn't want it to persist for too long... I guess it would only be there as long as that bunny is alive (could be many bunnies if the population is large).

I look forward to seeing how this all works once we can get those bunnies with recessive traits mating faster.

[2020-06-10 23:02] kathy-phet commented on #98
We can discuss this tomorrow. But if bunnies with recessive traits mate disproportionately faster, that is going to mess up the genetics inheritance probability and the statistics.

[2020-06-10 23:10] pixelzoom commented on #98
@kathy-phet I'm not sure what you mean by "mate disproportionately faster" - all bunnies mate at the same rate, and the pairing is currently random.  What we were considering was to prefer pairing bunnies that have a recessive mutation with other bunnies that have the same recessive mutation, so that the recessive gene is expressed more quickly than if it were random.  That seems a lot less harmfu

[2020-06-10 23:52] kathy-phet commented on #98
Can you make that a query parameter initially so that we can look at the statistics of the distributions? It seems to me that something that is not "random" would cause a change in the expected outcome when you do controlled experiments by using the pre-set populations.
@amanda-phet - Can we see if Megan is available to join a meeting with us soon?

[2020-06-11 15:11] KatieWoe opened #103 "CT there already was a PhetioElementTreeNode with the same phetioID in the tree"
[code]

[2020-06-11 15:12] KatieWoe commented on #103
Also in concentration and beer's law.

[2020-06-11 16:00] pixelzoom commented on #103
This is a general Studio problem that was supposedly fixed in https://github.com/phetsims/studio/issues/140.  I'm going to close this issue, and reopen that issue.

[2020-06-11 16:00] #103 closed

[2020-06-11 17:27] pixelzoom commented on #63
I've integrated the work that @jonathanolson did on phetsims/scenery#1049, and it's working great.  Closing.

[2020-06-11 17:27] #63 closed

[2020-06-11 19:35] amanda-phet commented on #9
6/11/20 design meeting: looks good!

[2020-06-11 19:35] #9 closed

[2020-06-11 19:42] amanda-phet commented on #57
6/11/20 design meeting: looks fine.

[2020-06-11 19:42] #57 closed

[2020-06-11 20:06] amanda-phet commented on #98
6/11/20 design meeting: we would like to move forward with this model simplification (mutations will be heterozygous, and original mutant bunnies will mate with another bunny with the recessive gene as soon as possible).

We'd like to follow up with Megan about this simplification, since she had originally approved the homozygous mutation simplification. Also check with her about the model applyin

[2020-06-11 20:33] amanda-phet commented on #101
6/11/20 design meeting: will draw a step function with vertical connection lines between jumps. At the leftmost edge of a horizontal line there will be a circular dot to indicate where the probe is collecting data.

[2020-06-11 20:46] pixelzoom commented on #98
Also from 6/11/20 design meeting: @amanda-phet doesn't like the mutation icons in the environment view.  Some things to try: a different size, a different location on the bunnies (compatible with the red 'X'), a different color, a different icon, ...

[2020-06-11 21:05] amanda-phet commented on #101
Another idea that Oliver thought of is putting circles right on the probe at the point where it overlaps the graph, so it's really clear where we are reading the data.
![image](https://user-images.githubusercontent.com/7852916/84439112-dd379a00-abf4-11ea-95d2-5dcb4b9dbf50.png)

![image](https://user-images.githubusercontent.com/7852916/84439055-c2fdbc00-abf4-11ea-99fd-bed8f7a1046d.png)

@pixelzoom

[2020-06-11 21:13] amanda-phet commented on #86
The values I'm currently using are:

wolvesPercentToKill=.35,.4
wolvesEnvironmentMultiplier=2.3
toughFoodPercentToKill=.4,.7
shortTeethMultiplier=1.4
limitedFoodPercentToKill=.55,.7
limitedFoodMultiplier=1.2

Assigning to @pixelzoom to change the defaults to these, and when convenient publish a dev version with these values for team members to use.

[2020-06-11 21:19] amanda-phet opened #104 "how to write the genotype abbreviation?"
I noticed that sometimes a bunny's heterozygous genotype could be displayed as "Ff" or "fF", depending on if the recessive allele is inherited from the mother or father. Can you be sure that in this case we always display the genotype as "Ff", so capital first then lowercase, regardless of the inheritance? I typically see capital first, and while I can't confirm that this is an established convent

[2020-06-11 21:21] pixelzoom commented on #104
The convention is "father mother", not "capital lowercase".

[2020-06-11 21:23] pixelzoom commented on #104
The convention is "father mother", not "capital lowercase".   "Ff" and "fF" are different genotypes, with different meaning.  "Ff" mean "F" from father, "f' from mother.  "fF" means "f" from father, "F" from mother.

[2020-06-11 21:24] pixelzoom commented on #104
And the Pedigree graph displays father on the left, mother on the right, the same order as the genotype abbreviation.

[2020-06-11 21:30] amanda-phet commented on #104
I found a wikipedia entry that confirms my suspicion. https://en.wikipedia.org/wiki/Zygosity

A diploid organism is heterozygous at a gene locus when its cells contain two different alleles (one wild-type allele and one mutant allele) of a gene.[3] The cell or organism is called a heterozygote specifically for the allele in question, and therefore, heterozygosity refers to a specific genotype. Het

[2020-06-11 21:34] pixelzoom commented on #104
I've seen both conventions used. What you've cited is typically used in Punnett's Square representation.  I chose what I thought was most useful for a Pedigree graph.  If you don't think there's any benefit to showing which allele was inherited from which parent, then I'll change it.

[2020-06-11 21:35] pixelzoom commented on #104
So I'm going to put the dominant abbreviation first.  Keep in mind that these abbreviations are translatable, and "capital letter" may have no meaning in some locales.

[2020-06-11 21:37] pixelzoom commented on #104
I also want to point out that `labPopulation=3Ff` is going to be different than `labPopulation=3fF`.     It denotes which allele was inherited from farther vs mother.  I don't see any reason to always put the capital letter first in this case.

[2020-06-11 21:42] pixelzoom commented on #104
I also want to point out that `?labPopulation=3Ff` is going to be different than `?labPopulation=3fF`.  The allele order determines which allele is inherited from farther vs mother.  So if someone specifies `?labPopulation=3Ff,3fF`, then this change is going to result in 6 bunnies that appear at 'Ff' in the Pedigree graph, not 3 'Ff' and 3 'fF'.

[2020-06-11 21:51] pixelzoom commented on #104
From the Wikipedia article that @amanda-phet cited above:

<img width="314" alt="screenshot_390" src="https://user-images.githubusercontent.com/3046552/84442513-022f0b80-abfb-11ea-91ed-7bda21f6371b.png">

This way of writing the genotype shows the correlation to the parent that the allele was inherited from.  This is the convention I was using for the Pedigree graph -- the left allele was inherite

[2020-06-11 21:54] pixelzoom commented on #104
Below is the patch needed to make the requested change.  I'm going to hold off on this until @amanda-phet confirms that we really want to do this.  https://github.com/phetsims/natural-selection/issues/104#issuecomment-642941929 and https://github.com/phetsims/natural-selection/issues/104#issuecomment-642945208 summarize why I'm not in agreement about this change.

<details>
<summary>Patch</summary

[2020-06-12 14:44] amanda-phet commented on #104
Happy to discuss this with Megan. I completely understand why the order matters if you want to keep track of from whom the bunny inherits their alleles.

[2020-06-13 00:44] pixelzoom commented on #98
@kathy-phet had concerns about introducing a mutation into multiple individuals simultaneously. Wondering if that happens in reality, and if it is problematic for the sim.  Would like to discuss with Megan.

[2020-06-13 13:33] pixelzoom commented on #97
In 6/11/2020 design meeting discussion of #98, I mentioned that mating 2 heterozygous recessive mutants could result in more than 1 offspring that has the mutation in the phenotype.  The team corrected me, and said that only 1 offspring would have the mutation in the phenotype.  Thinking about this more, I believe that I was correct.  And that there may be another aspect of the inheritance model t

[2020-06-13 13:39] pixelzoom commented on #98
n 6/11/2020 design meeting discussion of #98, I mentioned that mating 2 heterozygous recessive mutants could result in more than 1 offspring that has the mutation in the phenotype. The team corrected me, and said that only 1 offspring would have the mutation in the phenotype. Thinking about this more, I believe that I was correct.

See https://github.com/phetsims/natural-selection/issues/97#issuec

[2020-06-13 14:19] pixelzoom commented on #97
In reality, there are many other possible outcomes for 2 heterozygous parents (e.g. Ff):

[code]

In reality, "parents donate their alleles with equal frequency" applies to the average over time.   But in this sim, it applies to each act of mating - which seems like a reasonable/necessary simplification.

[2020-06-13 19:29] pixelzoom commented on #86
It looks like these are the values that @amanda-phet was using in https://github.com/phetsims/natural-selection/issues/98#issuecomment-639694444. When I run the sim with those values with `?ea`, I get this assertion failure:

Only public query parameters result in the "Invalid Query Parameter" dialog.  So when using internal query parameters (like these), it's important that you run with `?ea`.  T

[2020-06-13 19:34] pixelzoom commented on #86
If using a dev version, you'll need to run natural-selection_all_phet_debug.html, since other html files have assertions stripped out.

[2020-06-14 21:40] pixelzoom commented on #101
Yes, it's feasible. It will be a significant chunk of work - likely a day or two. There's already a lot going on with this graph, so I'm a little concerned about information overload. And I'm also a bit concerned about how the circles will be interpreted, because they are not connected to the displays at all.   So... I'm going to hold off on "circles on data probe" until the graph is working. Ther

[2020-06-15 14:59] pixelzoom commented on #97
After more reading...  The Java model seems wrong to me, doesn't correspond to how meiosis occurs.  Shouldn't we be using a genetic cross, that corresponds to Mendel's Law of Segregation?   So Ff + Ff would have offspring FF, Ff, fF, ff.

[2020-06-15 15:09] amanda-phet commented on #97
6/15/20 meeting: we will use a classic genetic cross, and stick with 4 offspring per 2 parents.

[2020-06-15 15:43] amanda-phet commented on #98
6/15/20 meeting.

We are interested in pursuing heterozygous mutations, and in the recessive case, breeding the mutant with another bunny with the recessive gene (a child) as soon as possible.

For immediate feedback, we are still interested in "labeling" the bunnies in the environment to show feedback that mutants exist in the population, but not in a way that is so distracting.

Leaning toward r

[2020-06-15 15:48] amanda-phet commented on #98
More ideas for tuning the model:
- might have to force some bunnies to mate beyond just the first one
- perhaps if there are 2 or fewer brown bunnies, wolves can't eat any brown bunnies

[2020-06-15 15:52] amanda-phet commented on #104
6/15/20: not a problem to keep these as they are.

[2020-06-15 15:52] #104 closed

[2020-06-15 16:03] pixelzoom commented on #98
6/15/20 design meeting more:

We decided that we won't do anything special related to recessive mutations that appear in an initial population that is set via query parameters.  There are no "original mutants" in that population.

[2020-06-15 16:18] pixelzoom opened #105 ""father" and "mother" terminology in PhET-iO API"
Bunnies in this sim are sexless, and any bunny can mate with any other bunny. But as in the Java version, the code currently refers to the parents as "father" and "mother".   That terminology wasn't a problem in the Java version because it was not publicly visible. But in the HTML5 version, "father" and "mother" are appearing in the PhET-iO API, in 2 places:

* Each `Bunny` element has a `father`

[2020-06-15 16:23] pixelzoom commented on #105
As couple of other considerations....

* If we don't think this is a problem, it's going to be much easier to just leave it "as is".  There's a ton of code that I'll need to touch. And "father" and "mother" is much clearer in the code than "parent1" and "parent2".

* If clients need to create activities that refer to parents, will they want to use "father" and "mother", or something else?  Do we w

[2020-06-15 17:04] pixelzoom commented on #97
Notes to self:

When implementing the genetic cross, be sure to adhere to all 3 of Mendel's laws:  Law of Dominance, Law of Segregation, and Law of Independence. Independence can likely be achieved by shuffling the cross for each trait before combining GenePairs into a Genotype.

[2020-06-15 17:24] pixelzoom commented on #98
In the above commits, the mutation icon is no longer shown for bunnies in the environment. For development purposes (useful to me), they can be turned on using `?labelMutants`.

[2020-06-15 17:27] pixelzoom commented on #86
@amanda-phet You'll probably want to hold off on further work on this issue until #97 and #98 are completed, since they will change the model behavior.

[2020-06-15 18:10] pixelzoom commented on #9
The above commit is a refinement to the population query parameter. It requires alleles to be paired in the genotype expressions.  For example "5FFee" is valid, but "5FEfe" is not.

[2020-06-15 22:39] amanda-phet commented on #105
I don't really care about the terminology here. Father and Mother is fine, IMO, even if the bunnies don't have a sex. (And nothing wrong with two fathers, haha). It is clear enough to me as it is. Happy to discuss with the team, especially @kathy-phet since she understand client needs more than I do.

[2020-06-15 22:42] amanda-phet commented on #101
OK, well let's keep it in mind but not move forward with the circles on the probe. Let's see how it looks when we implement the above decision.

[2020-06-16 00:18] pixelzoom commented on #97
@amanda-phet Genetic cross (Punnett square) has been implemented in the above commits, and is ready for review.

The easiest way to review this is to use the query parameters to set an initial population, then inspect the first generation's genotype using the Pedigree graph. Start by verifying the behavior of one gene (e.g. Fur) with `?labMutations=F`.  Then try combinations of genes.

Below are t

[2020-06-16 00:24] pixelzoom commented on #105
@kathy-phet thoughts?

[2020-06-16 22:38] pixelzoom commented on #98
@amanda-phet All of the requested changes have been made. You can review in master or [1.0.0-dev.53](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.53/phet/natural-selection_en_phet.html).

Summary:

* Mutants are not labeled in the environment. If you want to label them, use `?labelMutants` (internal use only).
* Mutants are heterozygous. If you want homozygous mutants, use `?homo

[2020-06-16 22:47] pixelzoom commented on #105
#97 and #98 resulted in a lot more use of "father" and "mother" in the code. So I'm really hoping that we don't need to change this.   There are now 100+ occurrences in code that would need to be changed, and the code will become much less clear and more prone to error (it's easier to accidentally swap parent1/parent2 than father/mother).

I recommend that we leave the code and PhET-iO API alone,

[2020-06-17 16:47] samreid commented on #95
In https://github.com/phetsims/gravity-and-orbits/issues/343 we are developing a way to restore individual scenes.  @amanda-phet if there was built-in support for restoring the initial state (separately from the existing supported behavior of resetting the whole screen), would we want to leverage it in Natural Selection for "Start Over"?

[2020-06-17 17:25] amanda-phet commented on #95
Possibly. I feel comfortable with the decision we made to make "Start Over" actually start over, and leave it to the client to hide that button if they don't want to use it. But I'm open to discussing it again if this becomes a possibility.

[2020-06-17 17:38] pixelzoom commented on #95
No, I don't see a need to leverage phetsims/gravity-and-orbits#343  in Natural Selection.

We decided that "Start Over" means to go back to the point where we have the initial population, and that "Start Over" should not restore to a state that was saved after the generation clock started running.   When a state like that has been saved, it will be odd that "Start Over" and "Reset All" take you to

[2020-06-17 17:54] amanda-phet commented on #98
I'm still having a hard time keeping the brown bunnies alive when the mutation is recessive. I'm trying to tweak `wolvesPercentToKill` and `wolvesEnvironmentMultiplier` as well. The best luck I've had is waiting to add the mutation so that more than one bunny gets it, but they still all die (it just takes longer).

I'd like to consider not just the mutant bunny mating "eagerly" but any of the bunn

[2020-06-17 22:43] #95 closed

[2020-06-17 22:45] amanda-phet opened #106 "PhET-iO Client Guide"
@pixelzoom brought up an item we will likely want to include in the client guide in https://github.com/phetsims/natural-selection/issues/95#issuecomment-645519387. Let's use this issue for additional topics we want to include in the client guide.

[2020-06-17 23:17] amanda-phet commented on #97
I am having trouble with the query parameter for some reason, but I can confirm that all of the tables above are correct. I would be happy to verify with the sim if I can get that query parameter to work, but I was able to verify a selection of bunnies after adding a mutation and they all looked correct.

[2020-06-17 23:32] pixelzoom commented on #97
Which query parameter are you having trouble with? Example?

[2020-06-17 23:58] amanda-phet commented on #97
https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.53/phet/natural-selection_en_phet.html?secondsPerGeneration=2&labMutations=F&labPopulation=1

Getting this error dialog
![image](https://user-images.githubusercontent.com/7852916/84962376-f1cbd480-b0c3-11ea-9c12-e1443bff3f6c.png)

It's just confusing because you suggested using `labMutations=F` and I confirmed that I spelled it correct

[2020-06-18 00:06] pixelzoom commented on #97
If you have `labMutations` set, then `labPopulation` must include at least one count and genotype, e.g. "1FF".   The values that I put in the `?labPopulation` column of the tables are the values that you should be using for that query parameter.

[2020-06-18 00:06] pixelzoom commented on #97
You can also run with `?log` and see more detailed error messages in the browser console.

[2020-06-18 15:55] pixelzoom opened #107 "migrate color utilities to scenery.Color"
[NaturalSelectionUtils.js](https://github.com/phetsims/natural-selection/blob/master/js/common/NaturalSelectionUtils.js) contains 4 utility functions that are candidates for migration to scenery.Color:

* `getLuminance`
* `toGrayscale`
* `isDarkColor`
* `isLightColor`

@jonathanolson to you have any objection to me moving these to static methods of scenery.Color?

[2020-06-18 15:57] pixelzoom commented on #107
By the way... In Natural Selection, these functions are used to decide what color text (black or white) to use on a specific background color.

[2020-06-18 16:01] jonathanolson commented on #107
No objection, looks good.

[2020-06-18 16:11] pixelzoom commented on #107
Migration completed. Closing.

[2020-06-18 16:11] #107 closed

[2020-06-18 19:33] amanda-phet commented on #97
Thanks, I feel silly for not realizing that's where I made the mistake.

All of the mating seems to be working as specified above.

[2020-06-18 19:33] #97 closed

[2020-06-18 19:57] amanda-phet commented on #98
6/18/20 More ideas:
- A mutant bunny could have a 5th homozygote bunny
- Have the selection factor ignore preferred phenotype if fewer than 4 exist
- Environmental factors don't apply to recessive bunnies until they have mated eagerly

@pixelzoom will try all of these suggestions

[2020-06-18 20:10] amanda-phet commented on #100
6/18/20 questions
- Can we hide the step button?
- Can we add a radio button group that has "Fast" and "Normal"?
- **Can we add a "fast forward" button that speeds ahead? Instead of the step button. The user would hold the button to run the sim at a faster speed.**

@pixelzoom will try the third bullet!

[2020-06-18 20:12] amanda-phet commented on #105
We will leave this as-is. It does not seem problematic.

[2020-06-18 20:12] #105 closed

[2020-06-18 22:36] pixelzoom commented on #101
One potential problem with the solid (filled) points is that they are not differentiated for mutation vs normal alleles.  For example, this example could be a little confusing at the rightmost edge of the graph:

<img width="653" alt="screenshot_409" src="https://user-images.githubusercontent.com/3046552/85078510-cdcec880-b181-11ea-81c3-43fd369008d2.png">

[2020-06-18 23:18] pixelzoom commented on #100
In the above commit, I replace TimeControlNode with a custom time control (NaturalSelectionTimeControl).  The fast-forward button is not hooked up yet.

[2020-06-19 18:17] pixelzoom commented on #100
@amanda-phet ready for review in master or in 1.0.0-dev.56:

phet: https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.56/phet/natural-selection_en_phet.html

phet-io:
https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.56/phet-io/

Notes:
* Use query parameter `fastForwardScale` to set the scale factor for time while the fast-forward button is pressed.  For example `?fastFor

[2020-06-19 18:25] pixelzoom commented on #100
After making a couple more PhET-iO tweaks, I update the previous comment to refer to 1.0.0-dev.57.

[2020-06-19 18:30] pixelzoom commented on #106
From https://github.com/phetsims/natural-selection/issues/95#issuecomment-645519387:

[2020-06-20 00:31] pixelzoom commented on #101
@amanda-phet this is ready for review in master and [1.0.0-dev.58](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.58/phet/natural-selection_en_phet.html).

Everything is implemented except the points that move along the data probe (as described in https://github.com/phetsims/natural-selection/issues/101#issuecomment-642927906).  I'll be happy to implement that if you feel it's nece

[2020-06-20 00:37] pixelzoom commented on #56
@amanda-phet this is ready for review in master or https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.58/phet-io/.

The requirements were summarized in https://github.com/phetsims/natural-selection/issues/56#issuecomment-622123883.

For the counts of bunnies “now”, see `naturalSelection.labScreen.model.bunnyCollection.liveBunnies.countsProperty`.

For the counts displayed by the data p

[2020-06-20 00:39] pixelzoom commented on #86
Update: #97 is done, but #98 still has some work to do.

[2020-06-20 00:47] pixelzoom opened #108 "order of Bunny elements is odd in Studio"
As reported in https://github.com/phetsims/studio/issues/114, the order of Bunny elements is odd in Studio:

<img width="219" alt="screenshot_240" src="https://user-images.githubusercontent.com/3046552/78301271-11f0ec00-74f6-11ea-80f5-a8cfc95822bd.png">

[2020-06-23 18:40] amanda-phet opened #109 "Population graph not resetting"
Found while reviewing https://github.com/phetsims/natural-selection/issues/101

Reset-all doesn't reset the population graph properly. The sim is reset but the graph still shows the total population from the previous iteration (and others if you check them).

Then when the sim starts running, you don't see the graph moving along with time, you only see jumps at the generations.

[2020-06-23 18:42] amanda-phet commented on #109
Seen on https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.58/phet/natural-selection_en_phet.html, running Chrome on Mac OS 10.14.

[2020-06-23 18:51] amanda-phet commented on #101
Can we make the solid filled points slightly smaller? Maybe 80% the current size?

I also wonder if we can do anything to the dotted lines, since sometimes a change in population has a funny looking "jump". can you make the spaces between dashes a bit smaller? And possibly make the dashes a tiny big longer, depending on how that looks.
![image](https://user-images.githubusercontent.com/7852916/854

[2020-06-23 19:48] amanda-phet commented on #100
I am LOVING the fast-forward button. It is behaving exactly as I want it to. The 4x speed seems perfect. I intuitively click it to jump ahead a little, or click and hold to really fast-forward, and no longer feel stifled without my `secondsPerGeneration` query parameter.

The PhET-iO instrumentation/studio tree looks fine to me.

[2020-06-25 17:36] amanda-phet commented on #56
This looks great.

This was a little confusing at first because it has values before the probe is visible, but I completely understand why that's the case and it's fine.

I can't remember how to view the array to see this data. This is definitely something we will want in the client guide, and I'll need @pixelzoom to give me a refresher when he returns.

[2020-06-25 21:02] amanda-phet commented on #100
Looks great!

[2020-06-25 21:02] #100 closed

[2020-06-25 21:26] amanda-phet commented on #101
5/25/20 meeting: we'd like to consider the white intersection circles after interviews. Otherwise this all looks good.

[2020-06-27 00:22] pixelzoom commented on #56
@amanda-phet said:

The data is stored in ObservableArrays, and Studio provides no ability to inspect the contents of an ObservableArray.  So if you want to see data, you'll need to inspect the data stream in the State Wrapper.  For example, here are the data points for "short teeth" after the bunnies have mated twice.  For each point, x=generation, y=population.

[code]

[2020-06-27 01:19] pixelzoom commented on #101
@amanda-phet Does "Otherwise this all looks good" mean that you don't want any changes? Or do you still want the diameter of the points and the line-dash spacing tweaked?

[2020-06-29 16:08] pixelzoom commented on #109
Fixed in master, please verify. If everything looks OK, please close this issue.

[2020-06-29 16:31] pixelzoom commented on #108
This has been addressed in phetsims/studio#114. Closing.

[2020-06-29 16:31] #108 closed

[2020-06-29 17:05] pixelzoom commented on #101
I've reduced the radius of the points to "80% the current size", from 3 to 2.4.

Re the line dash...

Scenery specifies line dash as an array that describes the dash pattern.  It's currently [3,3], which means that the dash and space between the dashes are both 3.  It's easy to change that to anything that you want.  But if the dash is made too long, it may look like a solid line between closely-s

[2020-06-29 17:08] pixelzoom commented on #51
@amanda-phet is this a prerequisite for 1.0 release?  If so, we should get the common-code work scheduled.

[2020-06-29 17:15] amanda-phet commented on #109
Looks good.

[2020-06-29 17:20] amanda-phet commented on #101
The dot size looks good to me, but I think others on the team disagreed that it needed to be smaller. @kathy-phet @ariel-phet @oliver-phet want to weigh in? In particular, when I zoom out and see more graphs layered, I like how the smaller dots overlap less. However I'm fine with the larger too if others prefer it.

For the dashes, I'm not sure which is the dash length and which is the space, but

[2020-06-29 17:23] amanda-phet commented on #51
I have no idea. @kathy-phet ?

[2020-06-29 17:26] amanda-phet commented on #106
From #56 we will want to provide information about getting a data stream from the graph.

[2020-06-29 17:27] amanda-phet commented on #56
Thanks @pixelzoom . That looks just like what we had discussed, so I don't think any changes need to be made here.

[2020-06-29 17:27] #56 closed

[2020-06-29 17:31] pixelzoom commented on #101
The general form of the line dash array is [dash, space, dash, space,...].  I've changed it to [3, 2] in master, so that the dash is 3 and the space is 2.

[2020-06-29 18:18] pixelzoom commented on #46
I've implemented all of the basic functionality. It works like this:

* The `maxGenerations` query parameter (default 100) determines when the sim will stop -- run with `?maxGenerations=2` to test drive.
* The dialog is currently an OopsDialog, shown in the screenshot below.   The message string and icon can easily be changed.
* After closing the dialog, the sim is in the "Start Over" state.

Ques

[2020-06-29 22:18] amanda-phet opened #110 "Change when deaths occur"
During the 6/25/20 design meeting we discussed how deaths would occur, and we found many reasons for keeping the deaths at a single point (rather than continuously happening). However we'd like to change it to happen in the middle of the "death cycle." So, for food, if the cycle is from 2:00-6:00, we'd want deaths to occur at 4:00. If the wolf cycle is from 6:00-10:00, we'd like deaths to occur at

[2020-06-29 23:19] pixelzoom commented on #110
I discussed this issue with @amanda-phet on Zoom.  We are also going to leave behavior related to how wolves and bunnies move "as is".  That is, wolves will not try to move towards specific bunnies.  And bunnies will not try to cluster around food.  That behavior is (at best) subtle in the Java version, and not worth the expense/complexity.

[2020-06-30 00:11] pixelzoom commented on #110
Ready for review in master and [1.0.0-dev.59](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.59/phet/natural-selection_en_phet.html).

[2020-06-30 17:45] pixelzoom commented on #109
Reopening.  This aspect of the bug is not fixed:

[2020-06-30 18:25] pixelzoom commented on #109
This was a very subtle bug, fixed in the above commit.  Thanks for finding this!  @amanda-phet please verify in master.

[2020-06-30 18:28] pixelzoom opened #111 "dash appears to move along plots for mutant alleles"
Related to #101.

When the Population graph starts to scroll, there's a distracting visual effect for the mutant (dashed) plots.  The line dash appears to move along the line.  This is because the line dash remains stationary, while the line moves to the left, as it scrolls with the graph.

[2020-06-30 18:29] pixelzoom commented on #101
@amanda-phet and I discussed this issue on Zoom.

We're happy with the revised point radius and line dash pattern.  The issue of the dash appearing to move along the line has been moved to #111.

There are no other outstanding issues here, so this issue can be closed.

[2020-06-30 18:29] #101 closed

[2020-06-30 18:56] amanda-phet commented on #109
Looks good now!

[2020-06-30 18:56] #109 closed

[2020-06-30 19:55] amanda-phet commented on #110
This is looking good to me, and the graph looks great because of it. Thanks!

[2020-06-30 19:55] #110 closed

[2020-06-30 20:05] pixelzoom commented on #92
The new division of the clock seems to be working nicely, and was further refined in #110.

In https://github.com/phetsims/natural-selection/issues/92#issuecomment-638265250, @amanda-phet said:

I think this is the last bit to address for this issue.  Or maybe more it to a new issue and close this one?

[2020-06-30 20:06] pixelzoom commented on #92
Actually, I guess both of these color-related questions are still open:

[2020-06-30 20:57] pixelzoom commented on #61
After implementing all graphs...  These buttons feel a little sluggish in the unbuilt version with assertions enabled.  But in the the built version, they feel plenty responsive.  So I'm going to close this issue.

[2020-06-30 20:57] #61 closed

[2020-06-30 21:13] pixelzoom commented on #60
Most of the sim is now fleshed out, so this can be revisited.

For this scenario:

1. start sim, go to Lab screen
2. press "Add a Mate" button
3. wait for bunnies to take over the world

... here's the performance of the unbuilt version (with assertions enabled) vs the built version:

| generation | bunnies born | unbuilt (ms) | built (ms) |
| :--: | :--: | :--: | :-: |
| 1 | 4 | 9.6 | 4.7 |
| 2 |

[2020-06-30 21:32] pixelzoom commented on #46
I also investigated whether a JavaScript program can determine how much memory it's using.  I received a couple of suggestions from @jessegreenberg on Slack:

* Performance: https://developer.mozilla.org/en-US/docs/Web/API/Performance
* RunKit.object-sizeof: https://npm.runkit.com/object-sizeof

Performance.memory is documented as "A _non-standard_ extension added in Chrome, this property provides

[2020-06-30 21:37] pixelzoom opened #112 "prune dead bunnies"
To conserve memory, dead bunnies should be pruned (disposed) when they are no longer needed.  And the only need for dead bunnies is for the Pedigree graph.

[2020-06-30 21:38] pixelzoom commented on #112
@amanda-phet suggestion in Slack:

![IMG_20200629_170735](https://user-images.githubusercontent.com/3046552/86179525-acf26580-bae7-11ea-97d6-633fa513869f.jpg)

If bunny 0 can't mate with a gen 5 bunny, only a gen 4, then this looks even better and only gets to 15

[2020-07-01 22:28] pixelzoom opened #113 "interruptSubtreeInput when a dialog is shown"
To reproduce:

1. Start sim
2. Go to either screen
3. Press "Add a Mate" button
4. Press and hold fast-forward button until bunnies take over the world.
5. Release fast-forward button.
6. Close "Bunnies have taken over the world" dialog

The time controls will be disabled, as they should be.  But the sim will be playing - it should be paused.

When any dialog is shown,  all interactions that are i

[2020-07-02 03:09] pixelzoom commented on #51
Labeled for 7/2/20 design meeting, to get @kathy-phet's input on whether this is a prerequisite to 1.0.

[2020-07-02 03:10] pixelzoom commented on #60
Labeled for design meeting to get feedback on what an acceptable delay is.

[2020-07-02 03:11] pixelzoom commented on #46
Labeled for design meeting to get input on desired icon and message.

[2020-07-02 16:27] pixelzoom commented on #113
Done. I also factored out `endSimulation`, which is all the stuff that needs to be done regardless of how the simulation ends.

[2020-07-02 16:27] #113 closed

[2020-07-02 16:36] pixelzoom commented on #106
The bit above about ObservableArrays (previous comment) is true of all uses of ObservableArray.  Rather than duplicate it in every sim-specific client guide, should it be included in some general guide?  And does such a general guide exist?

[2020-07-02 19:36] pixelzoom commented on #51
7/2/2020 design meeting:

Let's try to get this done for 1.0, as well as ph-scale 1.4, gas-properties, etc.

Would like me to do it.

[2020-07-02 19:42] pixelzoom commented on #60
7/2/2020 design meeting:

Under 500 ms is acceptable.

[2020-07-02 20:01] pixelzoom commented on #46
7/2/2020 design meeting:

Icon: Bunny with brown fur, straight ears, long teeth.

message: leave as is

maxGenerations: set to 1000

With secondsPerGeneration=10, this should take ~2.7 hours to reach this limit.

We discussed keeping N generations of data and dropping earlier data.  But that has more issues, and consensus was that having a generation limit is cleaner/clearer.

[2020-07-02 20:11] pixelzoom opened #114 "colors for generation clock"
Related to colors used for the generations clock...

In https://github.com/phetsims/natural-selection/issues/92#issuecomment-638265250, @amanda-phet said:

[2020-07-02 20:12] pixelzoom commented on #92
In 7/2/2020 design meeting, everyone reported being pleased with the new division of the generation clock.

The remaining color issues are now being tracked in https://github.com/phetsims/natural-selection/issues/114.

Closing.

[2020-07-02 20:12] #92 closed

[2020-07-02 20:26] pixelzoom commented on #46
In the above commits, I added a bunny icon, and increased `maxGenerations: 1000`.

Here's what it looks like in master:

<img width="1088" alt="screenshot_418" src="https://user-images.githubusercontent.com/3046552/86406099-c3c3c400-bc6f-11ea-89d9-df5e0c0f06ca.png">

@amanda-phet is this good?

I'll leave assigned to me to verify that `maxGenerations: 1000` is reasonable, once we have the ability

[2020-07-02 21:04] amanda-phet commented on #46
I like it!

[2020-07-03 20:33] pixelzoom commented on #60
In [1.0.0-dev.61](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.61/phet/natural-selection_en_phet.html), I added a temporary display that shows the time for each mating cycle.  For example:

<img width="503" alt="screenshot_419" src="https://user-images.githubusercontent.com/3046552/86496040-d35b0f80-bd38-11ea-8b9e-151f9db18d1d.png">

To test, I started the sim, went to the Lab sc

[2020-07-03 21:18] pixelzoom commented on #60
In the above commits, I added a `showTimeToMate` query parameter.   So this debug feature will be available (but hidden) in future versions.

I also created the bunny selection rectangle (in BunnyNode.js) on demand, which reduced the delay significantly as follows (values are averages over 3 runs):

| platform | before (ms) | after (ms) |
| :--- | ---: | ---: |
2019 MacBook Pro | 410 | 326 |
2009

[2020-07-03 22:11] pixelzoom commented on #60
Just for kicks, I tried eliminating the PhetioGroup that created BunnyNode instances, since it's unclear whether BunnyNode really needs to be instrumented.   On my 2019 MacBook Pro, the delay reduction was negligible - from 326 ms to 317 ms.

[2020-07-03 22:59] pixelzoom commented on #112
Bunnies die at age 5 _before_ they mate.  So I think the above diagram should probably be for 0 -> 4, correct @amanda-phet?

If that's the case, then we have:

[code]

[2020-07-03 23:22] pixelzoom commented on #112
Bunnies die at age 5, before they mate.  If the depth of the Pedigree tree is 4, can we simply dispose of a bunny when it has been dead for 3 generations?

[2020-07-03 23:25] pixelzoom commented on #112
Another problem to solve when disposing of dead bunnies... When a bunny is disposed, it offspring will have a reference to it, via the Bunny `father` or `mother` field.  There's no link from the parent back to its offspring, and we don't want to have to search all bunnies.   In any case, that reference needs to be removed, or the memory won't be freed.   And we can't just set `father` or `mother`

[2020-07-06 15:25] ariel-phet commented on #60
@pixelzoom it seems like what you are asking is a very quick test. Please contact @KatieWoe directly on slack and see if she can squeeze this in with some other testing (I imagine a QA person working on another sim on a specific platform could just do this test quickly)

[2020-07-06 16:01] pixelzoom commented on #60
I messaged @KatieWoe on Slack, and she can fit this in sometime this week.   Here are the instructions:

Please test with [1.0.0-dev.62](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.62/phet/natural-selection_en_phet.html) with a range of PhET test devices, including performance-challenged devices.  Use the steps and table below, which will record 3 times and an average.

Steps:
1

[2020-07-06 16:45] amanda-phet commented on #112
If we dispose of a bunny after it's been dead for 3 generations, that could potentially be a problem for the pedigree. Bunny 0 could have a great-grandchild in generation 15, but not later than that. So, as you said in https://github.com/phetsims/natural-selection/issues/112#issuecomment-653692159, we need to keep bunnies for 15 generations after they are born to handle this worst-case scenario.

[2020-07-06 17:28] pixelzoom commented on #112
Yeah, that was more of a note to myself, and has to do with internal implementation. Definitely not a designer issue.

One other note to myself....  Keeping bunnies for 15 generations is still liable to result in a memory problem.  We really only need to keep enough bunnies to satisfy the Pedigree for bunnies that are selectable (alive) plus the bunny that is currently selection (who may be dead o

[2020-07-06 19:59] pixelzoom commented on #46
This is assigned to me to verify that `maxGenerations: 1000` is reasonable, once we have the ability to get the sim in a steady state.

[2020-07-06 20:54] pixelzoom commented on #111
Discussed with @jonathanolson on Slack.  Option `lineDashOffset` should be the means of resolving this. As the graph scrolls, adjust `lineDashOffset` to shift the dash pattern, making it look like it's scrolling with the plot.

[2020-07-06 21:19] pixelzoom commented on #111
`lineDashOffset` worked great, and this is now behaving as desired.  @amanda-phet please review in master.  If it looks OK, close this issue.

[2020-07-07 00:13] pixelzoom commented on #98
A few notes....

This one was relatively easy.  Selection factors are ignored until a homozygous-recessive mutant has mated eagerly.

This one was complicated.  The genotype for the recessive mutation was easy, it always homozygous recessive. The genotype for the other 2 genes was more complicated.  For those other 2 genes, a random cell from the Punnett square containing a dominant allele will be

[2020-07-07 04:13] kathy-phet commented on #98
Chris,

The last one means that if there are fewer than say 3 brown bunnies, and the wolves come out to eat and it’s on brown ground, there is 0% chance they will eat brown bunnies. So it basically overwrites the general rule if there are few of the brown bunnies. Or whichever phenotype is preferred against the current selection factors for that generation.

K

Sent from my iPhone

[2020-07-07 04:19] pixelzoom commented on #98
@kathy-phet thanks for clarifying. So that last one is independent of whether the phenotype is the result of a dominant or recessive mutation.  That's what had me confused.

[2020-07-07 05:25] pixelzoom commented on #98
This requirement is now implemented in master, like this:

* If the population of bunnies with long teeth is <= `?minBunniesForFood` (default 5), then no bunnies with long teeth will starve to death.

* If the environment is the equator, and the population of brown bunnies is <= `?minBunniesForWolves` (default 5), then no brown bunnies will be eaten by wolves.

* If the environment is the arctic,

[2020-07-07 05:29] pixelzoom commented on #98
All of the requested changes listed in https://github.com/phetsims/natural-selection/issues/98#issuecomment-646275437 are implemented. Test drive in master or [1.0.0-dev.63](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.63/phet/natural-selection_en_phet.html).  I'll review this with @amanda-phet to make sure that what I implemented is what she was expecting.

[2020-07-07 05:32] pixelzoom opened #115 "handle enable/disable of environmental factors"
Handle food and wolves correctly when they are enabled/disabled during their slice of the generation clock.

[2020-07-07 05:37] pixelzoom commented on #115
Environmental factors are shown as slices of the generation clock, but are applied at single points in time.

Food slice is 2:00-6:00, applied at 4:00.
Wolves slice is 6:00-10:00, applied at 8:00.

What should happen when an environmental factor is enabled during its slice, but after the time that it's applied?  For example, what happens if wolves are enabled at 9:00?  Do they not appear? Do they

[2020-07-07 15:31] pixelzoom commented on #86
7/7/2020 discussed with @amanda-phet.  #98 is done, so OK to proceed with this.  She'll provide new query parameter values.

[2020-07-07 15:51] kathy-phet commented on #98
Hi Chris,

Shouldn't this one just also be "if" tough food selection factor is "on"?
If the population of bunnies with long teeth is <= ?minBunniesForFood (default 5), then no bunnies with long teeth will starve to death.

Wolves could still eat long teeth bunnies that is.

I'm curious how this will all behave when Amanda starts working on tuning it.

[2020-07-07 16:08] pixelzoom commented on #98
Correct.  I thought that goes without saying, because bunnies only starve if a food-selection factor is turned on.

Correct.  Environmental factors are independently applied.  Wolves select for fur color, and ignore other traits.  Food (starvation) selects for teeth, and ignore other traits.

[2020-07-07 16:10] pixelzoom commented on #98
7/7/2020 @amanda-phet and I review this via Zoom, and this is looking good.  She'll experiment with the new query parameters (`minBunniesForFood`, `minBunniesForWolves`) and get back to me with change requests.

[2020-07-07 16:13] pixelzoom commented on #112
7/7/2020 Discussed with @amanda-phet via Zoom.  We'll start by disposing of bunnies who were born 16 generations ago, and see how that affects memory usage.  We can monitor the number of dead bunnies in the browser console using the `?log` query parameter.  For example:

[2020-07-07 16:49] pixelzoom commented on #115
7/7/2020 discussed with @amanda-phet via Zoom.

Food: If one of the food checkboxes is checked after 4:00, those factors won't be applied until the next clock cycle.

Wolves: If the checkbox is checked after 8:00, no wolves are created until the next clock cycle.  Otherwise, wolves are created when the checkbox is checked, disposed when the checkbox is unchecked.

[2020-07-07 16:54] pixelzoom commented on #46
7/7/2020 discussed with @amanda-phet via Zoom. She will describe a procedure for putting the sim in a steady state.  Then I'll put the sim is a steady state and take heap snapshots to see what the memory footprint is as we approach `maxGenerations`.

[2020-07-07 18:05] KatieWoe commented on #60
@pixelzoom the table is filled out with the platforms that felt most important. Let me know if you want any more specific platforms tested.

[2020-07-07 19:15] pixelzoom commented on #60
Thanks @KatieWoe.

[2020-07-07 20:36] pixelzoom commented on #115
Ready for review in master or [1.0.0-dev.64](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.64/phet/natural-selection_en_phet.html).

One change to what we discussed in https://github.com/phetsims/natural-selection/issues/115#issuecomment-654990423:

Clicking a checkbox and sometimes seeing wolves appear, sometimes not, felt very odd/wrong. It was also difficult/messy to implement.

[2020-07-07 20:48] pixelzoom commented on #60
@KatieWoe and I discussed the test results shown in https://github.com/phetsims/natural-selection/issues/60#issuecomment-654325501.

* The "Dell Win 10" machine is her personal machine, and she said that Firefox is typically slower than Chrome and Edge.

* "Lovelace - ChromeOS" is an older Chromebook, typically PhET's worst-performing test platform (and it didn't disappoint here :)  The sim felt g

[2020-07-07 22:36] pixelzoom commented on #60
Running the PhET-iO standalone version results in an even larger delay.   On my 2019 MacBook Pro, the average of 3 runs (429, 465, 496 ms) is 463 ms of delay for generation 6.  Compared to the `brand=phet` version, where the delay was 326 ms, that a 42% increase in delay.  I'm not sure how that will translate to other platforms, but I'm guessing that it will at least that bad.

PhET-iO brand was r

[2020-07-07 22:49] pixelzoom commented on #60
7/7/2020 I discussed performance with @jonathanolson.  We paired for ~1 hour, looking at performance in Chrome dev tools.

Summary:

* Most of the overhead is in Node.
* There is no single bottleneck to be relieved; it's cumulative overhead.
* Node overhead has increased due to PhET-iO (PhetioObject) and a11y (ParallelDOM).
* Performance of `brand=phet-io` is demonstrably worse (delay was ~5 secon

[2020-07-07 23:25] kathy-phet commented on #60
Chris, How do I run this as PhET-iO? If I use the dev version with ?brand=phet-io&phetioStandalone&showTimeToMate&secondsPerGeneration=1 it only comes up with phet brand still. Do I have to run on phettest.

[2020-07-07 23:41] pixelzoom commented on #60
@kathy-phet:

If you want to run a dev version...  I have been building all dev versions for brand=phet and brand=phet-io.  The phet-io version is in a hidden directory, password protected.  It's probably easiest is to navigate to the brand=phet version, then manually modify the URL in your browser.

For example, the URL for latest dev version for brand=phet is:
https://phet-dev.colorado.edu/html/

[2020-07-07 23:57] pixelzoom commented on #112
This is implemented in the above commit.  But I have not been able to test it sufficiently, because I can't get the number of generations to go beyond 7 or 8 before bunnies take over the world.

I'll leave this open for further testing.  @amanda-phet as in https://github.com/phetsims/natural-selection/issues/46#issuecomment-654993065, if you have a procedure for stabilizing the populate so that th

[2020-07-08 17:20] amanda-phet commented on #111
It is working as desired. Thanks for finding a solution!

[2020-07-08 17:21] #111 closed

[2020-07-08 19:12] pixelzoom opened #116 "publish a public prototype"
@ariel-phet has mentioned that it would be nice to publish a prototype version of this sim, before it is completed.

Questions:

* When (ideally) would you like the prototype published?
* What things do we need to complete?
* What is the process for publishing a prototype?

Assigning to the design team for feedback.

[2020-07-08 19:34] ariel-phet commented on #116
@pixelzoom I think "ideally" we would publish a preview version by Aug 15

- Ideally the sim would be basically feature complete (visual cleanliness not being the priority)
- There should be no "obvious" bugs, the sim basically runs and meets the learning goals
- For example if the population graph was working, but wasn't as polished as we like that would not be an issue
- If there are some undesi

[2020-07-08 19:59] kathy-phet commented on #116
Yes, this would be nice. Ariel summed it up nicesly.

[2020-07-08 22:13] amanda-phet commented on #116
That all sounds right to me as well.

[2020-07-08 22:37] mattpen commented on #116
Currently the process is "Ask Matt and he'll work some magic".  I was under the impression that this was a one-off request for the 4 sims published early during the Covid-19 shutdown, so it isn't documented well or easy for others to replicate. If this is going to be a regular feature we want to include on the website, we should probably formalize/standardize a process that allows sim developers t

[2020-07-08 22:39] pixelzoom commented on #116
I appreciate the general description, which could apply to any sim. But I need specifics for this sim.  The sim is essentially feature complete now, so run master or [1.0.0-dev.66](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.66/phet/natural-selection_en_phet.html), look at the open GitHub issues, and please put together a checklist of what needs to be completed before publishing

[2020-07-08 22:47] pixelzoom commented on #51
Work completed in https://github.com/phetsims/sun/issues/575.   The Studio tree for the "Generations" spinner, `naturalSelection.labScreen.view.graphs.proportionsNode.proportionsGraphNode.generationSpinner`, now looks like this:

<img width="231" alt="screenshot_422" src="https://user-images.githubusercontent.com/3046552/86977768-9af17200-c13a-11ea-8013-0645503ac5d5.png">

@amanda-phet please veri

[2020-07-09 00:02] ariel-phet commented on #116
This won't need @kathy-phet approval, removing her assignment. @amanda-phet can be the main arbiter of what is an acceptable state, I will also try to take a look.

[2020-07-09 00:05] pixelzoom commented on #112
Uh oh. There's a problem with pruning bunnies 16 generations after they were born.  One of those bunnies could be the selected bunny in the Pedigree graph, and pruning it would cause it to disappear from the graph.  For example, suppose that I select one of the original bunnies before pressing "Add a Mate", and then never select a different bunny.   That original bunny can't be pruned as long as i

[2020-07-09 00:10] pixelzoom commented on #112
I'm also wondering about how I'm currently handling a bunny's references to its parents.  In Bunny.js, a bunny now listens for when its parents have been disposed, and sets `this.father` or `this.mother` to `null`.   But father and mother were previously `null` only for generation 0 bunnies.  Will this cause problems?...

[2020-07-09 00:13] ariel-phet commented on #116
A quick scan of the github issues, I think only #98 and #86 are essential to get to an acceptable place before publishing a prototype version, most of the other issues seem performance or iO related and not critical.

[2020-07-09 14:58] KatieWoe opened #117 "CT: countProperty should match array length"
Seems similar to https://github.com/phetsims/natural-selection/issues/89
[code]

[2020-07-09 15:56] pixelzoom commented on #117
This problem started at 5:49pm yesterday (7/8/20) and has been occurring intermittently since.  There have been no changes related to PhetioGroup in the sim for many days.  Might this be related to some PhET-iO common-code change?

[2020-07-09 16:02] pixelzoom commented on #117
Chris Malley  9:56 AM
Have there been any recent changes that might affect PhetioGroup's countProperty? See https://github.com/phetsims/natural-selection/issues/117

Sam Reid:house_with_garden:  10:00 AM
Not purposefully and none I am aware of.  Also, you should know you can click on the column headers in CT to see a list of changed SHAs

Michael Kauzmann  10:01 AM
I haven't touched it since makin

[2020-07-09 16:06] pixelzoom commented on #117
This is the assertion that's failing in PhetioGroup:

[code]

[2020-07-09 16:11] pixelzoom commented on #117
Re: `Uncaught RangeError: Maximum call stack size exceeded` ....

This smells like an infinite loop.

[2020-07-09 16:21] pixelzoom opened #118 "CT: Maximum call stack size exceeded"
Broken out from https://github.com/phetsims/natural-selection/issues/117:

[code]

[2020-07-09 16:24] pixelzoom commented on #118
Below is the offending code in ProportionsGraphNode.js.  Setting `center` causes bounds to change, so this is an infinite loop. This code has existed since 6/10/2020.  No idea why it suddenly became a problem.  The solution is to wrap content in another Node.

[code]

[2020-07-09 16:34] pixelzoom commented on #118
Reproduced at startup with `?brand=phet&ea&fuzz&stringTest=xss&memoryLimit=1000`.

[2020-07-09 16:41] pixelzoom commented on #118
Fixed in the above commit. I'll leave this open until CT is happy.

[2020-07-09 17:02] zepumph commented on #117
The last time we encountered this error, it had to do with the potential for Property listeners, or other logic that executes because of the PhET-iO state being set, changing the number of dynamic elements in a sim. For example, when setting a state, the PhetioGroup will create 6 bunnies, and it will change some theoritical Property called `happinessProperty`. If happinessProperty has a listener t

[2020-07-09 17:44] pixelzoom commented on #118
All clear in CT, closing.

[2020-07-09 17:44] #118 closed

[2020-07-09 17:59] pixelzoom commented on #117
Hmm... I'm unable to reproduce locally with `phet-io-wrappers/state/?sim=natural-selection&phetioDebug&fuzz`.  And CT has now been error-free for 5 cycles.

[2020-07-09 18:10] pixelzoom commented on #46
Since I haven't been able to accomplish this by using the sim, I'm going to add a query parameter that prevents the bunnies from taking over the world by randomly killing part of the population.   This will be generally useful for testing memory limit, and shouldn't be relatively easy.

[2020-07-09 18:12] pixelzoom commented on #112
To test pruning, I'm also going to add a query parameter that prevents bunnies from taking over the world, as described in https://github.com/phetsims/natural-selection/issues/46#issuecomment-656274546.

[2020-07-09 18:15] pixelzoom opened #119 "procedure to put the population in a stable state"
Pulling this issue out of https://github.com/phetsims/natural-selection/issues/46#issuecomment-654993065 and https://github.com/phetsims/natural-selection/issues/112#issuecomment-655200080, where it's needed to test memory consumption.

@amanda-phet will describe a procedure to put the population in a stable state.

#86 (tune the environmental factors model) needs to be done first.

[2020-07-09 19:12] amanda-phet commented on #98
I followed the same procedure as in https://github.com/phetsims/natural-selection/issues/98#issuecomment-639694444 and for experiment 2, with a recessive mutation, brown bunnies take over the world at the start of generation 16. This is using the same percentages (`wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.3`).

If we want the bunnies to take over at generation 15 (just like with th

[2020-07-09 19:23] amanda-phet opened #120 "Error once we hit generation 17, likely related to pruning"
I was holding down fast-forward for many generations and then all of a sudden at the start of the generation the bunnies didn't mate, causing the population to die.

Clicking reset-all made the sim further bug out, as the sim was only partially reset, the button still looks depressed and other things look strange.

I can try to find steps to reproduce, but wanted to document this as soon as I coul

[2020-07-09 19:28] pixelzoom commented on #120
@amanda-phet What version were you running, on what browser? Anything in the browser console?

[2020-07-09 19:30] pixelzoom opened #121 "method of handling Reset All"
As noted at 7/9/2020 dev meeting... Reminder that https://github.com/phetsims/phet-io/issues/1678#issuecomment-655766250 is affecting Reset All and Start Over.

[2020-07-09 19:44] samreid commented on #121
I reverted the behavior in https://github.com/phetsims/phet-io/issues/1678 so axon Property reset() doesn't try to load customized state any more.  This issue can likely be closed after Natural Selection tests to have the correct behavior.  @pixelzoom let me know if you test this before I do.

[2020-07-09 19:55] pixelzoom commented on #60
7/8/2020 design meeting @amanda-phet @kathy-phet @ariel-phet

We asked @jonathanolson about:

@jonathanolson has some of this implemented already. @kathy-phet asked him to proceed, and track hours for Natural Selection.

I'm going to remove instrumentation of bunnies and wolves in the view (BunnyNodeCollection, WolfNodeCollection).

[2020-07-09 19:57] pixelzoom opened #122 "animation slows down with large numbers of bunnies & wolves"
Reported to me verbally by @amanda-phet, she noticed this on her MacBook Pro.

This will be addressed by the scenery work that @jonathanolson is doing for sprites (#128) and conversion to time-based animation (#123).

[2020-07-09 20:07] pixelzoom commented on #98
7/7/2020 design meeting @amanda-phet @kathy-phet @ariel-phet

`minBunniesForWolves=6` makes bunnies take over earlier. But  `minBunniesForWolves=5` feels better, so leave as is.

@amanda-phet still needs to confirm the value for `minBunniesForFood`.

[2020-07-09 20:08] pixelzoom commented on #120
1.0.0-dev.66, Chrome + macOS 10.15

[2020-07-09 20:10] pixelzoom commented on #116
I also want to very #46 and #112, memory consumption issues.

[2020-07-09 21:09] pixelzoom opened #123 "base animation on time instead of "steps""
As in the Java version, animation of bunnies and wolves is currently based on number of clock steps, not on time.  Since the time between clock steps will vary widely across platforms, this makes it impossible to "tune" animation.

For example, in #122 we decided to increase the amount of time that bunnies spend resting.  But because that's based on number of clock steps and not a time value, it's

[2020-07-09 21:40] pixelzoom commented on #122
I started to tune Bunny.REST_STEPS_RANGE, and realized that I can't really come up with a value that I think looks good on all platforms.  Animation is currently based on clock steps, not time, so I'm going to investigate changing that in #123.

[2020-07-09 21:53] pixelzoom opened #124 "uninstrument BunnyNode and WolfNode"
In https://github.com/phetsims/natural-selection/issues/60#issuecomment-656320887, we decided that the view for bunnies and wolves (BunnyNode and WolfNode) does not need to be instrumented.  And in fact cannot be instrumented once we move to more high-performance sprite rendering.   So I will uninstrument.

[2020-07-09 22:08] pixelzoom commented on #117
Very odd, this has not reoccured in CT for 13 cycles.  The only thing that I changed was #118, which should have been unrelated.

[2020-07-09 23:22] pixelzoom commented on #124
Instrumentation for BunnyNode and WolfNode was removed in the above commit.  This also involved removing 2 PhetioGroups, 2 IO types, and some supporting files.   So lots of code removed.

@amanda-phet please verify that this looks OK in Studio.  You can compare [1.0.0-dev.66](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.66/phet-io/) (before) and [1.0.0-dev.67](https://phet-dev.co

[2020-07-09 23:30] amanda-phet commented on #120
I held down the fast-forward button for maybe 6 generations in a row, then at generation 17 you can see the bunnies didn't mate.
![image](https://user-images.githubusercontent.com/7852916/87100465-bbd4c880-c209-11ea-9bfa-f40bd92df92f.png)

I'm not sure if you can read the console, but hopefully something here is helpful. If you want me to do this on zoom with you I'm happy to do that.

[2020-07-09 23:37] pixelzoom commented on #120
Could you describe how you got the sim to run for 17 generations, and give this a try with master?  Built versions get mangled, so the console output isn't difficult to interpret.  But I'm guessing that this bug is related to pruning of bunnies after 15 generations.

[2020-07-09 23:45] amanda-phet opened #125 "Reset all not resetting everything properly after generation 17"
Using https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.66/phet/natural-selection_en_phet.html?wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.3&limitedFoodPercentToKill=.6,.7&toughFoodPercentToKill=.4,.7&shortTeethMultiplier=1.4&limitedFoodMultiplier=1.02&ae&minBunniesForFood=3

Mac OS 10.15, Chrome.

Issue: clicking reset-all doesn't fully reset the sim.
![image](https://us

[2020-07-09 23:56] amanda-phet commented on #120
You're right, I'm sure this has to do with pruning. It keeps happening right at generation 17. I'm trying to test #98 and #86, which requires me getting the bunnies in a steady state, so I keep bumping into this bug.

Running https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.66/phet/natural-selection_en_phet.html?wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.3&limitedFoodPe

[2020-07-10 00:11] pixelzoom commented on #125
Any console output?

[2020-07-10 00:12] pixelzoom commented on #125
I see that you're just past generation 16.  This is probably the same problem as https://github.com/phetsims/natural-selection/issues/120, a bug in pruning.   I can't reproduce because I haven't discovered the magic to make the sim run that long, see #119.

[2020-07-10 01:34] amanda-phet commented on #120
So I'm running http://phettest.colorado.edu/natural-selection/natural-selection_en.html?ea&brand=phet&wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.3&limitedFoodPercentToKill=.6,.7&toughFoodPercentToKill=.4,.7&shortTeethMultiplier=1.4&limitedFoodMultiplier=1.02&ae&minBunniesForFood=4 and right at the start of generation 17 I get a lot of console information. I think it will work best if

[2020-07-10 01:36] amanda-phet commented on #125
I believe you are correct.

When I click reset, I see the following:

Assertion failed: reentry detected, value=0, oldValue=172.7019999999991
assert.js:22 Uncaught Error: Assertion failed: reentry detected, value=0, oldValue=172.7019999999991
    at window.assertions.assertFunction (assert.js:22)
    at NumberProperty._notifyListeners (Property.js:270)
    at NumberProperty.set (Property.js:171)

[2020-07-10 01:51] amanda-phet commented on #86
I'm fairly confident I want the values to be as follows:

wolvesPercentToKill=.35,.4
wolvesEnvironmentMultiplier=2.3
limitedFoodPercentToKill=.6,.7
toughFoodPercentToKill=.4,.7
shortTeethMultiplier=1.4
limitedFoodMultiplier=1.02
minBunniesForFood=4
minBunniesForWolves=5

But I'm getting assertions at 10:00 when I run with `?ea` and Wolves are checked, so I might still be doing something wrong.

[2020-07-10 01:59] amanda-phet commented on #98
See #86

`minBunniesForWolves=5` and `minBunniesForFood=4` seem to work well.

[2020-07-10 02:02] samreid commented on #121
I'll defer to @pixelzoom for the testing since he is more familiar with how "start over" can be triggered and how it is expected to behave.  Another test to run for this issue is creating a customized sim in Studio and make sure it has the correct behavior for "reset" and "start over".

[2020-07-10 03:10] pixelzoom commented on #86
What are the assertion messages? (in the browser console)

[2020-07-10 03:11] pixelzoom commented on #86
What are the assertion messages? (in the browser console)

With master, or some dev version?

[2020-07-10 03:50] amanda-phet commented on #86
From slack:

Trying to run with these parameters: http://phettest.colorado.edu/natural-selection/natural-selection_en.html?ea&brand=phet&wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.3&limitedFoodPercentToKill=.6,.7&toughFoodPercentToKill=.4,.7&shortTeethMultiplier=1.4&limitedFoodMultiplier=1.02&minBunniesForFood=4

Assertion failed: reentry detected, value=53.41800000000021, oldValue=5

[2020-07-10 15:17] KatieWoe opened #126 "CT tried to removeListener on something that wasn't a listener"
[code]

[2020-07-10 17:05] pixelzoom commented on #126
Fixed in the above commit. I'll leave this open until CT confirms.

[2020-07-10 17:40] pixelzoom commented on #126
Looks good in CT, closing.

[2020-07-10 17:40] #126 closed

[2020-07-13 16:54] pixelzoom commented on #117
This finally occurred again (once) 7/11/2020, 11:04:32 PM.

[2020-07-13 18:37] pixelzoom commented on #86
I change to the query-parameter values specified in https://github.com/phetsims/natural-selection/issues/86#issuecomment-656436464, and I don't see any problem with those values with `?ea`.

I also can't reproduce the problem reported in https://github.com/phetsims/natural-selection/issues/86#issuecomment-656466934, and it's not happening in CT.

[2020-07-13 18:39] pixelzoom commented on #86
In the above commit, I changed to the query-parameter values specified in https://github.com/phetsims/natural-selection/issues/86#issuecomment-656436464, and I don't see any problem with those values with `?ea`.     You can verify that query-parameter values by running with `?log` - the first thing the sim will do is print the values of all sim-specific query parameters to the browser console.

I

[2020-07-13 18:43] pixelzoom commented on #86
I can't reproduce the problem reported in https://github.com/phetsims/natural-selection/issues/86#issuecomment-656466934, and it's not happening in CT.  @amanda-phet do you have any more details about what "Trying to run" means? Where you interacting with any other controls, like the fast-forward button?  Exact steps to reproduce are always helpful.

[2020-07-13 18:47] pixelzoom commented on #98
`minBunniesForWolves=5` and `minBunniesForFood=4` in the above commit.  I'm going to close this issue, and we'll handle any further tuning of those query parameters in #86.

[2020-07-13 18:49] pixelzoom commented on #124
Raising performance to "high", because this is going to be very difficult to revert as I move forward.

[2020-07-13 18:52] pixelzoom commented on #121
Start Over and Reset All are behaving as expected. Closing.

[2020-07-13 18:52] #121 closed

[2020-07-13 18:54] pixelzoom commented on #51
Raising priority to "top".  If the Studio tree is for some reason incorrect, this will require common-code changes, and will impact the pH Scale RC 1.4.0-rc.1 that's in progress.   So it's important to get this issue (and phetsims/sun#575) closed quickly.

[2020-07-13 19:07] pixelzoom opened #127 "Assertion failed: This PhetioObject has already been disposed"
@amanda-phet reported 2 "reentry detected" assertion failures related to `this.timeProperty` in GenerationClock.

---

The first report was in https://github.com/phetsims/natural-selection/issues/125#issuecomment-656432617,  where she was running 1.0.0-dev.66.  And it's failing in `this.timeProperty.reset()`.  After passing generation 16, she reports:

[code]

---

The second report was in https:/

[2020-07-13 19:07] pixelzoom commented on #120
Moving this to https://github.com/phetsims/natural-selection/issues/127.

[2020-07-13 19:07] #120 closed

[2020-07-13 19:08] pixelzoom commented on #125
Moving this to https://github.com/phetsims/natural-selection/issues/127.

[2020-07-13 19:08] #125 closed

[2020-07-13 19:14] pixelzoom commented on #127
@amanda-phet I have been not been able to reproduce either of these.  And around the time that this was reported, there was common-code work in progress related to Reset All.   Ignoring 1.0.0-dev.66, can you reproduce either of these on phet-test?  (Note that you no longer need the query parameters related to environmental factors; they are now the defaults.)   If you can reproduce, please provide

[2020-07-13 19:26] pixelzoom commented on #86
"reentry detected" seems unrelated to this issue (it's related to the GenerationClock), and has been moved to #127.

@amanda-phet please review the query parameter changes. If you're happy with the behavior, you can close this issue. Otherwise describe change requests and assign back to me.

[2020-07-13 20:24] pixelzoom opened #128 "reimplement environment view as high-performance sprites"
In #60 and #122, we identified performance problems with trying to use scenery Nodes to create and animate large numbers of bunnies and wolves.

In 7/8/2020 design meeting (see https://github.com/phetsims/natural-selection/issues/60#issuecomment-656320887) we asked @jonathanolson about this recommendation that he made:

@jonathanolson has some of this implemented already. @kathy-phet asked him to

[2020-07-13 20:25] pixelzoom commented on #128
@jonathanolson and I reviewed progress and API questions on Zoom today.  This is looking very promising.

[2020-07-13 21:38] pixelzoom commented on #98
Reopening.  There's one bit of cleanup left to do here.

@amanda-phet What shall we do about the `homozygousMutants` query parameter?

In https://github.com/phetsims/natural-selection/issues/98#issuecomment-641772442, @ariel-phet proposed making this feature publicly visible, and perhaps even the default:

My preference would be to delete this query parameter (and the associated code) altogether.

[2020-07-13 21:41] pixelzoom commented on #60
Deferred for #128 (high-performance sprites).

[2020-07-13 21:41] pixelzoom commented on #122
Deferred for #128 (high-performance sprites).

[2020-07-13 21:47] pixelzoom commented on #128
The corresponding scenery issue is https://github.com/phetsims/scenery/issues/990 (Add high-performance sprite option).

[2020-07-13 22:35] amanda-phet commented on #51
I think NumberDisplay is looking good and working as it should.

Is `naturalSelection.labScreen.view.graphs.populationNode.populationGraphNode.generationScrollControl` supposed to also use `numberDisplay` instead of `backButton` and `forwardButton`?

[2020-07-13 22:49] amanda-phet commented on #86
Sounds like what I was experiencing wasn't related to the parameters. I'm not having any issues now, and all seems to be working great!

[2020-07-13 22:49] #86 closed

[2020-07-14 00:10] pixelzoom opened #129 "tune animation query parameters"
Over in https://github.com/phetsims/natural-selection/issues/123, animation was changed to be time-based.  This will provide more consistent behavior on all platforms, and lets us specify motion in terms of time.

There are 3 new query parameters that can be tuned:

* `bunnyRestTime` is a range that determines how long a bunny rests between hops, in seconds. The default is `2,4`, and a new value i

[2020-07-14 00:11] pixelzoom commented on #122
The time that bunnies rest is going to be tuned in #129, not in this issue.

[2020-07-14 00:15] pixelzoom commented on #123
Animation is now time-based, and computed based on each dt (time step) passed to the model.   This is consistent with other sims, will provide more consistent animation across platforms, and allow us to tune the animation based on how long we want something to take (e.g. how long bunnies rest, how long it takes to complete a hop).

This was a relative major change. So @amanda-phet, in addition to

[2020-07-14 00:18] pixelzoom commented on #51
No. `populationGraphNode.generationScrollControl` is not a spinner.  There is no numeric value associated with this control. We could change that if you want, but it will be a bit of work.  And it's not clear what the value (which will appear in Studio) should be - the minimum or maximum generation value shown by the graph's x axis?  Let me know if you want something changed.  Otherwise you can cl

[2020-07-14 01:27] amanda-phet commented on #51
I see the difference now. From my perspective, they seemed like really similar controls, but I see how they aren't.

[2020-07-14 01:27] #51 closed

[2020-07-14 01:29] amanda-phet commented on #98
I 100% agree. The model is working really great right now, and I think maintaining that code is too much of a headache. I'm very happy with the mutation model!

[2020-07-14 01:37] amanda-phet commented on #119
1. Add a mate
2. At the start of generation 3, check "Limited Food"

This is stabilizing for me until generation 17 (when the sim crashes). Hopefully this helps you test memory consumption once #127 is fixed. (If that is indeed addressing #120 )

[2020-07-14 01:38] amanda-phet commented on #46
See #119 for getting the sim in a steady state.

[2020-07-14 01:45] amanda-phet commented on #115
That looks fine to me. The easier thing to implement is usually better for code and often means a more intuitive user experience! I didn't find it odd for the wolves to come out and eat bunnies right away (if I added them right at 8:00), nor did it seem odd to see them come out and not eat bunnies (at 9:00) because it all happened so fast.

[2020-07-14 01:45] #115 closed

[2020-07-14 02:22] pixelzoom commented on #98
Reopening and assigning to me to remove `homozygousMutants`.   I'll defer this until tomorrow. @ariel-phet if you have strong feelings otherwise, let me know asap.

[2020-07-14 18:07] amanda-phet commented on #124
I still see the individual bunnies and wolves in the model. Does that mean they are still instrumented? Because it seems like all of that information is still there. I'm looking at `naturalSelection.labScreen.model.bunnyCollection.bunnyGroup` and `naturalSelection.labScreen.model.wolfCollection.wolfGroup`.

I am still fine with the changes made, but I guess I'm curious how the bunnies and wolves w

[2020-07-14 18:35] pixelzoom commented on #124
The view was uninstrument, the model is unchanged. From https://github.com/phetsims/natural-selection/issues/124#issuecomment-656397594:

[2020-07-14 18:43] amanda-phet commented on #124
Yes I saw the comment and verified that they are gone from the view, but was curious if it's an issue that individual bunnies are still present in the model. I don't really understand it all, but I can close the issue since it seems that un-instrumenting the nodes was the goal.

[2020-07-14 18:43] #124 closed

[2020-07-14 18:56] pixelzoom commented on #127
Reproduced using the procedure described in https://github.com/phetsims/natural-selection/issues/119#issuecomment-657915594:

At the start of generation 3, check "Limited Food"

When the generation clock hits 17 generations, this assertion failure occurs:

[code]

I'm guessing that @amanda-phet didn't scroll back far enough in the console to notice that this was the first failure. It's followed by

[2020-07-14 19:07] pixelzoom commented on #127
Fixed in the above commit.  I ran the sim to generation 50, and experienced no crashes.

@amanda-phet please verify in [1.0.0-dev.69](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.69/phet/natural-selection_en_phet.html).

[2020-07-14 19:09] pixelzoom commented on #119
Thanks for the stabilization procedure.  And I believe the crash is fixed, see #127.

Closing.

[2020-07-14 19:09] #119 closed

[2020-07-14 19:11] pixelzoom commented on #46
From https://github.com/phetsims/natural-selection/issues/119#issuecomment-657915594, the stabilization procedure is:

[2020-07-14 19:15] pixelzoom commented on #98
`homozygousMutants` has been removed. Closing.

[2020-07-14 19:15] #98 closed

[2020-07-14 19:20] pixelzoom opened #130 "tune maxGenerations query parameter"
Over in https://github.com/phetsims/natural-selection/issues/46, we set a limit on how long the simulation will run.  It's controlled by query parameter `maxGenerations`, which currently has an arbitrary default of `1000`.    We need to determine, based on memory consumption, what a reasonable value is.

From https://github.com/phetsims/natural-selection/issues/119#issuecomment-657915594, to put t

[2020-07-14 19:21] pixelzoom commented on #46
Since the team is happy with the `maxGenerations` approach and the look of the dialog, the only thing remains to be done is to tune `maxGenerations`.   We'll track that in #130.

Closing.

[2020-07-14 19:21] #46 closed

[2020-07-14 19:23] amanda-phet commented on #127
Looks great!

[2020-07-14 19:23] #127 closed

[2020-07-14 19:42] pixelzoom commented on #112
The above commit moves `selectBunnyProperty` from PedigreeModel to BunnyCollection,  and ensures that the selected bunny is not pruned.  In retrospect, it was probably OK to prune the selected bunny (and its ancestors, which I didn't deal with), because the Pedigree view is static after a bunny has died.   The genotype abbreviation may be updated if a new mutation is applied, but that info is stil

[2020-07-14 19:45] amanda-phet commented on #129
@ariel-phet can you also review, since it was your suggestion to change the animation speed for the bunnies?

[2020-07-14 19:52] pixelzoom commented on #112
I think I'm OK with setting `this.father` or `this.mother` to null when they are disposed.   I looked through the implementation and I don't see any problem.  And setting it to something other than null would complicate the code that constructs the Pedigree graph.  So I've removed the TODO in the above commit.

[2020-07-14 19:55] pixelzoom commented on #112
What remains to be done here is....

Use the procedure in https://github.com/phetsims/natural-selection/issues/119#issuecomment-657915594 to put the sim in a stable state:

Let the sim run for a large number of generations.  Take heap snapshots to identify memory consumption.

[2020-07-14 20:03] amanda-phet commented on #129
I like all of the speeds as they are right now, but would also be ok with `bunnyRestTime=3,5` if @ariel-phet wants those rest times to be longer.

I thought I wanted the wolves to be slower but after playing for a bit they seemed too slow even at `120,180` so I'd like to leave those as-is.

[2020-07-14 20:04] pixelzoom commented on #129
@ariel-phet you can review in master or [1.0.0-dev.69](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.69/phet/natural-selection_en_phet.html).

[2020-07-14 20:07] pixelzoom commented on #117
Happened again at 7/14/2020, 10:57:15 AM.   This is occurring infrequently/inconsistently, so it's likely a case that's difficult to reach in the State Wrapper using CT.

[2020-07-14 20:46] pixelzoom commented on #117
In https://github.com/phetsims/natural-selection/issues/117#issuecomment-656243154, @zepumph said:

I have been unable to identify such a code change.

[2020-07-15 00:41] ariel-phet commented on #129
I would probably opt for the slightly longer `bunnyRestTime=3,5` but the defaults look good.

Perhaps @oliver-phet could cast a deciding vote, I am probably pretty happy either way.

[2020-07-15 03:14] pixelzoom commented on #17
More for posterity...  I got rid of the labels on shrubs.  And then the entire view here was reimplemented using scenery Sprites.

[2020-07-15 03:18] pixelzoom commented on #106
The client guide should include a description of the public query parameters, currently:

allelesVisible
introMutations
introPopulation
labMutations
labPopulation

Feel free to steal from [NaturalSelectionQueryParameters.js](https://github.com/phetsims/natural-selection/blob/master/js/common/NaturalSelectionQueryParameters.js).

[2020-07-15 03:20] pixelzoom commented on #128
I made good progress on this today.  But there are many issues to resolve, noted by "TODO #128" comments in the code.

[2020-07-15 14:59] oliver-phet commented on #129
I just tried `2,4`, `3,5`, and `3,7` and preferred longer, wider ranges especially around generation 4/5 on Intro. The smaller ranges (`2,4`, `3,5`) lead to many of the newest generation bunnies jumping at the same time and it just looks chaotic and unnecessary with a lot of bunnies.

I wonder if it would make sense to just scale the `bunnyRestTime` as the number of bunnies increases. Something li

[2020-07-15 15:10] pixelzoom commented on #129
I've had the same thought as @oliver-phet - that I want to see less hopping as the population increases.  But varying the rest range is going to increase complexity.  Bunny rest time is set by each individual bunny, and bunnies don't know about the population size.  So we'll need a model-global `restRangeProperty` that's derived from the population size, and `restRangeProperty` will need to be pas

[2020-07-15 15:41] amanda-phet commented on #129
That is exactly what @ariel-phet had suggested in the design meeting, but it seemed like it wasn't worth the added complexity.

If we stick with the current design, I would prefer keeping the longest rest time smaller, so `bunnyRestTime=2,6` is looking ok to me. If the initial bunny (or 2 bunnies) has a long rest time, it looks really strange to me. I want that first bunny hopping around! But I ag

[2020-07-15 18:24] amanda-phet commented on #123
As far as this changes goes I think everything looks good. I stabilized the population at a pretty large size (~480 bunnies at the start of each generation) and the animation speeds all looks really consistent.

[2020-07-15 18:24] #123 closed

[2020-07-16 04:46] pixelzoom commented on #128
The sim is now fully converted to using scenery high-performance sprites.

Performance: I'll be doing more thorough performance tests over in #60 and #122.  But with `?showTimeToMate` on my 2019 MacBook Pro + macOS 10.15.5 + Chrome 83,  the time to create 952 bunnies at generation 6 has dropped from 326ms, and animation performance is smooth/consistent for all population sizes.  This is a very exc

[2020-07-16 04:50] kathy-phet commented on #128
Great, Chris! Can you clarify what the new number is? dropped from 326ms ... to what? Thanks.

[2020-07-16 04:54] pixelzoom commented on #128
Sorry, that somehow got dropped from https://github.com/phetsims/natural-selection/issues/128#issuecomment-659155464.  I've edited to include the information:

[2020-07-16 04:57] kathy-phet commented on #128
My only comment is that "sprites" is a very technical term. Is it possible to have different names sim to sim for a particular bundle of sprites?

[2020-07-16 04:57] pixelzoom commented on #60
Conversion to high-performance sprites in #128 is completed.

I'll be doing more thorough performance tests. But with `?showTimeToMate` on my 2019 MacBook Pro + macOS 10.15.5 + Chrome 83, the time to create 952 bunnies at generation 6 has dropped from 326ms to 130ms

[2020-07-16 05:03] pixelzoom commented on #128
We can call it anything that we want.  But the PhET-iO convention is to name things to correspond to their JavaScript class names. The scenery base class is `Sprites`, the natural-selection subclass is `NaturalSelectionSprites`.  Hence the current name "sprites".    Here's the code:

[code]

[2020-07-16 05:05] pixelzoom commented on #128
We can call it anything that we want.  But the PhET-iO convention is to name things to correspond to their JavaScript class names. The scenery base class is `Sprites`, the natural-selection subclass is `NaturalSelectionSprites`.  Hence the current name "sprites".    Here's the code:

[code]

And the phetioDocumentation is "bunnies, wolves, and shrubs that appear in the environment".

<img width="5

[2020-07-16 05:07] pixelzoom commented on #128
And yes, the name can (and will) vary from sim to sim.  There is nothing in common code that is naming it "sprites".

[2020-07-16 05:35] pixelzoom opened #131 "bunnies are sometimes partially outside the environment bounds"
Noticed in [1.0.0-dev.70](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.70/phet/natural-selection_en_phet.html).

Very occasionally, a bunny will get a tiny bit outside of the environment bounds. For example:

<img width="969" alt="screenshot_432" src="https://user-images.githubusercontent.com/3046552/87630848-598d3380-c6f3-11ea-9762-d5d6a8006633.png">

This occurs when a bunny ho

[2020-07-16 14:48] KatieWoe opened #132 "CT: expected selectionRectangleSpriteInstance in spriteInstances"
[code]

[2020-07-16 15:49] pixelzoom commented on #132
Related to the reimplementation using sprites in #128.

[2020-07-16 16:04] pixelzoom opened #133 "CT: sprite instance not found for selected bunny"
Related to reimplementation using sprites in #128.

[code]

[2020-07-16 16:05] pixelzoom opened #134 "CT: Impossible set state from iterate"
Related to reimplementation using sprites in #128.

[code]

[2020-07-16 16:16] pixelzoom commented on #129
We all seem to agree that something like what @oliver-phet proposed in https://github.com/phetsims/natural-selection/issues/129#issuecomment-658820527 would be nice.  @amanda-phet and I will discuss to decide whether to proceed with this, or whether to leave as is.

[2020-07-16 17:13] pixelzoom opened #135 "publish a preview dev version for PhET-iO client"
Requested by @kathy-phet in 7/16/2020 phet-io meeting.

Sometime in the next week or two, provide the PhET-iO client with a preview dev version.  This version is for the instructional designers to see where things are at, so they can evaluate for scheduling. This will include brand=phet, and may or may not include brand=phet-io.  Wrap up issues #86 and #128 first.  This doesn't have to be bug-free

[2020-07-16 19:53] pixelzoom commented on #129
Because there's a performance benefit to having large numbers of bunnies rest longer, we decided to proceed with @oliver-phet 's proposal.

[2020-07-16 20:24] amanda-phet opened #136 "Bunnies not getting disposed?"
I ran [dev.70](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.70/phet/natural-selection_en_phet.html?log) until generation 5, at which point I checked Limited Food to stabilize the population. At Generation 12 the bunnies took over the world. I selected a bunny, then another, then clicked reset-all. Now at Generation 0 there is a bunny that appears to still be "selected" in the log

[2020-07-16 20:28] amanda-phet commented on #136
I'm able to make more bunny ghosts if I click on more while in this paused, bunnies took over the world state (btw, to reproduce, you don't need to use limited food. Just let the bunnies take over the world). However, it's consistently not *every* bunny I previously clicked.

![image](https://user-images.githubusercontent.com/7852916/87719346-7287fa00-c770-11ea-8935-4bcae15c0c88.png)

Here there a

[2020-07-16 20:34] amanda-phet opened #137 "Selected bunny dies but selection rectangle remains"
Seen in dev.70.

![image](https://user-images.githubusercontent.com/7852916/87719618-dd393580-c770-11ea-989a-40577f40378e.png)

I clicked on a bunny that died due to limited food, and the selection rectangle remains. It is good to see the pedigree, but I think at this point it doesn't make sense to still show a rectangle. I checked dev.69 to confirm that this is new behavior with dev.70.

Ideally

[2020-07-16 21:02] pixelzoom commented on #129
This took me 1 hour to implement in the above commit.   The `bunnyRestTime` query parameter has been removed, and the ranges and population sizes are as @oliver-phet specified in https://github.com/phetsims/natural-selection/issues/129#issuecomment-658820527:

* < 10 = [2,4]
* 10-250 = [3,7]
* 250+ = [5,9]

@amanda-phet please review in master or [1.0.0-dev.71](https://phet-dev.colorado.edu/html/n

[2020-07-16 21:05] pixelzoom commented on #136
Related to sprites implementation #128.

[2020-07-16 21:05] pixelzoom commented on #137
Related to sprites implementation #128.

[2020-07-17 02:26] pixelzoom commented on #137
This one should be a relatively easy fix.  I forgot that `selectedBunnyProperty` is not set to null when a bunny dies, the bunny remains selected and displayed in the Pedigree graph.   So I'll need to add a listener to the selected bunny's `diedEmitter`, and manage the listener when the selection changes or the bunny dies.

[2020-07-17 14:41] KatieWoe commented on #133
Related errors?:
[code]

[2020-07-17 16:02] amanda-phet commented on #129
I think it looks great! Maybe next week we could tweak it over zoom... I'm tempted to make the ranges something like this so that those first bunnies do more hopping:

< 10 = [1,3]
10-250 = [2,7]
250+ = [5,9]

[2020-07-17 16:52] amanda-phet commented on #128
I don't have a problem with them being called sprites, myself. I am still wrapping my head around PhET-iO in general, so excuse me if this is obvious. `naturalSelection.labScreen.view.environmentNode.sprites.pickableProperty` is read-only, as are the other elements under `sprites`. Doesn't that mean an instructional designer can't really do anything with these properties? If I try to put myself in

[2020-07-17 16:53] amanda-phet commented on #128
@kathy-phet since you are really the PhET-iO designer, can you confirm that this all looks ok? If you want to change the name from "sprites" then maybe this needs to be discussed at PhET-iO or dev meeting.

[2020-07-17 23:43] kathy-phet commented on #128
I reviewed this and it all looks good to me. Let's leave the name as "sprites". I like the definition. And yes, no reason to feature any of it, so it won't get distracting for the instructional designer. Thanks, Chris!

Without ?ea and running in brand=phet, I got 202ms and 123ms in two trials! Nice. With ?ea it increases a lot.

[2020-07-17 23:43] kathy-phet commented on #128
Feel free to close.

[2020-07-20 18:55] pixelzoom commented on #132
The problem here is that the selection rectangle continues to exist after the selected bunny has died.  This was also reported in #137.

Steps to reproduce:

1. Start sim, go to either screen.
2. Select the lone bunny
3. Press "Add a Mate"
4. Wait for the selected bunny to die at generation 5. Note that the bunny disappears and the selection rectangle remains.

This should be a relatively easy fix

[2020-07-20 18:56] pixelzoom commented on #137
This is a duplicate of #132.  Closing.

[2020-07-20 18:56] #137 closed

[2020-07-20 19:10] pixelzoom commented on #132
#132 and #133 had the same root cause -- incorrect handling of `selectedBunnyProperty`.  Fixed in the above commit.  I'll wait to close until I verify that CT is happy.

[2020-07-20 19:10] pixelzoom commented on #133
#132 and #133 had the same root cause -- incorrect handling of `selectedBunnyProperty`.  Fixed in the above commit.  I'll wait to close until I verify that CT is happy.

[2020-07-20 19:11] pixelzoom commented on #128
👍 Closing.

[2020-07-20 19:11] #128 closed

[2020-07-20 19:19] zepumph commented on #134
@pixelzoom asked:

`selectedBunnyProperty` is using `ReferenceIO` to (de)serialize its instance. This means that when trying to set its state, the state object holds a phetioID of a Bunny (most likely, just a guess). When trying to reserialize it, ReferenceIO will try to look up that phetioID in the phetioEngine and return the actual, downstream Bunny and return that instance. If it can't find tha

[2020-07-20 19:30] pixelzoom commented on #134
Slack:

Chris Malley  1:22 PM
thanks. does the state engine know the phetioID of the element that it can't find? if so, should it be included in the error message?

Michael Kauzmann  1:24 PM
Yes I understand and agree. I will commit a patch in which the list of phetioIDs is supplemeneted with printing all of the states of those elements, as the phetioID you are talking about should be in the selec

[2020-07-20 22:36] pixelzoom commented on #132
Still not fixed :(

[2020-07-20 22:39] pixelzoom commented on #133
This one appears to be fixed in CT.  Closing.

[2020-07-20 22:39] #133 closed

[2020-07-20 22:39] pixelzoom commented on #132
This is now manifesting as errors like:

[code]

[2020-07-21 14:44] KatieWoe commented on #136
Is this related to this CT error?
[code]

[2020-07-21 15:46] pixelzoom commented on #136
Thanks for the report @KatieWoe.  The above errors, the original error reported, and #132 are all related to work done in #128 -- which was a total reimplementation of the "environment" view that should bunnies, wolves, etc.   This was a big, complicated change, and I'm (obviously) still working the bugs out.

[2020-07-21 16:18] zepumph commented on #134
I haven't added that yet, assigning myself.

[2020-07-22 03:21] pixelzoom commented on #136
There was a bug in NaturalSelectionSprites `sort` that took me forever to find, fixed in https://github.com/phetsims/natural-selection/commit/cdc84e8ff63e9bc4ad2747fa8161f19022e4e9ed.   I think that should do it, but will wait for a few CT cycles before closing.

[2020-07-22 03:22] pixelzoom commented on #132
This issue and #136 had the same root cause. There was a bug in NaturalSelectionSprites `sort` that took me forever to find, fixed in https://github.com/phetsims/natural-selection/commit/cdc84e8ff63e9bc4ad2747fa8161f19022e4e9ed.   I think that should do it, but will wait for a few CT cycles before closing.

[2020-07-22 03:38] pixelzoom commented on #131
Increasing X_MARGIN from 25 to 28 seems to do the job.  I tested with `?initialScreen=2&labPopulation=249&speed=2`, watched the bunnies hop around for a long time, and didn't see any leave the environment area.

Closing.

[2020-07-22 16:17] pixelzoom opened #138 "CT: sprite instance not found for selected bunny"
After fixing #136, there's a new PhET-iO issue:

[code]

[2020-07-22 16:18] pixelzoom commented on #132
There's a new issue in CT, but this one is gone.  Closing.

[2020-07-22 16:18] #132 closed

[2020-07-22 16:21] pixelzoom commented on #117
There's a new issue (#138) for test "phet-io-state-fuzz : unbuilt".  But this one has self-healed. It was probably related to working out general bugs in the new sprites implementation.  Closing.

[2020-07-22 16:33] pixelzoom commented on #136
CT is happy.

@amanda-phet please verify in [1.0.0-dev.72](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.72/phet/natural-selection_en_phet.html) or master.

[2020-07-22 16:37] pixelzoom commented on #134
After resolving a bunch of other issues with the new sprites implementation, this problem disappeared and hasn't reocurred since shortly after it was first reported.  So I'm going to close this issue.

[2020-07-22 16:37] #134 closed

[2020-07-22 16:50] pixelzoom commented on #129
@amanda-phet and I tweaked the rest times via Zoom. We ended up with:

< 10 = [1,3]
10-250 = [2,7]
250+ = [6,10]

Closing.

[2020-07-22 16:50] #129 closed

[2020-07-22 17:07] pixelzoom commented on #122
With the new sprites implementation (#128) and the conversion to time-based animation (#123), performance should be consistent across platforms and should not slow down with the max number of bunnies.

@amanda-phet please verify with your machine.  Use [1.0.0-dev.72](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.72/phet/natural-selection_en_phet.html), so that you're testing with

[2020-07-22 17:25] pixelzoom commented on #60
@KatieWoe please re-run a few tests, following the Steps in https://github.com/phetsims/natural-selection/issues/60#issuecomment-654325501.

For brand=phet, run https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.72/phet/natural-selection_en_phet.html, and enter the browser versions and times (in ms) in this table:

| test device | browser + version | time<sub>1</sub> | time<sub>2</sub>

[2020-07-22 18:21] amanda-phet commented on #122
It's all looking great!

[2020-07-22 18:21] #122 closed

[2020-07-22 18:39] pixelzoom opened #139 "CT: number of bunny sprites 1 is out of sync with number of bunnies 0"
Related to new sprites implementation.  Note that counts are out of sync for bunnies and wolves, in 2 different tests:

* `fuzz : unbuilt : secondsPerGeneration` -> "number of bunny sprites 1 is out of sync with number of bunnies 0"

* `phet-io-state-fuzz : unbuilt` -> "number of wolf sprites 1 is out of sync with number of wolves 10"

[code]

[2020-07-22 18:41] pixelzoom commented on #138
This is occurring in the NaturalSelectionSprites.js, in the listener for `bunnyCollection.selectedBunnyProperty`.    "sprite instance not found for selected bunny" would seem to indicate that `selectedBunnyProperty` is being set before `bunnyCollection.bunnyCreatedEmitter` is firing (which creates the sprite associated with the bunny).     But I have not been able to confirm, and I have not been a

[2020-07-22 18:52] amanda-phet commented on #136
Looks like it is fixed!

[2020-07-22 18:52] #136 closed

[2020-07-22 18:52] KatieWoe commented on #60
Biggest lag seemed to be on last generation, more so than before. ChromeOS was inconsistent performance.
Larger problem was actually the Start Over button. It could take a few seconds on ChromeOS and was slower than expected on all platforms. I thought I had misclicked on ChromeOS and clicked again, and that seemed to register as Add a Mate, which seems problimatic.

[2020-07-22 18:59] pixelzoom commented on #60
@KatieWoe can you explain this comment? All of the recorded times are for the last generation. And they are all significantly lower than the times that you previously recorded in https://github.com/phetsims/natural-selection/issues/60#issuecomment-654325501.

"Lovelace - ChromeOS" is not listed in the PhET Asset spreadsheet.  @KatieWoe reports via Slack that it's an Asus C300S.  I couldn't find sp

[2020-07-22 19:02] KatieWoe commented on #60
I mean that the difference between the second to last generation and the last generation is more significant than it was in the last test.

[2020-07-22 19:34] pixelzoom commented on #60
Via Zoom, @KatieWoe and I discussed her comments in https://github.com/phetsims/natural-selection/issues/60#issuecomment-662625708.  Summary:

* "Biggest lag seemed to be on last generation, more so than before":  This refers to the proportional increase been the 6th (last) and 5th generation. In the previous tests (1.0.0-dev.62), the time increased incrementally with each generation. In the lates

[2020-07-22 19:39] pixelzoom opened #140 "improve responsiveness of "Start Over" button"
Responsiveness of the "Start Over" button was identified as an issue in https://github.com/phetsims/natural-selection/issues/60#issuecomment-662625708.   It could use improvement for brand=phet, and is unacceptable with brand=phet-io.

[2020-07-22 19:59] pixelzoom commented on #60
I've created a new issue, #140, to investigate the performance of "Start Over".

For dev versions >= 1.0.0-dev.73, the query parameter is now `showTimes`.    It will show both the time to mate, and the time to perform 'Start Over', in the upper-left corner of the screen:

<img width="300" alt="screenshot_435" src="https://user-images.githubusercontent.com/3046552/88222719-99887500-cc23-11ea-9421-5

[2020-07-22 20:00] pixelzoom commented on #140
Query parameters `showTimes` has been added.  It shows both the time to mate, and the time to perform 'Start Over', in the upper-left corner of the screen, e.g.:

<img width="300" alt="screenshot_435" src="https://user-images.githubusercontent.com/3046552/88222817-c0df4200-cc23-11ea-8217-b0d6c40915ea.png">

[2020-07-22 20:53] pixelzoom commented on #139
I reproduced the first error with `natural-selection_en.html?brand=phet&ea&log&fuzz&secondsPerGeneration=1`.  Here's the log just before the failure:

[code]

[2020-07-23 16:44] pixelzoom commented on #135
@amanda-phet and I feel like the sim is now in a good place for publishing a preview. So...

Here are links to the preview version:

* phet: https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.73/phet/natural-selection_en_phet.html
* phet-io: https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.73/phet-io/

Caveats:
* There are still open issues that may crash the sim.
* Perfo

[2020-07-27 23:05] pixelzoom commented on #114
We're getting close to publishing a public preview version for #116.  @amanda-phet is this issue something that you want to address before we publish the preview?

[2020-07-27 23:18] pixelzoom commented on #138
Steps to reproduce manually:

1. Add a `debugger` statement to assert.js, just before `throw new Error`.
2. Run the unbuilt sim in the State Wrapper with `?sim=natural-selection&phetioDebug`
3. Go to the Intro screen.
4. Select the lone bunny.  This will trigger the assertion failure:

[code]

[2020-07-27 23:24] pixelzoom commented on #138
Inspecting variables at the site of the assertion failure in NaturalSelectionSprites.js ...

`this.bunnyCollection.selectedBunnyProperty` has the expect value -- the bunny with tandem "bunny_0".

`this.spriteInstances` contains 6 elements, all of type ShrubSpriteInstance. So no BunnySpriteInstance has been created yet.  This means that `selectedBunnyProperty` has been restored before the `bunnyCol

[2020-07-28 00:52] pixelzoom commented on #138
@zepumph and I paired on this.

First, we discovered that `bunnyCollection.bunnyCreatedEmitter` is no longer needed. Adding a listener to `bunnyCollection.liveBunnies.addItemAddedListener` does the job.  So that change was made in the above commit, and I think it's a nice improvement.

Next, we investigated the state problem.

As I hypothesized above, the problem is that `selectedBunnyProperty` is

[2020-07-28 16:36] pixelzoom commented on #138
CT is happy. Closing.

[2020-07-28 16:36] #138 closed

[2020-07-28 18:02] amanda-phet commented on #116
@ariel-phet do you think we should do interviews before publishing the public preview version? It will significantly delay the preview version, but still seems worth considering.

[2020-07-28 18:52] pixelzoom commented on #116
@amanda-phet and I discussed...  Other than the interviews question that @amanda-phet asked in https://github.com/phetsims/natural-selection/issues/116#issuecomment-665189886, we feel like the remaining GitHub issues do not need to be addressed for a public preview.

@ariel-phet and @kathy-phet how do you feel about the state of the sim? Are we ready for a public preview?

[2020-07-28 18:57] ariel-phet commented on #116
@amanda-phet @pixelzoom definitely ready for a public preview, no need to ask @kathy-phet and interviews are not necessary for this preview. Especially since this sim is based off a previous sim, I am pretty confident everything is an upgrade.

@pixelzoom - I need to speak with QA about https://github.com/phetsims/perennial/issues/190 but I think we should move ahead with following the RC process.

[2020-07-28 19:01] pixelzoom commented on #116
@ariel-phet please clarify. This is not an RC process, and QA is not involved in preview versions. My understanding is that this is a dev version that @mattpen will manually put on the web at the placeholder address where the "latest" html version will eventually live.

[2020-07-28 19:03] pixelzoom commented on #116
Ah... I see in https://github.com/phetsims/perennial/issues/190#issuecomment-659617161 that there will be some type of testing by QA for preview version (or prototype versions --- is that the same thing?).

[2020-07-28 19:37] pixelzoom commented on #116
I've changed "preview" to "prototype" throughout the comments in this issue, since that's the name that we decided on for this artifact.

[2020-07-28 19:49] pixelzoom commented on #116
In a Slack discussion, @ariel-phet clarified that a prototype will be published using the RC+production process, with a level of testing that's more typical of a dev version.  I'll await the process documentation in [chipper-2.0.md](https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md), which https://github.com/phetsims/perennial/issues/190#issuecomment-659617161 indica

[2020-07-28 20:00] pixelzoom commented on #139
Most recent failure, for current stack trace:

[code]

[2020-07-28 20:08] pixelzoom commented on #139
Steps to reproduce manually:

1. Start the sim with brand=phet&ea&secondsPerGeneration=1&log
2. Go to Intro screen
3. Select the lone bunny
4. Check the "Wolves" checkbox
5. Press the "Add a Mate" button
6. Wait for assertion failure to occur.

[2020-07-28 20:25] pixelzoom commented on #139
There's a bit of an ordering issue here.  When all of the bunnies die or take over the world, there's an explicit call to NaturalSelectionSprites `update`.  This is so that bunnies are not left up in the air, mid hop.   This call occurs before the selected bunny's `diedEmitter` fires, so the sprite for the selected bunny still exists.   We therefore have 1 sprite and 0 bunnies.

Since the `assertB

[2020-07-28 20:29] pixelzoom opened #141 "CT: number of wolf sprites 1 is out of sync with number of wolves 10"
Factored out of https://github.com/phetsims/natural-selection/issues/139, since it seems to be independent:

[code]

[2020-07-28 20:30] pixelzoom commented on #139
I been unable to reproduce the 2nd assertion failure:

`Error: Assertion failed: number of wolf sprites 1 is out of sync with number of wolves 10`

So I've moved it to https://github.com/phetsims/natural-selection/issues/141.

If the "number of bunny sprites 1 is out of sync with number of bunnies 0" failure is resolved in CT for a few cycles, I'll close this issue.

[2020-07-28 20:49] pixelzoom commented on #139
I decided to delete `assertBunniesCount` altogether, done in the above commit.

[2020-07-28 20:50] pixelzoom commented on #141
Similar to `assertBunniesCount` in #139, I decided to delete `assertWolvesCount`.  It has outlived its usefulness.

If CT is happy after a few cycles, I'll close this issue.

[2020-07-28 21:17] pixelzoom commented on #140
First, let's quantify performance.

Steps:
1. Run the sim, using links below.
2. Go to Lab screen
3. Press "Add a Mate" button.
4. Wait for bunnies to take over the world. Close dialog.
5. Press "Start Over" button, record **time<sub>1</sub>**.
6. Press "Add a Mate" button.
7. Wait for bunnies to take over the world. Close dialog.
8. Press "Start Over" button, record **time<sub>2</sub>**.
9. Press

[2020-07-28 21:58] pixelzoom opened #142 "sprites are not scaled with ?webgl=false"
There's a problem with the sprites implementation. None of the sprites are scaled, see screenshot below.

This was noted on my 2009 MacBook Pro + macOS 10.11.6 + Chrome 84.0.4147.105 (latest), with [1.0.0-dev.75](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.75/phet/natural-selection_en_phet.html).  Nothing in the browser console. It does not occur in Safari 11.1.2 or Firefox 78.1

[2020-07-28 22:13] pixelzoom commented on #142
@KatieWoe please test this with PhET's macOS 10.12 test device (Dirac?) and Chrome 84 latest.

[2020-07-28 22:16] pixelzoom commented on #140
I completed the first 5 rows in each table. `brand=phet` performance was acceptable in all cases. `brand=phet-io` performance is unacceptable in all cases, taking > 3x as long as `brand=phet` -- even on a 2019 MacBook Pro!

@KatieWoe could you please complete the remaining rows in the above tables?

[2020-07-28 22:38] pixelzoom commented on #140
`bunnyGroup.clear()` is taking the vast majority of the time.  For example, with Safari 13 on my 2019 MacBook Pro, total time for `model.startOver` is 898 ms, of which 893 is spent in `bunnyGroup.clear`.

[2020-07-28 23:41] pixelzoom commented on #140
@samreid and I paired on this via Zoom.  We identified 2 performance bottlenecks in code that runs only for PhET-iO brand.

* PropertyStateHandler.js `unregisterOrderDependenciesForProperty` contains a loop that is O(N<sup>2</sup>).  Percentage varies by platform, but was ~25%.

* phetioStateEngine.js `phetioObjectRemoved` spends a large amount of time in `this.phetioIDs.indexOf( phetioID );` Perc

[2020-07-28 23:47] pixelzoom commented on #140
@KatieWoe no need to do performance testing. There are clear bottlenecks in PhET-iO, and we'll test after they are resolved.

This issue is on hold until https://github.com/phetsims/axon/issues/316 and https://github.com/phetsims/phet-io/issues/1689 are addressed.

Then I think we should have the PhET-iO team take another look to see if there are any additional PhET-iO bottlenecks that can be impr

[2020-07-28 23:50] pixelzoom commented on #141
CT is happy. Closing.

[2020-07-28 23:50] #141 closed

[2020-07-28 23:50] pixelzoom commented on #139
CT is happy. Closing.

[2020-07-28 23:50] #139 closed

[2020-07-28 23:57] pixelzoom commented on #142
@jonathanolson any thoughts on why this might be occurring, and whether it might be a problem on other platforms?

[2020-07-29 00:07] pixelzoom commented on #60
Based on the table in https://github.com/phetsims/natural-selection/issues/60#issuecomment-662582884, there is a big performance hit across all platforms in `brand=phet-io`.  I'd like to work with someone on the PhET-iO team to identify bottlenecks that are specific to `brand=phet-io`.   And I'm wondering if bottlenecks that were identified for #140 (https://github.com/phetsims/axon/issues/316, ht

[2020-07-29 01:26] jonathanolson commented on #142
Looking into it, reproducible with `?webgl=false` on my Chrome.

[2020-07-29 02:11] pixelzoom commented on #142
I also reproduced with ?webgl=false on macOS 10.15.5, with Safari 13, Chrome 84, and Firefox 79.  I'm guessing there's a bug in the canvas renderer.

[2020-07-29 02:12] pixelzoom commented on #142
@KatieWoe  no need to do any further testing, thanks.

[2020-07-29 03:37] jonathanolson commented on #142
I believe the above commit should fix this. @pixelzoom can you verify?

[2020-07-29 17:19] pixelzoom opened #143 "Data Probe doesn't flip when value displays are made visible"
Reported by @phet-steele via Slack.

Steps to reproduce:
1. Start the sim
2. Go to Intro screen
3. Uncheck the "Total" check box
4. Check the "Data Probe" check box
5. Drag the data probe to the far right of the graph.
6. Check the "Total" check box.  You'll see this:

<img width="391" alt="screenshot_442" src="https://user-images.githubusercontent.com/3046552/88831892-38b1ed00-d18d-11ea-82e1-a985

[2020-07-29 17:31] amanda-phet opened #144 "Line missing next to Total checkbox"
This black horizontal line disappeared between dev.53 and dev.54.

![image](https://user-images.githubusercontent.com/7852916/88833079-f5587e00-d18e-11ea-91e0-8f1d4d6f1742.png)

[2020-07-29 17:45] pixelzoom commented on #143
Fixed in master.  This bug got introduced when scenery/LayoutBox changed to exclude invisible children from its bounds.

Closing.

[2020-07-29 17:45] #143 closed

[2020-07-29 17:49] pixelzoom commented on #144
A color constant was renamed, and the rename didn't get refactored for the Total checkbox. Thank you WebStorm and JavaScript!

Fixed in master.  Closing.

<img width="258" alt="screenshot_443" src="https://user-images.githubusercontent.com/3046552/88834695-7284f280-d191-11ea-9a57-cde21d76a356.png">

[2020-07-29 17:49] #144 closed

[2020-07-29 18:34] pixelzoom commented on #142
In the above commit, I added logging that tells us whether we're using WebGL.  WebGL is apparently not supported on my 2009 MacBook Pro, and there was a bug in the canvas fallback.

I verified the fix to SpritesCanvasDrawable in master - thanks for the quick fix!

Closing,

[2020-07-29 18:34] #142 closed

[2020-07-29 19:25] pixelzoom commented on #116
[1.0.0-rc.1](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-rc.1/phet/natural-selection_en_phet.html) was published using the process described in https://github.com/phetsims/phet-info/blob/master/deployment-info/chipper-2.0.md#prototype-deployments.  The QA issue is https://github.com/phetsims/QA/issues/522.

[2020-07-29 20:01] kathy-phet commented on #135
I sent the client both versions with the caveats above, and noting that these are earlier and less tested than our normal "dev" versions.

[2020-07-29 20:23] pixelzoom commented on #135
Nothing else to do for this issue, closing.

[2020-07-29 20:23] #135 closed

[2020-07-31 00:36] phet-steele opened #145 ""Wolves" checkbox has an inconsistent pointer area"
The "Wolves" checkbox is the only one that cannot be enabled/disabled by clicking over its timer icon (on both screens). In the below screenshot, everything to the left of the red line *can* be clicked, and things to the right cannot.

Pinging @pixelzoom so he is aware, but I don't think this needs to be addressed before prototype release.

![image](https://user-images.githubusercontent.com/586389

[2020-07-31 00:36] phet-steele opened #146 "Population data does not clip properly when scrolling through generations"
It looks like data from "further down" the x axis gets "squished" onto the chart when scrolling through generations. In the below screenshots, notice in the Before screenshot that the 5th generation shows the pop. at ~500, and the 6th generation is ~1400. Once you scroll backwards to view the 1st generation (and hide the 6th generation) in the After screenshot, the drawn section of the 6th generat

[2020-07-31 00:36] phet-steele opened #147 "Sim inconsistently claims there is a second bunny if a mate is added while the sim is paused"
1. Enter a screen
2. Pause the sim
3. Press "Add a Mate"

The second bunny will not actually appear, yet some places in the sim claim there are two bunnies (see screenshots). Namely:

- The population chart will show a dot at "2"
- The proportions display will claim two bunnies exist

Up to @amanda-phet to decide if this has a problematic pedagogical impact and if it should be addressed before the

[2020-07-31 00:36] phet-steele opened #148 "The cancel mutation button is hard to press on a touch device"
Removing pending mutations is sometimes quite difficult on a touch screen. I think we can certainly afford to dilate the pointer areas of the "x", and probably should do so before prototype release:

![image](https://user-images.githubusercontent.com/5863899/88982277-126f7880-d285-11ea-82aa-86f4236183b5.png)

Seen on Win 10 Chrome 84.0.4147.89. For phetsims/QA/issues/522.

<details>
<summary>Troub

[2020-07-31 03:47] pixelzoom commented on #146
No need for @amanda-phet to review, this is buggy. Should be an easy fix.

[2020-07-31 03:48] pixelzoom commented on #148
Agreed. But none of the pointer areas in this sim have been optimized yet.

[2020-07-31 03:50] pixelzoom commented on #148
Agreed. But none of the pointer areas in this sim have been optimized yet.  That wasn't requested for the prototype. If it should be included in a prototype, then we should stop the RC now, because pointer optimizations is not something that I can cost-effectively patch into the RC branch.

@amanda-phet your call.

[2020-07-31 03:53] pixelzoom commented on #148
To clarify... If it's only these specific buttons that need to be addressed, I can patch that into the release branch.  But if this extends to other pointer areas, we should start over.

[2020-07-31 03:56] pixelzoom commented on #148
Running with `?showPointerAreas`, it looks like all of the other pointer areas are reasonable. So we can probably get away with just doing these cancel buttons.   But again, @amanda-phet your call... options are:

(1) Do nothing for the protoype
(2) Expand touchArea for these cancel buttons only (requires patching release branch)
(3) Optimize all pointer areas for the prototype (requires starting

[2020-07-31 03:58] pixelzoom commented on #147
No need for @amanda-phet to review.  This is a bug in the new sprites implementation.  The bunny sprite is indeed created, but the sprites view isn't updated until the clock ticks.   I'll need to force an update when the sim is paused.  Should be an easy fix.

[2020-07-31 03:59] pixelzoom commented on #145
Thanks. If it's fairly easy, I'll probably patch this into the release branch.

[2020-07-31 04:05] pixelzoom commented on #145
Below is a better picture of what's going on. I explicitly set the pointer areas to `this.localBounds.dilated(0)` so that they are rendered with `?showPointerAreas`.   This is very odd, since all 3 checkboxes are using the identical implementation in EnvironmentalFactorCheckbox.js.

<img width="260" alt="screenshot_445" src="https://user-images.githubusercontent.com/3046552/88999048-b1f63080-d2b0-

[2020-07-31 04:10] pixelzoom commented on #145
And it gets stranger... If I create the "Tough Food" checkbox before the "Wolves" checkbox, then all of the pointer areas are OK, see below.  I suspect something weird is going on with AlignGroup, which is used to give all of the Text+Icon parts of the checkbox label the same effective width.

<img width="231" alt="screenshot_446" src="https://user-images.githubusercontent.com/3046552/88999334-7c0

[2020-07-31 04:28] pixelzoom commented on #148
And went ahead and did option (2), and patched it into the release branch.  I expanded both the touchArea and mouseArea, see screenshot below. We can refine this further when we get to the "optimize pointer areas" task in the sim checklist.  This should be more than fine for the prototype.

@amanda-phet if you disagree, let me know.  Otherwise this is ready for testing in next RC.

<img width="236

[2020-07-31 04:30] pixelzoom commented on #148
@phet-steele feel free to test-drive this in master.  Let me know if you think this is fine for the prototype, or if they should be expanded more.

[2020-07-31 04:38] pixelzoom commented on #147
Fixed in master and 1.0 branch, ready for testing in next RC.  @phet-steele feel free to take a peek in master.

[2020-07-31 05:36] pixelzoom commented on #146
Steps to reproduce:

1. Start the sim, go to either screen
2. Press "Add a Mate" button.
3. Wait for bunnies to take over the world, close dialog
4. Press left arrow button for Generation below the Population graph

[2020-08-03 14:37] pixelzoom opened #149 "CT: selectedBunnySpriteInstance missing from spriteInstances"
[code]

[2020-08-03 14:46] pixelzoom commented on #149
Note that this is different from #138, because it's occurring in `NaturalSelectionSprites.sort`.

[2020-08-03 14:48] pixelzoom opened #150 "model.md"
Write the model description in https://github.com/phetsims/natural-selection/blob/master/doc/model.md.

[2020-08-03 14:48] pixelzoom opened #151 "implementation-notes.md"
Write the implementation overview in
https://github.com/phetsims/natural-selection/blob/master/doc/implementation-notes.md.

[2020-08-03 15:45] amanda-phet opened #152 "Change request: allow wolves to eat bunnies when there are < 6"
MH said:

I discussed this with @pixelzoom and I'd like to change the rule so that if there are fewer than 5 bunnies *total*, wolves can eat them. Currently, we have a rule in place so that if there are just a few bunnies with the "desired" trait, wolves ignore them, but this is problematic when there aren't alternative bunnies to eat because they don't die, which seems unlikely in nature.

[2020-08-03 15:47] amanda-phet commented on #152
@pixelzoom I can't remember if the current rule is <5 or ≤5, so whatever the rule is right now for ignoring bunnies with the fur color that matches the environment, please apply the same value to this case.

[2020-08-03 15:53] amanda-phet opened #153 "Change request: don't apply limited food if population is < 7"
MH said:

MH is saying that without any predators, the bunnies should be able to sustain a small population. However, if we kill ~2/3 of the bunnies, and there are only 3-4 alive, the bunnies are likely to die out. So let's apply apply a similar rule as #152  and say limited food doesn't kill any bunnies if the population is under 7.

[2020-08-03 18:27] pixelzoom commented on #145
This is a general issue with Checkbox, to be addressed in https://github.com/phetsims/sun/issues/612.

In the meantime, I've applied a reasonable workaround in master and 1.0.  Ready for the testing in the next RC.

[2020-08-03 19:44] pixelzoom commented on #152
The current rule is that the preferred bunnies are not eaten if their population is <= 5.     But that applies to the population of the preferred phenotype, not the total population.   This issue is dealing with the total population.  Do you really want to use the same value for both population limits?

[2020-08-03 20:09] pixelzoom commented on #152
Discussed with @amanda-phet on Slack.   We decided to use <= 5.

<details>
<summary>Slack discussion</summary>

Amanda McGarry:spiral_calendar_pad:  1:57 PM
I was thinking we’d use the same value since that’s the point at which the rule “changes.” But now that I play out the scenarios, I think it needs to be lower. So perhaps if the total population is ≤4, the wolves will ignore the rule to ignore

[2020-08-03 20:20] pixelzoom commented on #153
Limited food no longer contributes to starvation when the total population size is < 7. Changed in master and 1.0 branch.

@amanda-phet please verify in master or [1.1.0-dev.2](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.2/phet/natural-selection_en_phet.html). Please assign back to me after reviewing.

[2020-08-03 20:22] pixelzoom commented on #152
The preferred phenotype is now ignored by wolves when the number of bunnies with that phenotype that would be eaten is <= 5 AND the total population is > 5.

Changed in master and 1.0 branch.

@amanda-phet please verify in master or [1.1.0-dev.2](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.2/phet/natural-selection_en_phet.html). Please assign back to me after reviewing.

[2020-08-03 20:51] pixelzoom commented on #117
Reopening. This is still a problem.

Steps to reproduce:
1. Start the sim in State Wrapper with `?sim=natural-selection&phetioValidateTandems&phetioDebug`
2. Go to Intro screen
3. Check the "Wolves" checkbox
4. Press "Add a Mate" button
5. Let the sim run and wait for the assertion failure to occur when the wolves appear

[code]

I particularly enjoy the last assertion message, "cannot set state w

[2020-08-03 21:02] pixelzoom commented on #149
I'm guessing that the selected bunny dies, its sprite gets removed by disposeBunnySpriteInstance. But `this.selectedBunnySpriteInstance` is still pointing to the selected bunny's sprite. So sort thinks that there's still a selection and tries to remove it again for sorting.

[2020-08-03 22:08] pixelzoom commented on #149
Two things here:

(1) Removing something doesn't require calling sort, and that was being done in a number of places. Corrected in the above commit.

(2) The callback when a bunny dies or is disposed should be responsible for clearing the selection, if the bunny is the selected bunny.  Corrected in the above commit.

Let's see how CT feels about this.

[2020-08-03 22:30] pixelzoom commented on #5
The sim has been feature-complete since 7/7/2020 and I'm not anticipating that I'll need to make any more internal changes that will affect the Studio tree structure.  I'm shooting for a late-August dev test, which will include phet and phet-io brands.

@amanda-phet and @kathy-phet please review the current PhET-iO implementation.  You can use master or https://phet-dev.colorado.edu/html/natural-s

[2020-08-03 23:22] pixelzoom commented on #146
I also discovered that PopulationPlotNode does not handle the case where a count remains constant for > 6 generations, and we need to connect 2 points where p1.x < xRange.min and p2.x > xRange.max.   I haven't seen that happen, but it could.

[2020-08-04 01:28] samreid commented on #117
I was able to reproduce the problem following the instructions in the preceding comment.  I recommend increasing priority for this issue.

[2020-08-04 01:48] pixelzoom commented on #146
I totally rewrote `PopulationPlotNode.plotPoints` to handle all possible datasets.  So it's now less specific to Natural Selection, and more general, in case we ever need to reuse it elsewhere (e.g. in griddle).

@amanda-phet and @phet-steele please have a look at this in [1.1.0-dev.3](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.3/phet/natural-selection_en_phet.html), with high

[2020-08-04 01:52] pixelzoom commented on #146
Cherry-picked to 1.0 (prototype) branch.

[2020-08-04 05:10] ariel-phet opened #154 "Making "Bunnies take over the world" more representative of final condition"
Would it be possible to have the "bunnies take over the world" artwork have 3 possibilities?

1. All white
2. All brown
3. Mixture

I found it a little jarring seeing the population be for instance all white bunnies and then the depiction at the end be a mixture of white and brown. That is sort of the "final representation", so if you set up conditions (like white bunnies being recessive but wolve

[2020-08-04 16:16] pixelzoom commented on #154
* The "world" image is easily the largest resource in this sim. Each image adds ~567KB to the html file.  Adding 2 more images will increate the total html file size ~2.5MB to ~3.6MB. (I tested this to confirm.). That's a pretty significant increase for this feature.  Providing the bunnies and world as a separate images would decrease the size a bit, but increase the code complexity.

* The dialog

[2020-08-04 16:23] oliver-phet commented on #153
I'll try to reproduce, but I was just able to get population to die out (only Limited Food was selected, but long teeth mutation was added). Last generation was 7 bunnies and 6 died:
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/5090275/89317083-24ad3600-d63a-11ea-9a9d-3dff6c5020f1.png">

[2020-08-04 16:28] pixelzoom commented on #153
@oliver-phet Please clarify.  I see 1 bunny still alive in the above screenshot. How is that getting the population to die out?

I sounds like this is working as requested. 7 bunnies is not < 7, so limited food will be applied. That killed 6 bunnies, with 1 bunny remaining.   And since 1 < 7, that 1 bunny will not be affected by limited food.

[2020-08-04 16:38] oliver-phet commented on #153
With 1 bunny remaining, the population will always die out, correct? I thought the restriction to not apply limited food if population < 7 was meant to allow the population to stabilize. If 6 of 7 bunnies can still die, then shouldn't the minimum number be increased?

I briefly looked through the default parameters and I see this:
[code]
If the maximum (70%) of the population of 7 bunnies die via

[2020-08-04 16:43] pixelzoom commented on #153
The goal is not to guarantee a stable population. The goal is to show that a small population can be sustained on limited food.  That doesn't mean that other factors won't result in the population going to zero.  In this case, your lone bunny will eventually die of old age.

[2020-08-04 16:53] pixelzoom commented on #153
It is a little curious that you ended up with 1 lone bunny.  If I set up your scenario like this:

1 . Run the sim with query parameters `?brand=phet&initialScreen=2&labMutations=T&labPopulation=1tt,6TT`
2. check the "Limited Food" checkbox
3. Press "Add a Mate" button

... then I see 4 bunnies with long teeth die, and 1 bunny with short teeth dies, leaving me with 2 bunnies.

[2020-08-04 16:53] kathy-phet commented on #153
Just curious how challenging it is to actually use a tiered death model here, which would be more true to life under limited food, so that there are several tiers and not just jump from none to 2/3 being killed.
So if say

100-20 bunnies, then 1/3 killed
20 - 10 bunnies, then 1/4 killed
<10 none killed
Or something like that.  As it seems pretty aggressive to kill 2/3 with anything over 7 bunnies.

[2020-08-04 16:59] pixelzoom commented on #153
That will be a rewrite of the food model.  The current model is already pretty complicated, with 6 different parameters that can be tuned (5 query parameters, 1 internal constant).  Adding tiers will obviously make it more complicated and will risk destabilization.  It will take somewhere in the 8-16 hours range, and we'll need to re-tune the model from scratch. If you want to pursue that, I'll be

[2020-08-04 17:05] pixelzoom commented on #153
Rather than a tiered approach that relies on ranges...  If you can describe the number of bunnies to kill as a function of the total population, that's something that might be dropped into the current model.

[2020-08-04 17:10] pixelzoom commented on #149
CT has been happy for many cycles.

Since this issues has been specific to PhET-iO tests, it will not be patched into the 1.0 (prototype) branch.

Closing.

[2020-08-04 17:13] pixelzoom commented on #2
I've added @phet-steele to the credits, for his role in testing the 1.0 (prototype) release.

[2020-08-04 17:14] pixelzoom commented on #2
I've added @phet-steele to the credits, for his role in testing the 1.0 (prototype) release.

[2020-08-04 17:20] oliver-phet commented on #153
It seems to be somehow tied to adding the Long Teeth mutation (note: I'm not turning on Tough Food):
<img width="1584" alt="image" src="https://user-images.githubusercontent.com/5090275/89323959-bcfbe880-d643-11ea-980d-5a7ed390d400.png">
I've only interacted 3 ways (below) but the sim only seems to rarely lead to a situation of 1 bunny (then 0).

1. Add Long Teeth Dominant mutation
2. Check Limite

[2020-08-04 17:23] pixelzoom commented on #153
Yes, that's probably the difference in your scenario.  Please add the `log` query parameter, and let me know what's printed to the console.  The log will note how many bunnies have died, and why they died.

[2020-08-04 17:33] pixelzoom commented on #149
Reopening.  I decided to patch this into the 1.0 branch, in case more changes are needed to NaturalSelectionSprites.js in a subsequent RC.

Ready for verification in the next RC.  There's nothing specific to test, just be on the lookout for anything odd with sprites in the environment view.

[2020-08-04 17:38] pixelzoom commented on #153
@oliver-phet I'm trying to reproduce what you described in https://github.com/phetsims/natural-selection/issues/153#issuecomment-668722992.

Your steps (as I understand them) are:
1. Start the sim
2. Press the long-teeth dominant button in the Add Mutations panel.
3. Press the "Add a Mate" button
4. Let the sim run

I've now run for 30+ generations, and I've never seen the scenario that you show o

[2020-08-04 17:50] oliver-phet commented on #153
I was running from phettest. I had to restart my computer, but I'll try to reproduce with `log`.

[2020-08-04 17:51] pixelzoom commented on #153
After several attempts running the above steps, I finally duplicated @oliver-phet's scenario.

Here's are the relevant 2 generations of log messages from the console:

[code]

So generation 22 started with 7 bunnies.  The data probe shows 5 with long teeth, 2 with short teeth.

4 bunnies with long teeth died.  0.7 * 5 = Math.round( 3.5 ) = 4, so that makes sense.

2 bunnies with short teeth died.

[2020-08-04 17:55] oliver-phet commented on #153
Here's another... seems to be the same:
[code]

[2020-08-04 17:55] pixelzoom commented on #153
Ah, I see the problem.  I'm using `Math.ceil` (which rounds up) instead of `Math.round`.  So for the short-toothed bunnies:

0.7 * 2 = Math.ceil( 1.4 ) = 2

As I recall, I used ` this so that at least 1 bunny would be starved if we got this far in the algorithm.  I'll need to discuss with @amanda-phet.

Thanks for pointing this out @oliver-phet.

[2020-08-04 18:05] pixelzoom commented on #153
I guess I don't need to discuss with @amanda-phet.

Here's the change to Food.js that will ensure that symmetric rounding is used, but that at least 1 bunny is starved if we get this far in the code:

[code]

[2020-08-04 18:07] pixelzoom commented on #153
There's a similar use of `ceil` in WolfCollection.js (the wolf model) that I'll fix similarly.

[2020-08-04 18:19] pixelzoom opened #155 "number of bunnies killed is sometimes 1 more than expected"
As noted over in https://github.com/phetsims/natural-selection/issues/153#issuecomment-668701767, sometime the number of bunnies that are starved seems to be 1 more than expected.

In https://github.com/phetsims/natural-selection/issues/153#issuecomment-668739934, I identified the problem in Food.js. I'm using `ceil` instead of `round`, in order to ensure that at least 1 bunny is starved.   That's

[2020-08-04 18:20] pixelzoom commented on #153
Moving the `ceil` problem to https://github.com/phetsims/natural-selection/issues/155.

[2020-08-04 18:21] pixelzoom commented on #155
The correct way to round and ensure that a value is at least 1 is:

`Math.max( 1, Utils.roundSymmetric( value ) )`

I'll apply this to Food.js and WolfCollection.js.

[2020-08-04 18:30] pixelzoom commented on #155
Fixed in the above commits in master and 1.0 (prototype) branch.  For phetsims/QA#522.

@oliver-phet please test with phet-test, to confirm that you can no longer reproduce the scenario that you reported in https://github.com/phetsims/natural-selection/issues/153#issuecomment-668701767.

[2020-08-04 18:30] pixelzoom commented on #155
Fixed in the above commits in master and 1.0 (prototype) branch.  For phetsims/QA#522.

@oliver-phet please test with phet-test, to confirm that you can no longer reproduce the scenario that you reported in https://github.com/phetsims/natural-selection/issues/153#issuecomment-668701767.  Assign back to me when you're done.

[2020-08-04 18:31] pixelzoom commented on #153
#155 is fixed, so we can proceed with verifying this issue.

[2020-08-04 19:10] samreid commented on #117
@chrisklus and I proposed a solution in the commit, @pixelzoom can you please review?

[2020-08-04 19:19] pixelzoom commented on #117
Thanks, that commit looks like it will do the job.  I probably can ignore cherry-pick to the 1.0 (prototype) branch, but let me think that over.

Two things...

(1) I must reiterate that I really<sup>100</sup> dislike this approach of creating different code paths based on `phet.joist.sim.isSettingPhetioStateProperty.value`.  And in the absence of a better way, that approach keeps proliferating.

[2020-08-04 19:32] pixelzoom commented on #117
(3) When a State Wrapped problem does occur, it's not clear (to me) how to go about identifying the source of the problem. Having to put a `debugger` statement in assert.js is inconvenient and (as in this case) doesn't always yield results.   How did you go about debugging this? Should that process be described somewhere? Can/should that process be improved since this is a common problem?

[2020-08-04 19:37] amanda-phet commented on #153
Looks like it is working well to me. I think 7 is a good threshold here. It is reasonable that sometimes the bunnies do die out if they are a very small population, so I wouldn't go any higher than 7.

@kathy-phet said

2/3 is just right to stabilize the population, since every two bunnies will have four babies, so it works pretty well. The percentage killed is randomly selected from within a rang

[2020-08-04 19:40] chrisklus commented on #117
We say the same thing every day!

We were thinking this was more related to the nature of our fuzz tests and how they often don't catch scenarios that take time to get to before the reset button is hit again. In this case, 5 seconds needs to pass before another generation is created. @samreid and I commented out our fix and the ResetAllButtons and hit the error on our first try of running the stat

[2020-08-04 19:42] amanda-phet commented on #154
I am 100% ok with leaving this image as it is. While I understand your desire (in fact, I think I brought this up early in the design process), I think the image clearly conveys the information and provides a cute all-purpose image.

[2020-08-04 19:51] amanda-phet commented on #152
This seems to be working perfectly!

[2020-08-04 20:12] pixelzoom commented on #152
Excellent, thanks @amanda-phet.

Ready for testing in the next 1.0 (prototype) RC.

[2020-08-04 20:12] pixelzoom commented on #153
Ready for testing in the next 1.0 (prototype) RC.

[2020-08-04 20:27] pixelzoom opened #156 "State Wrapper: dialogs do not display in downstream sim"
In the State Wrapper, sim-specific Dialog subclasses do not display in the downstream sim.  Examples:

WorldDialog:
<img width="507" alt="screenshot_451" src="https://user-images.githubusercontent.com/3046552/89341163-1d981f00-d65e-11ea-8e5b-34afc4beb0e3.png">

DiedDialog:
<img width="533" alt="screenshot_450" src="https://user-images.githubusercontent.com/3046552/89341172-212ba600-d65e-11ea-91f5-

[2020-08-04 20:38] pixelzoom opened #157 "Population graph looks empty when all data is above yMax"
Here's an interesting usability issue.  The Population graph has default y-axis range of 0-50.  It can be manually changed using the zoom buttons.   But it's entirely possible for all of the data to be above yMax, resulting in something like the screenshot below. The first time I saw this, I didn't have the Data Probe enabled, the graph was totally blank, and I thought it was broken.

@amanda-phet

[2020-08-04 20:45] pixelzoom commented on #117
Thanks for the replies.

I did decide to cherry-pick this for the 1.0 (prototype) branch, since there have been other changes to WolfCollection.js, and I want to make cherry-picking easy going forward.

Ready for review in the next RC.  There is nothing specific to test, just be on the lookout for any errors when Wolves are enabled.

[2020-08-04 20:47] pixelzoom commented on #154
I'm going to move forward assuming that this would not be something that would need to be cherry-picked to the 1.0 (prototype) branch, and is likely to be closed as "do nothing".

[2020-08-04 20:50] pixelzoom commented on #156
iO team, could you explain what's going on here? All 3 of these dialogs are uninstrumented, but one of them is displayed downstream.

[2020-08-04 21:48] oliver-phet commented on #155
Looks good!

[2020-08-04 21:51] oliver-phet commented on #155
Ack, spoke too soon! I just had it happen again on phettest but I didn't have log enabled. Let me look a bit more.

[2020-08-04 21:56] oliver-phet opened #158 "Limited Food can occasionally lead to bunnies taking over the world"
I've now seen this happen twice testing the sim and I was quite surprised.

Initial conditions:
Add Long Teeth Recessive mutation
Check Limited Food
Add a bunny

I'm not sure if it is intended to allow the simulation with identical initial conditions to lead to both (1) a steady-state small population and (2) bunnies taking over the world
<img width="1677" alt="image" src="https://user-images.gith

[2020-08-04 21:58] amanda-phet commented on #157
This has always been a possibility, and since the user is likely going to see the graph before it gets out of view I'm not too concerned. (An example situation where this would be an issue would be in PhET-iO if the client starts with a population >50 and doesn't change the zoom.)

[2020-08-04 21:59] oliver-phet commented on #158
Seems like no bunnies died due of starvation towards the end of the log?
[code]

[2020-08-04 22:00] amanda-phet commented on #158
Yeah I noticed this about tough food as well. In theory, limited food and tough food should stabilize the population, but since it's a random percentage that gets killed I assumed I was just unlucky.

It looks like not enough bunnies are dying of old age, you're right! That seems very problematic..

[2020-08-04 22:12] pixelzoom commented on #157
The query parameters for setting initial population are not specific to PhET-iO, so what you described is possible in brand=phet.

[2020-08-04 22:14] pixelzoom commented on #157
The query parameters for setting initial population are not specific to PhET-iO, so what you described is possible in brand=phet.  And there's no way to set the initial y-axis range via query parameter.

[2020-08-04 23:47] pixelzoom commented on #158
I've also seen bunnies take over the world using the same steps. It's definitely not going to be the same on each run. The percentage of bunnies killed by limited food or tough food is randomly chosen from the ranges [0.6,0.7] and [0.4, 0.7] respectively.   So while the population will tend be somewhat stable, it's also possible that it may rebound or decline, depending on what random percentage h

[2020-08-04 23:59] pixelzoom commented on #158
I should also mention that scenarios involving wolves are also not reproducible. The percentage of bunnies killed by wolves is randomly selected for each generation from the range [0.34,0.4].   So 2 runs with the same initial conditions are likely to result in different outcomes.

[2020-08-05 00:19] ariel-phet commented on #154
Going ahead and closing considering the complexities. We can revisit if we get teacher feedback or student confusion.

[2020-08-05 00:19] #154 closed

[2020-08-05 01:03] amanda-phet commented on #158
It's just odd because I used to rely on limited food or tough food to let the sim run for many generations. We may want to tweak the percentages.

Perhaps for limited food, we should do [0.6, 0.73] so the "average" kill rate is closer to 0.66. Is this going to be a problem with any multipliers? I don't think so, but please correct me if I'm wrong. This should lead to more long-term stability acros

[2020-08-05 03:45] amanda-phet commented on #157
That is true. I don't have any great ideas about how to solve this usability issue, though.

@ariel-phet ?

[2020-08-05 03:53] ariel-phet commented on #157
@pixelzoom @amanda-phet  I have a thought, but perhaps not a great one

@pixelzoom I assume you could interrogate the model at some regular interval and decide whether the data was out of range (I assume there is some function that given the zoom level that view is at least aware of the range). If you were in some situation like this could we just display a message on the graph that says "zoom out

[2020-08-05 15:03] pixelzoom commented on #157
@ariel-phet is something like this what you had in mind? @amanda-phet does that work for you?

![zoom-out](https://user-images.githubusercontent.com/3046552/89429153-6f8e8280-d6fa-11ea-96b9-af3fba12bf87.png)

[2020-08-05 15:15] amanda-phet commented on #157
Yes that works for me!

[2020-08-05 15:28] ariel-phet commented on #157
Yes, exactly what I had in mind. I think that is worth the time

[2020-08-05 15:41] pixelzoom opened #159 "Population graph clips points and line segments at yMax"
In the Population graph...

When a point or line segment falls on yMax, the top part of it is being clipped.  You can see this if you start the sim with `?labPopulation=50` and press the "Play" button.  Note how the top half of both the point and line segment are clipped in this screenshot:

<img width="266" alt="screenshot_455" src="https://user-images.githubusercontent.com/3046552/89433102-23920

[2020-08-05 15:45] pixelzoom commented on #159
I'm inclined to recommend the behavior in the first screenshot above, which is the what is currently implemented.

[2020-08-05 15:46] samreid commented on #156
Often dialogs are treated as transient and therefore not stateful, and not expected to display in the downstream simulation.  In some cases, when the showing of a dialog is triggered by a stateful Property, then it is natural for that dialog to be showed in the downstream simulation.

[2020-08-05 15:48] pixelzoom commented on #157
Hmm... I took a quick look and this is more complicated than I anticipated.  Each plot is independent, without knowledge of the other plots, so I don't know whether any of the data points are < yMax.  I could add new code to look through all 7 data sets, but that will most certainly create a performance problem.  I'll need to ruminate on this...

[2020-08-05 15:53] pixelzoom commented on #156
Thanks. That explains why the GenerationLimitDialog is displayed and the others are not.  GenerationLimitDialog is displayed by listener of generationClock.currentGenerationProperty.   The other 2 dialogs are displayed as the result of Emitters firing during model.step.

I see that Dialog has `isShowingProperty`.  So if I instrument the other 2 Dialogs, I'm guessing that they will be shown in the

[2020-08-05 16:01] pixelzoom commented on #156
Instrumenting the dialogs did the trick, and they are now appearing in the downstream sim.

Closing.

[2020-08-05 16:09] pixelzoom commented on #5
@amanda-phet @kathy-phet When you start on this, ask me for a fresh dev version.

[2020-08-05 16:12] pixelzoom opened #160 "State Wrapper performance problems"
The performance of this sim is (and always has been) awful in the State Wrapper.  As the number of bunnies increases, it becomes painful to interact with the upstream sim. And after bunnies have taken over the world, I often have to restart Chrome because the browser is locked up.

[2020-08-05 16:14] pixelzoom commented on #160
PhET-iO team:  What should my expectations be for performance of the State Wrapper?  And will any of the up-and-coming PhET-iO performance optimizations improve things?

[2020-08-05 16:21] oliver-phet commented on #158
I think it is very problematic that the vast majority of Limited Food "runs" lead to a ~stable population of 6-12 bunnies, but once in a while leads to bunnies "taking over the world". It just doesn't make sense to me and feels broken.
@pixelzoom did you see in the log I posted above that in generations 149-151 0(!) bunnies died of starvation. Surely there is something wrong there.

I know the sim

[2020-08-05 16:29] pixelzoom commented on #158
Agreed.  Bunnies taking over the world while there is limited food seems wrong.

Thanks, I missed that note.   I don't even see an "attempting to starve bunnies" message, so the food algorithm didn't get run.  Are you by any chance running with query parameters, maybe something that is making the sim run too fast and skip over the "food" interval of the clock?

I don't think we should go here. Thi

[2020-08-05 16:45] samreid commented on #160
The state wrapper is not used for high frequency operations (like visual playback).  In the case of a fully populated world, @chrisklus and I observed that the file is 6MB and 144,000 lines of code.  Perhaps it is to be expected that it takes many seconds to serialize/deserialize.  We haven't put effort into performance optimizing this path in particular, but that's because we haven't needed to ye

[2020-08-05 17:01] oliver-phet commented on #158
I'm using `?ea&brand=phet&secondsPerGeneration=1&log` and for some of these test I was holding down the 'Fast Forward' button. If that button allows the sim to run too fast and skip over important events, I think we should revisit the behavior of that button or see if things could be changed so that the food interval can't be skipped?

[2020-08-05 17:41] amanda-phet commented on #158
Something very buggy is happening in @oliver-phet 's case above. The population graph looks really really strange. Death from starvation happens a third of the way through the generation, and you can see the graph is not showing that.

When I run 1.0.0-rc.1 with log turned on (in Chrome), the population remains pretty stable for under 30 generations, and then it slowly starts to increase. I would

[2020-08-05 18:07] amanda-phet opened #161 "Limited food seems to prefer long teeth"
Related to #158 maybe. Just an extension of the limited food issue.

I am experimenting with Limited Food and different mutations. When I add the long teeth mutation, the log will frequently read out `No bunnies with long teeth were starved because the population is <= 4.` but teeth should not matter for limited food. This happens whether long teeth are dominant or recessive.

You can see in the g

[2020-08-05 18:08] amanda-phet commented on #161
For https://github.com/phetsims/QA/issues/522

[2020-08-05 18:08] amanda-phet commented on #161
Using Mac, Chrome, and rc.1

[2020-08-05 20:12] pixelzoom commented on #158
@amanda-phet are you running with `secondsPerGeneration` query parameter, or using the fast-forward button?

[2020-08-05 20:18] pixelzoom commented on #161
It would be helpful to have the log and any query parameters that you used.

[2020-08-05 21:21] pixelzoom commented on #155
@oliver-phet if you could prioritize this, it would be great. It needs to be completed before I can publish the next RC for the prototype.

[2020-08-05 21:22] pixelzoom commented on #146
@amanda-phet  if you could prioritize review of this issue, it would be great. It needs to be completed before I can publish the next RC for the prototype.

[2020-08-05 21:24] pixelzoom commented on #161
Since @amanda-phet noted "For phetsims/QA#522" I'm going to assume that this is blocking for the 1.0 prototype. Labeling as "blocks-sim-publication".  If that's incorrect, let me know.

[2020-08-05 21:25] pixelzoom commented on #159
Since this is a "polish" issue, I'm assuming that it's not required for the 1.0 prototype.  If that's incorrect, let me know asap.

[2020-08-05 21:27] pixelzoom commented on #158
I'm assuming that this is a prerequisite for the 1.0 prototype, for https://github.com/phetsims/QA/issues/522#event-3626309231.   So labeling as "blocks-sim-publication".   If that's incorrect, please let me know asap.

[2020-08-05 21:28] pixelzoom commented on #157
I'm assuming that this is NOT blocking for 1.0 prototype publication.  If that's incorrect, please let me know asap.

[2020-08-05 21:45] pixelzoom opened #162 "Do students understand the generation clock?"
Look for understanding (or misunderstanding) of the following things related to the generation clock:

* 1 full cycle of the clock is 1 generation
* The clock "reveal" indicates how much of a generation has passed.
* How the icons to the right of the Environment Factors check boxes are related to the clock.
* The color-coded "slices" of the clock correspond to environmental factors.
* Limited Food

[2020-08-05 21:48] pixelzoom opened #163 "Are overlapping plots in the Population graph a significant usability problem?"
In #101, we identified overlapping plots as a potential usability problem:

In https://github.com/phetsims/natural-selection/issues/101#issuecomment-648349693, @amanda-phet concluded:

We should watch for this as a potential problem in interviews.

[2020-08-05 21:51] pixelzoom opened #164 "Are students able to connect color + line style to allele?"
Traits (fur, ears, teeth) are color coded.  And we use line style to differentiate between alleles for a trait: solid line for normal allele, dashed line for mutant allele.   MH called this out as something that she didn't understand at first.   So we should watch for this in interviews.  Are students able to connect color + line style to allele?

[2020-08-05 21:51] oliver-phet opened #165 "Assertion failed: data already exists for generation 22"
I just started looking at the sim again for https://github.com/phetsims/natural-selection/issues/155, trying to replicate the results from yesterday [using the same steps](https://github.com/phetsims/natural-selection/issues/153#issuecomment-668722992).
I am able to inconsistently trigger an assertion failure. Using latest on phettest `?ea&brand=phet&secondsPerGeneration=1&log` These are the actio

[2020-08-05 21:51] oliver-phet commented on #155
Sorry, other things came up since yesterday! I've done a few runs now and I'm not seeing the population drop to 1.

[2020-08-05 21:52] oliver-phet commented on #165
This seems to be the relevant part of the log:
[code]

[2020-08-05 22:01] pixelzoom commented on #155
I have not seen it happen again either.  I'm guessing that phet-test hadn't pulled my fix yet when you experienced this in https://github.com/phetsims/natural-selection/issues/155#issuecomment-668842554.

So I'm going to consider this ready for testing in the next RC for 1.0 prototype.

To verify:
1. Open the browser console.
2 . Run the sim with query parameters ?log&initialScreen=2&labMutations=

[2020-08-05 22:02] pixelzoom commented on #165
@oliver-phet I need to know what you're running.  A dev version? phet-test?....

[2020-08-05 22:08] oliver-phet commented on #165
Using latest on phettest `?ea&brand=phet&secondsPerGeneration=1&log`
MacOS 10.15.6
Safari Version 13.1.2 (15609.3.5.1.3)

[2020-08-05 22:16] pixelzoom commented on #165
I can't reproduce with my local copy on master. I'll try doing a pull-all.sh to see if there might be a problem in common code that snuck in, but I doubt it.

Using `secondsPerGeneration=1` with fast-forward is definitely a problem.  It causes important "slices" of the clock to be skipped over.    But I'm going to address that over in #158.

The relevant assertion here is:

All of the others ("ree

[2020-08-05 22:22] pixelzoom commented on #165
I still can't reproduce in my local copy after a pull-all.sh.

[2020-08-05 22:31] oliver-phet commented on #153
Just to note, it is still possible (but seemingly uncommon) for all of the bunnies to die using the [setup I've been testing](https://github.com/phetsims/natural-selection/issues/153#issuecomment-668722992). It seems to require a small population of bunnies (but above 6), a large portion of them to starve, and a surviving bunny to immediately die of old age.
[code]

[2020-08-05 22:35] pixelzoom commented on #153
As I understand it, @oliver-phet has been testing with `secondsPerGeneration=1` and using the fast-forward button.  That's causing the generation clock to sometimes skip over the food "slice" of the clock, which means bunnies don't starve, which means bunnies can eventually take over the world.  All of these tests are therefore suspect.  First I need to make it impossible to skip the clock slices

[2020-08-05 22:37] amanda-phet commented on #158
I've run a number of trials for this and I think the issue is the range. If the average random value is closer to 0.66 then over a long period of time I'd expect the population to remain stable. Since the average random value is currently 0.65, I would expect the population to slowly increase over time, which is exactly what is happening.

I never reproduced Oliver's buggy graph or skipping over t

[2020-08-05 22:40] pixelzoom opened #166 "Usability of "Add a Mate", "Play", and "Start Over" button group"
Related to the "Add a Mate", "Play", and "Start Over" button group...

From https://github.com/phetsims/natural-selection/issues/54#issuecomment-616823639:

Before making any changes, @amanda-phet said that she'd "like to interview on this first to see if it is in fact a usability concern."

[2020-08-05 22:41] pixelzoom commented on #54
I've move the interview item mentioned in https://github.com/phetsims/natural-selection/issues/54#issuecomment-621478307 to https://github.com/phetsims/natural-selection/issues/166.

Closing this issue.

[2020-08-05 22:41] #54 closed

[2020-08-05 22:42] amanda-phet commented on #161
No need to add a mutation for teeth. Here is the log after adding a mate, turning on limited food at the start of generation 3:

====== Generation 1 ======
natural-selection_all_phet.html?log:81 0 bunnies died of old age
natural-selection_all_phet.html?log:81 4 bunnies were born
natural-selection_all_phet.html?log:81 attempting to starve bunnies
natural-selection_all_phet.html?log:81 total live bu

[2020-08-05 22:47] amanda-phet commented on #146
Looks good to me.

[2020-08-05 22:51] phet-steele commented on #146
The original issue seems fine, but I'm seeing weird behaviour.

1. Intro screen, enable at least "brown fur" in the population graph
2. Add a mate
3. Run until gen 3, then add limited food
4. Run until gen 5, then add the fur mutation (doesn't matter which is chosen to be dominant)
5. Let the sim run for 6+ generations and until there are >0 brown fur bunnies.

In the below screenshots, you'll not

[2020-08-05 22:52] pixelzoom opened #167 "Running the generation clock at high speed may skip over application of food or wolves"
For phetsims/QA#522.

From https://github.com/phetsims/natural-selection/issues/153#issuecomment-669557281:

At one time, we applied environmental factors at the _beginning_ of their clock slice.  Then we changed it so that they are applied in the _middle_ of their clock slice.  And that's when this potential to skip over application of an environmental factor was introduced.

[2020-08-05 22:52] pixelzoom commented on #158
@oliver-phet's bug is very likely due to https://github.com/phetsims/natural-selection/issues/167.

[2020-08-05 22:53] oliver-phet commented on #153
I was just able to allow bunnies to take over the world without the fast-forward button with `secondsPerGeneration=1`, but it sounds like even with just `secondsPerGeneration=1`, important steps might be skipped over.

[2020-08-05 22:56] phet-steele commented on #148
I tested this with https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.3/phet/natural-selection_all_phet.html on a touch screen, and these buttons were very easy to press! Thanks.

[2020-08-05 23:03] amanda-phet commented on #155
This seems to be working fine for me.

[2020-08-05 23:24] samreid commented on #60
We pushed an improvement for https://github.com/phetsims/phet-io/issues/1689, does it speed up the "Start Over" time for this test?  Please reach out to me on slack to schedule a meetup time for further performance analysis.

[2020-08-05 23:33] oliver-phet opened #168 "Design Q: 'Tough Food' causes long teeth bunnies to starve regardless of 'Limited Food'"
@amanda-phet When I was testing for https://github.com/phetsims/QA/issues/522 I noticed that even in a population of all Long Teeth bunnies, many would "die of starvation" with Limited Food **unchecked**. I was under the impression the design of Tough Food was to make it more clear to users that it was selecting for Long Teeth.

While it makes sense to me for Short Teeth bunnies to "die of starvat

[2020-08-06 01:09] amanda-phet commented on #168
You have the values correct. I tried to mimic the behavior in the Java sim, which is how I ended up with those values. Most of the time the long-tooth bunnies will in fact take over the world, just not as quickly or predictably as other unlimited food scenarios. I could check with Megan to see if she'd like to see them take over the world more aggressively, if you recommend this change. @kathy-phe

[2020-08-06 02:05] pixelzoom commented on #167
There was definitely a situation where WolfCollection.eatBunnies could be skipped over.

It does not appear to be possible to skip over Food.starveBunnies, so I'll have to investigate further to determine what's going on in https://github.com/phetsims/natural-selection/issues/158#issuecomment-668845424, where @oliver-phet reported a log that indicates that Food.starveBunnies in not being called.

[2020-08-06 02:15] pixelzoom commented on #60
@samreid The performance improvement in phetsims/phet-io#1689 is on my radar, and I was hoping to test performance this past week.   But publishing a prototype has been given higher priority, and that prototype does not include PhET-iO.  So at this point I really don't know when I'll be getting to this.

[2020-08-06 15:20] pixelzoom commented on #161
Yes, limited food will prefer long teeth in specific circumstances, and that's what you requested.

In https://github.com/phetsims/natural-selection/issues/153, you asked to ignore limited food if the total population (not the population of a specific phenotype) is < 7.  It's not in this case, so limited food will be applied.

In https://github.com/phetsims/natural-selection/issues/98#issuecomment

[2020-08-06 15:25] pixelzoom commented on #140
In https://github.com/phetsims/natural-selection/issues/60#issuecomment-669595227, @samreid asked:

[2020-08-06 15:26] pixelzoom commented on #140
@samreid The performance improvement in phetsims/phet-io#1689 is on my radar, and I was hoping to test performance this past week. But publishing a prototype has been given higher priority, and that prototype does not include PhET-iO. So at this point I really don't know when I'll be getting to this.

[2020-08-06 15:26] pixelzoom commented on #60
This issue is unrelated to the performance of "Start Over".  Moving the above question to https://github.com/phetsims/natural-selection/issues/140.

[2020-08-06 15:28] pixelzoom commented on #149
Since the next 1.0 RC is going to be a merge from master, closing this issue.

[2020-08-06 15:28] #149 closed

[2020-08-06 15:28] pixelzoom commented on #117
Since the next 1.0 RC is going to be a merge from master, closing this issue.

[2020-08-06 15:28] #117 closed

[2020-08-06 15:30] pixelzoom commented on #148
Since the next 1.0 RC is going to be a merge from master, and this has been verified in master, I'm closing this issue.

[2020-08-06 15:30] #148 closed

[2020-08-06 15:30] pixelzoom commented on #145
Since the next 1.0 RC is going to be a merge from master, and this has been verified in master, I'm closing this issue.

[2020-08-06 15:30] #145 closed

[2020-08-06 15:31] pixelzoom commented on #147
Since the next 1.0 RC is going to be a merge from master, and this has been verified in master, I'm closing this issue.

[2020-08-06 15:31] #147 closed

[2020-08-06 15:34] amanda-phet commented on #161
The constraint of N <= 4 was for long teeth (when tough food is checked) or fur color (when wolves are checked). Since limited food doesn't have a preferred phenotype (and the model clearly reflects this when the population is large, regardless of mutations), it should not prefer long teeth at any time.

[2020-08-06 15:37] amanda-phet commented on #161
I said

And it looks like for fur color the constraint is <= 5. I am starting to get confused about this, because I thought we picked one value for this constraint. I'll need to review #98 for this.

However, we still need to do something about limited food, because this constraint should not apply.

[2020-08-06 15:42] amanda-phet commented on #161
I reviewed the mutation model and found https://github.com/phetsims/natural-selection/issues/98#issuecomment-656438400, which is helpful to confirm that I indeed picked different values for the constraint. That's fine that the values are different, but I should have reviewed the model with `?log` turned on way back when I approved it, because I didn't notice this issue (that limited food prefers l

[2020-08-06 15:43] pixelzoom commented on #161
Thanks for clarifying, I'll fix the long teeth + limited food problem.

[2020-08-06 17:28] oliver-phet commented on #168
I do think it would be good to get Megan's/other expert's opinions. I personally think having bunnies "die of starvation" in an unlimited food scenario conflates what 'Tough Food' and 'Limited Food' factors are accomplishing. The current behavior aligns more closely with what I would expect in a Limited+Tough Food scenario.

Just a quick test I did:

1. Add Long Teeth Dominant
2. Add a Mate
3. Imm

[2020-08-06 17:36] oliver-phet commented on #168
I'm just now reading the discussion in https://github.com/phetsims/natural-selection/issues/161, sounds like we should hold off on any changes until work on that is finished.

[2020-08-06 18:00] pixelzoom commented on #168
Yes, please pause on Food testing.  It's getting a complete makeover, in order to address #161.

[2020-08-06 21:51] pixelzoom commented on #158
@amanda-phet in https://github.com/phetsims/natural-selection/issues/158#issuecomment-668910002 you proposed changes for query parameters `limitedFoodPercentToKill` and `toughFoodPercentToKill`:

Are there the values that you want to use?

[2020-08-06 21:54] pixelzoom commented on #158
@amanda-phet in https://github.com/phetsims/natural-selection/issues/158#issuecomment-668910002 you proposed changes for query parameters `limitedFoodPercentToKill` and `toughFoodPercentToKill`:

I went ahead and changed to those values in the above commit.  Let me know if I misunderstood.

[2020-08-06 23:07] pixelzoom commented on #155
Since the next 1.0 prototype RC is going to be a merge of master, and this was verified in master, I'm going to close this issue.

[2020-08-06 23:07] #155 closed

[2020-08-06 23:10] pixelzoom commented on #152
@amanda-phet FYI... This is a "minimum population" constraint, and we have a few of these in the sim.  Some (like this one) were specified as <=, others were specified as <.   That made for some confusing and error-prone code.  So I have standardized them all to use <, and this constraint is now < 6.   I'll adjust the issue title to reflect this.

[2020-08-06 23:20] pixelzoom commented on #167
I'm confident that this is no longer occurring, so I'm going to close this issue.  If we observe food or wolves being skipped over, we will debug in a new issue.

[2020-08-06 23:20] #167 closed

[2020-08-06 23:28] pixelzoom commented on #98
@amanda-phet FYI, related to an overhaul of Food.js...

As I mentioned over in https://github.com/phetsims/natural-selection/issues/152#issuecomment-670234799...  `minBunniesForWolves=5` and `minBunniesForFood=4` are both "minimum population" constraints.  This sim has several of these constraints, and it's confusing/error-prone that some of them (like these 2) are specified as <=, while others ar

[2020-08-06 23:43] pixelzoom commented on #156
Glad I reopened, some good additional changes here:

* renamed GenerationLimitDialog to MemoryLimitDialog, because the messages tells the user that they've hit a "memory limit", not a "generation limit"
* added phetioDocumentation to all dialogs
* grouped dialogs under `naturalSelection.introScreen.view.dialogs` and `naturalSelection.labScreen.view.dialogs`, to reduce clutter at the view level

Si

[2020-08-06 23:43] #156 closed

[2020-08-07 00:48] pixelzoom opened #169 "sanity check for Food"
`Food.starveBunnies` is where tough food and limited food are applied.  This bit of code has incrementally had additional constraints added, to a point that is has become unacceptably complicated/chaotic for code for an unpublished sim.   And it was making it difficult for me to debug/fix issues like #158, #161, and #168.

So `Food.starveBunnies` was refactored and cleaned up, and we (unfortunatel

[2020-08-07 00:49] pixelzoom commented on #161
Food.starveBunnies has been heavily refactored, and this should now be fixed. We'll verify in https://github.com/phetsims/natural-selection/issues/169, so closing this issue.

[2020-08-07 00:49] #161 closed

[2020-08-07 00:51] pixelzoom commented on #168
@amanda-phet said:

Top priority if we're going to do this.

[2020-08-07 00:57] pixelzoom opened #170 "ensure that selection events occur at 4:00 (food) and 8:00 (wolves)"
Running the clock at extreme speeds can make food and wolf points appear in the population graph at times other than 4:00 and 8:00 respectively (the midpoints of the food and wolf slices respectively).   For example in  https://github.com/phetsims/natural-selection/issues/158, @oliver-phet was running with `secondsPerGeneration=1` and using fast-forward, effectively running at `secondsPerGeneratio

[2020-08-07 00:58] pixelzoom commented on #158
This is because he was running the clock at an extreme speed.  The clock only snaps to 12:00, it does not snap to 4:00 (food) or 8:00 (wolves) -- but it will, see #170.  There was such a huge time-step that food was actually applied much later in the clock cycle that it should have been.

[2020-08-07 00:58] pixelzoom commented on #170
Note to self: Snapping occurs in GenerationClock.stepTime.

[2020-08-07 01:01] pixelzoom commented on #158
Food.starveBunnies has been heavily refactored.  I've moved things that we discovered in this issue to #169, where we'll sanity-check the new implementation.  So closing this issue.

[2020-08-07 01:01] #158 closed

[2020-08-07 01:45] pixelzoom commented on #169
I'm going to shake the down next week, before assigning to others for review.

[2020-08-07 01:46] pixelzoom commented on #169
I'm going to shake this down next week. Then I'll be assigning to @amanda-phet for review.

[2020-08-07 01:47] pixelzoom commented on #170
Another option would be to create the points at 4:00 and 8:00, regardless of where the clock happens to be at.

[2020-08-07 14:16] samreid commented on #60
Unassigning until we schedule a collaboration time.

[2020-08-07 21:47] pixelzoom opened #171 "Studio clears tree selection when switching between "Featured" and "All" radio buttons"
See https://github.com/phetsims/studio/issues/168.

In https://github.com/phetsims/studio/issues/168#issuecomment-670699811, @chrisklus said:

[2020-08-07 23:54] pixelzoom commented on #146
Good catch @phet-steele.  Fixed in the above commit.  Please verify in master.

[2020-08-08 00:03] pixelzoom commented on #160
Good to hear!

I don't know what kinds of initial state clients are going to create. But I would suspect that initial states will involve < 100 bunnies. I can't think of a good reason to start with an initial population near the max (750).  @amanda-phet thoughts?

I have no idea what I could do in sim-specific code to make the loading sequence any faster. Bunnies are created 1 at a time when resto

[2020-08-08 00:39] pixelzoom commented on #157
I implemented this in the above commits, but it feels a bit too clever.  It relies on examining the bounds of the parent Node for the plots, and those bounds overlap the grid.   I would prefer an approach that lets me determine the bounds after clipping, to see if anything was actually rendered.

[2020-08-08 00:41] pixelzoom commented on #157
Labeling "blocks-sim-publication", since work on this is now in an intermediate and untested state.

[2020-08-08 01:01] pixelzoom commented on #157
This looked more promising:

[code]

But then I discovered that `plotsNode.clipArea.intersectsBounds( localBounds )` is false if the localBounds is fully contained in clipArea.  So when all of the data is visible, I'm seeing the "Zoom..." message.  I'm not sure if that's a bug or expected behavior for `intersectsBounds`.

[2020-08-08 01:09] pixelzoom commented on #157
This seems to work nicely, so I've committed it:

[code]

I've asked @jonathanolson on Slack if there's a better way. I'll wait until I hear back before working on this further.

[2020-08-08 19:56] samreid commented on #160
To clarify, the original statement said "unlikely".

If we need to support that use case, then we can profile both the simulation code and phet-io stack to look for performance optimization possibilities.  Or we could look for other data structures of optimization strategies.  Self-unassigning until we hear about whether we need to support this use case.

[2020-08-10 18:44] pixelzoom opened #172 "verify wolves selection factor"
Like food in https://github.com/phetsims/natural-selection/issues/169, the wolves code got some cleanup.  So I think we should do another sanity check on wolves.

Things to verify:

- [ ] From #98, wolf-related query parameters values are as described in [NaturalSelectionQueryParameters.js](https://github.com/phetsims/natural-selection/blob/master/js/common/NaturalSelectionQueryParameters.js):

[c

[2020-08-10 19:57] pixelzoom commented on #169
I went through this a couple of times, and it's ready for @amanda-phet to verify in master or [1.1.0-dev.4](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.4/phet/natural-selection_en_phet.html).  Feel free to assign to anyone else that you might also want to have verify.

High priority, since this affects the 1.0 prototype.

[2020-08-10 19:58] pixelzoom commented on #172
I went through this a couple of times, and it's ready for @amanda-phet to verify in master or [1.1.0-dev.4](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.4/phet/natural-selection_en_phet.html).  Feel free to assign to anyone else that you might also want to have verify.

High priority, since this blocks the 1.0 prototype.

[2020-08-10 20:00] pixelzoom commented on #171
The existing RC is for brand=phet only.  So closing this issue as "won't" fix.

[2020-08-10 20:00] #171 closed

[2020-08-10 20:09] pixelzoom commented on #165
I still haven't been able to reproduce this, and the Food model has been revised.

@oliver-phet please attempt to reproduce this in phet-test or [1.1.0-dev.4](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.4/phet/natural-selection_en_phet.html).

[2020-08-10 20:18] pixelzoom commented on #165
Hey, I finally did reproduce this, so assigning back to me.  I guess it must happen intermittently.   In my case, the error was:

[code]

[2020-08-10 20:31] pixelzoom commented on #165
Here's the log just before the above failure.  What's interesting here is that we should have been recording end counts for generation 67, not 68.

[code]

[2020-08-10 21:05] pixelzoom commented on #165
I the above commit, I changed the assertion message to be more informative, and I'm printing the generation number as soon as it changes.

It took me awhile, but I finally made the error happen again. Here the log just before, and the stack trace:

[code]

Notice that it skips from "Generation 728" to "Generation 730".   So what happened is we completely skipped over generation 729.   This is prob

[2020-08-10 21:09] pixelzoom commented on #146
@phet-steele if you don't have VPN access, you can test in https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.4/phet/natural-selection_en_phet.html.

[2020-08-10 21:30] pixelzoom commented on #165
I the above commit, I added an assertion that generation should increase by 1.   That results in:

[code]

I've also noticed that if I run with `secondsPerGeneration` <= 0.2, the sim will stop and hang at generation 42.  There's no error in the console, everything just stops.   I waited for awhile, and there was no stack overflow.

So there are definitely multiple problems with running the clock a

[2020-08-10 22:31] phet-steele commented on #146
https://github.com/phetsims/natural-selection/issues/146#issuecomment-669583613 looks resolved in 1.1.0-dev.4.

[2020-08-10 22:46] pixelzoom commented on #168
@amanda-phet and I chatted a bit about this on Slack.  Based on last Friday's interviews, she's going to adjust the `toughFoodPercentToKill` and `shortTeethMultiplier` query parameters, so that fewer long-teeth bunnies die.

[2020-08-10 22:50] pixelzoom commented on #165
In the above commit, I limited dt such that we have a minimum of 10 steps per cycle of the generation clock.  This will allow us to run the clock at very fast speeds without skipping a generation.

This did not address the problem of the sim hanging when `secondsPerGeneration` <= 0.2.  I'm still investigating, but I may end up requiring `secondsPerGeneration` to be > 0.2.

[2020-08-10 23:02] pixelzoom commented on #169
For this constraint, I realized that the recessive mutants who are waiting to meet eagerly were being excluded from "total population".  After discussing with @amanda-phet, we decided to fix this, since it was easy and less likely to result in future confusion.  That change was made in the above commit.

Please do any further testing with master or [1.1.0-dev.5](https://phet-dev.colorado.edu/html/

[2020-08-10 23:02] pixelzoom commented on #172
For this constraint, I realized that the recessive mutants who are waiting to meet eagerly were being excluded from "bunnies of the other phenotype".  After discussing with @amanda-phet, we decided to fix this, since it was easy and less likely to result in future confusion.  That change was made in the above commit.

Please do any further testing with master or [1.1.0-dev.5](https://phet-dev.colo

[2020-08-10 23:32] pixelzoom commented on #146
Excellent, thanks @phet-steele.  Since the next RC is going to be published out of master, I'm going to go ahead and close this issue.

[2020-08-10 23:32] #146 closed

[2020-08-10 23:35] pixelzoom commented on #152
Since the next RC is going to be published from master, I'm going to go ahead and close this issue.

[2020-08-10 23:35] #152 closed

[2020-08-10 23:35] pixelzoom commented on #153
Since the next RC is going to be published from master, I'm going to go ahead and close this issue.

[2020-08-10 23:35] #153 closed

[2020-08-10 23:39] pixelzoom commented on #157
Discussed with @jonathanolson on Slack.  What I'm doing now is best, especially since it needs to have good performance.

@amanda-phet please review in master or [1.1.0-dev.5](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.5/phet/natural-selection_en_phet.html).  If you want to start with an initial population that triggers this immediately, run with `?brand=phet&ea&log&initialScre

[2020-08-11 01:25] pixelzoom commented on #165
What's currently happening with `secondsPerGeneration=0.2` is very odd.  In GenerationClock.step, `this.timeProperty.value` is being repeatedly set to 8.6, instead of advancing.  So as far as the rest of the sim is concerned, the generation clock has effectively stopped.

[2020-08-11 02:10] pixelzoom commented on #165
I'm glad that I pursue this.  It turned out to be a floating-point error in the conversion to elapsed time to generations.

One would think that 8.6 / 0.2 = 43, but in JavaScript it's 42.99999999999999.  So when we hit generation 43, we got stuck and couldn't advance.   I had compensated for this in one place by adding a small value (0.0001), but it needed to be done in 2 places.  It's not factore

[2020-08-11 17:12] pixelzoom commented on #165
This is working nicely in master, and the next RC will be using master.  So closing this issue.

[2020-08-11 17:12] #165 closed

[2020-08-11 17:15] pixelzoom commented on #160
I'm still unclear on what the State Wrapper's purpose is.  I've only found it to be useful for helping to determine if there are any problems with save/restore of state, and I've generally ignored performance.  Do it have other uses?  How is it intended to be used by the client?

[2020-08-11 17:19] samreid commented on #160
The state wrapper is not intended for use by the client.  It is to help the PhET team debug serialization issues.

[2020-08-11 17:20] pixelzoom commented on #116
As noted in https://github.com/phetsims/QA/issues/522#issuecomment-669640638:

[2020-08-11 17:25] pixelzoom commented on #160
I understand the motivation to use the same wrapper index for PhET internally.  But it seems odd that the wrapper index that's delivered to clients has links to things that are not intended to be used by clients.

But to the point of this issue...  The State Wrapper is for PhET use only, and I haven't heard any reasons to improve its performance for this sim.  So closing this issue.

[2020-08-11 18:29] pixelzoom commented on #140
Following the steps in https://github.com/phetsims/natural-selection/issues/140#issuecomment-665288406, here are test results for the 5 configurations that I tested previously.  I took an average of 3 runs, and I included the previous average in the table.

For `brand=phet`, https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.6/phet/natural-selection_en_phet.html?showTimes&secondsPerGen

[2020-08-11 18:46] pixelzoom commented on #140
On Slack, @zepumph and @samreid identified these 2 issues as relevant, "both about removing things and unregistering constraints or listeners":

https://github.com/phetsims/axon/issues/316
https://github.com/phetsims/axon/issues/317

Labeling this issue as "on-hold" until those issues are addressed.

[2020-08-11 19:08] amanda-phet opened #173 "Change initial location of data probe"
Currently, if the user checks "Data Probe", the probe is placed at the left most edge of the graph (the initial offset is 0). I'd like this initial offset to be somewhere else, such as an offset of 1.5 (so the probe ends up between generations 1 and 2).

Hoping that by having the probe in the middle of the graph, users realize it can be moved around in the graph.

[2020-08-11 19:35] pixelzoom commented on #170
I investigate snapping the clock.  That was not only messy, but could look strange/jerky.

So I decided to always record the events at their desired time.  This ensures that the clock will never skip over a selection factor, and that the selection factor will always be recorded at the correct time.  That is, birth/death at 12:00, food at 4:00, and wolves at 8:00, like:

<img width="507" alt="scree

[2020-08-11 19:35] #170 closed

[2020-08-11 19:53] pixelzoom commented on #173
Implemented in the above commit.  Initial position of the data probe looks like this:

<img width="502" alt="screenshot_465" src="https://user-images.githubusercontent.com/3046552/89942500-edaac780-dbd9-11ea-8587-1c7c16bae3fe.png">

@amanda-phet please review in master, close if it looks OK.

[2020-08-11 20:04] pixelzoom commented on #173
In Slack, @amanda-phet said:

Do you want to do anything about this?  The manipulator (aka "ball") currently has radius=5.   We could probably get away with as large as the graph radio buttons, which have radius=8.  Here are comparison screenshots:

radius=5
<img width="877" alt="screenshot_467" src="https://user-images.githubusercontent.com/3046552/89943459-7413d900-dbdb-11ea-9c6a-aceba1b1be11.pn

[2020-08-11 20:05] pixelzoom commented on #173
And here are the current pointer areas, if you want to adjust that while we're at it.

<img width="881" alt="screenshot_468" src="https://user-images.githubusercontent.com/3046552/89943607-b89f7480-dbdb-11ea-8677-28b5e56a69a4.png">

[2020-08-11 20:59] pixelzoom commented on #169
@amanda-phet FYI...

If apply Limited Food from the beginning, or in the first generation or two, then either the population stabilizes and I reach the 1000-generation limit, or all bunnies die.

But if I wait to apply Limited Food until generation 5, then I can definitely get the bunnies to take over the world.  Since food doesn't affect birth rate, bunnies will be born faster than they die of st

[2020-08-11 21:16] pixelzoom commented on #112
This algorithm is working nicely.  Bunnies are being pruned as expected, and memory consumption is stable.

I did the following few times:

1. Run the sim in Chrome, with `?ea&log&secondsPerGeneration=1`.
2. Go to Lab screen
3. Press "Add a Mate" button
4. Check "Limited Food" at the start of Generation 3
5. Take a Heap Snapshot every 100 generations.

The snapshots were all in the range [32,39] M

[2020-08-11 21:16] #112 closed

[2020-08-11 21:35] pixelzoom commented on #130
Testing over in #112 (prune dead bunnies), memory consumption seems to be stable, no sign of memory leaks.  Memory footprint is largest when bunnies take over the world, and that's ~70 MB, very reasonable for a PhET sim.    Memory consumption is similar for both `brand=phet` and `brand=phet-io`.

The Population graph has a maximum of 3 points (Vector2) per generation.  So for maxGenerations=1000,

[2020-08-11 21:50] pixelzoom commented on #60
This issue is a performance problem that occurs when large numbers of dynamic elements (bunnies) are created.  Which PhET-iO GitHub issues are relevant to this issue?  Or do we still need to investigate where the bottlenecks are?  Assigning to the iO team.

[2020-08-11 21:54] samreid commented on #60
Those are mostly for disposal.  I don't recall a recent performance investigation into creation of large numbers of bunnies.  Want to collaborate on that?

[2020-08-11 22:13] pixelzoom commented on #140
A very unscientific guess at emulating the performance of the Lovelace Chromebook test device...

I tested 1.1.0-dev.6 `brand=phet-io`  on my fastest platform (PixelZoom - 2019 MacBook Pro, macOS 10.15.6, Chrome 84.0.4147.125)  with CPU throttling set to "4x slowdown".   I chose 4x (instead of 16x) because over in https://github.com/phetsims/natural-selection/issues/60 Lovelace was ~5.6x slower th

[2020-08-11 23:07] pixelzoom commented on #60
Investigating in Chrome Dev Tools "Performance" tab...

1. Start the sim in Incognito with `?brand=phet-io&phetioStandalone` (no assertions)
2. Go to Lab screen
3. Press "Add a Mate" button
4. Just before the clock reaches Generation 6, start recording in the Performance tab.
5. Immediately after the "Bunnies have taken over..." dialog is displayed, stop recording in the Performance tab.

Examinin

[2020-08-11 23:25] pixelzoom commented on #60
Notes from Slack discussion with @samreid about the `stepSimulation.execute.(anonymous).emit` branch above:

* `TinyEmitter.removeListener` is currently O(N).  If it's converted to Set, it will be O(1) and will get rid of its 14.3%.

* `phetioEngine.getAllRelatedTypes` could definitely use some optimization. It's using `for in` which may not be the most efficient iterator.  It uses concat/spread o

[2020-08-11 23:40] pixelzoom commented on #60
When I drill down into `stepSimulation.execute.(anonymous).step`, I see lots of occurrences of `initializePhetioObject`, each one being only 1% or 2%.  But looking at Bottom-Up view, they add up to a whopping 16.4% (see screenshot below). Perhaps there's something that can be optimized there.

<img width="647" alt="screenshot_477" src="https://user-images.githubusercontent.com/3046552/89959222-1ab

[2020-08-11 23:47] pixelzoom commented on #60
`PhetioObject.initializePhetioObject` contains 14 calls to `validate`, which are no-ops when `assert` is disabled.  Why are these not short-circuited, so that we aren't calling a no-op function 14x for every PhetioObject?  If I comment out the 14 calls to `validate`, `initializePhetioObject` drops from 16.4% to 5.5% in Bottom-Up view:

<img width="851" alt="screenshot_478" src="https://user-images

[2020-08-11 23:53] pixelzoom commented on #60
I'm going to label this issue as "on hold" until the bottlenecks identified above are investigated by the iO team.

[2020-08-11 23:57] pixelzoom commented on #159
Maybe @ariel-phet has an opinion on this one?

[2020-08-11 23:59] pixelzoom commented on #168
Via Slack, @amanda-phet said that she's like to change these values before her next interviews on Thursday 8/13/2020.

[2020-08-12 02:12] samreid commented on #60
The above commit takes the self time of `ancestorMatches` from 5.3% down to 2.5%.

[2020-08-12 02:20] samreid commented on #60
Changing `getAllRelatedTypes` to use `Array.prototype.push.apply( relatedTypes, typeIO.parameterTypes )` instead of `relatedTypes.push( ...typeIO.parameterTypes )` only shaves down its self time from 2.8% to 2.6%

[2020-08-12 03:04] samreid commented on #60
After the commit in the issue and the commit in https://github.com/phetsims/tandem/issues/200, TinyEmitter.removeListener self-time is taking 20%.  That seems like the next part to work on.

[2020-08-12 12:36] pixelzoom commented on #159
Here's a compromise that seems OK.  I've adjusted the clipArea so that line segments that fall on yMax are not clipped and therefore rendered at their full with.  The top part of a point that falls above yMax is still clipped, but it's much less noticeable. See screenshot below.

@amanda-phet @ariel-phet is this acceptable?

<img width="201" alt="screenshot_480" src="https://user-images.githubuser

[2020-08-12 12:44] pixelzoom commented on #5
@amanda-phet @kathy-phet FYI, the current milestone was to start dev testing at the end of August.  Code review needs to happen before then, and PhET-iO review should be completed before code review (or maybe OK to do in parallel for this sim).  Since we're now at mid-August, raising priority of this review to high.

[2020-08-12 12:59] pixelzoom commented on #150
https://github.com/phetsims/natural-selection/issues/9#issuecomment-550122595 has a "crash course in genetics", maybe use some of that for model.md.

[2020-08-12 14:39] amanda-phet commented on #5
@kathy-phet and I were planning to get to this Monday but she was sick this week. We will likely do this review on Tuesday 8/18/20.

[2020-08-12 14:41] amanda-phet commented on #159
@pixelzoom the "compromise" looks great to me. Thanks for thinking of that option.

[2020-08-12 15:56] pixelzoom commented on #159
Excellent, closing!

[2020-08-12 15:56] #159 closed

[2020-08-12 18:50] amanda-phet commented on #168
Megan confirmed that this is a good idea to allow the long tooth bunnies to take over the world.

I discussed this with @pixelzoom and we should be able to use the current model, as long as there is a function to put a ceiling on the values so that they never multiply to be >100%.

`toughFoodPercentToKill=.45,.6`
`shortTeethMultiplier=1.6`
`limitedFoodMultiplier=1.25`

These values seem to meet al

[2020-08-12 19:32] pixelzoom commented on #168
Changes completed in master and [1.1.0-dev.7](https://phet-dev.colorado.edu/html/natural-selection/1.1.0-dev.7/phet/natural-selection_en_phet.html).  @amanda-phet please review.

[2020-08-12 20:55] amanda-phet commented on #168
I think it looks great!

@oliver-phet do you want to take a look?

[2020-08-12 21:03] amanda-phet commented on #130
I don't see any reason to increase it beyond 1,000 generations. It can certainly happen faster if the user is holding down the fast-forward button, but even still, I don't think it is unreasonable for the sim to reach the limit we've set if they hold down that button for 40 minutes.

[2020-08-12 21:26] pixelzoom commented on #130
Great, then we're done here. Closing!

[2020-08-12 21:26] #130 closed

[2020-08-12 21:30] amanda-phet commented on #173
I love the new starting position and am looking forward to interviewing with it tomorrow.

If the student still doesn't move it, I'll vote for increasing the radius of the manipulator.

[2020-08-12 21:38] amanda-phet commented on #157
Thanks for the query parameter ;) Looks good to me. I also ran it with just 1 bunny to start and got the data to eventually be off the graph, and can confirm that the message showed up in that case too and looked great.

[2020-08-12 21:38] #157 closed

[2020-08-12 22:04] pixelzoom commented on #150
model.md is done and ready for review. @amanda-phet let me know if there's anything you'd like to change.  I'm a little cross-eyed after writing this, so If you see any typos, feel free to correct them.

[2020-08-12 22:22] oliver-phet commented on #168
Yep, the latest is behaving much more like what I would expect!

[2020-08-12 22:25] oliver-phet commented on #169
This behavior bugs me too. I mentioned using fertility in https://github.com/phetsims/natural-selection/issues/158#issuecomment-669291680 but it sounded like it would be difficult to implement? And KP suggested a tiered death model https://github.com/phetsims/natural-selection/issues/153#issuecomment-668709577.

I wonder if we could explore what @pixelzoom wrote in that issue https://github.com/ph

[2020-08-12 22:36] amanda-phet commented on #168
Thanks for reviewing. I think this issue is wrapped up, and further discussion of the food model can happen in https://github.com/phetsims/natural-selection/issues/169.

[2020-08-12 22:36] #168 closed

[2020-08-12 22:38] pixelzoom opened #174 "Population y-axis ranges and tick intervals"
For the Population graph zoom control... The y-axis ranges and tick-mark intervals weren't specified in the design doc. The current values are something that I threw in (somewhat informed by the Java version, but not exactly the same), intending to review later.

There are currently 15 zoom levels.

yMax for the ranges are: `[ 2500, 2000, 1400, 1000, 500, 350, 240, 200, 140, 100, 70, 50, 30, 14, 5

[2020-08-12 22:52] pixelzoom commented on #169
I guess it depends on how realistic we want to make this. In real life, mice (and probably bunnies) eat their young when food becomes scarce.  But my understanding was that we were not going for "real life", we were consciously limiting the things that environmental factors affect.

Making food affect fertility (or longevity) is a can of worms that we really do not want to open.  The reproduction

[2020-08-12 22:53] amanda-phet commented on #114
The illustrator protanopia color-filter doesn't make it seem like the pink+green is a problem. However my color blinding Chrome add-on makes it seem like it _is_ a problem. Since I'm not color-blind, I'm not sure which is more "accurate."

In either case, can you confirm that the pink you are using is #f473a7? It seems bolder than the pink I'm seeing in the sim, which is registering as #CB78A2 usi

[2020-08-13 03:37] pixelzoom commented on #114
There are no clock colors specified in the design doc.  I picked the pink out of one of your mockups using the Digital Color Meter app on macOS, which told me that it's `rgb( 203, 120, 162 )`.   I've been using that color since 6/2/2020.

Easy to change it.  But where did you get `#f473a7`? Did I miss something?

[2020-08-13 03:42] pixelzoom commented on #114
Clock color changed to `#f473a7` in master.  Here the complete set of colors used by the clock, from NaturalSelectionColors.js:

[code]

[2020-08-13 15:23] pixelzoom opened #175 "CT: Assertion failed: should not be in a before value list"
Caused by PhET-iO changes in https://github.com/phetsims/axon/issues/316#issuecomment-673290356 for ` PropertyStateHandler.unregisterOrderDependenciesForProperty`. On hold until that issue is fixed.  This blocks publication of the next prototype RC.

[code]

[2020-08-13 15:49] pixelzoom commented on #169
Slack discussion with @amanda-phet:

Amanda McGarry:spiral_calendar_pad:  3:10 PM

I’m not sure this is true, and can’t find an explanation for why that is the case. Bunnies shouldn’t be born faster since the average rate that they die of starvation is .665, which is very close to compensating for the birth rate.
3:13

So, yes it would concern me, but I am not sure what you’re saying is accurate.

[2020-08-13 16:03] pixelzoom commented on #169
I need to correct this statement. I can make this happen consistently in a couple of generations.

Start the sim with `?log&labPopulation=500&secondsPerGeneration=1&limitedFoodPercentToKill=0.6,0.6`. This will allow us to simulate what happens if we turn on "Limited Food" with a large population (500) and 0.6 is chosen as the percentage to starve. Go to the Lab screen, check "Limited Food", press

[2020-08-13 16:06] pixelzoom commented on #169
More Slack:

Amanda McGarry:spiral_calendar_pad:  9:51 AM
the current `limitedFoodPercentToKill` range averages to .665 I thought. Are you suggesting we don’t do a range, but just do [.665,.665] so we don’t have variability?

Chris Malley  9:51 AM
`limitedFoodPercentToKill=[0.6, 0.73]` I'm not suggesting we keep it constant. I'm demonstrating what happens if the min is randomly selected.

Amanda M

[2020-08-13 16:11] pixelzoom commented on #169
Until we discuss this more, please defer review of the checklist in https://github.com/phetsims/natural-selection/issues/169#issue-674682344.

[2020-08-13 19:40] amanda-phet commented on #173
8/13/20 design meeting:

- in the final interview, the student immediately moved the data probe when it was visible
- we like increasing the radius of the manipulator to  7, and make the touch area as large as it can be without overlapping with the Generation buttons.

[2020-08-13 20:24] pixelzoom commented on #173
In master, the manipulator radius has been changed to radius:7, and its pointer areas have been dilated to 2 x radius = 14.  I also adjusted pointer areas for checkboxes.  Screenshot below. @amanda-phet please review.

<img width="1122" alt="screenshot_482" src="https://user-images.githubusercontent.com/3046552/90183338-90954a00-dd70-11ea-843b-8ba199243a39.png">

[2020-08-13 20:29] pixelzoom commented on #169
At 8/13/20 design meeting:

* @kathy-phet suggested choosing a population limit (say 200, or [190,210]) that could be supported by limited food, and killing bunnies above that limit.  This sounds promising.  Needs to be discussed more, and how it would interact with tough food.

* @kathy-phet suggested changing the order of food and wolves. We weren't sure why this would be necessary or advantageo

[2020-08-13 21:43] amanda-phet commented on #166
There didn't seem to be any concerns with this button group during interviews. Students easily used "Add a Mate" and "Start Over."

[2020-08-13 21:45] amanda-phet commented on #164
Yes, all students interviewed were using the legend to interpret the graphs. I didn't see any issues.

[2020-08-13 21:45] #164 closed

[2020-08-13 21:46] amanda-phet commented on #162
Yes, students understood the generation clock- a full cycle, when mating occurred, and 2/3 easily interpreted the color-coded slices without assistance. While one called a cycle a "day", that could easily be cleared up in a classroom setting, especially since he could tell the x-axis of the population graph was Generations.

[2020-08-13 21:46] #162 closed

[2020-08-13 21:47] amanda-phet commented on #163
Didn't see problem with this. Some students even unchecked total to see the lines clearly, but I didn't notice any issues with interpreting the graphs with overlapping lines.

[2020-08-13 21:47] #163 closed

[2020-08-13 23:59] zepumph commented on #175
Here is a large amount of logging I wrote out to try to get more info about this. It made me realize that there is a good change that I missed a case in the unregister case. I want to do a refactor back in https://github.com/phetsims/axon/issues/316 that will likely make this easier to work on

<details>

[code]