[2019-07-11 20:47] pixelzoom opened #1 "Natural Selection master checklist"
## Design
- [x] **Sim folder and design doc created** (Date: //)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
  - [x] [Sim suggestions doc](https://phet.unfuddle.com/a#/projects/9404/notebooks/3863/pages/105821) rev

[2019-07-11 20:55] pixelzoom opened #2 "credits"
Update credits in natural-selection-main.js.

[2019-07-11 21:13] pixelzoom opened #3 "triage Unfuddle tickets"
The active Unfuddle tickets are:

https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2189
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/2340
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3566
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3775
https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3731

[2019-07-24 19:00] amanda-phet commented on #3
I reviewed all of these and made notes/questions for brainstorming meetings. Do I need to do anything with the actual unfuddle tickets?

[2019-07-25 13:43] pixelzoom commented on #3
I'm not totally clear on the process either (or if there is one).  But ideally, I think that any Unfuddle issues that will be pursued should be transferred to GitHub.  And all Unfuddle issues should be closed.

[2019-08-28 18:05] amanda-phet opened #4 "Artwork needed"
I had a discussion with @megan-phet about this sim and the artwork needs for it, and here is the list of artwork tasks we came up with:

- [x] start with a basic bunny (white, tall ears, short/no teeth)

Then, create the following bunnies that can be easily colored to be white or brown:
- [x] bunny with tall ears and no visible teeth
- [x] bunny with tall ears and long teeth
- [x] bunny with flopp

[2019-10-07 17:06] pixelzoom commented on #4
Addition artwork needed:

- [ ] equator radio button icon
- [ ] arctic radio button icon
- [ ] mutation icon

[2019-10-07 17:47] pixelzoom commented on #4
For these radio buttons:

<img width="109" alt="screenshot_1564" src="https://user-images.githubusercontent.com/3046552/66335277-ee0e6e00-e8f7-11e9-9f91-6ea2860819df.png">

... I need the sun and snowflake icons only, not the background colors.

[2019-10-07 17:50] pixelzoom commented on #4
Looks like I could use fontawesome icons for the above buttons, if you don't mind the sun being a little different.

https://fontawesome.com/icons/sun?style=duotone
<img width="115" alt="screenshot_1565" src="https://user-images.githubusercontent.com/3046552/66335625-a4725300-e8f8-11e9-8c03-04b332d4d52f.png">

https://fontawesome.com/icons/snowflake:
<img width="84" alt="screenshot_1566" src="http

[2019-10-07 17:52] pixelzoom commented on #4
Here's are the fontawesome options for 'sun', https://fontawesome.com/icons?d=gallery&q=sun:

<img width="511" alt="screenshot_1567" src="https://user-images.githubusercontent.com/3046552/66335741-e00d1d00-e8f8-11e9-8afb-16a909b8364a.png">

[2019-10-07 19:00] pixelzoom commented on #4
@amanda-phet I went ahead and used fontawesome icons for the sun and snowflake.  Here's what they currently look like in master, colors are easily changed:

<img width="106" alt="screenshot_1570" src="https://user-images.githubusercontent.com/3046552/66340425-5f531e80-e902-11e9-9c13-1adad49b6304.png">

[2019-10-15 21:53] pixelzoom opened #5 "PhET-iO design"
Version 1.0.0 will include PhET-iO support, likely with client-specific features.  For that to happen, we need to have requirements and do PhET-iO design from the beginning of development.  The PhET-iO section of the design document needs to be fleshed out asap.

[2019-10-16 20:52] kathy-phet commented on #5
@pixelzoom - I have asked for some specifications from our partner based on the design - so we can weave that input into this. I asked yesterday when this issue was started, but unlikely to hear until early next week after they have had a chance to review the latest designs.

[2019-10-16 20:56] ariel-phet commented on #5
@amanda-phet assigning to you for now to bring up at next design meeting that occurs after 10/17, hopefully our client will have some feedback by then.

[2019-10-17 20:24] pixelzoom commented on #5
10/17/19 design meeting:
Completion milestone for PhET-iO design is 12/1/2019.

[2019-10-18 00:34] pixelzoom commented on #4
On 10/8/19, @amanda-phet gave me a "temporary" .ai file containing all of the artwork. I've checked it into GitHub as assets/natural-selection-artwork.ai.  I'm going to use this for the artwork going forward.  @amanda-phet please update this file in GitHub when the artwork is updated.

Eventually, I'd prefer to get individual .ai files for images or groups of related images (e.g. bunnies), so that

[2019-10-23 23:55] pixelzoom commented on #2
Credits in the design doc are:

Chris Malley (developer)
Megan Hoffman
Oliver Nix
Ariel Paul
Kathy Perkins

Credits in the Java version are:

<img width="544" alt="screenshot_1634" src="https://user-images.githubusercontent.com/3046552/67442494-3e572280-f5be-11e9-96ed-909bb2f47c3e.png">

PhET convention is to move the Java credits to "Team". So the HTML5 credits are initially:

<img width="800" al

[2019-10-30 20:20] pixelzoom opened #6 "issues with environment background artwork"
I've added the background artwork for the environment to [1.0.0-dev.6?dev](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.6/phet/natural-selection_en_phet.html?dev).  The artwork was exported from assets/natural-selection-artwork.ai.

This issue identifies problems with the current artwork. See screenshots below.

- [x] The artwork does not fill the play area. Note the thin unfille

[2019-10-31 16:49] pixelzoom commented on #5
10/31/19 status meeting:

I mentioned that I'm becoming uncomfortable with proceeding without requirements. Risk increases as implementation proceeds, and we are 10% of the way along our timeline.

@amanda-phet will schedule a meeting with @kathy-phet, @ariel-phet, and @pixelzoom to discuss both general and client-specific requirements.

[2019-10-31 17:10] pixelzoom opened #7 "requirements for the mutation icon"
The Java version and HTML5 mockups use this mutation icon:

![mutationIcon](https://user-images.githubusercontent.com/3046552/67968456-09099080-fbcd-11e9-9fe3-29d3d5d792d5.png)

This icon appears in 3 places:

* In the title of the "Add Mutation" panel:
<img width="200" alt="screenshot_1660" src="https://user-images.githubusercontent.com/3046552/67968949-db711700-fbcd-11e9-8e68-98e04d127887.png">

[2019-11-04 22:04] pixelzoom commented on #5
Design meeting scheduled for 11/5/19, 10-11am MST.

Agenda:
* Review client requirements doc (see email). “General Elements” section looks straightforward. “Initial conditions of the sim” section requires discussion/negotiation.
* Plan for general PhET-iO design.
* How/where to track client requirements?

[2019-11-04 22:15] pixelzoom commented on #4
I generated PNG files from new .ai files on 10/30/19.  Problems with background artwork are noted in #6.

[2019-11-04 22:21] amanda-phet commented on #4
The mutation icon is being tracked in https://github.com/phetsims/natural-selection/issues/7. Can we close this issue?

[2019-11-04 22:22] pixelzoom commented on #4
Yes, good to close.

[2019-11-04 22:22] #4 closed

[2019-11-04 22:33] amanda-phet commented on #2
Is this new? I am used to seeing original developers and designers listed in those respective categories, not put in the team. Looking at the recently published PhET sim ports, Gas Props follows this convention, but Blackbody, EFAC, Fractions Intro, Build a Fraction, do not. Curve Fitting similarly doesn't follow this convention.

@ariel-phet can you clarify.

[2019-11-04 22:39] pixelzoom commented on #2
I don't know what other developers have been doing.  But if I reuse or port parts of the Java sim, then I definitely list the original Java developer as "developer" because their code is part of the HTML5 implementation.  That was certainly the case in Gas Properties, specifically for collision detection.  That is not likely to be the case for Natural Selection.

[2019-11-04 22:43] arouinfar commented on #2
@amanda-phet the Java version of Gas Properties does not explicitly credit anyone as the lead designer, which is why I'm the only lead listed in the HTLM5 credits. Generally speaking, I'm always co-listed with the Java lead in HTML5 credits.

@pixelzoom sounds like you intended to credit Ron LeMaster as a developer in Gas Props, but he is in the Team section of the credits.

[2019-11-04 22:47] pixelzoom commented on #2
Hmm... I guess I did strictly follow the "move Java credits to team" policy.  I don't think Ron cares, I'll buy him a beer ;)

If someone wants to specify a different policy, please do and I'll follow it.  And if the checklist is being followed, there are multiple opportunities to adjust the credits before a sim is published.  That's why this issue exists.

[2019-11-04 22:57] amanda-phet commented on #3
I closed the issues, since we have already discussed the changes we are planning to make in the HTML5 version of the sim.

I left one open because I noticed the same teacher emailed twice about an issue and I'd like to email him once the port is published. I'll make a new issue for it.

[2019-11-04 22:57] #3 closed

[2019-11-04 22:58] amanda-phet opened #8 "Email teacher when we publish this sim"
Regarding https://github.com/phetsims/natural-selection/issues/3, one teacher had emailed twice and I think he might appreciate a follow-up once the port is published. I don't want to include his email here, so I will leave the issue open and assigned to me until we publish.

https://phet.unfuddle.com/a#/projects/9404/tickets/by_number/3731

[2019-11-06 01:34] pixelzoom commented on #5
11/5/19 design meeting
* @amanda-phet @kathy-phet @ariel-phet @pixelzoom
* We created a new (private) PhET-iO design doc in Google Doc.
* We discussed client's requirements (see notes in PhET-iO design doc).
* We briefly started discussing general requirements and features.
* Action items for @kathy-phet and @pixelzoom are in the PhET-iO design doc. Search for "ACTION ITEM".
* We should have our n

[2019-11-06 02:50] pixelzoom opened #9 "specify the initial population of bunnies"
Client requirements for Natural Selection PhET-iO include the ability to specify the initial population of bunnies.

The description of the initial population includes:
* Which mutations appear in the population
* Whether the mutations are dominant or recessive
* The unique genotypes that occur in the population
* The number of individuals who share each genotype
* Which screen the description app

[2019-11-06 03:11] pixelzoom commented on #9
Additional details, a crash course on genetics:

* The 3 genes types in the sim are: fur, ears, teeth.
* Variants of a gene type are called alleles.
* Every bunny has 2 genes of each type. Those genes may be the same allele (homozygous) or different alleles (heterozygous).
* The default alleles are: white fur, tall ears, short teeth.
* The mutant alleles are: brown fur, flat ears, long teeth.
* Wh

[2019-11-06 03:15] pixelzoom commented on #9
Initial thoughts on query parameters API, copied from the Natural Selection PhET-iO design doc.

3 query parameters:

* `mutations` is an array that indicates which mutations to include, and whether they are dominant (capital letter) or recessive (lowercase letter). F = brown fur dominant, f = brown fur recessive, E = short ears dominant, e = short ears recessive, T = long teeth dominant, t = long

[2019-11-06 03:45] pixelzoom commented on #9
Mentioning @samreid @zepumph and @chrisklus so that they are aware of this. I'd like to discuss (1) whether a query-parameter API will be sufficient, and (2) whether initial population will be automatically restored for Reset All.

[2019-11-06 17:27] pixelzoom commented on #9
11/6/19 phet-io dev meeting:

@zepumph suggested having a Property, something like `{Property.<PopulationDescription>} initialPopulationDescription`. Setting it would clear the PhetioGroup for bunnies and create new bunnies for the initial population.  Then this would be handled like any other Property wrt Reset All.

Questions: What is `PopulationDescription` and how do clients set it via Studio?

[2019-11-06 17:32] pixelzoom commented on #9
Another alternative that was rejected in 11/5/19 design meeting but @samreid proposed again today was to combine genotype and population into one query parameter. E.g.:

`?mutations=F&population=25:FF,50:Ff,25:ff`

[2019-11-08 01:28] pixelzoom opened #10 "Notify Google Group member when sim is published"
In this Google Groups thread on 1/2/18, someone asked about the availability of Natural Selection in HTML5: https://groups.google.com/forum/#!searchin/developing-interactive-simulations-in-html5/Natural$20Selection%7Csort:date/developing-interactive-simulations-in-html5/P-9Nn9AUA6U/1fukayx_BQAJ

I'm creating this issue so that I remember to reply when the HTML5 version is available.

[2019-11-08 22:10] pixelzoom opened #11 "delete unused icons from icon-artwork.ai"
Re icon-artwork.ai, @amanda-phet and I had this Slack conversation:

Chris Malley 2:00 PM
where would I be using these?

<img width="447" alt="screenshot_1682" src="https://user-images.githubusercontent.com/3046552/68514021-cc2b4280-0239-11ea-9a6a-0fb146b79c7d.png">

Amanda McGarry 2:01 PM
I don’t think we’ll be using the brown version of those

Chris Malley 2:01 PM
ok, those were the ones that co

[2019-11-08 22:11] pixelzoom commented on #11
My knowledge of Illustrator is limited. I tried to delete these and could't figure out how to delete both the artwork and their artboards.   @amanda-phet would you mind doing this?  And please mention this issue in the commit message.

[2019-11-09 01:04] amanda-phet commented on #11
No problem. I also organized them a bit better in the new version.

[2019-11-09 01:04] #11 closed

[2019-11-09 01:06] pixelzoom commented on #11
Thanks!

[2019-11-09 05:01] pixelzoom commented on #6
Another option would be to scale the background image in the x dimension to fit the width of the play area.  If the scaling isn't too severe, it should look  OK.

[2019-11-10 22:03] pixelzoom commented on #6
Until we revise the backgrounds, I've simplified them, see screenshots below.  I removed the clouds for Equator (which I think would be a good simplification), and removed the mountains and one of the clouds for Arctic.

<img width="823" alt="screenshot_1684" src="https://user-images.githubusercontent.com/3046552/68551512-e5172d80-03ca-11ea-8df5-e475f5306468.png">
<img width="819" alt="screenshot_

[2019-11-10 22:10] pixelzoom commented on #6
Until we revise the backgrounds, I've simplified them, see screenshots below.  I removed the center trees and all clouds for Equator (which I think would be a good simplification), and removed the mountains and one of the clouds for Arctic.  These PNGs are 781x316.

In general, it would be good to avoid putting anything in the top center (clock) and top-right (radio buttons) of the backgrounds.

<

[2019-11-10 22:12] pixelzoom commented on #6
Other parts of the background to keep simple:

* bottom center (Add a Mate button)
* right side, below radio buttons (Mutation Coming alerts)

[2019-11-11 20:14] ariel-phet commented on #2
@pixelzoom @amanda-phet @arouinfar my understanding went something like this...

For ports, we list the original lead designer in the Lead Design, but generally if there have been significant changes, we put the HTML5 lead first. (So for instance, current Vector Addition lists Mike Dubson first in lead design, but probably Amy should be listed first there)

For software development, if the code is

[2019-11-11 20:34] pixelzoom commented on #2
Thanks @ariel-phet.

@amanda-phet @arouinfar let me know if you want to make changes to the "Lead Design" credit in Natural Selection and Vector Addition respectively.

I'll decide on the "Software Development" credit when we see whether any of the Java implementation gets incorporated into the HTML5 version (so far not).

[2019-11-11 22:46] pixelzoom opened #12 "keys for allele abbreviations"
From the design doc:

This refers to the allele abbreviations, which are as follows in English:

* F = fur dominant
* f = fur recessive
* E = ears dominant
* e = ears recessive
* T = teeth dominant
* t = teeth recessive

As I was deciding on good keys for these strings in natural-selection-strings_en.json, I ran into some interested questions.

First, I considered using keys that might be end up g

[2019-11-11 22:53] pixelzoom commented on #12
For now, I'll going with single-char case-sensitive keys.

https://github.com/phetsims/rosetta/issues/216 (does Rosetta handle case-sensitive string keys?) is a pre-requisite for this issue.

[2019-11-12 00:56] zepumph commented on #12
Yes currently supported in a branch called `a11ystring-plugin` is the ability to have nested string keys in the english JSON file. These then get "flattened out" on build to be just as they look in build sims currently, so nothing needs to change with how rosetta handles them.

This is currently working on the same named branch in friction. See
https://github.com/phetsims/friction/blob/a11ystring-

[2019-11-12 23:54] pixelzoom commented on #7
@amanda-phet and I discussed this a bit on 11/8/19 via Slack.  She was experimenting with using this fontawesome icon:

<img width="81" alt="screenshot_1693" src="https://user-images.githubusercontent.com/3046552/68720395-4cb8ae80-056c-11ea-8407-7cccb0aef9db.png">

Example in the context of Pedigree:

![image](https://user-images.githubusercontent.com/3046552/68720436-7671d580-056c-11ea-8f9c-f8024

[2019-11-13 18:12] pixelzoom opened #13 "requirements for Proportion "Values" checkbox"
Proportion view, from the design doc:

<img width="662" alt="screenshot_1695" src="https://user-images.githubusercontent.com/3046552/68791318-49720100-0606-11ea-81f3-c123264898c0.png">

The behavior of the "Values" checkbox is not specified, and there are no mockups showing the "Values" checkbox unchecked.

On Slack, AM said that it hides the bunny counts, but still displays percentage values, so

[2019-11-13 19:30] pixelzoom opened #14 "requirements for "Values Marker""
The Population graph has a "Values Marker", which displays the values for each plot at a position on the x (Generation) axis.  This feature is underspecified in the design doc, and we haven't made progress discussing it via comments in the design doc, so I'm creating this issue.

Here's the most recent mockup from the design doc, for context:

<img width="661" alt="screenshot_1696" src="https://us

[2019-11-13 19:41] pixelzoom commented on #14
Other questions:

- [ ] Which parts of the Values Marker are draggable? (Consider that all checkboxes may be unchecked.) Should it have a small drag handle on the x axis?

- [ ] The Values Marker shows y (Population) values.  Does it also need to show the x (Generation) value somewhere? If so, what are the values between generations? Generation 2.4?

- [ ] What happens when the Values Marker overl

[2019-11-13 19:43] pixelzoom commented on #7
We discussed this briefly at 10/17/19 design meeting, but there was no decision and no meeting notes.  That's almost a month ago, so raising priority to high.

[2019-11-13 19:54] pixelzoom opened #15 "disable "Environmental Factors" until a mate is added?"
Should the checkboxes in the "Environmental Factors" panel be disabled until a mate has been added?

This panel was originally called "Selection Factors" and now looks like this:

<img width="239" alt="screenshot_1697" src="https://user-images.githubusercontent.com/3046552/68798758-3403d380-0614-11ea-967e-f5e828c16c3d.png">

We discussed this in 10/1719 (?) design meeting, but there are no notes o

[2019-11-13 20:10] pixelzoom opened #16 "names for Ears alleles"
The "Ears" trait is new to the HTML5 version, replacing "Tail". The current terms for these alleles, Tall Ears" and "Flat Ears", are unvetted, and I think worthy of discussion.

Most specifically, there are 5 ways that rabbits “carry” their ears, each with a specific name, see https://en.wikipedia.org/wiki/Lop_rabbit.   The rabbits in our sim have "erect" and "full lop" ears (there are 4 types of

[2019-11-13 20:11] pixelzoom commented on #16
Until we resolve this issue..  Code, filenames, etc. use "erect" and "floppy".

[2019-11-13 20:40] pixelzoom commented on #5
@amanda-phet @kathy-phet please schedule the next meeting.

[2019-11-13 20:42] pixelzoom commented on #9
Unassigning until I start this aspect of implementation.

[2019-11-13 22:05] pixelzoom commented on #12
I can see how this is useful for grouping related things within the JSON.  But if the structure is flattened, how does this help with keeping related things together in the Rosetta UI?
JSON is (by definition) an _unordered_ set of key/value pairs, https://www.oracle.com/technical-resources/articles/java/json.html.

[2019-11-13 22:46] pixelzoom commented on #12
Discussed with @zepumph on Slack.  It sounds like Rosetta is currently relying on order of keys in the JSON, and that just happens to work.  @jbphet can you verify?

If some guaranteed order is important, it would be preferable to get all keys from the JSON, sort them alphabetically, then present them alphabetically in Rosetta.  That would guarantee that (e.g.) all keys of the form "alleles.*" or

[2019-11-14 17:03] pixelzoom commented on #16
Discussed with @amanda-phet on Slack.  We'll use "straight" and "floppy".

[2019-11-14 17:03] #16 closed

[2019-11-14 19:06] amanda-phet commented on #5
@kathy-phet should be available after November 19th. However her schedule looks packed. So I think we should plan to meet during design on 11/21/19.

[2019-11-16 03:24] pixelzoom commented on #12
This turned out to be problematic:

[code]

The `require` statements would be:

[code]

... and `FString` violates naming conventions.

So the new plan is:

[code]

So this is no longer dependent on phetsims/rosetta#216.

[2019-11-16 03:34] #12 closed

[2019-11-20 19:00] pixelzoom commented on #6
On 11/12/19 Slack, @amanda-phet asked my opinion about this more simplified version of the background artwork, and whether this should be PNG files or programmatically created.

![image](https://user-images.githubusercontent.com/3046552/69268728-eb589700-0b8c-11ea-89f6-7b0a18b58ad0.png)

I said:

[2019-11-20 21:47] amanda-phet commented on #6
@pixelzoom maybe during our design meeting (if time) we can discuss the backgrounds to see what @kathy-phet and @ariel-phet think, and if it's feasible for you to create them in code or if you'd still like them as PNGs.

[2019-11-21 21:49] pixelzoom commented on #14
11/21/19 design meeting:

Need a better term than "Values Marker".

[2019-11-21 21:50] pixelzoom commented on #13
11/21/19 design meeting:

"Values" checkbox will show/hide percentage values. Unchecked by default.

[2019-11-21 21:54] pixelzoom commented on #6
11/21/19 design meeting:

Consensus was that the simpler backgrounds (as in https://github.com/phetsims/natural-selection/issues/6#issuecomment-556250687) are nice.   @amanda-phet will provide .ai file.

[2019-11-21 23:15] amanda-phet commented on #6
I uploaded the ai asset for new background artwork. Please let me know if I can help with exporting at the correct dimensions or where the horizon line should be, or anything else.

[2019-11-21 23:47] pixelzoom commented on #13
I've implemented what was decided at this afternoon's design meeting - "Values" checkbox is unselected by default, and hides the percentage values.  You can test drive in [1.0.0-dev.10](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.10/phet/natural-selection_en_phet.html).  Screenshots of unchecked and checked below.

I'm not wild about having this unchecked by default, because the

[2019-11-21 23:51] pixelzoom commented on #6
Thanks @amanda-phet. I've integrated the new backgrounds, screenshots below. You can test drive in [1.0.0-dev.10](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.10/phet/natural-selection_en_phet.html).  Add `?dev` to see the horizon line.  Close the "Mutation Coming" alerts to see what it looks like without them.

My only suggestion might be to move the rightmost cloud a bit to the

[2019-11-22 00:03] pixelzoom commented on #14
11/21/19 design meeting (@amanda-phet @kathy-phet @ariel-phet @arouinfar @oliver-phet @pixelzoom)

We discussed and addressed all checklist items as noted above.

@oliver-phet suggested directly manipulating the graph to scroll it. We decided against this for a11y and phet-io reasons, and a consensus that obvious controls were preferred.

@kathy-phet suggested making the marker follow the "leading

[2019-11-22 16:54] amanda-phet commented on #6
Is the horizon line the lowest point for a bunny's feet? If so, I think that looks good to me.

![image](https://user-images.githubusercontent.com/7852916/69444634-fc7ce180-0d0d-11ea-8940-e60ef4195600.png)

![image](https://user-images.githubusercontent.com/7852916/69444665-0868a380-0d0e-11ea-99c7-9bf7507dbb62.png)

[2019-11-22 17:00] amanda-phet commented on #6
I shifted the clouds, but when I exported the new arctic artwork I was off by 1px from what you have, so I will let you create the new image (sorry).

[2019-11-22 17:02] amanda-phet commented on #13
Let's leave it for now and wait until there is live data before we make a final decision.

[2019-11-22 17:09] pixelzoom commented on #6
Yes.

No problem, I've update in the above commit.

[2019-11-22 18:27] pixelzoom commented on #6
I'm going to go ahead and close this issue.  This is looking good, and we can make additional tweaks later, if needed.

[2019-11-22 18:27] #6 closed

[2019-11-22 18:29] pixelzoom commented on #13
OK., I'll unassign for now, and we can revisit when the implementation is more fleshed out.

[2019-11-22 18:44] pixelzoom opened #17 "positions for food"
Like the Java version, food will be located at fixed positions.  Positions are the same for equator/arctic and tough/tender food.  And I’ll make it easy to move/add/remove food.

@amanda-phet provided these mockups to show where she'd like the food positioned. (Food is not scaled based on z-depth in these mockups, but will be scaled in the sim.)

With "Limited Food" unchecked:

![image](https://us

[2019-11-25 23:26] pixelzoom opened #18 "Proportion: how to display small percentages"
For the Proportion view, we have some decisions to make about how to present percentages that are < 1%.

As an example for discussion, suppose we have 900 bunnies and only 1 of them has long teeth, resulting in “Teeth” proportions of 99.9% short and 0.1% long.

First, there's the question of what percentage value to display.  We’re currently showing percentages rounded to the nearest integer, so t

[2019-11-25 23:33] pixelzoom commented on #14
As noted in #18, for small percentage values, the bars alone are problematic.  A small sliver of a bar is difficult to see. Here are examples for 99% + 1% and 1% + 99%:

<img width="136" alt="screenshot_1709" src="https://user-images.githubusercontent.com/3046552/69586849-16822280-0fa1-11ea-8756-f08b6136070d.png">
<img width="136" alt="screenshot_1718" src="https://user-images.githubusercontent.co

[2019-11-25 23:40] pixelzoom commented on #13
As noted in #18, for small percentage values, the bars alone are problematic.  A small sliver of a bar is difficult to see. Here are examples for 99% + 1% and 1% + 99%:

<img width="136" alt="screenshot_1709" src="https://user-images.githubusercontent.com/3046552/69586849-16822280-0fa1-11ea-8756-f08b6136070d.png">
<img width="136" alt="screenshot_1718" src="https://user-images.githubusercontent.co

[2019-11-26 01:48] pixelzoom commented on #18
So that I can move forward, I've implemented this approach:

<img width="143" alt="screenshot_1719" src="https://user-images.githubusercontent.com/3046552/69592692-fad44780-0fb3-11ea-82c0-4c029f9b82ad.png">

Note that the percentage values can't extend past the left or right edge of the bar, because that would cause layout problems and possible overlapping with adjacent bars.

[2019-11-27 16:25] amanda-phet commented on #18
I think this direction is looking great @pixelzoom . Thinking about the edge case of 1% (or < 1%) I am thinking that for #13 we should probably never have the option to hide values. Let's plan to discuss this at the next design meeting on 12/12/19.

[2019-12-03 18:38] pixelzoom commented on #9
A couple of additional considerations for this feature:

* In the first screen, the only trait is "fur".  So the only valid values for `?mutations` are 'F' and 'f'.  The other abbreviations (E,e,T,t) should cause an error.

* If the mutation for a trait is specified (e.g. `?mutations=T`), then the corresponding row (e.g. "Teeth") in the "Add Mutations" panel needs to be put in the proper state; th

[2019-12-03 18:39] pixelzoom commented on #9
A couple of details that we haven't discussed:

- [ ] Is there any need to specify an initial population that contains no mutations?

- [ ] The allele abbreviations (F,f,E,e,T,t) are translatable. Should the values of for the `?mutations` query parameter use the translated abbreviations, or English?  (I don't know if the former is possible.)

@amanda-phet @kathy-phet your thoughts on the above 2 i

[2019-12-04 16:26] pixelzoom opened #20 "revise 'Bunnies have taken over the world' image"
NOTE: You might want to wait on this until we're certain that the bunnies will not change (after we've seen them in context).

The image of bunnies taking over the world will need to be revised, using new bunnies.  I'm currently using the PNG file from the Java version. The HTML5 image file is [natural-selection/images/world.png](https://github.com/phetsims/natural-selection/blob/master/images/wor

[2019-12-04 16:28] pixelzoom opened #19 "credits in images/license.json"
I'm not clear on who should be credited with which images, and there are some TODO items in license.json for images that were copied from the Java version.  We'll need to sort this out before 1.0.0 publication.

The license file is https://github.com/phetsims/natural-selection/blob/master/images/license.json.

[2019-12-04 16:32] pixelzoom commented on #14
The final issue here is:

Assigning to @amanda-phet to come up with alternative names.

[2019-12-04 16:52] pixelzoom commented on #20
Note that the dialog background is black. So you can either provide the image on a black or transparent background.

[2019-12-04 17:33] pixelzoom opened #21 "how to implement charts?"
@ariel-phet @kathy-phet @amanda-phet

I’m implementing charts/graphs for Natural Selection. Population is an XY plot. Proportions involves bar charts.  Pedigree is a tree.

When I provided my evaluation and estimate for Natural Selection (email 6/4/12019, subject “Natural Selection?”), I said:

Ariel replied:

I’ve looked at [griddle](https://github.com/phetsims/griddle) (PhET’s chart repository),

[2019-12-04 19:11] ariel-phet commented on #21
@pixelzoom I do not see a problem with implementing sim specific charts here. I don't think there is a major issue with them not being reusable/generalizable at this point, since most sims with charts have been going in that direction. And considering your comments above it seems like the most viable option.

If you make something and feel it would be good to add to common code, we will leave that

[2019-12-04 21:11] pixelzoom commented on #21
Understood, closing.

[2019-12-05 18:17] pixelzoom opened #22 "order of icons and abbreviations in Alleles panel"
This mockup for the "Alleles" panel appears in the design doc:

<img width="287" alt="screenshot_15" src="https://user-images.githubusercontent.com/3046552/70261277-55f20100-174f-11ea-8302-14b2c812a874.png">

In absence of an explicit specification, the implicit specification here is that the icons remain in fixed locations, and the abbreviations change to match whether those icons are dominant or

[2019-12-06 19:46] pixelzoom commented on #13
Two more thoughts about this feature:

(1) Rather than hiding the percentage values, perhaps it would be more useful to switch between percentages and numbers of bunnies.

(2) It might be better to put this control in the panel with the bar graphs, so that the panel to the left is purely a legend.

[2019-12-06 19:49] pixelzoom opened #23 "does the Proportions graph advance automatically while the sim is running?"
A question related to the Proportions graph... The design doc says:

What happens when the user is viewing the current generation (call it Generation N), the sim is running, and a new generation begins (call it Generation N+1)?  Does the Proportions graph automatically advance to Generation N+1?

[2019-12-06 19:58] pixelzoom commented on #5
From the Milestones section of the design doc:

We have missed this deadline. And lack of requirements (particularly related to the collection of bunnies and graph data) is holding up model implementation.  This may result in delays for other milestones, including publication.

[2019-12-06 20:19] pixelzoom opened #24 "option to hide the concept of alleles"
From the PHET-io design doc:

This is a feature that will also be available for `brand=phet`.  So it will be controlled via a query parameter, `?allelesVisible=false`.

[2019-12-06 20:19] pixelzoom opened #25 "customize and reset initial state"
Client requirements for Natural Selection PhET-iO include:

This should be handled generally by PhET-iO/Studio, and there should be nothing sim-specific that needs to be done.  A general solution is being tracked in https://github.com/phetsims/tandem/issues/123.   Note that this general solution also needs to address query parameter features like #9 (specify the initial population of bunnies) and

[2019-12-06 20:28] pixelzoom commented on #24
The `allelesVisible` query parameter was added in the above commit.  It currently excludes the entire "Alleles" panel, and will hide alleles in the Pedigree tree (when it's implemented).   When the Alleles panel is excluded, the Pedigree tree expands to fill the available space.

Note that PhET-iO does not currently support conditional creation of elements via query parameters, see https://github.

[2019-12-06 20:38] pixelzoom opened #26 "PhET-iO requirements for "Add Mutations" panel"
Client requirement from the PhET-iO design doc:

Visibility of the entire panel is supported by common code (`SUN/Panel`).

If "Each allele" really means "Each trait" (Fur, Ears, Teeth), then we are talking about rows in the panel. Each row can be made visible/enabled/pickable by appropriately structuring the scenegraph, and this has been done in the currently implementation.

If "Each allele" mea

[2019-12-06 23:56] pixelzoom commented on #5
In the above commits, I made a first (incomplete) pass at instrumenting the view.  I was hoping use this to have a partial Studio tree, to facilitate design discussions.

I ran into major problems, because the PhET-iO toolchain currently does not support incremental instrumentation -- it's "all or nothing" instrumentation.

@samreid and @zepumph worked with me for a bit, and we made a change to `g

[2019-12-07 16:35] samreid commented on #5
In https://github.com/phetsims/phet-io/issues/1589#issuecomment-562864860 I changed studio so it no longer crashes on uninstrumented linked elements.  Here is my comment from that issue:

[2019-12-08 02:43] pixelzoom commented on #24
Unassigning until I implement the Pedigree tree.

[2019-12-09 20:32] amanda-phet commented on #9
I can't see why someone would need to do that, but @kathy-phet should comment.

I have no idea... but it seems like the query parameter should be able to work with the characters that match the locale.

[2019-12-09 20:52] amanda-phet commented on #26
I'm pretty sure this is what the client meant, that they might only want some traits available.

[2019-12-10 00:44] kathy-phet commented on #9
I can actually see that this would be needed, so that the student still gets to add a mutation and select which is dominant and which is recessive and then run forward from there. I think we should support this mode.

If this adds significant complexity/cost, I just don't think we can support it at this time. We have no idea what characters these would be. A teacher tips document in another langua

[2019-12-10 00:50] pixelzoom commented on #9
Can you elaborate? Why is it useful to start with (e.g.) 25 bunnies with no mutations, vs just 2 bunnies?   And if you want this feature, would it be `?population=25`, with no allele abbreviations specified?

No idea what the complexity/cost is until I get fairly deep into it.  And indeed, we don't know what the chars would be.

[2019-12-10 19:16] pixelzoom commented on #5
@amanda-phet @kathy-phet @ariel-phet FYI, many of the client requirements have been implemented, and you can test-drive in https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.13/phet-io/.  Please refer to the design document to see which requirements have been implemented, they are marked with ✅.

[2019-12-10 19:29] pixelzoom opened #27 "alternative name for "play area"?"
What name do we want to use for referring to this part of the UI?  This is important because it will appear in the element id in the PhET-iO API.

<img width="476" alt="screenshot_19" src="https://user-images.githubusercontent.com/3046552/70561574-ee212900-1b47-11ea-8988-38a7d240ce9c.png">

We've been using the term "play area".  But "play area" is being used by a11y.  Every screen now has a [Play

[2019-12-10 19:39] pixelzoom commented on #9
After a brief investigation... It is possible to use translated query parameter values.  The greater complications are (1) parsing the values to extract allele abbreviations, (2) testing in QA, and (3) if the client uses these query parameters in a wrapper, their values will need to match the locale of the sim.

[2019-12-10 19:42] amanda-phet commented on #27
I would cringe every time I called that the "play area" because it doesn't seem appropriate to me either. I would be happy with "displayArea" or "viewportNode".

[2019-12-10 19:51] pixelzoom commented on #9
After a brief investigation... It is possible to use translated query parameter values.

The complications this would introduce are:

(1) Parsing the values to extract allele abbreviations will be trickier -- different char sets, left-to-right, etc.

(2) QA testing will be more involved/expensive -- different char sets, left-to-right, etc.

(3) If the client uses these query parameters in a wrappe

[2019-12-10 19:52] amanda-phet commented on #23
yes

[2019-12-10 20:03] pixelzoom commented on #23
Got it.  If there's no need to discuss with the team, @amanda-phet you can feel free to close this issue.

[2019-12-10 20:04] #23 closed

[2019-12-10 20:34] pixelzoom opened #28 "method of specifying query parameters in Studio"
This sim will have some very complicated query parameters that are related to client requirements. For example, https://github.com/phetsims/natural-selection/issues/9 for specifying the initial population.

There have been multiple references to a “query parameter UI” (for phet and phet-io brands).  I asked the PhET-iO team about this, and they referred me to https://github.com/phetsims/joist/issu

[2019-12-10 20:36] pixelzoom commented on #24
Labeling for design meeting discussion, to discuss and approve the fact that the Alleles panel (and possibly other related things) will appear in Studio regardless of the value of `?allelesVisible`.

[2019-12-10 20:42] amanda-phet commented on #14
It is called a cursor line in https://www.wunderground.com/forecast/us/co/boulder/80302. That's also the term Mike Dubson has used in Calculus Grapher. It is also similar to a scrubber used in video editing.

So I don't lose my ideas, I'm listing them here, and we can try to decide on something tomorrow.
- cursor line
- data values
- values reader
- values slider

Lastly, I wonder what we might do

[2019-12-10 20:58] pixelzoom commented on #14
I'm not wild about "cursor" because it's so overloaded (has a different meaning in scenery).  And the cursor on a chart is not typically constrained to 1 dimension, as ours is. But here's an example that's somewhat similar to our UI component: https://www.amcharts.com/docs/v4/concepts/chart-cursor/ (click "Run Pen" to see the example).

Scrubber seems nice.  Angular (popular JavaScript framework)

[2019-12-11 00:28] pixelzoom commented on #9
When an initial population is specified, is it considered to be Generation 0?

[2019-12-11 00:50] pixelzoom opened #29 "Population graph: scroll and zoom questions"
I have many questions about the scroll (x-axis) and zoom (y-axis) controls on the _Population_ graph.

<img width="641" alt="screenshot_20" src="https://user-images.githubusercontent.com/3046552/70581443-73bace00-1b74-11ea-8733-acd1195def75.png">

Scroll (x axis, Generation)
- [x] What is the width of the x-axis? 7 generations, as in the mockups? (Java x-axis was "Time")
- [x] How much does the x-

[2019-12-11 19:18] ariel-phet commented on #27
Since this is specific to the natural selection sim, I would go with something like `environmentDisplayNode` or something like that, make it very clear we are talking about the spot where environments and bunnies are shown.

[2019-12-11 19:26] amanda-phet commented on #29
I think 7 generations looks decent, but if you start implementing and you think it looks better to have fewer or more, we are flexible.

Yes, we thought 1 generation made sense. I could see 0.5 generations also working here, if 1 full generation seems like too much.

The forward button only becomes enabled when the data exceeds the width of the graph and there is data available to view.

Our thoug

[2019-12-11 19:29] amanda-phet commented on #9
That's a good question. I was thinking generation 1 at first, since that's the moment when there are enough bunnies to mate, but generation 0 probably makes more sense in this case.

A question that comes to mind- if the client specifies an initial population ≥2, should the "add a mate" button be hidden? It doesn't make much sense to have it if there are already plenty of bunnies to mate.

[2019-12-11 19:29] kathy-phet commented on #27
I like the direction @ariel-phet is going since this is Natural Selection specific. Other thoughts:
ecosystemDisplayNode
ecosystemAnimationNode

[2019-12-11 19:30] pixelzoom commented on #27
To clarify... I'm not suggesting that "play area" is an appropriate term, and in fact I feel that it's inappropriate.  But I've heard "play area" used in design discussion more than once, and I want to make sure that we choose a term that's appropriate to be "public facing" in the PhET-iO API.

[2019-12-11 19:37] pixelzoom commented on #9
Generation 0 makes sense to me.  And if it's not generation 0, what do we show between generation 0 and 1 for the Population graph graph, and for generation 0 for the Proportions graph?

The "Add a Mate" button is necessary only if there is 1 bunny.   If a population > 1 is specified, then when the sim starts, the generation clock will start immediately.

[2019-12-11 19:37] kathy-phet commented on #9
So I envision teachers and clients wanting to set the initial population of bunnies (so say 50) so the sim populates with that amount of bunnies (and yes thinking this would be generation 0), then they start mating. ( If they use this approach, we may want to have a different form of "add a mate" button that would start the generation clock. )

The reasoning is that mutations enter a population th

[2019-12-11 19:41] kathy-phet commented on #9
See my comment above. Instead of hiding it maybe change it to "Begin mating" (maybe too explicit) or "Start Generation Clock". So students have a bit of time to process the interface before the bunnies start doing their thing.

[2019-12-11 19:42] pixelzoom commented on #27
Re ecosystem vs environment...  https://difference.guru/difference-between-an-environment-and-an-ecosystem/

Places that we're currently using "environment" (which will appear in the PhET-iO API):

EnvironmentRadioButtonGroup - for selecting equator vs arctic
EnvironmentalFactorsPanel - for selecting wolves, tough food, limited food
EnvironmentModel - part of the model that deals with bunnies and

[2019-12-11 19:43] kathy-phet commented on #9
I vote we just do English on the query parameters. We don't want to set any expectations too for other query parameters. We don't use translations of "screens=". Clients will want to use this across languages, and will not want to have to change the wrapper to do so other than just have the sim in the other language.

[2019-12-11 19:44] pixelzoom commented on #27
Re ecosystem vs environment...  https://difference.guru/difference-between-an-environment-and-an-ecosystem/

Places that we're currently using "environment" (which will appear in the PhET-iO API):

model:
EnvironmentModel - sub-model that deals with bunnies and environmental factors
EnvironmentalFactor - base class for wolves, tough food, limited food
Environments - enumeration of "EQUATOR" and "A

[2019-12-11 19:47] amanda-phet commented on #22
I thought it would be simpler to keep the icons static, but if they can be displayed in the same order as they appear in the Add Mutations panel, that seem ideal to me.

[2019-12-11 19:50] pixelzoom commented on #9
To clarify... We're not talking about translating query parameter keys ("screens"), we're talking about translating query parameter _values_.  And the value for "screens" is an array of numbers.

[2019-12-11 19:53] ariel-phet commented on #28
IMO the manual solution is absolutely acceptable.

Although a UI will be a longterm solution for both iO and PhET brand, the scope of that work seems beyond what is needed for now.

[2019-12-11 20:07] amanda-phet commented on #28
I think the manual solution will be fine, and I don't think we need to confirm this with the client.

[2019-12-11 21:15] pixelzoom commented on #9
So if an initial population > 1 is specified, required the user to push a button to start the generation clock?  That's doable, but this feature sure is getting complicated/expensive.

As for the button label... "Generation Clock" is never identified as such in the UI -- do we really want to introduce this term?  Maybe something less specific, like "Begin Simulation", "Start", "Play"? (Reminder th

[2019-12-11 21:45] amanda-phet commented on #28
12/11/19 meeting decision: manual query parameters are fine.

[2019-12-11 21:45] #28 closed

[2019-12-11 21:51] pixelzoom commented on #27
12/11/19 design meeting @amanda-phet @kathy-phet @ariel-phet @pixelzoom

Let's use `EnvironmentDisplayNode`.
Example element id will be `naturalSelection.labScreen.view.environmentDisplayNode`.

We won't change any of the other names listed in https://github.com/phetsims/natural-selection/issues/27#issuecomment-564702077.

[2019-12-11 21:54] pixelzoom commented on #26
12/11/19 design meeting:

Demoed with Studio in 1.0.0-dev.13. This looks good, closing.

[2019-12-11 21:54] #26 closed

[2019-12-11 22:01] pixelzoom commented on #24
12/11/19 design meeting

Add `phetioDocumentation` for `naturalSelection.labScreen.view.addMutationsPanel` describing that it's not in the scenegraph when `?allelesVisible=false`.

[2019-12-11 22:16] pixelzoom commented on #9
12/11/19 design meeting @amanda-phet @ariel-phet @kathy-phet @pixelzoom

Move "Play Again" button to location of "Add a Mate" button.  "Play Again" goes back to whatever Generation 0 was when the sim started.  Sim plays immediately.

"Play" button appears only when the sim is loaded, if population is > 1.  It appears where the "Add a Mate" button would have been, and instead of the "Add a Mate" bu

[2019-12-12 15:35] pixelzoom commented on #27
Done, renamed as follows:

ViewportNode -> EnvironmentDisplayNode
EnvironmentNode -> EnvironmentBackgroundNode

[2019-12-12 15:48] pixelzoom commented on #24
`phetioDocumentation` was added for the Alleles panel in the above commit.  See screenshot of Studio below.  @amanda-phet @kathy-phet please let me know if you'd like any changes.

<img width="728" alt="screenshot_21" src="https://user-images.githubusercontent.com/3046552/70726932-129e1200-1cbc-11ea-98c2-77d5fdb86777.png">

[2019-12-12 17:16] pixelzoom commented on #9
Summary of what needs to be done:

* Implement `mutations` and `population` query parameters
* Devise something that indicates which screen the query parameters are for
* Query parameter values will use English strings
* relocate "Play Again" button
* add "Play" button

Unassigning until I get to this.

[2019-12-12 17:18] pixelzoom commented on #5
In 12/11/19 design meeting, we discussed all GitHub phet-io design issue, and came up with a (complete?) list of general PhET-iO requirements.  See the design doc for notes.

[2019-12-12 19:01] pixelzoom opened #30 "feedback on initial PhET-iO instrumentation"
An initial pass at PhET-iO instrumentation was done, and can be test-driven in https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.17/phet-io/.  The sim's view is implemented, but the model is not.  So the instrumentation of the view is fairly complete, while the implementation of the model is relatively primitive/temporary.

@amanda-phet and @kathy-phet are going to provide feedback, a

[2019-12-12 19:09] pixelzoom commented on #30
Clarification: Please do not spend any time setting metadata (e.g. `phetioFeatured`) in Studio.  We'll do that sometime after the sim is feature-complete.

[2019-12-12 20:51] pixelzoom commented on #14
12/12/19 design meeting

We decided on "Data Probe".

[2019-12-12 20:52] pixelzoom commented on #22
12/12/19 design meeting:

Allele abbreviation will stay in fixed locations (dominant recessive) and icons will change.

[2019-12-12 21:02] pixelzoom commented on #13
Make "Values" on by default, move to the bottom of the panel.

[2019-12-12 21:06] pixelzoom commented on #18
12/12/19 design meeting:

We're good with this approach. Closing.

[2019-12-12 21:06] #18 closed

[2019-12-12 21:19] pixelzoom commented on #15
Leave them enabled.  Food-related environmental factors will be visible, but will have no effect on the lone bunny, or on a larger initial population until "Play" button is pressed.

[2019-12-12 21:19] #15 closed

[2019-12-12 21:26] pixelzoom commented on #7
12/12/19 design meeting

* Stick with yellow icon, no color coding.
* Use fontawesome DNA icon for now. We will design something else if we want to polish.

[2019-12-12 21:35] pixelzoom commented on #29
I didn't realize that we let a full generation of mating play out before examining the number of bunnies.  I thought we stopped at 1000.   But as @amanda-phet pointed out, that's the way the Java version works.

12/12/19 design meeting:   Make it work like the Java version.  If there are performance problems with having 4000 bunnies, we will revisit.

[2019-12-12 22:06] pixelzoom commented on #13
Done, closing.

[2019-12-12 22:06] #13 closed

[2019-12-12 22:07] pixelzoom commented on #22
Noted in AllelesPanel.js for when I wire this up.  Closing.

[2019-12-12 22:07] #22 closed

[2019-12-12 22:08] pixelzoom commented on #29
12/12/19 design meeting @amanda-phet @kathy-phet @ariel-phet @pixelzoom

Make it work like the Java version.  If there are performance problems with having 4000 bunnies, we will revisit.

[2019-12-12 22:53] pixelzoom commented on #7
I've created MutationIconNode.  Here's how it currently looks in the 'Add Mutations' panel.

<img width="259" alt="screenshot_22" src="https://user-images.githubusercontent.com/3046552/70755529-506c5c00-1cf7-11ea-862f-9a3631476c33.png">

I'm going to close this issue.  If we want to modify this, we'll create a new "artwork" issue.

[2019-12-12 22:53] #7 closed

[2019-12-12 23:43] amanda-phet commented on #24
That looks clear to me.

[2019-12-17 19:18] amanda-phet commented on #30
@kathy-phet and I met today to review the PhET-iO instrumentation progress and have a few thoughts. I also made a few edits to the PhET-iO design doc where the name of a property had changed, simply because I noticed the discrepancy. Feel free to accept if they look right to you.

**Model**

1. We noticed the checkbox state for wolves, limited food, and tough food use enabledProperty(eg. `naturalS

[2019-12-17 19:23] pixelzoom commented on #30
It will probably be most efficient/effective to discuss these face-to-face.  Happy to do that when you have time @amanda-phet.

[2019-12-17 20:21] pixelzoom opened #31 "instrumentation of enabledProperty for environmental factors"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:23] pixelzoom commented on #31
`Wolves`, `Limited Food`, and `ToughFood` are all subclasses of `EnvironmentalFactor`, the general class for environmental factors.  This general class has `enabledProperty`, which is currently the only Property common to all environmental factors.  While an environment factor is enabled, it will have an affect on the bunny population.

As the model is fleshed out, these classes are expected to ha

[2019-12-17 20:26] pixelzoom opened #32 "element name for ...pedigreeModel.earsAllelesVisibleProperty"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:27] pixelzoom commented on #32
There 3 checkboxes in the Alleles panel, and therefore 3 Properties. Those Properties are:

`naturalSelection.labScreen.model.pedigreeModel.furAllelesVisibleProperty`
`naturalSelection.labScreen.model.pedigreeModel.earsAllelesVisibleProperty`
`naturalSelection.labScreen.model.pedigreeModel.teethAllelesVisibleProperty`

... and they determine whether the allele abbreviations for a trait appear in t

[2019-12-17 20:29] pixelzoom opened #33 "element names for graph sub-models"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:30] pixelzoom commented on #33
These are most definitely _not_ display, they are model.  It sounds like we need to have a discussion about the Model-View Controller pattern and terminology.  And "DisplayModel" is like saying "ViewModel".

[2019-12-17 20:31] pixelzoom opened #34 "xMaximumProperty should be phetioHighFrequency:true"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:32] amanda-phet commented on #32
That was related to (1) in that issue, now #31 .

I listed the two instances of checkbox states (checked/unchecked) and noted that they have different formats. `earsAllelesVisibleProperty` is more consistent with other sims (@kathy-phet is more familiar with the other instrumented sims and how they handle checkbox states).

[2019-12-17 20:33] pixelzoom commented on #34
Sounds good.   But is that also the case for these other elements, which update on every clock tick?

`naturalSelection.labScreen.model.generationClock.timeProperty`
`naturalSelection.labScreen.model.generationClock.generationsProperty`

Note that `generationsProperty` is relatively new. It's the _decimal_ number of generations that the generation clock has been running.

[2019-12-17 20:35] pixelzoom opened #35 "EnvironmentRadioButtonGroup does not link radio buttons to Property"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:36] pixelzoom commented on #35
This is a deficiency in `RadioButtonGroup` (common code). It does not create the link between buttons and the Property associated with the group.  I've create https://github.com/phetsims/sun/issues/549, assigned to the PhET-iO team to address.

[2019-12-17 20:37] pixelzoom opened #36 "Links to model Properties in addMutationsPanel"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:38] pixelzoom commented on #36
Yes, it will. But those model Properties don't exist yet.  And there's much to do for this panel (model and view).

Feel free to close this issue if that's an acceptable answer for now.

[2019-12-17 20:39] amanda-phet commented on #36
That's what we thought, but I wanted to ask anyway!

[2019-12-17 20:39] pixelzoom opened #37 "rename graphsRadioButtonGroup?"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:40] pixelzoom commented on #37
I don't think this is an appropriate rename.  There are 3 graph choices in this sim: Population, Proportions, Pedigree.  And these radio buttons select one of those 3 graphs, making the graph and its associated UI components visible.

"Display" is much too generic and could apply to anything you see on the screen.

[2019-12-17 20:41] pixelzoom opened #38 "element names for panels related to graphs"
From https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654:

[2019-12-17 20:46] pixelzoom commented on #38
The Alleles Panel is the only panel that had a specific title, hence "allelesPanel".

Happy to choose other names for the other panels, but "legendPanel" is not appropriate. The other panels are not strictly legends. They contain UI components that acts as a legend (and are named thusly in the code), but they also contain controls (specifically checkboxes).

For example, the Proportions panel look

[2019-12-17 20:48] pixelzoom commented on #30
Since each item in https://github.com/phetsims/natural-selection/issues/30#issuecomment-566708654 seems like its own mini-discussion, I've moved each of them to a separate issue.

I'll leave this issue open and assigned to @amanda-phet and @kathy-phet, since it sounds like they did not complete review of the "view" portion.

[2019-12-17 20:58] pixelzoom commented on #32
@amanda-phet I don't follow.  How are checkboxes for environmental factors (which control whether those factors are enabled) related to the checkboxes for alleles (which control visibility of alleles)?  Are you saying that you expect their Properties to be named "enabled" or "visible" in all cases?  That is not the case -- a checkbox can be associated with _any_ boolean Property.  And "enabled" an

[2019-12-17 21:03] pixelzoom commented on #34
Above I said:

Here's a more current PhET-iO version:
https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.18/phet-io/

[2019-12-17 21:03] pixelzoom commented on #5
If/when you resume review, here's a more current PhET-iO version:
https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.18/phet-io/

[2019-12-17 21:04] pixelzoom commented on #30
If/when you resume review, here's a more current PhET-iO version:
https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.18/phet-io/

[2019-12-17 21:15] pixelzoom opened #39 "identify Properties that should be phetioHighFrequency:true"
Related to #34.

Identify Properties that should be `phetioHighFrequency: true`.

A couple that immediately come to mind:

`naturalSelection.labScreen.model.generationClock.timeProperty`
`naturalSelection.labScreen.model.generationClock.generationsProperty`

Another issue... How do we handle Properties that might be high frequency in some state, but normal frequency in others?  For example, consid

[2019-12-17 21:17] pixelzoom commented on #34
Ah... not so fast.  `xMaximumProperty` is related to the Population graph, and is the maximum of the x-axis range.  When the graph is scrolling, this changes on every clock tick.  But it's also possible that `xMaximumProperty` is changing because the user is doing the scrolling, via the "Generation" spinners below the x axis.  Do we want `phetioHighFrequency:true` is all cases, or only when the si

[2019-12-17 21:48] pixelzoom commented on #34
More about `xMaximumProperty`, see screenshot below.

`xMaximumProperty` is the maximum of the x-axis range on the Population graph. While the sim is playing, the x-axis auto scrolls, and `xMaximumProperty` is kept in-sync with "now".  If the user interacts with the Generation spinners, the sim pauses and the user is controlling the value of `xMaximumProperty`, incrementing/decrementing in 1 Gener

[2019-12-17 21:49] pixelzoom commented on #34
I asked about this issue in Slack phet-io channel.  Here's the very abbreviated summary:

@samreid said:

I asked:

@samreid replied:

So we cannot change `phetioHighFrequency` based on the sim's state.  If we set it to `phetioHighFrequency: true` and high frequency events are disabled, then we will not see changes to `xMaximumProperty` when the user is controlling it.

[2019-12-17 22:00] pixelzoom commented on #34
Btw... We're using `xMaximumProperty` instead of `xRangeProperty` (the x-axis range) because creating a `Range` instance at high frequency is expensive, and the length of the x-axis never changes. So it's sufficient to change the range's maximum, and use the axis length to derive the range's minimus.  The is currently no `xMinimumProperty`. It could be added as a `DerivedProperty` that's specific

[2019-12-18 00:07] pixelzoom commented on #35
Unassigning until phetsims/sun#549 is addressed.

[2019-12-18 18:10] pixelzoom commented on #36
Reopening this one.  It occurred to me that there are no UI components in this panel that have linked Properties.  A push buttons does not have an associated Property, it has a listener that fires when the button is pressed.  The action that listener performs may or may not result in the change to a Property.  In this case, there is unlikely to be a Property involved, and certainly not a Property

[2019-12-18 20:59] pixelzoom commented on #27
Reopening this issue to be revisited.

We decided on  `EnvironmentDisplayNode` for the Node being considered in this issue.  While that name violates well-established PhET naming conventions, I was willing to go along with it.  But then #33 came along and proposed to give sub-models names like "populationDisplayModel".  So I see a pattern here that I need to push back on.

PhET has a convention of

[2019-12-18 21:25] pixelzoom commented on #38
Here's a proposal for naming the panels and graphs.
Test drive in https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.19/phet-io/

[code]

These names follow the convention recommended for PhET-iO instrumentation: the variable name and tandem name are the same, and they match the class name.  For example `populationPanel`, "populationPanel", and `PopulationPanel` respectively in:

[code

[2019-12-19 02:43] pixelzoom opened #40 "Data Probe visibility should be controlled exclusively by the model"
The visibility of the Data Probe needs to be controlled from the model.  The model needs to know whether the Data Probe is visible in order to know what to update. (To improve performance, some things will not be updated while the Data Probe is not visible.)  And the model should definitely not know about the `DataProbeNode` instance or its `visibleProperty`.

I've encountered this scenario repeat

[2019-12-19 17:48] pixelzoom opened #41 "questions about what is initially displayed by the Proportions graph"
Questions about the Proportions graph that are not addressed in the design doc.

Before the generation clock is running, does the Proportions graph show anything? (The Population graph does not.). If it does show something, then additional questions:

When the initial population is 1 bunny and the generation clock is not running, does the Proportions graph show this?:

[code]

When the "Add a Mate

[2019-12-19 20:34] pixelzoom commented on #40
In the more general conversation about phetsims/phet-io#1598, @kathy-phet and @arouinfar requested that we document cases like this, and refer the client to the model for visibleProperty. Be sure to do that here.

[2019-12-19 20:47] pixelzoom commented on #38
12/19/19 design meeting:  https://github.com/phetsims/natural-selection/issues/38#issuecomment-567219875 is good.

[2019-12-19 20:47] #38 closed

[2019-12-19 20:48] pixelzoom commented on #37
12/19/19 design meeting:
`naturalSelection.labScreen.view.graphsRadioButtonGroup` is good.

[2019-12-19 20:48] #37 closed

[2019-12-19 20:53] pixelzoom commented on #33
12/19/19 design meeting.  These names are OK.

[2019-12-19 20:53] #33 closed

[2019-12-19 20:56] pixelzoom commented on #31
12/19/19 design meeting: OK as is.

[2019-12-19 20:56] #31 closed

[2019-12-19 20:58] pixelzoom commented on #32
12/19/19 design meeting: OK as is.

[2019-12-19 20:58] #32 closed

[2019-12-19 21:07] pixelzoom commented on #36
12/19/19 design meeting:  This panel probably does need any linked elements.  We'll revisit when the model is more fleshed out.

[2019-12-19 21:07] #36 closed

[2019-12-19 21:18] pixelzoom commented on #34
12/19/19 design meeting:

Can we handle this in the view, by emitting something when the Generation spinner buttons are interacted with?

Revisit using {Property.<Range>} for Population graph.

[2019-12-19 21:19] pixelzoom commented on #39
12/19/19 design meeting:

Definitely these:

[code]

Others TBD.

[2019-12-19 21:25] pixelzoom commented on #27
12/19/19 design meeting: OK

[2019-12-19 21:25] #27 closed

[2019-12-19 21:26] pixelzoom commented on #30
12/19/19 design meeting:

We reviewed the issues that came of this review.  We're going to pause review and do another pass (with a new issue) when more of the model is fleshed out.   Thanks for the review, and closing this issue.

[2019-12-19 21:26] #30 closed

[2019-12-19 21:32] pixelzoom commented on #41
12/19/19 design meeting:

Yes.

Yes.

Will do, closing.

[2019-12-19 21:32] #41 closed

[2019-12-19 21:37] pixelzoom commented on #5
12/19/19 design meeting:

In #30, we had a productive initial review of the Studio tree (structure and naming). We'll do another review when the model is more fleshed out.

I asked @kathy-phet about what aspects of data stream we should be concerned about for design. There are 2 main things:
(1) which things should be `phetioHighFrequency: true`
(2) adding custom events to the data stream

I'm goi

[2019-12-19 21:45] pixelzoom commented on #39
Done for now, closing.

[2019-12-19 21:45] #39 closed

[2019-12-19 21:56] pixelzoom opened #42 "create a PhET-iO link from view element to model element"
Investigate creating a PhET-iO link (LinkedElement) from a view element to its associated model element.  This was discussed at 12/19/19 design meeting.  We probably don't want to do this everywhere, but it might be nice to do judiciously.  So give it a test drive.

For example, a link from GenerationClockNode to GenerationClock.

Likely steps:

* `GenerationClock extends PhetioObject`

* Generati

[2019-12-19 22:02] pixelzoom opened #43 "Emit the x-axis range when one of the Generation spinner buttons is pressed."
From https://github.com/phetsims/natural-selection/issues/34#issuecomment-567680890...

While the sim is playing, the Population graph's x-axis range autoscrolls on each tick of the clock, so `xRangeProperty` is `phetioHighFrequency: true`.  But we want to see the x-axis range in the data stream when the sim is paused and the user is controlling the range.

Emit the x-axis range when one of the Ge

[2019-12-19 22:07] pixelzoom opened #44 "investigate {Property.<Range>} for ranges of Population axes"
In https://github.com/phetsims/natural-selection/issues/34#issuecomment-566764030, I said:

We discussed and noted that it was desirable to be able to get the x-axis Range, not just its maximum.   I will investigate mutating a single Range instance, and forcing notification.

[2019-12-19 22:33] pixelzoom commented on #42
In the above commit, @samreid  and I created a link from `generationClockNode` (view) to `generationClock` model.   See Studio screenshot below.   This makes it easy to get from the view to the model that it is displaying.

<img width="866" alt="screenshot_36" src="https://user-images.githubusercontent.com/3046552/71215259-7902d180-2274-11ea-9b52-8575a8233f74.png">

We also investigated linking th

[2019-12-19 22:43] pixelzoom commented on #40
Done, closing.

[2019-12-19 22:43] #40 closed

[2019-12-19 22:44] pixelzoom commented on #34
Issues created for outstanding things. Closing.

[2019-12-19 22:44] #34 closed

[2019-12-20 17:11] pixelzoom opened #45 "GraphRadioButtonGroup should have linked element to associated Property"
GraphRadioButtonGroup is a subclass of VerticalRadioButtonGroup.  The implementation of VerticalRadioButtonGroup needs to be changed to create a `property` LinkedElement at the group level, not for the individual buttons.  See phetsims/sun#549.

[2019-12-20 17:12] pixelzoom commented on #35
phetsims/sun#549  has been addressed for RadioButtonGroup. Closing.

[2019-12-20 17:12] #35 closed

[2019-12-20 17:53] pixelzoom commented on #44
This requires only 1 `Range` instance and (presumably) has the desired behavior:

[code]

But I'm not crazy about the client taking control of notification via `notifyListenersStatic`, seems like something to be avoided.

An alternative would be to alternate between two reusable Range instances, but that trade-off is more complicated logic.

[2019-12-24 20:03] #44 closed

[2019-12-24 20:04] pixelzoom commented on #44
Done.  The Population graph now has `xRangeProperty` and `yRangeProperty`.

[2019-12-30 21:37] amanda-phet commented on #20
I downloaded GIMP and opened the files. They are all sort of the same. The question I have is whether or not we want to use the same earth image or not. It's pretty blurry, so I'm sure we could find a better image.

I see the options as: (1) use the original earth image (not sure of the source), (2) find a new earth image (with an appropriate license), or (3) ask ML to draw a "cartoon" image of th

[2020-01-06 18:50] pixelzoom opened #46 "data collection can exceed memory limits"
As designed,  a scenario can potentially run forever.  As long as all bunnies don't die, and bunnies don't take over the world, the current scenario will continue to run, and (more importantly) collect data for the Population and Proportions graph. Memory footprint will continue to grow, and will (eventually) exceed the memory limits of the browser.  This can occur if the population enters a stabl

[2020-01-07 01:29] pixelzoom commented on #29
Population graph scroll and zoom is working.   I deviated a bit from the above requirements:

* width is currently 5 generations, 7 seemed a little cramped

* Java zoom ranges seemed a little odd/cramped, so I improvised.  The HTML5 zoom ranges are currently [ 5, 14, 30, 50, 70, 100, 140, 200, 240, 350, 500, 1000, 2000, 3000, 5000 ].   And the tick spacing for each of those ranges is [ 1, 2, 5, 10

[2020-01-07 01:29] #29 closed

[2020-01-07 01:40] pixelzoom opened #47 "location of view elements in Studio tree"
Over in https://github.com/phetsims/natural-selection/issues/30 (feedback on initial PhET-iO instrumentation) I asked for this specific feedback:

I realized I didn't get feedback on this, so I'm creating this issue.

Specifically, I'm interested in where these things should appear in the Studio tree:

* generationClockNode
* environmentRadioButtonGroup
* addAMateButton
* playButton
* playAgainBut

[2020-01-07 01:44] pixelzoom commented on #45
Addressed by phetsims/sun#549.

[2020-01-07 01:44] #45 closed

[2020-01-07 02:49] pixelzoom commented on #43
In the above commit, I added an Action to GenerationScrollControl.   This control appears below the Population graph, and control the range of the x axis:

<img width="611" alt="screenshot_50" src="https://user-images.githubusercontent.com/3046552/71864498-2a9b6280-30bd-11ea-8712-6a0425ea4dd7.png">

Here's the Action:

[code]

The Action's `execute` method has 2 NumberIO params instead of 1 RangeI

[2020-01-08 20:03] chrisklus commented on #43
In the above commit we fixed a bug in Property where `notifyListenersStatic` wasn't emitting to the data stream like `_notifyListeners` does, so we changed its implementation. Now that that's fixed, the `xRangeProperty` is emitting to the data stream when it's mutated, so it would be superfluous to have an additional Action to emit the same range values.

The following patch removes the Action:

<

[2020-01-08 20:17] pixelzoom commented on #43
Let me clarify...  `xRangeProperty` maybe be updated either automatically (on every clock tick) as the Population graph scrolls.  Or it may be updated manually by the user, using the Generations spinners below the Population graph.  Because it may update on every clock tick, `xRangeProperty` is `phetioHighFrequency: true`.   The designers would like manual control of `xRangeProperty` (via the spin

[2020-01-08 21:09] pixelzoom commented on #43
I discussed the recommendations in https://github.com/phetsims/natural-selection/issues/43#issuecomment-572233507 with @samreid @zepumph and @chrisklus via Slack.

The new PhET-iO feature to be implemented in https://github.com/phetsims/phet-io/issues/1603 makes the Action unnecessary.   In a nutshell, `xRangeProperty` (or any other  `phetioHighFrequency: true`) will still emit a message if it's n

[2020-01-08 21:11] pixelzoom commented on #43
This issue now requires completion of https://github.com/phetsims/phet-io/issues/1603.  I'll leave open and unassigned for now.

[2020-01-14 18:08] pixelzoom commented on #20
I can't find any documentation in Unfuddle about where the earth image came from. @jonathanolson do you recall?

Whatever we decide to do, the "look" should be consistent with other graphics in the sim.  So if we go "cartoon image", it shouldn't too cartoony.

[2020-01-14 18:11] pixelzoom commented on #14
All work has been done here. The only thing left to do is add live data. Closing.

[2020-01-14 18:11] #14 closed

[2020-01-15 21:25] amanda-phet commented on #46
I thought I had replied to this right away. My inclination is to limit the number of generation, if that number can be large enough that most people won't easily approach it.

Do you have any idea how long it might take to reach the browser memory limits? Should we wait for QA to test the memory use once the model is up and running, or will the decision impact how you start working on the model?

[2020-01-16 17:22] pixelzoom commented on #46
If we decide that having a max number of generations is the proper strategy, then I'm fine with waiting for QA to decide what that max number should be.  But we should not wait to decide on a strategy.

I don't know how many generations it might take to cause a memory problem.  This sim isn't storing  any big data structures, so I would guess that it will be a large number of generations, probably

[2020-01-16 18:34] pixelzoom commented on #42
1/16/2020 design meeting:

* We think that links to significant objects ("chunks") in the model would be useful.  I'll add these for the top-level sub-models and dataProbe.

* @samreid suggested linking from model to view.  Concerns that this would make the tree more complicated.  We could put it in the right-side, something like "Observers" under "Metadata".   We decided to table this discussion,

[2020-01-16 19:06] pixelzoom commented on #42
We now have links from these view elements to their corresponding model elements:

[code]

@amanda-phet please have a look in https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.22/phet-io/.   If this looks like a good start you can close this issue, and we can refine further in the future if needed.

[2020-01-16 20:41] pixelzoom commented on #20
1/16/20 design meeting:

Go with a realistic looking Earth like in Java sim, try to find an existing image with appropriate license. @amanda-phet will investigate.

[2020-01-16 20:45] pixelzoom commented on #46
1/16/20 design meeting:

We'll go with max number of generations, followed by a dialog.  We'll figure out what max number is later.

[2020-01-16 20:51] pixelzoom commented on #47
1/16/2020 design meeting:

Current structure is good for now.  Revisit when there are more elements under naturalSelection.labScreen.view.environmentNode.

[2020-01-16 20:52] pixelzoom commented on #42
1/16/2020 design meeting:

Looks good, closing. We can refine further in the future if needed.

[2020-01-16 20:52] #42 closed

[2020-01-16 20:57] pixelzoom commented on #43
phetsims/phet-io#1603 has been addressed and closed.  I tested in Natural Selection, and it's working nicely for `xRangeProperty`.  Closing.

[2020-01-16 20:57] #43 closed

[2020-01-16 23:04] amanda-phet commented on #20
I think I found the original photo, and perhaps the original artist added an effect (in GIMP, which is basically photoshop) to make it intentionally look less detailed and more cartoony.

https://www.pexels.com/search/earth/ (first result on this page.)

I can try a quick mockup using this stock photo but we might want to use the "original" after all.

[2020-01-23 01:44] pixelzoom commented on #17
@amanda-phet this is ready for review in [1.0.0-dev.23](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.23/phet/natural-selection_en_phet.html).  If you run with `?dev`, you'll see the food labeled like your mockups (A1, A2, B1, B2, C1, C2).  The food with a '2' will be removed when "Limited Food" is checked.

If this looks good enough for now, feel free to close this issue.  It's e

[2020-01-31 15:56] pixelzoom opened #48 "data probe drag listener is broken"
Data probe cannot be dragged.  It was working in [1.0.0-dev.21](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.21/phet/natural-selection_en_phet.html) 1/8/20, broken in [1.0.0-dev22](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.22/phet/natural-selection_en_phet.html) 1/16/20.

[2020-01-31 15:58] pixelzoom commented on #48
Fixed in above commit.  Had to change `locationProperty` to `positionProperty` now that `DragListener` has been changed.

[2020-01-31 15:58] #48 closed

[2020-02-03 22:26] amanda-phet commented on #17
Thanks @pixelzoom . Once we see bunnies hopping around I might have a better idea but for now this looks good.

[2020-02-03 22:26] #17 closed

[2020-02-03 22:38] amanda-phet commented on #46
Initial pass at a dialog for this case when the user has reached the maximum number of generations. We discussed it saying something along the lines of "Congrats, your bunny population is stable!" but it is possible that the user can reach the maximum number of generations and it not be in a stable state at that time.
![image](https://user-images.githubusercontent.com/7852916/73697070-eccd3200-469

[2020-02-04 03:19] pixelzoom commented on #46
Does "Your bunnies have lived for N generations" communicate that we're stopping because that's the upper limit of the sim?  I'm not so sure...  And for big N, there won't be any bunny that will have lived for N generations -- the population will have have existed for N generations -- so the message is a bit misleading.

I don't have a better suggestion at the moment, but I'll think about it.

[2020-02-11 21:45] pixelzoom commented on #24
I'm going to go ahead and close this.  It will get another review and opportunity for change later in the process.

[2020-02-11 21:45] #24 closed

[2020-03-06 23:53] pixelzoom opened #49 "Verify that public-facing query parameters fail gracefully"
Verify that public-facing query parameters fail gracefully using the general features under development in https://github.com/phetsims/joist/issues/593.  This is on hold until that issue is addressed.

[2020-03-30 21:56] pixelzoom opened #50 "UX for selecting a bunny"
The selected bunny determines what is displayed in the Pedigree graph.

In the Java version, there is initially no selection. The Pedigree graph displays "Click a Bunny":

<img width="1023" alt="screenshot_229" src="https://user-images.githubusercontent.com/3046552/77965597-93e6d800-729e-11ea-82cb-7dde5bbd1f40.png">

When you do select a bunny, a blue rectangle appears around it:

<img width="1023

[2020-03-31 22:05] pixelzoom commented on #50
Proposal...  Like Java version, but with these changes:

* Use "Select a Bunny" instead of "Click a Bunny" in the Pedigree graph, since "click" is specific to mouse input. This is displayed by the Pedigree graph whenever there is no bunny selected.
* Allow the user to "pointer down" somewhere else in the environment (anywhere except on a bunny) to clear the current selection.
* When a bunny dies,

[2020-03-31 22:10] pixelzoom commented on #50
Proposal...  Like Java version, but with these changes:

* Use "Select a Bunny" instead of "Click a Bunny" in the Pedigree graph, since "click" is specific to mouse input. This is displayed by the Pedigree graph whenever there is no bunny selected.
* Allow the user to "pointer down" somewhere else in the environment (anywhere except on a bunny) to clear the current selection.  This seems useful si

[2020-04-01 02:53] pixelzoom opened #51 "NumberSpinner should use NumberDisplay"
In https://github.com/phetsims/sun/issues/575, NumberSpinner is supposed to be modified to use NumberDisplay, specifically to achieve a desired PhET-iO tandem structure. Since this sim uses NumberSpinner, we'll need to decide if completion of that issue is a prerequisite.

[2020-04-02 16:37] amanda-phet commented on #50
@pixelzoom I like your proposal. Bullets 1 and 2, about selecting a bunny and allowing the user to deselect a bunny.

I'm not sure about clearing the pedigree when the bunny dies. I think someone could in theory be analyzing the pedigree and it could disappear while in the middle of viewing it. I don't see the harm in keeping the pedigree of a dead bunny.. I realize it's strange that they won't se

[2020-04-02 16:51] pixelzoom commented on #50
Thanks @amanda-phet, I agree - let's not clear the Pedigree graph when the selected bunny dies.

So this proposal is now fully implemented.  To summarize:

* Use "Select a Bunny" instead of "Click a Bunny" in the Pedigree graph, since "click" is specific to mouse input. This is displayed by the Pedigree graph whenever there is no bunny selected.
* Allow the user to press somewhere else in the envi

[2020-04-03 21:18] pixelzoom commented on #17
For posterity...  As I mentioned in https://github.com/phetsims/natural-selection/issues/17#issuecomment-577467404, running with `?dev` labels the food.   Once I started PhET-iO instrumenting food, it became burdensome to label as shown in the screenshots above.   So food is now labeled using tandem names, as shown in the screenshot below. Odd-numbered food is removed when "Limited Food" is checke

[2020-04-07 15:23] pixelzoom commented on #50
@amanda-phet @kathy-phet @ariel-phet ping - I don't want to get too further along before getting your input on this.

[2020-04-07 19:36] amanda-phet commented on #50
This seems to be working as desired.

This is nitpicky but I think the corners of the blue rectangle could be slightly less rounded.

If I start the sim with more bunnies am I able to see a pedigree? Or is that still in the works?

[2020-04-07 19:47] pixelzoom commented on #50
I hate the square corners in the Java version.  So I started by matching the roundness of other rounded corners (radio buttons, panels, ... ) for a uniform look.  It's trivial to change if you'd prefer a different corner radius.

The selected bunny does not yet appear in the Pedigree graph, but "Select a Bunny" text does.

[2020-04-07 19:51] amanda-phet commented on #50
It must be an illusion then, because I thought they seemed more rounded than the panels. No need to change if they are in fact the same.

[2020-04-07 20:13] pixelzoom commented on #50
It's a little tricky because the bunnies are scaled, so I have to compute the corner radius to make them similar to panels, etc. -- and they are indeed off a little bit.  I've changed how bunnies (and all sprites) are scaled in the above commit, so now the corner radius is spot-on identical to panels. Easy to change if you'd like something else, and thanks for the feedback.

The feedback I'm most

[2020-04-09 01:52] ariel-phet commented on #50
@pixelzoom @amanda-phet overall I think this design/interaction looks really good!

My one suggestion would be to move the text for "Select a Bunny" to near the top of the empty panel. It seems putting it closer to the play area would be a better cue, and it feels a little lost to me in all the white space.

[2020-04-09 18:39] pixelzoom commented on #50
Thanks for the feedback @ariel-phet.  I've centered 'Select a Bunny' in the upper third of the panel, see screenshot below. Better?

<img width="920" alt="screenshot_249" src="https://user-images.githubusercontent.com/3046552/78929174-25083c80-7a5f-11ea-9f10-2d8ff3672288.png">

[2020-04-10 14:59] KatieWoe opened #52 "CT invalid hopDelta"
[code]

[2020-04-10 17:04] pixelzoom commented on #52
Fixed in the above commit.  This was a problem with type validation during phet-io deserialization.  I generalized `validatedInstance` for all serializable classes, so that the same validation is performed on construction and on deserialization.

I'll leave this open for a couple of CT cycles before closing.

[2020-04-10 17:23] pixelzoom commented on #52
Passing CT. Closing.

[2020-04-10 17:23] #52 closed

[2020-04-10 19:33] pixelzoom commented on #50
We haven't gotten @kathy-phet's input.  But it feels like we have consensus on this, so I'm going to close this issue because I need to move forward.

[2020-04-10 19:33] #50 closed

[2020-04-14 18:53] amanda-phet opened #53 "Should time pass before generation clock begins?"
In the Java sim, a bunny ages right away, and could theoretically die if you don't add a mate in time. In the HTML5 sim, the generation clock and population chart don't start until a mate is added. Recording the decision here about how to handle this discrepancy:

Amanda McGarry  12:44 PM
Hey Natural Selection team. CM and I were just discussing the issue of time passing when the sim starts up, bu

[2020-04-14 18:55] pixelzoom commented on #53
👍 Closing.

[2020-04-14 18:55] #53 closed

[2020-04-17 22:37] pixelzoom opened #54 "what happens after "Start Over" button is pressed?"
If the sim is started with an initial population of 1 (the default), the "Add a Mate" button is visible. Pressing this button adds a mate and started the generation clock.

<img width="1022" alt="screenshot_270" src="https://user-images.githubusercontent.com/3046552/79618502-7354b580-80c7-11ea-969a-1fb5e2255377.png">

If the sim is started with an initial population > 1, the "Play" button is visib

[2020-04-17 22:40] pixelzoom opened #55 "should "Add a Mate", "Play", and "Start Over" buttons unpause the sim?"
If the user had paused the sim, should the "Add a Mate", "Play", and "Start Over" buttons automatically unpause the sim?  Or should we never automatically unpause the sim, and leave it to the user to figure out why pressing "Play" doesn't do anything?

I think the former (unpause the sim) is the least confusing, since we have 2 independent time-based things that can be "playing" - the sim and the

[2020-04-20 21:29] amanda-phet commented on #54
Yes, restore 1 bunny and the "add a mate" button.

Yes, restore N bunnies and the "play" button.

Decisions during a discussion with @pixelzoom 4/20/20:
* Change the "Play Again" button to "Start Over"
* Change the behavior so that the users settings (mutations, environmental factors, and checked graphs) are actually reset. Mutations must be, and therefore it makes more sense that the checked grap

[2020-04-20 21:37] pixelzoom commented on #54
I made the changes we discussed in the above commit.

There's still a bit of a usability problem here. When I press "Start Over", the "Add a Mate" or "Play" button appears in it's place.  The buttons are all the same color, and they appear in the same place.  So it's easy not to notice that the "Start Over" button was replaced, and you have to click another button to continue.   This is especially

[2020-04-21 02:00] amanda-phet commented on #54
I'd like to see how it feels when I can play with it next. But we could also see what happens in interviews. I'm not sure I see it as a huge concern if the buttons are in the same place.

[2020-04-21 02:09] amanda-phet commented on #55
@pixelzoom and I discussed this today. It seemed reasonable to keep the sim paused if the user put it in that state, but also extremely confusing if the user clicks "play" or "add a mate" and the sim is frozen. So I think it makes the most sense to unpause the sim when the user clicks "start over" (what was formerly "play again"). @pixelzoom please correct me if I forgot something or misremembered

[2020-04-21 16:11] pixelzoom commented on #55
Implemented as requested in master and [1.0.0-dev.32]():

* Pressing "Add a Mate" does not change the time controls.
* Pressing "Play" does not change the state of the time controls.
* Pressing "Start Over" set the state of the time controls to playing.

@amanda-phet please review, and incorporate (or link) this info into the design doc. Then feel free to close this issue.

To make testing easier.

[2020-04-21 16:26] pixelzoom commented on #55
Implemented as requested in master and [1.0.0-dev.31](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.31/phet/natural-selection_en_phet.html):

* Pressing "Add a Mate" does not change the time controls.
* Pressing "Play" does not change the state of the time controls.
* Pressing "Start Over" set the state of the time controls to playing.

@amanda-phet please review, and incorporate

[2020-04-21 16:31] pixelzoom commented on #20
This dialog is now live in master and [1.0.0-dev.31](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.31/phet/natural-selection_en_phet.html).  So I can use new artwork anytime that it's available.

[2020-04-21 16:47] pixelzoom opened #56 "PhET-iO requirements for Population graph"
As we've discovered with other parts of this sim, knowing PhET-iO retirements up front informs how the features are implemented.   And that's going to be especially true for the graphs.  In https://github.com/phetsims/natural-selection/issues/21, the decision was made to implement sim-specific graphs, and not to use griddle or a 3rd-party library.  The graphs must also be PhET-iO instrumented.  So

[2020-04-21 16:49] pixelzoom opened #57 "PhET-iO requirements for Proportions graph"
As we've discovered with other parts of this sim, knowing PhET-iO retirements up front informs how the features are implemented.   And that's going to be especially true for the graphs.  In https://github.com/phetsims/natural-selection/issues/21, the decision was made to implement sim-specific graphs, and not to use griddle or a 3rd-party library.  The graphs must also be PhET-iO instrumented.  So

[2020-04-21 16:50] pixelzoom opened #58 "PhET-iO requirements for Pedigree graph"
As we've discovered with other parts of this sim, knowing PhET-iO retirements up front informs how the features are implemented.   And that's going to be especially true for the graphs.  In https://github.com/phetsims/natural-selection/issues/21, the decision was made to implement sim-specific graphs, and not to use griddle or a 3rd-party library.  The graphs must also be PhET-iO instrumented.  So

[2020-04-21 17:20] pixelzoom opened #59 "Studio and wrappers becomes unusable as the number of bunnies increases"
Studio becomes unresponsive as the number of bunnies increases. This is due to the fact that Studio handling of dynamic elements is not scalable, see https://github.com/phetsims/studio/issues/122.  This issue makes it impossible to use Studio while implementing Natural Selections, a serious impediment to development.

The same problem occurs with the "Launch" feature in Studio, and other wrappers

[2020-04-21 17:42] pixelzoom opened #60 "sim pauses when large numbers of bunnies are born"
Related to https://github.com/phetsims/tandem/issues/173 (PhetioGroup is not scalable).

As the number of bunnies increases, we start to experience problems with responsiveness and performance.  This is even before starting to collect the large amounts of data mentioned in #46.

When large numbers of bunnies mate at 12:00 on the generation clock, that results in many calls to `PhetioGroup.createNe

[2020-04-21 17:44] pixelzoom commented on #60
This problem can be demonstrated with https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.31/phet/natural-selection_en_phet.html?secondsPerGeneration=1

1. Go to the Lab screen
2. Press the "Add a Mate" button
3. Observe how the pause in animation increases with each successive generation.

[2020-04-21 17:50] pixelzoom opened #61 "responsiveness of "Reset All" and "Start Over" buttons"
Related to https://github.com/phetsims/tandem/issues/173 (PhetioGroup is not scalable).

As the number of bunnies increases, we start to experience problems with responsiveness and performance. This is even before starting to collect the large amounts of data mentioned in #46.

When bunnies have taken over the world, a dialog is displayed.  After closing that dialog, a "Start Over" button is displ

[2020-04-21 18:00] pixelzoom commented on #59
The same problem occurs with "Launch" feature in Studio, and other wrappers (e.g. State Wrapper).  Those tools have become unusable.

[2020-04-22 23:35] pixelzoom commented on #61
I noticed that this pause is significantly shorter in the built version.  So there may be some expensive assertions that are responsible for some of the delay.

[2020-04-23 18:47] samreid commented on #21
At today's meeting, we discussed the possibility that other phet developers could prepare griddle for usage in natural selection.  Reopening.  Next steps will be prioritization & delegation and making sure the developers understand the design requirements.

[2020-04-23 18:57] pixelzoom commented on #21
Reopening this issue to revisit.

At 4/23/20 phet-io meeting, @samreid noted that other sims have a need for charts, and that it would be a shame if charts in Natural Selection were sim-specific.  I agree.  I've brought up the general need for charts before (most recently in phetsims/tasks#979) and the conclusion was that PhET will "roll its own" package.   PhET has so far not rolled its own.  gri

[2020-04-23 19:16] pixelzoom commented on #59
This was discussed in 4/23/20 phet-io meeting, see https://github.com/phetsims/studio/issues/122#issuecomment-618602285.

It was also suggested that this sim may need ultimately need to use an approach other than PhetioGroup.  If that happens at this phase in implementation, "feature complete" date will be pushed out significantly.

[2020-04-23 21:00] pixelzoom commented on #21
4/23/20 design meeting with @amanda-phet @ariel-phet @kathy-phet @samreid

* Continue down the sim-specific path.
* Make the code general where possible, for future-proofing.
* In the future, replace sim-specific components with griddle components, as they mature.
* OK to close this issue.

[2020-04-23 21:00] #21 closed

[2020-04-23 21:18] pixelzoom commented on #60
@samreid determined that 58% of time is in allocating BunnyNode, 31% is in allocating the PressListener for each BunnyNode (used to select bunnies).  See profiler screenshot below.   He suggested pre-allocating 3000 BunnyNode instances.  Since we don't know what a BunnyNode will look like until a Bunny is born, BunnyNode would need to be fully mutable.

![image](https://user-images.githubuserconte

[2020-04-23 21:19] samreid commented on #60
I also mentioned on slack:

[2020-04-23 21:42] pixelzoom commented on #60
Notes on computations of how many Bunny instances are needed.

**Live bunnies**: Bunnies take over the world when the population is >= 1000.  So the maximum number of live bunnies occurs when 998 bunnies mate.  998 live bunnies + 998/2 pairs * 4 bunnies per litter = 2994 live bunnies.

**Dead bunnies**: For the selected bunny, the Pedigree graph will display 4 generations of ancestors, which is 30

[2020-04-23 22:53] pixelzoom commented on #60
More discussion on total number of bunnies with @samreid on Slack.  We think the total number of Bunny instances maybe be ~4000 per screen.

Sam Reid  4:06 PM
So a loose upper bound for number would be 4000, since you need to keep dead bunnies <=4 generations away?

Chris Malley  4:07 PM
I don't follow. 4 generations is 30 ancestors per bunny.

Sam Reid  4:28 PM
Right but generation N-1 has a max

[2020-04-23 23:03] pixelzoom commented on #60
More thoughts on pre-allocation, after discussing with @samreid via Zoom ...

Pre-allocating would mean that PhetioGroup is unnecessary.  That represents a lot of work here, but at least it has informed PhetioGroup evolution.

Pre-allocating BunnyNode instances seems doable.  It's currently a matter of associating a new Bunny instance with the BunyNode, and changing the BunnyNode's image based on

[2020-04-24 01:34] pixelzoom commented on #60
In https://github.com/phetsims/natural-selection/issues/60#issuecomment-618677008, @samreid noted that PressListener allocation for each BunnyNode was a significant cost.  In the above commit, I'm now using a single PressListener for the entire collection of BunnyNodes, rather than one per BunnyNode.

[2020-04-24 01:41] pixelzoom commented on #60
The build version is now feeling pretty responsive.

[2020-04-24 22:45] pixelzoom opened #62 "PhetioGroup metadata improvements"
Suggestions from @zepumph on the Slack phet-io channel:

- [x]  BunnyNodeGroup setting phetioState: false is redundant, see PhetioDynamicElementContainer.js

- [x] It is helpful for performance (though it will still work without it) if you set the view PhetioGroups to supportsDynamicState: false, since they just listen to the model, and don't actually deal with the state engine.

[2020-04-24 22:50] pixelzoom commented on #62
Done, tested in State Wrapper.

[2020-04-24 22:50] #62 closed

[2020-04-27 17:21] pixelzoom opened #63 "make it easier to select a bunny"
Use the scenery enhancement described in https://github.com/phetsims/scenery/issues/1049 (hit test on non-transparent pixels) to make it easier to select a specific bunny.  Images are currently treated as rectangular regions, which sometimes makes it difficult to select a bunny that is partially behind some other bunny.

This issue is on hold until that feature is implemented.

[2020-04-27 18:34] pixelzoom opened #64 "CT: false is not a function"
Started occurring in CT 4/27/2020 @ 10:29:28am.  Does not occur in unbuilt version, so probably a missing `assert &&` before `assert`.

[code]

[2020-04-27 18:37] pixelzoom commented on #64
Reproduced in unbuilt version by running without `?ea`.  Fixed in the above commit. Closing.

[2020-04-27 18:37] #64 closed

[2020-04-29 17:43] pixelzoom commented on #61
Running unbuilt on a MacBookPro16,1, in Chrome.

With an initial population of 1, and running until bunnies take over the world (1434 Bunny instances):

With `?ea`:
Pressing "Start Over" calls `model.reset`, and takes 3722 ms.
Of that, 3716 ms is spend in `bunnyGroup.clear`.

Without `?ea`:
Pressing "Start Over" calls `model.reset`, and takes 101 ms.
Of that, 97 ms is spend in `bunnyGroup.clear`.

[2020-04-29 21:03] amanda-phet commented on #56
I think these PhET-iO requirements are complete for the population graph. We think an instructional designer would want to get the number of bunnies at a given time, so essentially all of those graph values (total, white fur, brown, fur, etc.) in an array.

Let's discuss tree structure and data stream at design meeting.

[2020-04-29 21:21] amanda-phet commented on #55
Looks good, and I added this to the controls section of the design doc.

[2020-04-29 21:21] #55 closed

[2020-04-29 21:37] amanda-phet commented on #54
I meant that I would like to interview on this first to see if it is in fact a usability concern.

I'm open to making the "Start Over" button a different color. Perhaps white, since there are no bunnies in the play area at that time? We could also put it in the center of the play area as opposed to the bottom.

[2020-04-29 22:20] pixelzoom commented on #54
There are only no bunnies if they all died. If they took over the world, then the environment will be full of bunnies.

[2020-04-30 01:24] samreid commented on #61
The profiler suggests 88% of this time is being spent in dispose:

![image](https://user-images.githubusercontent.com/679486/80662632-fb837500-8a4e-11ea-9970-1ed24cf4a2e2.png)

[2020-04-30 01:54] pixelzoom commented on #61
Bunny `dispose` isn't doing a whole lot.  It's disposing of 2 Properties, 1 Emitter, 1 Genotype (a PhetioObject), 3 GenePairs (PhetioObjects) and 1 Phenotype (PhetioObject).  Those additional PhetioObjects have nothing subclass-specific that is disposed.   So I don't see anything obvious in sim code that can be optimized.

@samreid Would you some time to pair on this with me, to drill down and ide

[2020-04-30 03:20] samreid commented on #61
I tired profiling without ?ea and observed nearly 400ms (with profiler on). In this case, it 50% of the time is in Scenery.updateDisplay and more like 30% in dispose.

This likely cascades to the BunnyNode dispose.  Also, I noticed some time being spent in accessibility dispose:

![image](https://user-images.githubusercontent.com/679486/80668353-ea426480-8a5e-11ea-8160-7f1e917399b2.png)

Maybe we

[2020-04-30 16:15] pixelzoom opened #65 "replace _.sampleSize with phet.joist.random.sampleSize"
This is dependent on https://github.com/phetsims/dot/issues/102 (add Random.sampleSize).

Natural Selection needs to randomly select N elements from an array. This is used in the mutation algorithm to choose the newborn bunnies that will be mutated.  I'm currently using `_.sampleSize`, but need to use `phet.joist.random.sampleSize` (which doesn't exist yet) in order to support playback.

[2020-04-30 16:27] pixelzoom commented on #61
BunnyNode `dispose` unlinks 1 listener and disposes 1 Property.   So I doubt that BunnyNode is responsible for the increased delay with `?ea`.  More likely it's Node or PhetioObject.

[2020-04-30 16:42] samreid commented on #61
BunnyNode dispose takes up around 27%, but that is due to Node code, not code specific to BunnyNode.  When assertions are enabled, there is a `setTimeout` in PhetioObject.dispose which shows it is taking 63% of the time during this step.

![image](https://user-images.githubusercontent.com/679486/80736407-52c92a00-8acf-11ea-8ade-a5fe9d6fae2b.png)

[2020-04-30 16:57] pixelzoom commented on #59
Performance of Studio has been addressed and is now working well with a large PhetioGroup. See phetsims/studio#122.

Closing.

[2020-04-30 16:57] #59 closed

[2020-04-30 16:58] pixelzoom commented on #54
"Play Again" button was renamed to "Start Over", so changing the title of this issue.

[2020-04-30 19:28] amanda-phet commented on #20
I believe this is done! Ready to export and commit, but just pasting it here in case anyone has feedback. I am not using the original earth because I don't know how to give it that "painted" effect and can't see how they did it in GIMP. But I can use that earth if we like it better than this real image.

![image](https://user-images.githubusercontent.com/7852916/80751093-6a5fdd00-8ae6-11ea-9d82-c1

[2020-04-30 19:47] pixelzoom commented on #20
The image shown in https://github.com/phetsims/natural-selection/issues/20#issuecomment-622057569 is now in master, if anyone wants to try it in context.  Compare to [1.0.0-dev.33](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.33/phet/natural-selection_en_phet.html).

[2020-04-30 20:13] amanda-phet commented on #20
Thank you! This helped me find a few places to make tweaks (too dense, or strange layering). At such a small size, the bunnies don't layer as well as the original sim, likely due to the decreased stroke weight in the bunny artwork. I also notice this in the active sim, that the stroke weight around the bunnies is maybe a little too thin. That's a different issue but related because it would impact

[2020-04-30 21:20] pixelzoom commented on #54
4/30/2020 design meeting @amanda-phet @kathy-phet @arouinfar @ariel-phet @samreid

Consensus that this is a good starting place, and we'll wait for interviews to see if anything needs to change.

[2020-04-30 21:28] pixelzoom commented on #56
4/30/2020 design meeting @amanda-phet @kathy-phet @arouinfar @ariel-phet @samreid

These model requirements were verified:
* For each allele, Property that indicates number of bunnies “now”
* Get data points for each allele

For the "data points for each allele"...  The Java version created 1 data point during each "death cycle", because the clock pauses.  In the HTML5 version, the clock does not

[2020-04-30 21:29] pixelzoom opened #66 "add "None" graph radio button"
From 4/30/2020 design meeting @amanda-phet @kathy-phet @arouinfar @ariel-phet @samreid

@kathy-phet asked to add a "None" choice to the graph radio button group.  It will be the last (bottom) choice.

[2020-04-30 21:57] pixelzoom opened #67 "disable UI components when "Start Over" button is visible"
From 4/30/2020 design meeting @amanda-phet @kathy-phet @arouinfar @ariel-phet @samreid

We reviewed the UI components that are disabled when the "Start Over" button is visible. Per the design doc, the sim currently disables:

* Add Mutations panel
* Environmental Factors panel
* Time controls

We would also like to disable:

* Environment (equator, arctic) radio button group

So basically the user

[2020-04-30 22:03] pixelzoom commented on #66
I added "None" in the above commit.  Screenshot below shows how it looks.  @amanda-phet or @kathy-phet please review in master.

<img width="1120" alt="screenshot_291" src="https://user-images.githubusercontent.com/3046552/80763592-1829b680-8afc-11ea-8a8d-19d0fa3d18a9.png">

[2020-04-30 22:11] pixelzoom commented on #67
Done. @amanda-phet please review in master.  Let bunnies take over the world. Close the dialog, and verify that UI components are disabled.  Press "Start Over" and verify that UI components are enabled.

[2020-05-01 21:00] pixelzoom opened #68 "State wrapper bug with "Add Mutations" panel"
The "Add Mutations" panel is not behaving properly in the State wrapper.  After pressing one of the buttons, icons showing the dominant and recessive alleles should appear.  The do not appear in the downstream sim:

<img width="767" alt="screenshot_293" src="https://user-images.githubusercontent.com/3046552/80840953-aadd5a80-8bbb-11ea-8a01-48bbfd85c2e1.png">

Steps to reproduce:

1. Start sim in S

[2020-05-01 21:23] pixelzoom commented on #68
In the above commit, I change the implementation of AddMutationsPanel.js so that children are not changed.   This resolve the problem.  But I'd still like to know why setting children is a problem for the State wrapper, and how to address it in the future.

[2020-05-04 20:46] amanda-phet commented on #67
I notice something funny with these buttons. For all other disabled components, if I try to hover or click them, the cursor remains an arrow. But for the environment radio buttons, if I try to click on them, the cursor blinks to a hand and then back to an arrow. Just an odd thing I wanted to point out, but if there's nothing to do to change that then we can close this. However if there is somethin

[2020-05-04 20:59] amanda-phet commented on #66
Looks good to me.

[2020-05-04 20:59] #66 closed

[2020-05-04 21:56] pixelzoom commented on #67
@amanda-phet thanks for reporting.  What you're seeing actually has nothing to do with the radio buttons.  If you click anywhere in the environment (anywhere not on a bunny), it clears the bunny selection.  And by default, the scenery listener uses a hand cursor.  In the above commit, I've adjusted that cursor so that there is no change.  If it looks good to you in master, you can close this issue

[2020-05-04 22:00] amanda-phet commented on #67
I was wondering if it had something to do with bunny selection. Thanks for making that change. It looks good to me.

[2020-05-04 22:00] #67 closed

[2020-05-05 16:39] pixelzoom commented on #61
As @samreid mentioned in the previous comment, PhetioObject `dispose` contains this assertion:

[code]

Reading the comment, I'm not clear on the purpose of this assertion, and why it's not a problem if it occurs when assertion are disabled.

Commenting out that assertion results in acceptable performance of "Start Over" and "Reset" in Natural Selection.

@samreid let's discuss via Zoom.

[2020-05-05 16:48] pixelzoom commented on #61
In https://github.com/phetsims/natural-selection/issues/61#issuecomment-621588910, @samreid said:

I'd also like to hear from @jessegreenberg.  `Node.dispose` calls `ParallelDOM.disposeAccessibility`.   Has this method, including `setAriaLabelledbyAssociations`, been optimized?

[2020-05-05 18:01] pixelzoom commented on #61
@samreid and I investigated the performance of `PhetioObject.dispose` via Zoom.  Changing `setTimeout` to `phet.axon.setTimeout` resulted in a 2x performance increase.  But adding `runOnNextFrame` method to Sim.js resulted in a 12x improvement, so we went with that approach, which also provides clarity to what is actually going on.  Sim.js changes are in the above commits.

[2020-05-05 22:40] pixelzoom commented on #60
@samreid and I looked at this briefly today via Zoom.  ~10% is spent creating the selection Rectangle in BunnyNode.  It's currently part of BunnyNode because the selection Rectangle needs to move and scale with BunnyNode.  But perhaps I can find a way to use a single selection Rectangle for the entire BunnyNode collection.

[2020-05-05 22:40] samreid opened #69 "Pattern for customization"
@pixelzoom said:

[code]

[2020-05-05 22:45] samreid commented on #69
With these changes:

<details>

[code]

</details>

These lines can be added to the end of the IntroScreenView constructor:

[code]

[2020-05-05 22:57] pixelzoom commented on #60
I tried creating the selection Rectangle on demand, here's the patch:

<details>
<summary>Patch</summary>

[code]

</details>

Here's the performance comparison before and after, measuring the `for` loop in BunnyNode.mateAllBunnies using `NaturalSelectionUtils.logTime`:

| generation | bunnies born | before (ms) | after (ms) |
| :--: | :--: | :--: | :-: |
| 1 | 4 | 8 | 7 |
| 2 | 12 | 21 | 17 |
| 3

[2020-05-05 23:21] pixelzoom opened #70 "how to implement the Intro screen"
The Intro and Lab screens have identical model and view implementations.  The only difference is that the Intro screen does have the Ears, Teeth, and Limited Food features.

If this were a non-PhET-iO sim, it would be an easy matter to just hide the UI components related to those features, probably 1-2 hours of work.   But PhET-iO complicates things because the full model and view will be present

[2020-05-05 23:22] pixelzoom commented on #70
At 4/30/20 design meeting, I convinced the design team (@amanda-phet @arouinfar @kathy-phet @ariel-phet) that (4) is the best path to pursue.

[2020-05-05 23:24] pixelzoom commented on #70
In IntroScreenView.js, I added a TODO about which elements need to be hidden for the Intro screen:

[code]

[2020-05-05 23:26] pixelzoom commented on #70
In Slack phet-io channel, I asked about programmatically accessing elements using their phetioID.   The recommended way of accessing elements in brand=phet-io is:

`phet.phetio.phetioEngine.phetioObjectMap[ phetioID ]`

But this is not currently possible in brand=phet, because phetioEngine does not exist.  The iO team is going to investigate how to make this happen.

[2020-05-05 23:27] pixelzoom commented on #70
In Slack phet-io channel, I asked about programmatically accessing elements using their phetioID.   The recommended way of accessing elements in brand=phet-io is:

`phet.phetio.phetioEngine.phetioObjectMap[ phetioID ]`

But this is not currently possible in brand=phet, because phetioEngine does not exist.  The iO team is going to investigate how to make this happen.

FYI @samreid @zepumph @chriskl

[2020-05-05 23:31] pixelzoom commented on #69
Duplicate of #70.  I'm going to close this issue, since #70 contains more detail.

[2020-05-05 23:31] #69 closed

[2020-05-05 23:31] samreid commented on #70
With these changes:

<details>

[code]

</details>

These lines can be added to the end of the IntroScreenView constructor:

[code]

[2020-05-05 23:34] pixelzoom commented on #70
@samreid recommended a patch in https://github.com/phetsims/natural-selection/issues/69#issuecomment-624345512 for accessing the Nodes that need to be hidden. It doesn't involve accessing them by phetioID, it involves adding them to the public interface of Node instances.  I was hoping not to have to add them to the non-iO interfaces, but I'll test-drive that approach and report back.

[2020-05-05 23:36] pixelzoom commented on #70
Thanks for the suggestion and patch @samreid.  This approach doesn't involve accessing them by phetioID, it involves adding them to the public non-iO interface of classes.  I was hoping not to have to add them to the non-iO interfaces, but I'll test-drive that approach and report back.

[2020-05-06 00:07] pixelzoom commented on #70
I accomplished what I needed to do quickly with this approach, see the above commit.   The downside is that I need to have specific fields for specific alleles, like these in PopulationPanel.js:

[code]

I'm currently creating these checkboxes using sort of a brute-force, boilerplate approach, where I know that the GenePool has genes for fur, ears, and teeth.  I had hoped to revisit this (and othe

[2020-05-06 00:11] pixelzoom commented on #58
I implemented a quick-and-dirty version of the Pedigree graph, so that we have something concrete to discuss in our design meeting.  All of the info that has been requested is visible on the graph.  It still needs a lot of work on layout and polish.

[2020-05-06 00:27] pixelzoom commented on #70
Note that iterating over GenePool will also have a downside -- I'll need to generate tandem names by concatenating a prefix (the gene or allele name) and a suffix (e.g. "Checkbox", "LegendNode").
Genes and Alleles would each have a `tandemNamePrefix` field -- "fur", "ears", and "teeth" for the 3 genes, "whiteFur", "brownFur", etc. for the alleles.

Here's how the checkbox related to the fur gene's

[2020-05-06 00:30] pixelzoom commented on #70
Note that iterating over GenePool will also have a downside -- I'll need to generate tandem names by concatenating a prefix (gene or allele) and a suffix (e.g. "Checkbox", "LegendNode").
Genes and Alleles would each have a `tandemNamePrefix` field -- "fur", "ears", and "teeth" for the 3 genes, "whiteFur", "brownFur", etc. for the alleles.

For example, here's how the checkboxes for all of the alle

[2020-05-06 00:31] samreid commented on #70
How about just assigning instance variables for the sparse set that needs customization?

[2020-05-06 00:33] pixelzoom commented on #70
That's what I'm doing now. But if I'm iterating over the GenePool as in the example in https://github.com/phetsims/natural-selection/issues/70#issuecomment-624378873,  how do I identify which checkbox to assign to (for example) `this.floppyEarsCheckbox`?

[2020-05-06 00:34] pixelzoom commented on #70
That's what I'm doing now -- there are fields only for the UI components that need to be set to `visibleProperty.value = false` in IntroScreenView.

But if I'm iterating over the GenePool as in the example in https://github.com/phetsims/natural-selection/issues/70#issuecomment-624378873,  how do I identify which checkbox to assign to (for example) `this.floppyEarsCheckbox`?

[2020-05-06 00:37] samreid commented on #70
You could brute force the names and avoid iterating over them.  Or if you want to keep the iteration and concatenated names, you could assign attributes like:

[code]

[2020-05-06 00:43] pixelzoom commented on #70
I'm brute-forcing the names now, no iteration.   See checkboxes in PopulationPanel.js for the most extreme example.

I hadn't thought of using `this[string]`, that a JavaScript construct that I try to avoid.  It also will end up creating a field for all UI components, not just the ones that I want to customize for the Intro screen. But I guess I'll consider that and the brute-force approach as my

[2020-05-06 00:44] pixelzoom commented on #70
I'm brute-forcing now, no iteration.   See creating of checkboxes in PopulationPanel.js for the most extreme example.

I hadn't thought of using `this[string]`, that's a JavaScript construct that I try to avoid.  It also will end up creating a field for all UI components instantiated via iteration, not just the ones that I want to customize for the Intro screen. But I guess I'll consider that and

[2020-05-06 04:36] samreid commented on #70
Generalizing the pattern from this issue...

Are we suggesting that:

[code]

Is superior to:

[code]

If so, should we embrace pattern A more generally?

[2020-05-06 12:41] pixelzoom commented on #70
I do prefer A for this type of use case (configuring a ScreenView). I think it makes for a more concise/encapsulated implementation of what is made invisible.   And while it requires adding public fields that wouldn't otherwise be needed, I think that's an acceptable trade-off (with documentation like I've used in Natural Selection, e.g. "@public for configuring Intro screen only").

I don't know

[2020-05-06 19:30] pixelzoom commented on #70
So the current approach ended up with this in IntroScreenView:

[code]

This puts all customization for the _Intro_  screen in one place.  But it would be very difficult for the PhET-iO client to (for example) make all of the user-interface components for Ears visible.  They would have to set individual `visibleProperty` values for many elements. That problem is addressed in the above commit.

In

[2020-05-06 20:28] pixelzoom commented on #58
@amanda-phet and I discussed this requirement a bit on Zoom:

I'm not certain that we want to provide such a string representation. First, a string representation will need to be parsed by the client, and that's not easy.  Second, all of the information is already present elsewhere.  For example, if I know that the selected bunny is `bunny_12`, then I can inspect that element, determine its parent

[2020-05-06 21:24] pixelzoom opened #71 "simulationModeProperty should not be part of the public PhET-iO API"
Related to https://github.com/phetsims/phet-io/issues/1644 (serialization is leaking implementation details into the API).

NaturalSelectionModel has this Property:

[code]

This indicates which of 3 modes the sim is in. The mode determines (among other things) which UI components are visible and enabled. The fact that I've used a State Machine pattern to implement this is an internal detail, has

[2020-05-06 21:39] pixelzoom commented on #58
I could also use a consultation with the PhET-iO team on the "string representation of the Pedigree tree" requirement, so that I understand what information is already available via the API.

[2020-05-06 21:39] pixelzoom commented on #58
I could also use a consultation with the PhET-iO team on the "string representation of the Pedigree tree" requirement, so that I understand what information is already available via the API. @samreid @zepumph @chrisklus

[2020-05-07 02:39] pixelzoom commented on #70
Labeling for design meeting, to review/demonstrate how this screen is implemented.

[2020-05-07 02:41] pixelzoom commented on #61
Labeling for design meeting, to get input from team on what acceptable responsiveness is.

[2020-05-07 02:42] pixelzoom commented on #60
Labeling for design meeting, to get input from team on what acceptable responsiveness is.

[2020-05-07 02:44] pixelzoom commented on #20
Latest artwork was integrated on 5/4/2020.

Labeling this for design meeting to see if this issue can be closed.

[2020-05-07 04:40] zepumph commented on #68
Indeed children are not stored in state. The best thought I can think of right now is to try to drive this operation from a Property. This would allow the button listener to change the Property, as well as the state engine to change the Property.

We are in new territory, so I'm definitely brainstorming.

I could see you implementing a `childrenProperty` that was an `PropertyIO( ArrayIO( Reference

[2020-05-07 15:46] pixelzoom commented on #68
Thanks @zepumph.  I don't fully understand why the original implementation was a problem.  But the new implementation resolves it and (more importantly) is a superior solution.  I don't have time to investigate this further, so I'll wait to see if it occurs again in the future.

Closing.

[2020-05-07 15:46] #68 closed

[2020-05-07 16:11] pixelzoom opened #72 "State wrapper is failing with "bunny counts are out of sync""
The bunny PhetioGroup is getting out of sync with other sim-specific counts (specifically the ObservableArrays that hold live and dead bunnies) because of https://github.com/phetsims/phet-io/issues/1661.  Deferring State wrapper testing until that issue is resolved.

[2020-05-07 19:36] pixelzoom commented on #61
Up to 1 second response is acceptable.

[2020-05-07 19:42] pixelzoom commented on #60
Current pause would be acceptable to publish, but still worth investigating if there are opportunities to make it more efficient.

@ariel-phet suggested having a "standard minimum pause" when bunnies are born, but consensus was that we don't need that.

[2020-05-07 19:44] pixelzoom commented on #20
5/7/2020 design meeting:

Everyone is happy with the way this looks.

Get earth image source URL and put in license.json.

[2020-05-07 20:05] pixelzoom commented on #58
5/7/2020 design meeting

* Add Bunny `Property.<string> genotypeAbbreviationProperty`

* Wait until someone asks for a representation of the tree

[2020-05-07 20:34] pixelzoom commented on #70
5/7/2020 design meeting @amanda-phet @kathy-phet @ariel-phet @arouinfar

I demoed the current implementation and instrumentation, and consensus was that this is good.

Re:

We decided that it's fine as is.

Closing.

[2020-05-07 20:34] #70 closed

[2020-05-07 20:39] pixelzoom commented on #61
Actually, I'm going to leave this open and deferred, so we can revisit later.

[2020-05-07 20:59] pixelzoom commented on #58
All of the requests in the previous comment have been completed.

I'll leave this issue open until the Pedigree graph is completed, at which time these requirements can be verified.

[2020-05-07 21:05] pixelzoom commented on #71
5/7/2020 phet-io meeting:

The general decision was to show these types of Properties in Studio, but give them this specific metadata:

[code]

That has been done for `simulationModeProperty`.

Closing.

[2020-05-07 21:05] #71 closed

[2020-05-07 21:06] pixelzoom commented on #47
This can be closed, will be revisited during overall PhET-iO review.

[2020-05-07 21:06] #47 closed

[2020-05-07 21:08] pixelzoom commented on #25
This seems to be working fine, as tested with Studio "Launch" button.  Put the sim in a state in Studio, press "Launch" button, play with launched sim, press "Reset All" button to verify that it returns to the initial launched state.

Closing.

[2020-05-07 21:08] #25 closed

[2020-05-07 21:12] pixelzoom commented on #20
Here's the info that I added to license.json, @amanda-phet please verify and close.

[code]

[2020-05-07 21:14] pixelzoom commented on #19
@amanda-phet I'm not anticipating any additional images for this sim, so you can review license.json at any time.  I suspect that you may need to adjust the "create by" attributions. Feel free to modify directly via GitHub web interface.  The URL for license.json is shown above.

[2020-05-07 21:36] pixelzoom commented on #57
5/7/2020 design meeting @amanda-phet @kathy-phet @ariel-phet @arouinfar @samreid

We review the current implementation in Studio, and it all looks good.

Discussion about these 2 items:

This will be done via Properties.

Would like to get all of the data at once, and have it clearly labeled.  @samreid suggested JSON, we brainstormed a couple of different formats, and decided on something like thi

[2020-05-08 14:52] KatieWoe opened #73 "CT cannot read property generation of null"
[code]

[2020-05-08 15:51] pixelzoom commented on #73
I can't reproduce this locally, and CT is now showing green.  It was a problem for 2 CT cycles yesterday, 5:36pm and 7:08pm.  @samreid and @chrisklus don't know of any related iO problem that was fixed > 7:08pm.  @zepumph?

[2020-05-08 16:37] zepumph commented on #73
It doesn't ring any bells! I don't see any suspicious commits in `tandem/` or `phet-io/` from around that time. Very strange.

Yesterday I was working on this exact code, but I only made a patch, I didn't commit. The bug that you encountered above should never happen again after we clean up `PhetioStateEngine.tryToCreateAncestor` over in https://github.com/phetsims/phet-io/issues/1634#issuecomment

[2020-05-08 17:45] pixelzoom commented on #73
This occurred again at 5/8/2020 10:47am.

[2020-05-08 17:52] pixelzoom commented on #73
Yesterday I added this DerivedProperty to Genotype:

[code]

I see that I neglected to dispose this Property when Genotype is disposed.  If that's the cause of this problem, this Error message is not at all helpful.

[2020-05-08 18:06] zepumph commented on #72
Because of some other issues, I think it is valuable to be able to use the NS state wrapper, thus I put a bandaid on this issue with a TODO. Once https://github.com/phetsims/phet-io/issues/1661 is taken care of, we should remove the temp fix.

[2020-05-08 22:54] pixelzoom commented on #73
That appears to have fixed the problem, it's no longer occurring in CT.  But I don't understand why it fixed the problem, why it manifested as a `null` arg to Bunny.fromStateObject. @zepumph any insight?

[2020-05-09 00:29] zepumph opened #74 "State wrapper bug"
When setting state on the 5th generation of bunnies after adding a mate in this link:

http://localhost:8080/phet-io-wrappers/state/?sim=natural-selection&phetioValidateTandems&phetioDebug&secondsPerGeneration=1&screens=2

. . . there is an obfuscated error in the state wrapper. Setting a debugger in the `catch` in phetioCommandProcessor.processCommands()` lead me to the error that was being throw

[2020-05-09 16:22] pixelzoom commented on #74
Reproduced locally.

[2020-05-09 16:37] pixelzoom commented on #74
I'm guessing that this is related to state being restored for elements of BunnyCollection. It has BunnyGroup (`bunnyGroup`) and ObservableArrays (`liveBunnies`, `deadBunnies`), where every element in  bunnyGroup is contained in either `liveBunnies` or `deadBunnies`.  I tried setting `phetioState: false` for both `liveBunnies` or `deadBunnies`, and that clears up this specific Error.  But then a ne

[2020-05-09 16:56] pixelzoom commented on #74
I think I understand why ObservableArrays `this.liveBunnies` and `this.deadBunnies` need to be `phetioState: false`.  They are populated by the listener to `this.bunnyGroup`.  So if their state is restored, we'll have duplicates.

For the new error (`bunny age 6 exceeded maximum 5`) it looks to me like Bunny elements are not fully restored before `BunnyGroup.elementCreatedEmitter` fires.   Specifi

[2020-05-09 17:07] pixelzoom commented on #74
Questions:

* When a PhetioGroup is restored, is `elementCreatedEmitter` fired for each element in the group?
* Is each element in the group guaranteed to be fully restored (all state, all Properties) before its membership in the group is restored?

[2020-05-09 17:31] pixelzoom commented on #74
I'm going to assume that the answer is "yes", so I'll need to handle both live and dead bunnies in the listener for `bunnyGroup.elementedCreatedListener`.  That change has been made in the above commit.

But I'm still getting the "bunny age 6 exceeded maximum 5" assertion failure, and I can't determine how that is happening.

Pro tip: This is easiest to test with:

`phet-io-wrappers/state/?sim=nat

[2020-05-09 17:42] pixelzoom commented on #74
In the above commit, I added an assertion to the beginning of `ageAllBunnies`:

[code]

... and this assertion is failing as soon as there are dead bunnies.   So dead bunnies are being added to `liveBunnies`.

[2020-05-09 17:52] pixelzoom commented on #74
In the above commits, I realized that Bunny `age` does not need to be a Property, since nothing observes it.  So I changed from `this.ageProperty` to `this.age`, and added it to state object.   This results in no change to the "exceeds maxAge" Error.

[2020-05-09 18:10] pixelzoom commented on #74
In the above commit, I replaced Bunny `this.isAliveProperty` with `this.alive` and `this.diedEmitter`.  This makes more sense than a Property, since the state only changes once, from living -> dead.

This resolved the "exceeds maxAge" exception.  But I'm still curious about what the problem was with using a Property, as well as answers to the general questions in https://github.com/phetsims/natura

[2020-05-11 20:47] pixelzoom commented on #58
@amanda-phet The Pedigree graph is feature complete and ready for review.

See master or 1.0.0-dev.36:

* https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.36/phet-io/
* https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.36/phet/natural-selection_en_phet.html

[2020-05-11 21:49] pixelzoom commented on #58
Let's also make sure that these requirements get propagated to the PhET-iO Design document, so that QA will have this information during dev/RC testing.

[2020-05-12 01:19] pixelzoom opened #75 "lower the max number of bunnies"
We need to find a way to lower the max number of bunnies in the sim.

The current requirements are:
* If the population is < 1000, mate all bunnies.
* After mating all bunnies, if there are >= 1000 bunnies, stop the sim and display “Bunnies have taken over the world” dialog.

The worst case occurs when there are 999 bunnies.  499 pairs will mate, with 4 offspring per litter, for a total of 1996 ne

[2020-05-12 01:38] pixelzoom commented on #75
Two problem that I can see with this:

* Unless all bunnies are allow to mate, the distribution of alleles in the population won't be accurate.
* If mutation(s) are applied on during this final mating, they won't be applied accurately, especially if more than 1 mutation is applied at the same time.

Maybe we could stick with the original requirements, but reduce the max number of bunnies to 500?

[2020-05-12 01:43] pixelzoom commented on #75
Two problem that I can see with my proposal:

* Unless all bunnies are allowed to mate, the distributions of alleles won't be accurate.
* If mutation(s) are applied during this final mating, they won't be applied accurately, especially if more than 1 mutation is applied at the same time.

Maybe we could stick with the original requirements, but reduce the max number of bunnies to 500?  The worst c

[2020-05-12 02:07] pixelzoom commented on #75
In version 1.0.0-dev.37, start the sim, go to Lab screen, press "Add a Mate", and let it run.  This should run until it has created a total of 1434 bunnies (1428 live, 6 dead)...  But on iPad2, the sim pauses for > 10 seconds when creating the final generation of bunnies, then crashes - probably out of memory.  And if I try to start if with `?population=999`, it never does start up - I gave up aft

[2020-05-12 17:22] ariel-phet commented on #75
@pixelzoom I am fine with 500 bunnies personally, I don't think that would really be a detriment to any learning goal. Certainly 750 would be a totally acceptable compromise.

And just a quick note that we no longer support iOS 9.

[2020-05-12 18:17] pixelzoom commented on #75
I realize that PhET no longer officially supports iOS 9.  But my understanding is that you would still like sims to run on iOS 9.  This sim does not run on iOS 9 -- with no query parameters, it crashes the first time the population gets anywhere near the number of bunnies required to "take over the world".  With a large initial population (via query parameters) it won't even start.   If that's OK,

[2020-05-12 18:34] ariel-phet commented on #75
On the comment above, I would note that we still do test to see if things open on iOS 9, and have not yet run into a case where they do not. It sounds like this simulation will be that case. My personal opinion is that we do not have the resources to support this case, and this sim might be the tipping point to drop even minimal testing on iPad2. I have asked Oliver if any complaints have been rec

[2020-05-12 18:38] amanda-phet commented on #75
I think a max of 750 bunnies is totally reasonable, sticking with the original requirements (with a worst case scenario of 2245 bunnies shown at one time). The important thing is that the bunnies don't take over too quickly, and also that when they do, the screen is crowded with bunnies to give the appearance of taking over (so at least 750 IMO).

[2020-05-12 19:20] amanda-phet commented on #58
I confirmed that the listed features are all present in studio. I'm not sure where to put this information in the design document, since the section that mentioned wanting a string output was in a meeting note, not anywhere in the design requirements.

[2020-05-12 19:41] amanda-phet commented on #19
I adjusted a few attributions and the rest look good.

[2020-05-12 19:41] #19 closed

[2020-05-12 19:42] amanda-phet commented on #20
Looks good. Thanks.

[2020-05-12 19:42] #20 closed

[2020-05-12 21:30] amanda-phet commented on #57
Megan had a quick reply and might have more thoughts in a later email, but her response what that the data stream would probably be most useful as the raw values.

[2020-05-12 21:36] pixelzoom commented on #57
Raw values being the counts, or the percentages in decimal form?

[2020-05-12 21:50] amanda-phet commented on #57
Counts.

[2020-05-13 15:52] pixelzoom commented on #9
I got partway through implementing this (completed the parser for the query parameters) and a couple of potential problems occurred to me:

(1) If a mutation (e.g. brown fur) is present in the initial population, can it really be considered to be a mutation?  If so, great! If not, then this entire feature seems problematic.

(2) If bunnies in the initial population have alleles that we are conside

[2020-05-13 16:06] pixelzoom commented on #9
Related to question (2) above...

If brown fur is recessive, and the initial population consists of 10 bunnies with genotype 'Ff', they contain the mutant gene, but their phenotype (appearance) is white fur.  Should they be labeled with the "mutant" symbol in the Pedigree graph? Won't that be confusing?

When running the sim, we would never have an "Ff" bunny when the brown fur mutation is applied

[2020-05-13 16:15] kathy-phet commented on #9
I would suggest not specifying any specific mutant bunny, if the population is pre-specified. I don't think we can label any particular bunny with that - since there is no specific time when the mutation was applied.

[2020-05-13 16:26] pixelzoom commented on #9
@kathy-phet That does seem like the most reasonable answer to question (2) above.   But I think we also need to be sure that it's appropriate to call it a mutation (question 1 above).  A mutation is an alteration of something that came before it. In generation zero, there is nothing that came before it.

[2020-05-13 16:36] kathy-phet commented on #9
I'm OK with still calling it a mutation - that happened at some time prior to the start of the sim going. It's a powerful feature to be able to set the state of the starting population.

[2020-05-13 16:37] amanda-phet commented on #9
@kathy-phet that's what I said too, but sent Megan an email explaining the predicament to make sure that solution isn't a pedagogical problem.

[2020-05-13 18:08] zepumph commented on #73
I do not know either! I'm kicking myself for waiting this long to answer this question, because now when I comment out the `dispose` call for `Genotype.prototype.abbreviationProperty`, I get the following error:

[code]
Which seems much more reasonable to me.

I do not know how to proceed in debugging the weird logic from last week, nor do I know what the priority is for that.

For the future, not

[2020-05-13 18:13] pixelzoom commented on #73
OK, thanks for having a look.  Closing.

[2020-05-13 18:13] #73 closed

[2020-05-14 01:41] zepumph commented on #74
After the above commits, state is working in NS. I would love to discuss each problem that I found, and make sure that @pixelzoom get's eyes on the changes and agrees with them.

1. BunnyCollection.stepGeneration() does work that shouldn't be done on state, and as a result we were getting an inconsistent downstream state where double or even triple bunnies were being created (one from the state en

[2020-05-14 02:02] pixelzoom commented on #74
Thanks @zepumph, this all looks really good. Closing.

[2020-05-14 02:02] #74 closed

[2020-05-14 02:08] pixelzoom opened #76 "When Launched from Studio, bunnies have incorrect phenotype"
Noticed in natural-selection master with sha 7fd382c99c46d3396451d519f4261dcdd56673f6.  Also reproducible in https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.38/phet-io/

To reproduce:

1. Run the sim in Studio.
2. Go to the _Lab_ screen.
3. In the "Add Mutations" panel, press the Fur button in the "Dominant" column.
4. Press the "Add a Mate" button.
5. Stop the sim after 1 or more b

[2020-05-14 02:24] pixelzoom commented on #76
Ah, think I found the problem.  Bunny.phenotype is not currently part of state.

[2020-05-14 02:26] pixelzoom commented on #76
Yep, that was the problem, missing phenotype in Bunny state.  Corrected in the above commit.  Closing.

[2020-05-14 02:26] #76 closed

[2020-05-14 02:36] pixelzoom commented on #58
Labeling for design meeting to discuss whether to discuss how PhET-iO requirements will be communicated to QA, whether to keep PhET-iO design doc up to date, and (if so) whose role that is.

[2020-05-14 02:40] pixelzoom opened #77 "review Pedigree graph"
The Pedigree graph is feature complete and is ready for review.  I'd like to review it with the design team at our 5/14/2020 design meeting.  Please refer to [1.0.0-dev.38](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.38/phet/natural-selection_en_phet.html). Representative screenshots are shown below.

(Note that this issue does not cover PhET-iO.  PhET-iO requirements for Pedigr

[2020-05-14 19:44] pixelzoom commented on #77
5/14/2020 design meeting.

Looks good, we can do more polish if necessary later.

Fix recessive allele labels in Alleles panel.

[2020-05-14 19:48] pixelzoom commented on #75
5/14/2020 design meeting:

Reduce maxPopulation to 750.

[2020-05-14 19:58] pixelzoom commented on #58
5/14/2020 design meeting:

Need to have a discussion with QA about how to integrate PhET-iO testing into the QA process. Create an issue and meet during either phet-io or design meeting.  @pixelzoom will create issue, assign to @ariel-phet.

[2020-05-14 20:39] #77 closed

[2020-05-14 20:40] #75 closed

[2020-05-14 21:26] #58 closed

[2020-05-14 21:55] pixelzoom commented on #9
5/14/2020 design meeting @amanda-phet @kathy-phet @ariel-phet

Consensus was that I should proceed by not labeling bunnies in the initial population as "original mutants" (no mutation icon in the Pedigree graph).

[2020-05-15 02:20] zepumph opened #78 "CT: Cannot es5-set values directly to a DerivedProperty"
[code]

[2020-05-15 02:23] zepumph commented on #78
@pixelzoom, this looks like a bug in how NumberPropertyIO.setValue handles setting its rangeProperty. It tried to set it even when it was  a deriedProperty. NS seemed to be the first test case for this. Please review my commit above.

[2020-05-15 02:33] pixelzoom commented on #78
This must've started after I applied the patch in https://github.com/phetsims/axon/issues/289.  I've reopened that issue, and will review these 2 issues together.

[2020-05-15 02:46] pixelzoom commented on #78
As I feared, this fix and the patch in phetsims/axon#289 seem to have resulted in this CT error:

[code]

So I'm back to where I started with phetsims/axon#289, which is not being able to use `DerivedProperty` for my NumberProperty's range (`generationRangeProperty`).

[2020-05-15 02:54] zepumph commented on #78
It is possible that we can now use Property state order dependency calls to solve this. I'll take a look.

[2020-05-15 02:58] zepumph commented on #78
I can't reproduce the error in https://github.com/phetsims/natural-selection/issues/78#issuecomment-628994751.

[2020-05-15 15:49] pixelzoom commented on #78
I also can't produce the error in https://github.com/phetsims/natural-selection/issues/78#issuecomment-628994751, but it's still occurring in CT (though not every cycle).

[2020-05-15 17:08] pixelzoom commented on #78
Steps to reproduce:

1. Run sim standalone with `?secondsPerGeneration=1`.
2. Go to Lab screen
3. Select "Proportions" radio button
4. Press "Add a Mate" button, let it run until bunnies have taken over the work, close dialog.
5. Change "Generation" spinner (below Proportions graph) to a value other than zero.
6. Press "Start Over" or "Reset All" button.

[2020-05-15 17:20] pixelzoom commented on #78
Discuss with @zepumph @samreid @chrisklus via Zoom.

This is indeed back to the original problem that I encountered. That is, in ProportionsModel.js, `generationRangeProperty` is being reset before `generationProperty`, which causes a validation error in NumberProperty.   The options to address this are:

(1) Reimplement `generationRangeProperty ` as a Property, use setValueAndRange and resetValue

[2020-05-15 18:00] pixelzoom commented on #72
Looks like the workaround was removed in https://github.com/phetsims/natural-selection/commit/d8b03d66a1bc32976939af72e30219b4bd767bf5 for https://github.com/phetsims/tandem/issues/170, so I believe this issue can be closed.  @zepumph if I'm incorrect here, please reopen.

[2020-05-15 18:00] #72 closed

[2020-05-15 18:09] zepumph commented on #78
@samreid, @chrisklus and I discussed setting NumberProperty and its rangeProperty for PhET-iO state a bit more, and we were able to remove some of the "work arounds" in NumberProperty and NumberPropertyIO by adding an order dependency. This cleaned up and simplified code.

This shouldn't effect any sims, but we will keep an eye on CT.

[2020-05-15 20:19] pixelzoom commented on #65
I changed how I'm selecting newborn bunnies for mutation (see above commit), so I no longer need a replacement for _.sampleSize.  Closing.

[2020-05-15 20:19] #65 closed

[2020-05-15 20:50] pixelzoom commented on #9
The format of these query parameters is evolving as I'm implementing, so a quick summary of where things are at...

To distinguish which screen the initial population is for, there is a pair of query parameters for each screen:

* introMutations and introPopulation for the Intro screen
* labMutations and labPopulation for the Lab screen

I will refer to these query parameters as "mutations" and "p

[2020-05-15 20:54] pixelzoom commented on #78
No problems after 3 cycles of CT, so closing.

[2020-05-15 20:54] #78 closed

[2020-05-19 02:39] pixelzoom commented on #9
@amanda-phet @ariel-phet @kathy-phet This feature has been completed and is ready for review. This was some complicated code, so it would be nice to have it reviewed while it's relatively fresh in my mind.
See [NaturalSelectionQueryParameters](https://github.com/phetsims/natural-selection/blob/master/js/common/NaturalSelectionQueryParameters.js) for documentation and examples of these query parame

[2020-05-19 03:01] pixelzoom commented on #9
You can review in master or [1.0.0-dev.40](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.40/phet/natural-selection_en_phet.html).

[2020-05-19 03:29] pixelzoom commented on #9
There's still a known problem in 1.0.0-dev.40.  After pressing the "Start Over" or "Reset All" button, the initial mutations are not restores, and the first time the bunnies mate there will be an assertion failure.   But you can still use this version to evaluate the query parameters for setting up the initial state.

[2020-05-19 03:40] pixelzoom commented on #49
Verified for all public facing query-parameters.

With this set of bogus query parameters:

`?allelesVisible=bogus1&introMutations=bogus2&introPopulation=bogus3&labMutations=bogus4&labPopulation=bogus4
`

The sim starts like this:

<img width="931" alt="screenshot_320" src="https://user-images.githubusercontent.com/3046552/82282016-11020580-9950-11ea-86ee-352f69d343ca.png">

... and the sim falls

[2020-05-19 17:40] ariel-phet commented on #75
Note - spoke with @kathy-phet in regards to https://github.com/phetsims/natural-selection/issues/75#issuecomment-627509629

She signs off on this sim never properly running on iOS9

[2020-05-19 19:23] amanda-phet commented on #9
The query parameters seem to be working, and I am not having a hard time entering in values (I experimented with different mutations and also adding lots of genotypes), so I'd say great job on those.

(1) In https://github.com/phetsims/natural-selection/blob/master/js/common/NaturalSelectionQueryParameters.js you listed examples, and I was going to correct you on some. You included `introMutations

[2020-05-19 19:43] pixelzoom commented on #9
Re (1)...  It sounds like we need to have a discussion about this one.  Visibility of genes (in either screen) can be changed after startup via PhET-iO. And query parameters do not distinguish between a PhET-iO user and a "regular" user.  If `introMutations` were limited to 'F' or 'f',  then you will never be able to set an initial population based on anything other than Fur, no matter how you hav

[2020-05-19 20:03] pixelzoom commented on #9
I've moved the examples in NaturalSelectionQueryParameters.js to `labMutations` and `labPopulation`, where they should make more sense.  And related to (1) above, I've added this note to `labMutations`:

[code]

[2020-05-20 14:53] amanda-phet commented on #9
Adding that note is a good idea, and seems adequate to me in addressing (1).

Also, I see your point about (2), so I don't think anything needs to change.

[2020-05-21 15:35] pixelzoom opened #79 "Is it OK to refer to alleles in the initial population as "mutant"?"
Related to https://github.com/phetsims/natural-selection/issues/9...

On 5/13/2020 in https://github.com/phetsims/natural-selection/issues/9#issuecomment-628081429, I expressed a couple of concerns about calling alleles in the initial population "mutations":

At 5/14/2020 design meeting, we decided to proceed by not labeling bunnies in the initial population as "original mutants" (no mutation icon

[2020-05-21 20:30] zepumph commented on #78
After https://github.com/phetsims/axon/commit/b222e1a4b25ad63203bfe1fdecdb3c3b94f900c6, it isn't expected the NumberProperty will be able to set an uninstrumented rangeProperty's state on its own, so I updated the test in `phet-io-test-sim` too.

[2020-05-21 21:56] samreid commented on #49
There are still TODOs marked for this issue, discovered during https://github.com/phetsims/chipper/issues/946

[2020-05-21 22:08] pixelzoom opened #80 "initial state of the Proportions graph"
Until the generation clock starts running, there is no Proportions data to display.  What does the Proportions graph look like before the "Add a Mate" or "Play" button is pressed?  Please fill in the empty whitespace in the screenshots below with what you'd like to see.  High priority please, because I'm trying to wrap up implementation of this graph.

With no query parameters (default):

<img wid

[2020-05-21 22:11] pixelzoom commented on #80
Slack:

Amanda McGarry:spiral_calendar_pad:  3:37 PM
... I’ll have to get back to you when I can think about this.. seems either (1) nothing, like the population graph, or (2) 100% white tall-ear short-teeth bunnies.

Chris Malley  4:02 PM
(1) You'll have to define "nothing" -- a blank rectangle? Row and column labels with no bars? How about a blank rectangle with "No Data"?
(2) is not an option.

[2020-05-21 22:20] #49 closed

[2020-05-21 22:46] zepumph opened #81 "CT: counts out of sync"
This is occurring because of https://github.com/phetsims/phet-io/issues/1661. There is an assertion in BunnyArray that is firing immediately, and checking against deferred Properties. This will be broken in the state engine until that issue is sorted out.

Tagging @pixelzoom so he realized what is going on.
[code]

[2020-05-21 22:47] pixelzoom commented on #80
I'm going to go with "No Data" for now, because it seems like a nice straightforward solution. See screenshot below.  This is similar to 'Select a Bunny' for the Pedigree graph - same font size and position.

<img width="1112" alt="screenshot_327" src="https://user-images.githubusercontent.com/3046552/82613477-9a991980-9b82-11ea-8d79-b9247c6e7d72.png">

[2020-05-21 23:01] pixelzoom opened #82 "state of the Proportions graph when bunnies take over the world"
When the population exceeds the maximum (750), the sim stops and displays the "Bunnies have taken over the world" dialog.  This occurs _immediately_ after all bunnies have mated, giving birth to a new generation. In that case, "Start of Generation" and "Currently" will be identical times, and will therefore show identical values in the Proportions graph.

For example, see the screenshot below.  Ge

[2020-05-21 23:08] pixelzoom commented on #81
State has gotten more complicated than I can comprehend, and it feels like a moving target. So I'm going to ignore this for awhile, and assume that it will get worked out in the state engine.

[2020-05-21 23:10] pixelzoom commented on #80
Slack:

Amanda McGarry  4:51 PM
(1) A blank rectangle is what I had in mind.
(2) I was describing the default scenario, but if it’s a more diverse population the bars would reflect that population. Is it possible to know what the population is prior to the start of generation 0? Or do we only know once the clock starts?

I’m fine with “no data”. That seems perfectly reasonable. I can comment in th

[2020-05-22 00:23] zepumph commented on #81
Hey me too! We are working on this part too.

[2020-05-22 14:47] KatieWoe opened #83 "CT: index out of bounds"
[code]

@pixelzoom edit: Deleted the Errors that are being tracked in #81.

[2020-05-22 15:32] pixelzoom opened #84 "CT: index out of bounds"
Known problem, related to #57, working in progress on the Proportions graph.

[code]

[2020-05-22 15:33] pixelzoom commented on #84
Duplicate of #83.

[2020-05-22 15:33] #84 closed

[2020-05-22 15:34] pixelzoom commented on #83
Thanks. This is a known problem, related to #57, work-in-progress for the Proportions graph.  It may stay broken for awhile.

[2020-05-22 15:41] pixelzoom commented on #81
@zepumph The ObservableArrays where this is an issue both have `phetioState: false`, because they are populated as the BunnyGroup is restored.  So will addressing  phetsims/phet-io#1661 resolve this issue?

[2020-05-22 15:43] pixelzoom commented on #81
Maybe I need to set `phetioState: false` for all of the Properties in BunnyCount.js, since they should also be updated as BunnyGroup is restored?

[2020-05-22 15:52] pixelzoom commented on #81
OK, I lied.  I couldn't stand this failing continuously.  And it fails when the sim starts, so makes it impossible to test other things in the State wrapper.

The above commit seems to resolve the issue.  All of the NumberProperty instances (counts) in BunnyCount are updated as Bunny instances are created/die/disposed.  So I made all of these NumberProperty instances `phetioState: false`.

@zepump

[2020-05-22 20:39] pixelzoom commented on #83
This should be fixed now.  I'll close after CT confirms.

[2020-05-22 20:40] pixelzoom commented on #83
This has been clean in CT for 2 cycles.  Closing.

[2020-05-22 20:40] #83 closed

[2020-05-26 18:37] amanda-phet commented on #82
This is what I would expect to happen.

"Start of Generation" = "Currently" for the first 25% of any generation time interval, so this is going to happen in other situations anyway.

[2020-05-26 18:37] #82 closed

[2020-05-26 22:30] KatieWoe opened #85 "CT phet.log is not a function"
[code]

[2020-05-26 22:46] pixelzoom commented on #57
@amanda-phet @kathy-phet @ariel-phet The Proportions graph is completed and ready for review.

Here's an overview of the PhET-iO instrumentation. Sorry that this overview is long, but this is a complicated feature. Renaming phetioIDs here is easy.  Changing the structure would be major work.

**Proportions model**

Current generation data is dynamic, while previous generation is static, so it was

[2020-05-26 22:54] #85 closed

[2020-05-26 23:22] pixelzoom opened #86 "tune the environmental factors model"
I've completed a rudimentary implementation of environmental factors for the purposes of (a) providing graph data, and (b) tuning the model.  I need help from the team with tuning the model.

Per Zoom discussions with @amanda-phet, here are the requirements for how the environmental factors affect bunny mortality:

Wolves:
* When wolves are enabled, they eat both white and brown bunnies, but eat m

[2020-05-26 23:25] pixelzoom commented on #57
Notes for reviewers:

You can review using master or 1.0.0-dev.43:
* https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.43/phet-io/
* https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.43/phet/natural-selection_en_phet.html

The basic models for environmental factors (wolves, food) have been implemented, see https://github.com/phetsims/natural-selection/issues/86.  So you s

[2020-05-26 23:48] pixelzoom opened #87 ""All of the bunnies have died" dialog is displayed twice"
The "All of the bunnies have died" dialog is displayed twice.  To reproduce:

1. Start the sim with `?secondsPerGeneration=1`
2. Go to Lab screen
3. Check "Wolves" checkbox
4. Press "Add a Mate" button
5. Let the sim run until dialog displays
6. Close dialog
7. Press "Start Over" button
8 Dialog displays again

[2020-05-27 13:04] kathy-phet commented on #57
Chris, I don't have much time today, but took quick test drive. The charts look good to me, although could you make the wolves eat more white bunnies so that I can see a bigger change., and the bunnies don't take over the world. It would make it easier to evaluate the graphs. They don't seem to eat many bunnies right now. Not sure how that parameter gets set. Thanks!

[2020-05-27 15:20] pixelzoom commented on #57
@kathy-phet You can change the parameters for the wolves and food via query parameters. See #86.

[2020-05-27 17:37] zepumph commented on #81
That is a very elegant solution. It does seem like data downstream of a PhetioGroup doesn't need to be stateful. I will keep pondering about that pattern.

In your case, there is logic built into the BunnyCollection to update the ObservableArrays based on then PhetioGroup is populated. This works because the Bunny itself holds the data about what list (dead or alive) it goes into, so once it is re

[2020-05-27 18:00] amanda-phet commented on #57
I really like these Proportion graphs! They are so nice for seeing the changes in bunny population with the different environmental factors, and I think they are working really well right now for comparing populations. My only thought is that it's a lot of information at once (potentially) and I wonder if we should be displaying each trait with a checkbox.. maybe something similar to the Populatio

[2020-05-27 18:16] pixelzoom opened #88 "Proportions "Values" checkbox is buggy"
It's not behaving as it should, very obvious when you use it.  Instead of just hiding the percentage values, it hides the entire bars.

[2020-05-27 18:32] pixelzoom commented on #57
@amanda-phet said:

There would need to be 1 checkbox for each trail, something like this:

<img width="225" alt="screenshot_345" src="https://user-images.githubusercontent.com/3046552/83058521-b6cf0780-a015-11ea-8244-5df7a3907f55.png">

Since this makes the panel ~20% wider, it would result in the Proportions graph getting narrower, which will still probably be OK.  And it would take somewhere in

[2020-05-27 18:36] pixelzoom commented on #81
Rats, this problem has returned, CT report below.  I'm not certain if it's still related to BunnyGroup, or the new WolfGroup that was added earlier today.  But I see the same problem at 12:05am this morning, long before WolfGroup was added.

[code]

[2020-05-27 18:39] pixelzoom opened #89 "CT: countProperty should match array length"
This problem started at 12:17am this morning, and occurred again at 11:16am.  I can reproduce locally in the State Wrapper with `?sim=natural-selection&phetioDebug&fuzz`.

[code]

[2020-05-27 18:39] #81 closed

[2020-05-27 18:53] zepumph commented on #89
This issue takes the same form as https://github.com/phetsims/john-travoltage/issues/348 and https://github.com/phetsims/projectile-motion/issues/229. I will take a look!

[2020-05-27 19:15] pixelzoom commented on #89
Since the code in WolfCollection is temporary, I put a `if ( !phet.joist.sim.isSettingPhetioStateProperty.value )` around it.

But WolfCollection was added within the past 2 hours, and this problem started at 12:17am this morning.  And CT was clear for 4 cycles after my last commits yesterday.   So I'm confused about why this suddenly started at 12:17am.

[2020-05-27 19:34] zepumph commented on #89
Does it have to do with https://github.com/phetsims/natural-selection/commit/6754aa8168bee7c191418994ea12e9a1f2b19c13? The timing on that seems likely.

[2020-05-27 19:36] pixelzoom commented on #89
I applied the patch. After 10 minutes of testing locally with `?sim=natural-selection&phetioDebug&fuzz`, no problem.  I reverted the patch, tested for another 5 minutes, still no problem.  I'm monitor CT and close this issue if the error does not reoccur.

[2020-05-27 19:37] pixelzoom commented on #89
@zepumph I believe you're confusing AM and PM. https://github.com/phetsims/natural-selection/commit/6754aa8168bee7c191418994ea12e9a1f2b19c13 was at 12:08pm.   The first CT failure was at 12:17am, almost 12 hours before that commit.

[2020-05-27 19:59] amanda-phet commented on #88
Also, when I was using it in studio (either using the checkbox or the property), I would check it again and it wouldn't show anything. I had to go to another generation and then back to see the content.

[2020-05-27 20:02] amanda-phet commented on #57
That is exactly what I had in mind, but I'd like others to play with the sim and Proportions graph to see what they think. We could also see how interviews go before making a change like this.

[2020-05-27 20:04] zepumph opened #90 "Assertion failed: value failed isValidValue: 8"
The problem is about `naturalSelection.labScreen.model.proportionsModel.generationProperty`. It looks like some how the value is being incremented beyond the range of the generation. In the pasted example. The downstream sim was being set to generation 6, but then somehow, by the time the generationProperty notified, therefore validating itself, its value was now 8.

[code]

I'm going to discuss w

[2020-05-27 20:23] amanda-phet commented on #86
Is it possible for you to share percentages from the java sim? We are trying to match what happens in that sim, and I assumed it used percentages.

[2020-05-27 20:29] pixelzoom commented on #88
Yes @amanda-phet, that's the behavior that I'm seeing.

[2020-05-27 20:30] pixelzoom commented on #90
@zepumph and I paired on this via Zoom.  The problem is in NumberProperty, where it's not creating the tandem for the `rangeProperty` that it owns.  So the rangeProperty is therefore not being saved and restored.

@zepumph has a fix that he's going to commit after some testing.

[2020-05-27 20:33] zepumph commented on #90
Thanks @pixelzoom, a few more notes:

This was hard to reproduce because of a listener order where it is likely that this multilink was firing before the generationProperty validation:

[code]

So the lack of instrumentation for generationProperty.rangeProperty was hidden.

Wrapping that listener such that it didn't happen when setting state demonstrated this problem consistently.

To fix this, we

[2020-05-27 20:38] pixelzoom commented on #86
I'll try to locate Java values, but it's not at all obvious or straightforward.  And the food model is totally different in Java vs HTML5, so I'm not sure why trying to match the Java sim is even relevant for food.

[2020-05-27 20:38] pixelzoom commented on #86
I'll try to locate Java values, but it's not at all obvious or straightforward.  There are certainly no "percentage" constants like we have here.  And the food model is totally different in Java vs HTML5, so I'm not sure why trying to match the Java sim is even relevant for food.

[2020-05-27 20:45] amanda-phet commented on #86
The food model for tough food is similar to Java in that I want to recreate the same behavior, but if there aren't obvious percentages then we will have to just come up with some. I can play with the values and try to get them close to what I see happening in the Java sim.

[2020-05-27 21:16] pixelzoom commented on #86
"Like the Java version" has not been a useful requirement for 3 reasons:
1. The Java implementation is complicated and mostly undocumented, so it's difficult to isolate specific behavior.
2. The HTML5 design has provided no concrete examples or scenarios for what you want to reproduce.
3. The HTML5 requirements differ significantly from the Java version, especially wrt how environmental factors ar

[2020-05-27 21:41] ariel-phet commented on #9
I will look at the query parameters in more detail, but as to https://github.com/phetsims/natural-selection/issues/9#issuecomment-631041347

Perhaps we could say in the dialog "one or more of the Query Parameters listed below has invalid values" so it is perhaps more clear that we are just listing all the parameters, and at least one has a mistake? I agree we should not try to suss out user intent

[2020-05-27 21:59] zepumph commented on #89
Hmm, not on my system, maybe it pushed very delayed? I see it as this morning in multiple sources. The time stamp in https://github.com/phetsims/natural-selection/commit/6754aa8168bee7c191418994ea12e9a1f2b19c13:

![image](https://user-images.githubusercontent.com/6856943/83076378-e7b53980-a021-11ea-8ab8-1622bbaf15c0.png)

As well as in my webstorm log and git log:

[code]

[2020-05-27 23:02] pixelzoom commented on #89
@zepumph I'm not sure how to interpret the previous comment.  Do you not see the CT error at 12:17 AM MDT, and my first today at 10:12 AM MDT?     The CT error predates any of today's commits by almost 10 hours.

[2020-05-27 23:13] pixelzoom commented on #9
The dialog is in common code, so the proposal to change the wording deserves a common-code issue.  And there are questions. See https://github.com/phetsims/joist/issues/635.

[2020-05-28 15:18] pixelzoom commented on #89
This error is still occurring in CT as of 8:20am this morning. It's not occurring on every cycle.

[2020-05-28 16:21] amanda-phet opened #91 "When you click "start over", reset environmental factors selections"
When I click "start over" to do a new experiment, I want the environmental factors to be reset so that my bunnies don't all die immediately. I found this while working with query parameters and iterating.

[2020-05-28 16:30] pixelzoom commented on #91
I've made this change, and it's working nicely in standalone.  But when Launched from Studio, the state of the Environmental Factors checkboxes is reset correct with "Reset All" button, but not with "Start Over" buttons.  I'm not sure why that is, because it's the same code path.  But I'll investigate.

[2020-05-28 16:36] pixelzoom commented on #91
Ugh. I see why Rest All is behaving as desired, but not Start Over. `ResetAllButton` has this listener:

[code]

So questions for PhET-iO team...

1. Why is this handled in `ResetAllButton` and not in Property? This seems like a very odd place to do handle this, and will result in exactly the type of problem that I'm seeing in NS.

2. If it can't be changed, how can I make the NS `StartOverButton`

[2020-05-28 16:40] pixelzoom commented on #91
Here's some more info to clarify the problem in NS.  In NaturalSelectionModel.js:

[code]

Pressing `ResetAllButton` calls `reset`.

Pressing `StartOverButton` calls `startOver`. It's supposed to behave like a subset of `reset`, but does not because of the `restoreStateForScreen` code in `ResetAllButton`.

[2020-05-28 16:45] pixelzoom commented on #90
@zepumph did you mean to assign this back to me? If so, feel free to close. Otherwise let me know what else needs to be done here.

[2020-05-28 16:49] pixelzoom commented on #80
Master and [1.0.0-dev.43](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.43/phet/natural-selection_en_phet.html) display "No Data" when there is no data to display. @amanda-phet are you satisfied with this solution, or does this issue need more discussion?

[2020-05-28 16:50] pixelzoom commented on #79
@amanda-phet Any response from Megan?

[2020-05-28 17:01] pixelzoom opened #92 "divide generation clock into 'food' and 'wolves' slices"
@amanda-phet and I identified a potential issue with having both wolves and food being applied simultaneously.  It makes it impossible to determine what part of the population decline was due to wolves vs food.

We started discussing ways to remedy this.  One idea was to divide the "death" portion of the clock (3:00-9:00) into 2 pieces.  From 3:00-6:00, bunnies would eat/starve.  From 6:00-9:00, w

[2020-05-28 17:16] amanda-phet commented on #79
Not yet. I just followed up with a dev version to illustrate the questions more clearly.

[2020-05-28 17:19] amanda-phet commented on #80
I think it looks good.

[2020-05-28 17:19] #80 closed

[2020-05-28 17:49] pixelzoom commented on #88
Fixed in master via the above commit.  Closing.

[2020-05-28 17:49] #88 closed

[2020-05-28 18:22] pixelzoom opened #93 "PhET-iO assumes that ResetAllButton listener will be set via options"
In ResetAllButton.js:

[code]

Passing a listener via options is not the only way to attach a listener.  It could also be done via `addListener`.  Is that a problem?

[2020-05-28 18:43] pixelzoom commented on #91
This issue is on hold until phetsims/phet-io#1678 is addressed.

[2020-05-28 19:15] amanda-phet commented on #86
I'm currently playing with the following values:

https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.43/phet/natural-selection_en_phet.html?secondsPerGeneration=2&wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.4&limitedFoodPercentToKill=.55,.7&toughFoodPercentToKill=.4,.7&shortTeethMultiplier=1.8

They might be too high if the user stacks environmental factors, but maybe that

[2020-05-28 19:22] pixelzoom commented on #86
toughFoodPercentKill (0.7) * shortTeethMultiplier (1.8) = 1.26  --- That's will fail if you have assertions enabled, because you can't kill more that 100% (1.0) of the population.

wolvesPercentToKill (0.4) * wolvesEnvironmentMultiplier (2.4) = 0.96  --- Killing 96% of the bunnies that don't match their environment seems a little extreme.

[2020-05-28 19:28] amanda-phet commented on #86
Ah, right I made these values before I spoke with you and I clearly wasn't using the multiplier correctly!

[2020-05-28 19:51] amanda-phet commented on #92
5/28/20 meeting:

We want to proceed with this approach of dividing the clock up.

Can you use #93c83d for 3:00-6:00?

[2020-05-28 20:09] pixelzoom commented on #57
5/28/2020 design meeting @amanda-phet @kathy-phet @ariel-phet

Try something like https://github.com/phetsims/natural-selection/issues/57#issuecomment-634859066, but with something less "heavy" than the curly bracket. @pixelzoom will make a new issue for this.

[2020-05-28 20:38] zepumph commented on #90
I don't see this on CT. That said we never saw this on CT. We can reopen if it re-appears. Closing

[2020-05-28 20:38] #90 closed

[2020-05-28 20:59] pixelzoom opened #94 "checkboxes for traits in Proportions graph"
In https://github.com/phetsims/natural-selection/issues/57#issuecomment-634840142, @amanda-phet suggested adding checkboxes to show/hide traits in the Proportions graph.

We discussed 2 designs in 5/28/2020 design meeting:

(1) Checkboxes in Proportions panel.  Something like this, but with something less heavy than curly brackets:

<img width="225" alt="screenshot_345" src="https://user-images.gi

[2020-05-28 21:00] pixelzoom commented on #57
Remaining work for this issue is for @kathy-phet to do a review.

[2020-05-28 21:05] pixelzoom commented on #94
I tried 2 designs for the panel:

<img width="187" alt="screenshot_347" src="https://user-images.githubusercontent.com/3046552/83193308-03891000-a0f4-11ea-8f0b-7c670487b7bf.png">

<img width="192" alt="screenshot_349" src="https://user-images.githubusercontent.com/3046552/83193318-06840080-a0f4-11ea-82bc-11306d90d06e.png">

@amanda-phet said in Slack:

... so I went with the first one.  It worked

[2020-05-28 21:24] pixelzoom commented on #94
Next I tried the design suggested by @ariel-phet.  This works better.  I don't love it, but it does the job.   And there are no PhET-iO issues.

@amanda-phet you can test drive in [1.0.0-dev.45] and let me know whether to keep, revert, or try something else.

<img width="904" alt="screenshot_353" src="https://user-images.githubusercontent.com/3046552/83195278-3d0f4a80-a0f7-11ea-8bfc-5d085d8bfaeb.p

[2020-05-28 21:43] pixelzoom commented on #89
@zepumph and I discussed this on Zoom.  He identified that problem as occurring when wolves kill bunnies.  That occurs in WolfCollection.apply, which was being called from a listener for a Property that was being restored.   So the fix (in the above commit) was once again to bracket the code with `if ( !phet.joist.sim.isSettingStateProperty.value )`.

Since this appears to be a common problem, @ze

[2020-05-28 21:58] pixelzoom commented on #86
5/28/2020 design meeting @amanda-phet @kathy-phet @ariel-phet

Kathy suggested collecting data from the Java version to try to deduce the functions that it's applying for environmental factors.  @amanda-phet will take a stab at that.

@amanda-phet via Slack:

[2020-05-28 22:02] pixelzoom opened #95 ""Start Over" does not reset state"
In https://github.com/phetsims/natural-selection/issues/91, I discovered that unlike pressing the "Reset All" button, pressing the "Start Over" button does not properly reset state.  That's because ResetAllButton is responsible for resetting state, an approach that violates MVC and makes it impossible to reset state in other ways.

See https://github.com/phetsims/phet-io/issues/1678, the pre-requi

[2020-05-28 22:03] pixelzoom commented on #91
Moving the "Start Over" problem to a new issue, https://github.com/phetsims/natural-selection/issues/95.

Closing.

[2020-05-28 22:03] #91 closed

[2020-05-28 22:05] kathy-phet commented on #9
I played around with setting the initial population and watching the mating dynamics of the phenotypes. I think the science looks correct - and made me rethink things, but it makes sense. :)  I sent if off to Megan to sanity check just the initial population setting and mating evolution of the phenotypes.

[2020-05-28 23:04] zepumph commented on #89
A few more specifics from diving into this further. I was getting confused as to why this was only being triggered from BunnyNodeGroup and not from BunnyGroup.

I also found this very reproducible by doing the following:
* Load state wrapper with no special query parameters
* Add a mate
* add wolves
* wait for wolves to eat a bunny
*  The error will always occur here. It will show that bunnyNodeGr

[2020-05-28 23:05] #89 closed

[2020-05-29 11:45] pixelzoom commented on #95
Over in https://github.com/phetsims/phet-io/issues/1678#issuecomment-635927838, I noted:

[2020-05-29 15:58] amanda-phet commented on #9
@kathy-phet what is the question that you asked Megan? I don't understand.

I did hear back from Megan about the other questions we had, and will post the emails in the design doc.

1. It would be more accurate to replace the "Add Mutations" panel title with "Traits", but she said "if that goes beyond than just cutting-and-pasting terms into a program, it probably isn’t worth the hassle."

2. It i

[2020-05-29 17:33] amanda-phet commented on #94
I think this works.

[2020-05-29 17:34] amanda-phet commented on #94
I closed this, but realized @pixelzoom might still need it open before finalizing the change. Please close if it's complete.

[2020-05-29 18:11] pixelzoom commented on #9
@amanda-phet these response confuse me, and I wish I had been included in the conversation with Megan. Could you please provide the questions that you asked Megan? (either here, or forward me the email?)

I don't understand. Is Megan recommending to always title the panel "Traits", or only when mutation(s) have already been applied via a query parameter?  If the former, what if only one mutation h

[2020-05-29 18:12] pixelzoom commented on #9
Hmm... Megans responses were supposed to be added to https://github.com/phetsims/natural-selection/issues/79, not this issue.  So I'm going to move my questions over there.

[2020-05-29 18:13] pixelzoom commented on #79
In https://github.com/phetsims/natural-selection/issues/9#issuecomment-636050932, @amanda-phet said:

I did hear back from Megan about the other questions we had, and will post the emails in the design doc.

1. It would be more accurate to replace the "Add Mutations" panel title with "Traits", but she said "if that goes beyond than just cutting-and-pasting terms into a program, it probably isn’t w

[2020-05-29 18:13] pixelzoom commented on #79
@amanda-phet these responses confuse me, and I wish I had been included in the conversation with Megan. Could you please provide the questions that you asked Megan? (either here, or forward me the email?)

I don't understand. Is Megan recommending to always title the panel "Traits", or only when mutation(s) have already been applied via a query parameter?  If the former, what if only one mutation

[2020-05-29 18:37] pixelzoom commented on #79
Maybe my conceptual mistake is that I'm equating "generation 0" with "original population of the species".   If generation 0 is just any initial collection of individuals that we put together at the beginning of an experiment, then I can understand how generation 0 can contain both mutant and normal alleles.  @amanda-phet what is your understanding of "generation 0"?

[2020-05-29 18:58] kathy-phet commented on #9
Just asked her to play around with setting the initial state of the genetics of the bunny populations, and make sure phenotypes were evolving correctly (without any selection pressure). To have her expert eye on that part of the sim.

[2020-06-01 17:11] pixelzoom commented on #94
Thanks @amanda-phet. Everything is done here, closing.

[2020-06-01 17:11] #94 closed

[2020-06-02 04:43] brandonLi8 opened #96 "Migrate type-checking utils to common?"
Over in `CollisionLabUtils`, I have copied and pasted `assertPropertyTypeof` and `assertPropertyInstanceOf` from `NaturalSelectionUtils`. I've also copied a variant of `isArrayOf` from `GasPropertiesUtils`.

I've found all of these useful in my type-checking assertions and I'm wondering if it would be beneficial to migrate to common. Maybe expanding PhETs assertions module or making a class called

[2020-06-02 15:29] pixelzoom commented on #96
Glad you find these useful.  Adding a collection of useful assertions to common code sounds great to me. Gas Properties was the first sim where I went "all in" on type-checking method arguments, and I feel like it's been a valuable addition to my JavaScript programming style.

Note that phet-core has assertHasProperties.js and assertMutuallyExclusiveOptions.js, which are additional assertion "util

[2020-06-02 15:40] samreid commented on #96
How about an API that lets us check all of the arguments at once?  For instance, BunnyGroup currently is coded like so:

[code]

If we define `assertTypes` appropriately, we could have the API read like so:

[code]

[2020-06-02 15:43] pixelzoom commented on #96
That looks like over-generalization to me.  How does that API support checking that that an argument is a Property with a specific type of value? Or a homogenous array with elements of a specific type? Or supporting optional assertion message that might be needed to provide the bad value or other context?

[2020-06-02 15:46] pixelzoom commented on #96
Looks to me like phetcommon might be the appropriate repo for this collection.  It already has a dependency on axon.  Maybe phetcommon/util/AssertUtils.js ?

[2020-06-02 15:50] brandonLi8 commented on #96
I concur. My vote would also be to move `assertHasProperties.js` and `assertMutuallyExclusiveOptions.js` into `AssertUtil`.

[2020-06-02 17:00] samreid commented on #96
Could we use a pattern like PhET-iO for this?

[code]

By default, `assertTypes` could report (a) the expected type, (b) the actual type and (c) the actual instance and (d) the index where the bad element appeared.  This could be "factored out" so it isn't duplicated across each checks if they are done separately.  If something more complex is needed for a single element, it could be checked with

[2020-06-02 17:12] pixelzoom commented on #87
Fixed in versions >= 1.0.0-dev.46.  Closing.

[2020-06-02 17:41] pixelzoom commented on #95
I discussed this issue with @amanda-phet via Zoom.   It is indeed odd that Reset All will restore to some PhET-iO state, while Start Over will always go back to the time before the generation clock was started.  But that seems to be the correct semantics for "Start Over".  If that's a problem for the PhET-iO client, then they should probably be using the query parameters to set up an initial popul

[2020-06-02 18:22] amanda-phet commented on #9
@kathy-phet it sounds like you've reviewed the query parameters and agree they are working and usable, correct? If so, I'd like to move your questions about the model to another issue and close this one.

[2020-06-02 18:26] pixelzoom commented on #9
Echoing what @amanda-phet said...  This issue is about whether the query parameters work as expected, and result in the desired initial population.  If there are questions about how the population evolves after that, please do create a new issue.

[2020-06-02 18:28] pixelzoom commented on #9
In https://github.com/phetsims/natural-selection/issues/9#issuecomment-634957072, @ariel-phet said:

@ariel-phet can you find some time to complete your review in the next day or two?

[2020-06-02 18:35] amanda-phet opened #97 "inheritance model"
On 5/28/2020 in https://github.com/phetsims/natural-selection/issues/9#issuecomment-635633166, @kathy-phet said

Email to Megan:

https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.44/phet/natural-selection_en_phet.html?introMutations=F&introPopulation=10FF,10ff
On the "Intro" screen this will play preset brown fur as dominant (F), and create a population of 10 bunnies with FF alleles

[2020-06-02 19:11] amanda-phet commented on #79
@pixelzoom and I cleared up my confusing choice of words. Here is the full text between me and Megan. In sum, we don't need to make any changes.

I sent two emails and she responded to both, so the flow below is somewhat confusing, but I don't want to change any of her responses so you'll just have try to follow along.

-----
The sim will have the ability for a teacher to start it up with an initi

[2020-06-02 19:11] #79 closed

[2020-06-02 20:28] pixelzoom commented on #92
To make the association between the environmental factors and the generation clock, I experimented with something like this:

<img width="261" alt="screenshot_365" src="https://user-images.githubusercontent.com/3046552/83566329-0feadf80-a4dd-11ea-931b-889325df23eb.png">

I like this direction. But for hiding checkboxes via PhET-iO, it creates major headaches for layout problems.  The above took me

[2020-06-02 21:04] pixelzoom commented on #92
After discussing with @amanda-phet on Slack, here's the next iteration. We like this one better, and it has no PhET-iO issues.

<img width="256" alt="screenshot_366" src="https://user-images.githubusercontent.com/3046552/83569781-42e3a200-a4e2-11ea-8da5-9e94016dad57.png">

[2020-06-02 21:09] kathy-phet commented on #92
Seems nice.

[2020-06-02 21:15] pixelzoom commented on #92
That shade of green looks washed out, even after making the "reveal" more transparent (40% opacity):

<img width="75" alt="screenshot_368" src="https://user-images.githubusercontent.com/3046552/83570511-68bd7680-a4e3-11ea-8519-dc040b30c787.png"> <img width="73" alt="screenshot_369" src="https://user-images.githubusercontent.com/3046552/83570519-6bb86700-a4e3-11ea-89f7-80da0ab5d993.png">

`rgb( 0,

[2020-06-02 22:07] pixelzoom commented on #96
@brandonLi8 FYI... As an intermediate step, I've moved all of the natural-selection assertion methods to natural-selection/AssertUtils.js.

[2020-06-02 22:21] pixelzoom commented on #92
@amanda-phet This is ready for your review in master or [1.0.0-dev.46](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.46/phet/natural-selection_en_phet.html).

A couple of remaining questions:
* Might using shades of green for both food and fur lead to color-coding misconceptions?
* Should the food color-coding be reviewed for color-blindness compatibility?

[2020-06-02 22:33] pixelzoom commented on #97
FYI, here's how the model works, in both the Java and HTML5 versions.  The goal is to simulate Mendelian inheritance, where gametes are created by random segregation, and heterozygous individuals produce gametes with an equal frequency of their two alleles.

For each trait, a newborn bunny gets 2 alleles: 1 from the father, 1 from the mother.  Call them fatherAllele and motherAllele, respectively.

[2020-06-02 22:52] kathy-phet commented on #97
I don't fully understand the above model, Chris. What does the array childAlleles look like for the case of where just one trait fur is defined, and the if we have fur and ears defined? In particular, I'm not sure why there are two fatherAllele elements in childAlleles if the bunny only has 1 fatherAllele that it inherited from its father.

[2020-06-02 23:41] pixelzoom commented on #97
I'm not sure what you mean by "one trait fur".  Fur, ears, and teeth are traits.  White fur and brown fur are genes.

If you mean "what if there's only 1 gene for a trait"...  `childAlleles` array is still formed in the same way. fatherGene and motherGene will be identical, the bunny will be homozygous (both alleles the same), and they will always pass that allele on to their offspring, because it

[2020-06-02 23:57] pixelzoom commented on #97
One other thing you should know about the inheritance model, which was also ported from the Java version.

When a bunny is mutated, it is made homozygous - both of its alleles are set to the mutant allele.  This guarantees that the mutation will appear be reflected in the bunny's appearance (phenotype).  In reality, a mutation is a change in one of the inherited genes, not both.  I discussed this

[2020-06-03 14:43] amanda-phet commented on #97
@pixelzoom that all sounds correct to me.

[2020-06-03 15:17] amanda-phet commented on #92
This is something I've wondered about, but it is difficult to find colors to associate with traits in a helpful way, so we picked three colors that are recommended for color-blindness. I suppose we could find a different color for food, or use the same color for both food and wolves (since they are in different regions now).

I did a color-blind test and the green and pink regions in the generatio

[2020-06-03 16:43] pixelzoom commented on #97
Re inheritance... There's another way to look at the reason for why `childAlleles` contains 4 alleles (2 father, 2 mother) in random order.  Bunnies live to be 5 years old, so they mate 4 times.  So `childAlleles = shuffle( [ fatherAllele, fatherAllele, motherAllele, motherAllele ] )` guarantees that homozygous bunnies will donated their alleles to offspring with equal frequency, and in random ord

[2020-06-03 18:04] zepumph commented on #95
A few notes on how we would set this up to support Start Over going back to the previously set PhET-iO State.

One option: update initialValue of Properties on state set such that startOver goes back to that value. This could be done manually, or perhaps with a PropertyIO subtype/mixin that makes sure that initialValue is also set during phet-io state set. This would not handle non-Properties. It

[2020-06-03 18:41] zepumph commented on #96
I feel like this is a very nice collection of functions. If it is useful NS and CL, then likely it will be useful elsewhere. I thoughts are mainly to try to limit duplicated code.

I think the whole thing should be rewritten with `validate`, in which `ValidatorDef` can be passed in/created/or mutated (if there are memory worries). This is a standard that axon has moved to, and I think makes sense

[2020-06-03 20:04] samreid commented on #96
How about combining the idea about validating all the arguments with the idea about using `ValidatorDef`?  Call site could look like:

[code]

[2020-06-04 15:57] pixelzoom opened #98 "mutation model"
In https://github.com/phetsims/natural-selection/issues/97#issuecomment-637875545, I described how mutation is currently modeled:

I think we should reconsider whether mutants should always be homozygous. When I encountered this implementation in the Java model, it seemed problematic to me. The science is incorrect, and it makes it impossible to learn the difference between a dominant and recessiv

[2020-06-04 16:29] pixelzoom commented on #98
In the above commit, I added a query parameter that selects between 2 mutation models:

`?homozygousMutants=true` (default):  When a mutation is applied, the mutation affects both of its inherited alleles, and the resulting bunny is homozygous. Examples:
* If the mutation if "brown fur, dominant", then the bunny is 'FF'.
* If the mutation is "brown fur, recessive", then the bunny is 'ff'.

`?homoz

[2020-06-04 17:08] pixelzoom commented on #96
I considered this when writing the assertions. But I see no additional value added by using `validate`.  For example:
[code]

Not only is using `validate` no less verbose, it does not support a specific assertion message.

I am not at all interested in combining all arguments into one assertion. It's too verbose. How do I add messages that are parameter-specific?  Why must I verify _every_ argumen

[2020-06-04 18:17] pixelzoom commented on #96
I decided to move forward with migrating AssertUtils.js without radically changing its API or implementation.  In the above commits, I have:

* generalized and migrated AssertUtil.js to phetcommon
* used AssertUtil.js in natural-selection and collision-lab
* removed duplicate code from CollisionLabUtils.js

@brandonLi8 please review the changes to collision-lab, and have a look through Assert.js.

[2020-06-04 18:20] brandonLi8 commented on #96
@pixelzoom Thanks for doing this and updating collision-lab!

It looks like you registered `AssertUtils` to the wrong namespace: ie.
`naturalSelection.register( 'AssertUtils', AssertUtils );`. Other than that, the api looks good to me and works in collision lab.

[2020-06-04 18:22] pixelzoom commented on #96
Good catch! Namespace fixed in the above commit.

[2020-06-04 19:29] pixelzoom commented on #96
@brandonLi8 @samreid @zepumph any feelings on how to proceed?  Whether to do anything else here? I'm happy with AssertUtils.js in its current state.

[2020-06-04 20:20] amanda-phet commented on #98
Augus 1, 2019 we had a discussion about this model simplification. While Megan agreed that a newly-mutated rabbit would in reality be heterozygous, we all agreed that the model simplification was a reasonable one so we don't have to wait as many generations for the gene to be expressed. It seems like this is resurfacing because we are being explicit about genotypes in the Pedigree, which could cau

[2020-06-04 20:27] pixelzoom commented on #98
Sorry, I wasn't involved in the 8/1/2019 discussion.  And yes, I'm raising the issue because it's explicitly shown in genotype abbreviation that appears in the Pedigree graph.

Note that it's also possible to randomly create some mutations homozygous and some heterozygous, if that accomplished the goals.  And I could easily modify the query parameter to something like `mutate=` with values 'homozy

[2020-06-04 20:33] pixelzoom commented on #98
Sorry, I wasn't involved in the 8/1/2019 discussion.  Yes, I'm raising the issue because it's explicitly shown in the genotype abbreviation that appears in the Pedigree graph.  But I also realized that immediately expressing a _recessive_ mutation is pedantically incorrect.

Note that it's also possible to randomly create some mutations homozygous and some heterozygous, if that accomplishes the go

[2020-06-04 21:52] kathy-phet commented on #98
I think having the query parameters to change the behavior is nice and would favor having those - for teachers' flexibility.

[2020-06-04 22:22] brandonLi8 commented on #96
+1 from me.

I also haven't used `assertHasProperties.js `and `assertMutuallyExclusiveOptions.js`, but I think its probably good to unify a location for assert related stuff in AssertUtils.js.

[2020-06-04 23:09] pixelzoom commented on #98
Hmmm... I hadn't considered making the query parameter public-facing.  It's easy to do, but it's going to make "tuning" the model considerably more difficult, if there is specific behavior that you want to be easy to achieve (e.g. bunnies don't die too soon, bunnies don't take over the world too soon, easy to achieve a stable population).

[2020-06-04 23:13] pixelzoom commented on #98
Hmmm... I hadn't considered making the query parameter public-facing.   It's easy to make it public. But it's going to make "tuning" the model considerably more difficult, if there is specific behavior that you want to be easy to achieve (e.g. bunnies don't die too soon, bunnies don't take over the world too soon, easy to achieve a stable population).  So with this flexibility will come great cost

[2020-06-04 23:23] pixelzoom commented on #96
Assuming that the authors are OK with moving them to AssertUtils.js...

There are 6 occurrences of `import assertHasProperties`, all in common code: 5 in sun, 1 in scenery. The 1 is scenery (Paintable) is problematic.  I don't think that scenery is supposed to have dependencies on phetcommon. So we'd have to relocate AssertUtils.js - but where?

There are 4 occurrences of  `import assertMutuallyEx

[2020-06-05 00:15] zepumph commented on #96
I am ambivalent  about moving these into the common type. I think it makes sense organizationally, but I remember a conversation at one point where @jonathanolson said he wished that DOT/Utils.js was just a bunch of individual functions. No strong preference here.

Also note that if you want to use these in scenery, phet-core is the repo for you!

[2020-06-05 00:30] pixelzoom commented on #96
Can phet-core have dependencies on axon? I thought not, which is why AssertUtils.js currently lives in phetcommon.    See previous pondering in https://github.com/phetsims/natural-selection/issues/96#issuecomment-637621857 and https://github.com/phetsims/natural-selection/issues/96#issuecomment-637638000.

[2020-06-05 00:36] zepumph commented on #96
It seems a bit arbitrary that phetcommon has a dependency on axon and phet-core doesn't. Also note that mergeTests imports Property, and perhaps we should break that dependency.

I don't really care where we go from even, even if that means keeping things as is. I also don't want us to think that phetcommon is meant to have an axon dependency whereas phet-core is not. Or at least I don't see that

[2020-06-05 06:03] samreid commented on #96
I think it would be safe to have phet-core import `axon/Property` for this usage. Projects like scenery that depend on phet-core also already depend on axon. But have you considered putting `AssertUtils.js` in the `assert` repo?

[2020-06-05 13:37] pixelzoom commented on #96
That was the first place I considered. But making the assert repo dependent on axon seemed wrong.

I get it.  It would probably take me another 30 minutes to do that.  And it's not clear where `assertHasProperties`, `assertMutuallyExclusiveOptions`, and future assertions that are not type-specific would live.

But I'm skeptical that this needs to be scalable, because:

(1) This set of functions wa

[2020-06-05 14:24] jonathanolson commented on #96
I prefer more type checks, and will probably add more once I adjust my Sublime plugin to auto-add type checks based on function parameter JSDoc.

Ideally, to me, phet-core is a fairly "root" repository that doesn't depend on things, but we haven't maintained strict separation. phet-core currently has dependencies (in imports) on axon, tandem, dot, and scenery (!)

We've seemed to consider things m

[2020-06-05 14:51] pixelzoom commented on #96
@jonathanolson Thanks for the input. Do you think we should leave AssertUtil.js in phetcommon for now, or move it to phet-core? (or somewhere else?)

[2020-06-05 18:34] amanda-phet commented on #98
OK, so here is what I'm noticing. I am running a version with `homozygousMutants=false` and a version without. They both have the same parameters for percentages to kill.

Model 1: https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.48/phet/natural-selection_en_phet.html?secondsPerGeneration=2&homozygousMutants=false&wolvesPercentToKill=.35,.4&wolvesEnvironmentMultiplier=2.3&toughFoodPe

[2020-06-05 18:47] pixelzoom commented on #98
Here's another idea, thinking out loud.

For recessive mutations:
* make the original mutant(s) heterozygous
* change the mating model to guarantee that a recessive mutation appears in the phenotype as soon as there are 2 individuals with the mutant allele who can be mated

[2020-06-05 18:47] pixelzoom commented on #98
Here's another idea, thinking out loud.

* For all mutations, make the original mutant(s) heterozygous.
* For recessive mutations, change the mating model to guarantee that a recessive mutation appears in the phenotype as soon as there are 2 individuals with the mutant allele who can be mated

[2020-06-05 18:57] amanda-phet commented on #98
I would love to consider this kind of direction!

[2020-06-08 16:40] KatieWoe opened #99 "CT There already was a PhetioElementTreeNode with the same phetioID in the tree"
[code]

[2020-06-08 16:43] zepumph commented on #99
Likely a result of work done in phetsims/studio#30. I'll take a look.

[2020-06-08 16:44] pixelzoom commented on #99
This type of error has usually been caused when I've forgotten to dispose of some dynamic element, or made a copy-paste error and used the same tandem name for 2 static elements.

It would be super helpful if the message include the duplicated phetioID.

[2020-06-08 16:49] pixelzoom commented on #99
If I add the phetioID to the error message in PhetioElementTreeNode.js:

[code]

The message identifies this phetioID:

[2020-06-08 16:52] zepumph commented on #99
Large changes to the studio tree creation logic occurred at the end of last week. I think we should start with assuming it has nothing to do with Natural Selection.

[2020-06-08 20:48] zepumph commented on #99
Over in https://github.com/phetsims/studio/issues/30, @chrisklus, @samreid and I worked to convert studio tree code from a "tear-down and rebuild" strategy each time a new element is removed/added to instead a tree-mutation strategy. Details are in that issue.

This issue is down stream of us not accurately handling the case where an element is added and removed in the same frame, such that at lea

[2020-06-08 20:50] zepumph commented on #99
Another way to say this is to recognize that we are now using a scalpel instead of a sledge hammer for the tree, and that has exposed underlying order-of-operation issues that we have not cared about up until this point.

[2020-06-08 21:57] pixelzoom commented on #92
When @amanda-phet and I were reviewing this issue on Zoom, we discussed the possibility of dividing the clock into 3rds, so that the amount of time that wolves are animating is longer. Something like one of the 2 examples below.  @amanda-phet let me know if this is something that you want to try.

Options (1):
[code]

<img width="67" alt="screenshot_381" src="https://user-images.githubusercontent.

[2020-06-08 22:05] pixelzoom opened #100 "behavior of Step button"
From the design doc:

<img width="610" alt="screenshot_383" src="https://user-images.githubusercontent.com/3046552/84084643-124bae80-a9a1-11ea-9484-db3aa3cb00a1.png">

In 6/8/2020 Zoom discussion with @amanda-phet, she said that the step button behaves differently in the Java version.  It's more like a fast-forward control, and she uses it frequently.  And it's enabled while the sim is playing, no

[2020-06-08 22:37] pixelzoom opened #101 "Population graph design issues"
The Proportions graph differs from the Java version, there are some new requirements.  It has a data probe, and there is no pause that occurs when environmental factors are applied.  So there are a few significant issues that have not been addressed by the design:

* If plots overlap, one or more sets of data will be hidden.  For example, if there are equal numbers of bunnies with white fur and br

[2020-06-08 22:52] amanda-phet commented on #92
I was imagining option 1. Can you go ahead and implement it?

[2020-06-08 23:03] amanda-phet commented on #101
I think we can order the graphs in the order they are seen in the panel. So, if there are equal values to plot, Total would be on top and would occlude the other graphs with equal values. And so one. It is a bit of a usability issue with line/step graphs, but I'm not sure there are great options here. Happy to brainstorm some more.

Let's discuss the other issues with the team since @pixelzoom you

[2020-06-08 23:11] pixelzoom commented on #92
Option (1) is implemented in master and [1.0.0-dev.51](https://phet-dev.colorado.edu/html/natural-selection/1.0.0-dev.51/phet/natural-selection_en_phet.html).

[2020-06-09 16:01] pixelzoom commented on #57
Raising priority to high. This has been ready for review for 14 days.

[2020-06-09 17:34] jonathanolson commented on #96
phetcommon seems good to me.

I decided to not create an issue.

[2020-06-09 17:39] amanda-phet commented on #98
@pixelzoom and I discussed this 6/8/20 and decided to try changing the model so that as soon as there are at least 2 bunnies with the recessive mutation they will mate with each other. This means that within 2 generations, we will see the trait expressed.

[2020-06-09 19:46] pixelzoom commented on #99
Since this issue isn't specific to natural-selection, I'm transferring it to the studio repo.

[2020-06-09 19:54] pixelzoom commented on #56
In the above commit, data points are Vector2 instances.  Vector2.x is generation, Vector2.y is population. They are stored in ObservableArrays, and only created when there is a population change.

The ObservableArrays are groups under `dataPoints`, e.g. in the _Lab_ screen `naturalSelection.labScreen.model.populationModel.dataPoints`.   It looks like this in Studio:

<img width="250" alt="screensh

[2020-06-09 19:55] pixelzoom commented on #56
PhET-iO requirements for the Population graph are completed.  But I'm going to wait to have this reviewed until the view is rendering the data.

[2020-06-09 22:04] pixelzoom commented on #98
To add to what @amanda-phet said in https://github.com/phetsims/natural-selection/issues/98#issuecomment-641468178... We also decided to try what she described in addition to making mutants heterozygous instead of homozygous.

[2020-06-09 22:15] pixelzoom commented on #96
OK, I'm going to leave it in phetcommon, and close this issue.

If someone feels strongly that there needs to be more/different support for type-checking, please create a new issue,  and label it "meeting:developer" for further discussion.